[2021-04-06 23:04] #831 closed

[2021-04-06 23:05] jesseduffield commented on #820
@senotrusov  @sballin could you try this again on the latest release?

[2021-04-06 23:06] jesseduffield commented on #1092
@znculee @pizzafanatic could you guys try again on the latest release?

[2021-04-06 23:06] #1065 closed

[2021-04-06 23:08] jesseduffield commented on #1062
Alas, the defaultBranch config option only applies to when we're creating a new repo, not when we're dealing with an existing one. We'll need to wait and see if git makes this easier for us

[2021-04-06 23:09] jesseduffield commented on #1052
I'm closing this issue but if anybody gets the issue again on the latest release let me know

[2021-04-06 23:09] #1052 closed

[2021-04-07 00:29] takelley1 commented on #1221
I realized I originally had `q` bound to `quit` instead of `<esc>`. With the default bindings (i.e. `quit` mapped to `<esc>`) on 26.1, Lazygit simply exits if I press `<esc>` in the commit window. The crash above only occurs if `quit` is rebound to something else it seems.

Additionally, in both cases, the hint text at the bottom reading `esc: close, tab: new line, enter: confirm` is incorrect (or

[2021-04-07 01:27] makky55 commented on #1052
@jesseduffield
I updated lazygit to v 0.27 and confirmed this bug, this bug was not occured (resolved).

Thank you.

[2021-04-07 01:58] PGScully commented on #1062
I think the "99% solution" is:

* if master exists and main does not, use master
* if main exists, and master does not, use main

What to do if both or neither of them exist is the challenging UX corner case.

[2021-04-07 03:56] znculee commented on #1092
Problem solved! Thanks! @jesseduffield

[2021-04-07 03:56] #1092 closed

[2021-04-07 04:23] axet commented on #838
It works! Thanks!

[2021-04-07 04:23] #838 closed

[2021-04-07 05:31] ronen-fr opened #1223 "Crashed when rewording a commit"
Lazygit crashed while I was trying to edit a commit message

**To Reproduce**
1. select a commit
2. 'r' from the menu
3. move around in the commit message
4. paste text to add

**Expected behavior**
Not crashing?

Error message:

panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
github.com/jesseduffield/gocui.(*View).writeRune(0xc000234580, 0x0, 0x5, 0xc000000000,

[2021-04-07 05:32] jesseduffield commented on #1223
@ronen-fr could you try this on the latest release?

[2021-04-07 07:41] jesseduffield commented on #1221
@takelley1 I'm not quite following your explanation: by default, q is bound to quit and esc is bound to 'return'. Those bindings persist in version 0.27, but now when hitting the 'return' (default: escape) key at the top level, it doesn't quit the application

[2021-04-07 10:00] gburger11 opened #1224 "No remote appears in the directories created with `worktree`"
**Describe the bug**
When launching `lazygit` from a repo which has been created with the `worktree add` command, no `Remotes` appears. However, the `git branch -r` or `git remote` commands give the expected outputs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any git repository (which has at least one remote)
2. Create a clone of the repository with `git worktree add <path-to-new-

[2021-04-07 12:15] iviarcio opened #1225 "lazygit do not work"
*errors.errorString unknown view
/home/runner/work/lazygit/lazygit/vendor/github.com/jesseduffield/gocui/gui.go:287 (0x127ddad)
/home/runner/work/lazygit/lazygit/pkg/gui/confirmation_panel.go:177 (0x15a9736)
/home/runner/work/lazygit/lazygit/pkg/gui/confirmation_panel.go:213 (0x15fe14f)
/home/runner/work/lazygit/lazygit/vendor/github.com/jesseduffield/gocui/gui.go:629 (0x1280b8c)
/home/runner/work

[2021-04-07 12:49] FredrikOlofsson commented on #1225
[code]

`commit=cd1d1996df3ddc31b26ef468debc2c13790aac4c, build date=2021-04-06T09:36:44Z, build source=binaryRelease, version=0.27, os=windows, arch=amd64`

[2021-04-07 13:01] jesseduffield commented on #1225
Thanks for raising this issue :)

fixed in https://github.com/jesseduffield/lazygit/pull/1226 (release v0.27.1)

[2021-04-07 13:01] #1225 closed

[2021-04-07 13:10] jesseduffield commented on #973
I've just replicated this by starting with two tracked files, staging one of them, going 'stash staged changes', then trying to apply the stash. I'm not sure why specifically that causes an issue: it looks like git gets confused about what's in the worktree.

Bizarrely, if you quit lazygit and then go back in, applying the stash works fine. Seems to work with the `--index` flag though, but not sur

[2021-04-07 13:57] kalvinpearce opened #1227 "Tree view doesn't seem to be working"
**Describe the bug**
I just saw #1197 got merged in 0.27 (been suuuuuuper keen for this feature) and updated to try it out but pressing \` key doesn't seem to do anything. I have also tried to select the `toggle file tree view` menu option and it also doesn't change anything. I have also tried changing the config setting to `true`, with no luck.

**Screenshots**
<details>

![image](https://user-im

[2021-04-07 14:16] mjarkk commented on #1227
Just pulled in the latest master and it works perfectly fine on mac os.

Maybe there is some problem with tcell's ` key on windows,
Can you try to add something like this to the config file:
[code]

The config file is located at: `%APPDATA%\jesseduffield\lazygit\config.yml`

[2021-04-07 15:05] kalvinpearce commented on #1227
I have just tried the keybinding change now and still same issue, unfortunately

[2021-04-07 15:50] Ryooooooga opened #1228 "Commit message pane is stay opened after `git commit` when `commit.gpgSign` is true"
**Describe the bug**
When `commit.gpgSign` is true, the commit message pane is stay opened even if `git commit` succeeds.

**To Reproduce**
Steps to reproduce the behavior:
1. `git config commit.gpgSign true`
2. Stage some changes and commit them
3. `git commit -m "..."` is executed
4. Press enter to return to lazygit
5. The commit message pane is stay opened

**Expected behavior**
If `git commit`

[2021-04-07 17:23] EPonyA commented on #1219
The main difference between Which Key, Transient (the tech powering Magit's similar menu), and the keybinding legend in Lazygit is obtrusiveness. Which Key is fully automatic and non-interactive. If you press a key that starts a sequence, it appears, and does not in any way block your next input. If you haven't started a sequence, you can open the legend with a keybind, but it still does not block

[2021-04-07 20:18] tomekwilk opened #1229 "Crash during startup"
**Describe the bug**
Lazygit crashes during startup.

**To Reproduce**
Steps to reproduce the behavior:
1. Type `lazygit` from the command line

**Expected behavior**
Lazygit should start succesfully

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04.1
 - Lazygit Version v0.27.1
 - The last commit id if you built project from sources a229547048b78fb5130f

[2021-04-07 20:31] band-a-prend opened #1230 "lazygit-0.27.1 arbitrary crushes on start"
Both lazygit-0.27 and lazygit-0.27.1 crushes on start from time to time on trying to launch.
Both 0.27.x versions were built with Go 1.16.2 (Gentoo `dev-lang/go-1.1.6.2`).

The lazygit-0.27.1 output:
[code]

The lazygit-0.27 output:
[code]
The release of lazygit-0.26.1 isn't affected this issue.

[2021-04-07 20:49] band-a-prend opened #1231 "lazygit-0.27.1 has broken prompt on git push (Shift+p) action"
The lazygit 0.27 and 0.27.1 have broken `git push` action by pressing shortcut `Shift+p`:
after pressing shortcut `Shift+p` the `Pushing ....\` popup is shown but no "https"/"ssh" prompts appear to ask credentials/passphrase even after long wait ~1 minute.

Both 0.27.x versions were built with Go 1.16.2 (Gentoo dev-lang/go-1.1.6.2).
The release of lazygit-0.26.1 isn't affected this issue.

[2021-04-07 23:06] jesseduffield commented on #1227
There will be times when the tree appears flat because there is no directory that contains multiple children, however in your screenshot that does not appear to be the case. I wonder why it wouldn't work on windows. Maybe the code is assuming forward slashes as path separators somewhere. In fact that's almost certainly what it is haha

[2021-04-07 23:20] jesseduffield commented on #1230
closing as a dupe of https://github.com/jesseduffield/lazygit/issues/1229

I'll tackle this tonight though, should be an easy fix!

[2021-04-07 23:20] #1230 closed

[2021-04-08 00:11] takelley1 commented on #1221
Apologies! I should have done more testing and validation using the default configuration. I think I had mixed up the `quit` and `return` bindings. It looks like the main issue fixed though.

[2021-04-08 00:11] #1221 closed

[2021-04-08 00:21] #1188 closed

[2021-04-08 01:52] sballin commented on #820
Seems to be fixed! Thanks for the great work!

[2021-04-08 02:10] jesseduffield commented on #820
no worries :) closing

[2021-04-08 02:10] #820 closed

[2021-04-08 03:08] jesseduffield commented on #1228
fixed in https://github.com/jesseduffield/lazygit/pull/1232

[2021-04-08 04:10] naoey commented on #470
Sorry to bump such an old issue, but I'm still encountering this problem on Windows with BitBucket PRs. Doesn't really break usage but is still a frequent annoyance. Any possibilities of getting the fix in? 😅

[2021-04-08 06:14] theniceboy opened #1233 "Crash upon Startup with ZSH shortcut: syscall.Errno operation not supported by device"
**Describe the bug**
Crash on start when using zsh keyboard mapping :
[code]
but it works fine by just typing `lazygit` in the terminal

**To Reproduce**
Steps to reproduce the behavior:
1. Put this in zshrc
[code]
2. Press `ctrl+g` in terminal
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):

[2021-04-08 07:00] thislooksfun commented on #1190
@jesseduffield Just updated to 0.27.1 and I can't enter newlines because `alt-enter` doesn't work on macOS since we have no alt key (yes I tried all the modifier keys, they all just committed).

My suggestions, in order would be:
1. `shift+enter`
2. `meta+enter` (would need an alternate on Windows/Linux)
3. `ctrl+enter`

[2021-04-08 07:27] jesseduffield commented on #1190
@thislooksfun it says alt but on mac it's actually your cmd key (I'm also on mac). Using iterm you can enable it by following these instructions:

https://github.com/Canop/broot/issues/86#issuecomment-801877468

I'm not actually sure if the other options you listed work, or if it's possible to make them work, with the rendering library we're now using (tcell). In fact it may not be possible at all

[2021-04-08 10:47] carstengehling commented on #622
@jesseduffield I switched away from ConEmu ~8 months ago to use MS' own Windows Terminal instead. I have not experienced any of the above-mentioned problems since.

[2021-04-08 11:33] jesseduffield commented on #1227
@kalvinpearce can you see if your issue is resolved on the latest master? I just tested it on my PC and it worked for me

[2021-04-08 11:49] NikolayXHD opened #1235 "Invisible added lines in some modified or added files"
**Describe the bug**

Since v. 0.27.1, Invisible added lines in some, but not all, modified files

**To Reproduce**

1. clone https://github.com/NikolayXHD/Mtgdb repository
2. go to commit 20bcdcd2
3. choose in commit files pane Mtgdb.Data/ImageRepository.cs

**Screenshots**
modified files (green lines starting with +) invisible
![image](https://user-images.githubusercontent.com/12046452/114021252

[2021-04-08 11:56] iyzana commented on #1223
I had the same (very similar?) stacktrace with a similar reproduction (pressing <CTRL-W> in the commit message dialog).
That problem is fixed in 0.27.1

[2021-04-08 12:01] kalvinpearce commented on #1227
🙏 beautiful! working like a charm. On a small side note, I don't suppose theres a way to collapse those tree nodes is there? Could be a nice addition if not but absolutely this does wonders for readability and I am keen to use lazygit more as my primaray git interface

[2021-04-08 12:02] #1227 closed

[2021-04-08 12:02] kalvinpearce commented on #1227
Never mind i just found the folding 🙏 you are a legend!!!

[2021-04-08 12:04] jesseduffield commented on #1227
Pleasure to be of service!

[2021-04-08 13:10] jesseduffield commented on #1235
snap, I didn't think of carriage returns when implementing that code to reduce flicker. I'll revert that code for now and think some more about how to handle carriage returns: https://github.com/jesseduffield/lazygit/pull/1236

[2021-04-08 14:13] jesseduffield commented on #1233
This would be a result of the switch to tcell. I am not too sure how to get around this: I assume that function previously worked because lazygit could receive all its inputs from stdin? If so, it's possible tcell doesn't work that same way :/

[2021-04-08 14:41] jesseduffield commented on #1231
@band-a-prend can you try v0.27.2?

[2021-04-08 14:41] jesseduffield commented on #1235
v0.27.2 has the revert :)

[2021-04-08 14:42] jesseduffield commented on #1229
should be fixed in v0.27.2

[2021-04-08 14:42] jesseduffield commented on #1228
@Ryooooooga can you test this on v0.27.2?

[2021-04-08 14:53] Ryooooooga commented on #1228
@jesseduffield Thank you for fixing it. But won't this close the panel if the pre-commit hook fails?

[2021-04-08 14:59] jesseduffield commented on #1228
I did notice that would be a change. Is that necessarily a bad thing? I expect that a precommit hook failing means you need to fix up some files

[2021-04-08 15:31] jbrains commented on #1210
That was perfect. Thank you.

[2021-04-08 15:31] #1210 closed

[2021-04-08 15:44] tomekwilk commented on #1229
I am getting build failure with v0.27.2
$ go build ./...
# github.com/jesseduffield/lazygit/pkg/gui
pkg/gui/gui.go:484:4: cannot use getRecordingSpeed() (type float64) as type int in field value

$ git log -1
commit d5504fa5d0d4e0312e1b27b8dbe3c6c664395a31 (HEAD -> master, tag: v0.27.2, origin/master, origin/HEAD)
Author: Jesse Duffield <jessedduffield@gmail.com>
Date:   Fri Apr 9 00:33:39 2021 +1

[2021-04-08 16:57] NikolayXHD commented on #1235
Thank you!

[2021-04-08 17:05] #1235 closed

[2021-04-08 17:26] carstengehling commented on #622
On that note: Lazygit works awesomely with Windows Terminal! I have just upgraded to 0.27.1 (using your PPA), and everything is just so smooth. Mouse integration - including scrolling with the mouse wheel - is just plain cool. :-)

[2021-04-08 18:12] thislooksfun commented on #1190
I'm using Terminal.app, but I was able to get it working by checking "Use Option as Meta key".

[2021-04-08 19:09] band-a-prend commented on #1231
Thank you! This issue is fixed in lazygit 0.27.2.

[2021-04-08 20:16] joshgummersall commented on #1231
I noticed the same issue earlier today, just upgraded to 0.27.2, and the issue is resolved!

[2021-04-08 21:16] tomekwilk commented on #1229
Casting float64 to int in pkg/gui/gui.go:484 fixes the build issue.
Also verified that 0.27.2 fixes the crash issue for me on Ubuntu.

[2021-04-08 21:16] #1229 closed

[2021-04-08 21:53] #1150 closed

[2021-04-08 21:55] jesseduffield commented on #1231
Sweet :) closing

[2021-04-08 21:55] #1231 closed

[2021-04-08 22:19] joshgummersall opened #1240 "Amending a commit causes hanging "Press enter to return to lazygit""
**Describe the bug**

The "Press enter to return to lazygit" message is presented but subsequent input is ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Stage some files and then press `Shift+A` to amend the last commit
2. Press enter to confirm
3. Observe "Press enter to return to lazygit"
4. Press enter (or `Ctrl+C`) and observe that nothing happens

**Expected behavior**
Pressin

[2021-04-08 22:20] jesseduffield commented on #1240
@joshgummersall this sometimes happens if lazygit panics in a prior session. Do you recall that happening?

[2021-04-08 22:21] joshgummersall commented on #1240
I think I may have seen that earlier - is there some local state I can clear to see if that resolves the issue?

[2021-04-08 23:04] jesseduffield commented on #1240
I think it requires passing a specific code to the terminal to switch it to a certain mode but I'm not sure what that is (something I intend on investigating). When it happens to me I close the current terminal panel and open a new one in its place

[2021-04-08 23:08] joshgummersall commented on #1240
The same behavior continues even after completely exiting and reopening iTerm2 which seems odd. Let me know if there's any extra context or data I can provide that might help!

[2021-04-08 23:12] jesseduffield commented on #1240
interesting, this might be a legit newly introduced bug. When I go to amend a commit it just does it from within lazygit. Do you have something configured that makes it switch to a subprocess? E.g. gpg signing enabled?

[2021-04-09 00:07] joshgummersall commented on #1240
I do use gpg signing. I'm almost positive I amended commits without any issues yesterday, I ran `brew upgrade` this morning and then it no longer worked. Maybe I should clone the repo and do a bisect, would that help?

[2021-04-09 00:28] jesseduffield commented on #1240
@joshgummersall please do!

[2021-04-09 00:56] fcomoreira1 commented on #1231
When is version 0.27.2 going to be pushed to Copr?

[2021-04-09 15:27] joshgummersall commented on #1240
@jesseduffield `git bisect` yielded `6a6024e38fed189606c4267dc6c18b1e1040c7ad` as the offending commit. I ran `go build -o ../lg main.go` to produce a binary, the executed that binary in a test repo with a change to amend the latest commit. Running `git checkout 6a6024e38fed189606c4267dc6c18b1e1040c7ad~1` and repeating the test worked as expected. Let me know if there's any extra info that might b

[2021-04-09 16:37] x86dev commented on #652
Cheers, I'll give this a test as soon as I run into such a situation again.

Regarding deleting the file: I also wouldn't delete this, as this might would have (bad) side effects with the concurrent client(s) depending on it.

[2021-04-10 01:57] jesseduffield commented on #1240
nice! should be fixed on master now https://github.com/jesseduffield/lazygit/pull/1243

[2021-04-10 04:12] Ryooooooga commented on #1228
That's right.

[2021-04-10 04:12] #1228 closed

[2021-04-10 12:00] theniceboy commented on #1233
@jesseduffield Sorry I forgot to include the `zle_eval` function! Here it is:
[code]

[2021-04-10 18:15] band-a-prend commented on #1151
The same issue for several new releases.
As I could remember some early lazygit respects this option.
Now on pull with creeated commits it offers to merge fetched commits from origin instead of rebase.

[2021-04-10 18:36] band-a-prend commented on #1180
This issue is duplicate of https://github.com/jesseduffield/lazygit/issues/1151

[2021-04-10 19:14] Rizhiy commented on #1180
Not exactly, lazygit also does some strange stuff on remote branch checkout.

If I run `git` checkout remote-branch`, git will fetch the remote branch, checkout it and set upstream to remote.
If I try to checkout remote branch with lazygit, it gives me an option to create a branch with custom name, but I still need to set upstream afterwards.

[2021-04-11 00:14] #1240 closed

[2021-04-11 00:26] jesseduffield commented on #758
We can also run `git mergetool` now via the shift+M keybinding in the files panel. Closing, but let me know if I need to re-open

[2021-04-11 00:26] #758 closed

[2021-04-11 01:57] eruizc-dev commented on #1180
I think this is worth clarifying, @jesseduffield could you explain why this isn't the current behavior and if there's any plan or chances into changing this? I see this very confusing, some global git configurations are respected (like default branch name) and some others are not.
I don't mind how it's done really as long as it does the same, but the question I wanna make is: wouldn't be easier to

[2021-04-11 04:06] FinallyFinancialFreedom commented on #653
i have tried the lastest version,0.25.1, the problem is fixed.

[2021-04-11 05:09] jesseduffield opened #1247 "Sensible Defaults"
It's not always clear what makes a sensible default, because different people will use lazygit differently. Furthermore, changing the default for something could be jarring to a user who is familiar with the old way of doing it. On the other hand, if a default brings enough value, it's worth making the change, especially when any aggrieved users can always configure lazygit to have the old behavio

[2021-04-11 05:12] jesseduffield commented on #1180
@eruizc-dev as you might have suspected: there is really no good reason :) We actually do already just run git commands directly (as opposed to through some kind of api): I assume it wouldn't be hard to run the commands in such a way where the config is honoured.

There will be times however where certain flags will need to be passed or lazygit will simply break, but I think an audit of where we c

[2021-04-11 05:19] jesseduffield commented on #653
Alrighty, closing, but let me know if any more issues arise :)

[2021-04-11 05:19] #653 closed

[2021-04-11 08:59] Antonio-Bennett opened #1248 "PPA not working for installation. Seems to be blank?"
**Topic**
A clear and concise description of what you want to discuss

I want to install lazygit on ubuntu via the ppa but it seems to be blank? Even though it says there was 40 updates in the last month? I cannot install

![image](https://user-images.githubusercontent.com/31296212/114298007-142f4400-9a82-11eb-8361-dd4dd870d3da.png)
![image](https://user-images.githubusercontent.com/31296212/11429

[2021-04-11 09:07] jesseduffield commented on #1248
Looks like the build is failing:
https://launchpad.net/~lazygit-team/+archive/ubuntu/release/+build/21381313
https://launchpadlibrarian.net/532948874/buildlog_ubuntu-focal-arm64.lazygit_0.27.4-1~ubuntu20.04.1_BUILDING.txt.gz
[code]

I am not too sure how to tackle this. Any ideas @dawidd6 ?

[2021-04-11 09:48] dawidd6 commented on #1248
Last few releases were problematic. There were some build errors with go1.10. I had to drop support for Ubuntu older than 18.04, because newer Go is needed now. I'm going to make a revision bump and build new packages now.

[2021-04-11 10:15] jesseduffield commented on #1248
@dawidd6 fair enough: should we update the readme accordingly?

[2021-04-11 10:44] alok opened #1250 "mapping to get different behaviors of quitOnTopLevelReturn?"
i'd like a way to make one map act like it's true and another map to act like it's false.

[2021-04-11 10:45] jesseduffield commented on #1250
@alok could you elaborate? I'm not quite sure what you mean

[2021-04-11 10:52] alok commented on #749
@jesseduffield thoughts on this?

[2021-04-11 11:14] kristijanhusak opened #1251 "New `showFileTree` option not working"
**Describe the bug**
I saw in the release notes about new `showFileTree` option. I wanted to give it a try, but it doesn't seem to work

**To Reproduce**
Steps to reproduce the behavior:
1. Use this config:
[code]
2. Open lazygit
3. Go to files panel, try pressing tilde, nothing happens

**Expected behavior**
Expected to get the tree view. I saw it initially in the PR you mentioned me on screensho

[2021-04-11 12:12] dawidd6 commented on #1248
Yes

[2021-04-11 12:23] alok commented on #1250
i want esc to keep going out of current view until i'm at top level, but then do nothing.

i want q to keep going out of current view until i'm at top level, and then quit.

[2021-04-11 12:51] jesseduffield commented on #1251
@kristijanhusak by default (in fact this isn't configurable at all atm) the tree view will collapse paths when possible. That means that if a directory has only one child, it will be rendered along with its child as a single path. I think that's what's going on here: if you make a new branch and soft reset to an older commit you should see the file tree work properly.

[2021-04-11 12:59] jesseduffield commented on #749
I'm in favour of it, but last time I checked it wasn't straightforward to do. Happy to give pointers if somebody wants to tackle it

[2021-04-11 13:26] kristijanhusak commented on #1251
You're right. Once I changed one more file within the same directory, tree view appeared, thanks!

[2021-04-11 13:26] #1251 closed

[2021-04-11 15:19] fsmiamoto opened #1254 "Rendering issues with new library"
As it appears, the change of the rendering library introduced in #1217 has brought some rendering issues on my environment.

I've tested on both 0.26.1 and 0.27.4 (which uses `tcell`) and been able to reproduce the issue on the terminal emulators `st` and `alacritty`.

Both builds used were taken from the official releases of the repo.

I'm not very familiar with the inner workings of the renderin

[2021-04-11 16:37] Rizhiy commented on #1180
I have checked the remote branch behaviour and if the branch name matches then it works properly.
I guess my request regarding remote branches would be to default to a plain branch name, unless there is conflict.

In my experience working with multiple remotes is quite rare and it is better to have defaults for most probable paths. Maybe that can be a config option.

[2021-04-11 19:59] kristijanhusak opened #1255 "Reading env variable from configuration file or allowing "local" configuration override"
**Is your feature request related to a problem? Please describe.**
I'm using lazygit on multiple machines. Most of the time I'm on desktop, where I use light theme, because I work on it during the day, but when I'm on a laptop, I'm usually in a dark room and I switch to dark theme. I have a script that toggles all this configuration for me, and that script currently also toggles my lazygit configu

[2021-04-11 20:08] #1248 closed

[2021-04-12 00:38] eruizc-dev commented on #1180
I've been looking a bit deeper into the codebase and I can see what @jesseduffield mentions. I'd say there *is* an issue here that should be addressed, I've already seen many people complain about things like this.
Now that I know that it's not a general rule for lazygit to ignore gitconfig and it affects each command independently I'd like to try and work on the `git pull` fix during this week. H

[2021-04-12 02:03] jesseduffield commented on #1180
@eruizc-dev yep that sounds reasonable. My only concern is that currently it's doing the pull in a kinda weird way so that we can make of lazygit's visual representation of mid-way interactive rebases i.e. it actually does an interactive rebase so that if there's failures halfway through you can see where you're up to which to my knowledge is only possible with an interactive rebase. But I'm happy

[2021-04-12 02:43] kbd opened #1256 "Execute key sequence from command line"
Lazygit's undo feature really helped me out recently (thanks!). Using the reflog is something I'm still not good at in git, but lazygit made it easy to get back to where I wanted.

I thought it'd be useful if I could make a command-line call to that feature in lazygit, so I could make an alias like "git undo". But, I didn't see a way to call into lazygit's features from the command line.

Would it

[2021-04-12 08:40] jesseduffield commented on #1231
I am actually not sure; I don't manage the Copr repo

[2021-04-12 09:08] iocouto opened #1257 "[Feature Request] Support for direct CLONING from inside lazygit"
Right now we are already able to create a new local repository with lazygit, as well as manage a previously-cloned one. It seems odd that I'm not able to also **clone** a repository with lazygit...

[2021-04-12 09:18] ms-jpq commented on #1254
I have noticed some issues too

1) some boxes are out of alignment

2) the popup dialog eats the first column,

![图片](https://user-images.githubusercontent.com/50598611/114371370-45b51780-9b35-11eb-8b16-7dabcc06a226.png)

[2021-04-12 09:58] mastern2k3 opened #1258 "Add new line in commit message popup prompt stopped working"
**Describe the bug**
When writing a commit message in the popup prompt, pressing the TAB key should add a new line to the message.
This used to work in the past but no longer works for me.

**To Reproduce**
Steps to reproduce the behavior:
1. Open **lazygit** for a repository with pending changes.
2. Click `C` to open the commit message dialog.
3. Write a message.
4. Press `Tab`

**Expected behavi

[2021-04-12 11:05] marcjay opened #1259 "No longer shows tracked files first in files view since 0.27"
**Describe the bug**
On 0.26, if you have changes to tracked files, they would appear at the top of the list of the Files list, followed by untracked files, alphabetically.
As of 0.27 (and tested up to 0.27.4), all files are listed alphabetically, with tracked files appearing in the list of untracked files, and I cannot see a configuration option to go back to the old sort ordering. Toggling the n

[2021-04-12 11:07] jesseduffield commented on #1259
I'm happy to make this the default i.e. show merge conflict files, then tracked files, then untracked files. Just for the flat view though, I think the tree view makes sense being purely alphabetical, but I'm open to being persuaded otherwise

[2021-04-12 11:13] epheien commented on #982
need toggle hide untracked files feature

[2021-04-12 11:13] marcjay commented on #1259
Yup agree (and I think the new tree view is very cool). Personally not against the new order being the default, but would love for there to be a config option to revert to the old 'git status' order if so

[2021-04-12 11:17] jesseduffield commented on #1258
v0.27 changed the default keybinding to alt-enter (i.e. meta-enter). You can change it back to tab in your config with:
[code]

I'm open to having the old keybinding there by default, but it would take away from the ability to add an actual tab character (which is admittedly not currently possible). What are your thoughts?

[2021-04-12 11:49] jesseduffield commented on #982
@epheien do you mean from within lazygit?

[2021-04-12 11:53] epheien commented on #982
yes, I need not change git config and simply toggle show / hide untracked files, for example:
`git status -uno`

Some git client has this feature, such as Fork.app on macOS.

[2021-04-12 12:00] jesseduffield commented on #982
I've updated the issue description for this use case

[2021-04-12 12:24] mastern2k3 commented on #1258
I'm good with alt-enter, more into standard and friendly for new users, it is the correct choice as a default.

Then you might consider changing the info label on the bottom:

![Screenshot from 2021-04-12 15-19-30](https://user-images.githubusercontent.com/4235611/114393281-85feaf00-9ba2-11eb-8c94-5cdb98da172d.png)

e.g. `tab: new line`

P.S. can't stress how much I find **lazygit** helpful and ef

[2021-04-12 13:40] jesseduffield commented on #1258
Good pickup: fixed in https://github.com/jesseduffield/lazygit/pull/1262

And thanks for the kind words! I really appreciate it

[2021-04-12 16:04] joshgummersall commented on #1240
Yep - all set! Thank you.

[2021-04-12 18:23] #1258 closed

[2021-04-12 22:13] LucaXiang opened #1265 "Hold down arrow key to switch file, diff window stop render."
**Describe the bug**
1. Unstaged Changes stop update
2. Exit with error message "cannot kill child process"

**To Reproduce**
1.  Enter Files Window
2.  **Hold Down** the arrow keys (up or down) to switch files, (Single click do not happen)
3.  Un staged changes  or diff window stop update

**Expected behavior**
Un staged Changes windows should to update.

**Screenshots:**
![Snipaste_2021-04-13_00

[2021-04-12 22:25] LucaXiang commented on #1265
I tried it in v25 v26 v27 have same problem

[2021-04-13 00:22] eruizc-dev commented on #1180
@jesseduffield sorry for the late response but I wanted to investigate more about that merge and rebase feature I've never used before. I don't want Lazygit to lose any of its functionality but rather replace the hardcoded `pull.mode = merge` in the default config with whatever the user configured in its `.gitconfig` file.

I'm currently working on a solution that doesn't affect the interactive me

[2021-04-13 09:18] Jayphen opened #1267 "Sort remote branches"
I often like to check out branches that my colleagues are working on to give feedback or assist. At the moment, it seems that the `Remotes` tab sorts all branches alphabetically, which is only useful if you know the name of the branch you're seeking.

It would be great to have some sorting options here - `created`, `last modified`, `alpha` for example.

[2021-04-13 11:12] MiroslavMikus opened #1268 "Files view-box rendering"
**Describe the bug**
Files view-box outline is sometimes wrong:
*see screenshot*

**To Reproduce**
Steps to reproduce the behavior:
Try to change/add many files and scroll down.

**Expected behavior**
Viewbox should be rendered correctly.

**Screenshots**
![Lazy_git_files_bug](https://user-images.githubusercontent.com/29312172/114543234-37601c00-9c59-11eb-8292-c42891dab706.gif)

**Desktop:**
 - OS

[2021-04-13 11:14] jesseduffield commented on #1268
@MiroslavMikus are you able to try this on the latest version?

[2021-04-13 15:27] MiroslavMikus commented on #1268
@jesseduffield Hey, thanks for the quick response. I could not reproduce this issue in 0.27.4!

[2021-04-13 15:27] #1268 closed

[2021-04-13 15:29] MiroslavMikus opened #1269 "ESC does not quit the application"
**Describe the bug**
ESC does not quit the application

**To Reproduce**
Open lazy git and press ESC.

**Expected behavior**
The application should be closed like in version 0.25.1

**Desktop:**
OS: Windows 10.0.19042
Terminal: WindowsTerminal 1.6.10571.0
Powershell: 7.1.3
Lazygit Version 0.27.4

[2021-04-13 15:57] MiroslavMikus opened #1270 "Linebreaking in links"
Not sure if this is a known issue...

**Describe the bug**
When clicked on some link with linebreak, the destination is just the first part of the link.

**Expected behavior**
The target destination should be the full link.

**Screenshots**
![image](https://user-images.githubusercontent.com/29312172/114581273-db5cbe00-9c7f-11eb-9f0a-0a75d56fd870.png)

**Desktop:**
OS: Windows 10.0.19042
Terminal:

[2021-04-13 16:00] MiroslavMikus opened #1271 "Text highliting"
**Describe the bug**
The selected text should be highlighted.

**Screenshots**
![image](https://user-images.githubusercontent.com/29312172/114583318-c3863980-9c81-11eb-8ffd-7449fddbb043.png)
Left is 0.25.1
Right is 0.27.4

**Desktop:**
OS: Windows 10.0.19042
Terminal:
- WindowsTerminal 1.6.10571.0 (tested and gif)
- Powershell terminal 5.1.19041.610 (tested)
Powershell: 7.1.3
Lazygit Version 0.27.

[2021-04-13 16:02] MiroslavMikus commented on #1269
Found right now, I cant navigate to the next tab with `]`

[2021-04-13 16:07] MiroslavMikus commented on #1269
I have found the memo :man_facepalming:
The ESC feature was replaced with q or CTRL+c.

[2021-04-13 19:18] rgwood commented on #1271
I'm experiencing this issue in Windows Terminal as well. In all of the left panes (Files, Local Branches, Commits, etc.) the selected list item is formatted identically to the unselected items.

This occurs in multiple [built-in colour schemes](https://docs.microsoft.com/en-us/windows/terminal/customize-settings/color-schemes) (tested: Campbell, Tango Dark, Tango Light, One Half Dark).

The issue

[2021-04-13 19:56] MiroslavMikus opened #1272 "Auto-fetch should not refresh Patch view"
**Describe the bug**
When I read a huge file in the `Commits>Page` view I don't want the view to jump to the top every 60 seconds.

**To Reproduce**
1. Open `Commits>Page`
2. Select file with `Enter`
3. Scroll down with `Page-down`
4. Either wait for fetch update or add to settings:
[code]
**Expected behavior**
I expect to get the latest git updates with the auto-fetch feature enabled and be able

[2021-04-13 20:24] MiroslavMikus opened #1273 "Error message keeps artifacts in console"
**Describe the bug**
Error message from status menu leaves artifacts in the console.

**To Reproduce**
1. create git repo A
2. open it with lazy git
3. open another repo
4. delete repo A
5. navigate to Status menu, press `Enter` and navigate to repo A

**Expected behavior**
The error message should not leave any artifacts.

**Screenshots**
![LG_BUG_210413](https://user-images.githubusercontent.com

[2021-04-13 23:16] prosoitos opened #1274 "Changed parts in diff are blinking."
**Describe the bug**

Starting a couple of commits ago, I started to get very distracting blinking of any of the change sections in the diff. I thought that everybody would complain about it and that it would get resolved, but to my surprise, no issue got open on this. I am using [st](https://st.suckless.org/) and maybe it doesn't do it with another terminal emulator???

New release doesn't fix it

[2021-04-14 07:39] MiroslavMikus commented on #1271
The workaround for now would be the config:
[code]

[2021-04-14 08:15] OliverJAsh opened #1275 "Suggestion: add ability to edit hunk"
**Is your feature request related to a problem? Please describe.**
Lazygit makes it really easy to select specific lines to be staged, however sometimes I need more flexibility.

For example, I have these unstaged changes:

[code]

I only want to add the change to `name`, not to `children`.

If I select the `name` line addition/deletion, I end up with this staged diff:

[code]

What I wanted:

[co

[2021-04-14 09:29] jesseduffield commented on #1274
@prosoitos are you able to test out latest master? I fixed a minor rendering issue on that that might have caused your problem.

Also, does st run on mac? I'm not sure how to get it, the download page is a little hard to decipher
![image](https://user-images.githubusercontent.com/8456633/114688023-a6239f00-9d57-11eb-8983-4464934174ae.png)

[2021-04-14 09:30] jesseduffield commented on #1273
@MiroslavMikus can you check if this issue persists on latest master? I've fixed a minor rendering issue there which might relate to this

[2021-04-14 09:34] jesseduffield commented on #1270
yeah it would be good to fix wrapping in general, though I also think it would be cool to just use a hyperlink (of course this too could be broken by bad wrapping).

[2021-04-14 09:36] jesseduffield commented on #1271
hmm this would be related to our upgrade from termbox to tcell, though I'm not sure specifically why highlighting would fail in this case

[2021-04-14 09:36] jesseduffield commented on #1269
I need to get better at communicating changes haha. I think I need a 'click here to see what's changed' popup when starting lazygit on a new version, which links to a nicely formatted release notes page on github

[2021-04-14 09:47] prosoitos commented on #1274
Thank you for looking into this! 🙂

The problem persists after pulling your latest commit.

st on MacOS: no idea!

On Linux, to install it, you can clone the repo (`git clone https://git.suckless.org/st`), `cd` into it and run `make clean install`.

[2021-04-14 16:17] theniceboy commented on #1233
Can confirm that https://github.com/jesseduffield/lazygit/pull/1217 caused the problem

[2021-04-14 19:37] Jeanno commented on #92
Are people still actively looking into this?

[2021-04-14 21:57] jesseduffield commented on #92
The main limitation currently is that a pre commit command can be any program and often it spits out random terminal characters telling the cursor to move to different positions, rewrite old characters in the case of a loader, etc. It would take a bit of work to support all those characters. I made some headway on this problem in [lazynpm](https://github.com/jesseduffield/lazynpm), but haven't fou

[2021-04-14 22:32] Amparose commented on #1056
Also the `opt enter` key command to line break the message doesn't work in "reword commit".

[2021-04-15 08:23] Racle opened #1276 "Unstage all files with "a" broken in 0.27.4"
**Describe the bug**
Cannot unstage all files with `a`. I can stage all files with `a`. Space still works for unstaging single file.

**To Reproduce**
Steps to reproduce the behavior:
1. Open lazygit
1. Stage all files with `a`
1. Try to unstage all files with `a` (doesn't do anything)

**Desktop (please complete the following information):**
 - OS: pop_os 20.10
 - Lazygit Version: commit=, build

[2021-04-16 05:31] Racle commented on #1276
After day (and reboot), even I cannot reproduce this anymore.

Same version, same settings and it works flawlessly.
Don't know why it broke earlier, but now it works again.

This will be extremely hard to debug, and could be related with something inside OS.

I'm closing this issue as I cannot reproduce this anymore.

[2021-04-16 05:31] #1276 closed

[2021-04-16 06:22] ristillu commented on #1274
This is happening for me too @prosoitos. I thought it was a new feature 😄 and I quite like it. I has definitely appeared for me since v0.27.x. I am not using st, I am using xfce4-terminal and I highly doubt anything has changed on its end. I am also using diff-so-fancy.

[2021-04-16 06:26] ristillu commented on #1259
I also would definitely prefer the behavior @marcjay prefers. In our main repo for various reasons I currently have 47 untracked files and when I make some changes to tracked files I have to page through to find them. Given by default tracked modified files have the same color as untracked files there's a high probability I will miss files I want to update.

Of course, the underlying problem is I

[2021-04-16 11:42] t2h5 opened #1277 "layout is broken on Japanese environment"
**Describe the bug**

In my environment, lazygit layout is broken since v0.27.
- macOS: 11.2.3
- zsh: 5.8 (x86_64-apple-darwin20.1.0)

**To Reproduce**

Open `lazygit` v0.27.x on Japanese setting macOS.

**Expected behavior**

v0.27 keeps layout as v0.26.

**Screenshots**

v0.26 works fine but v0.27 is not.
- v0.26.1
![image](https://user-images.githubusercontent.com/19473293/115018553-f420da00-9e

[2021-04-16 21:23] garymh opened #1278 "Key bindings for `checkoutCommit` don't seem to work?"
**Describe the bug**
Key bindings don't seem to be remappable for the commit section, namely: `checkoutCommit` and `goInto`. I'm trying to swap so <enter> checks out the branch and space examines the commits.

**To Reproduce**
Steps to reproduce the behavior:
1. Using the following config file:
[code]
2. Open lazygit
3. Go to commits section
4. Press <enter>
5. List of commits

**Expected behavior

[2021-04-16 22:43] jesseduffield commented on #1277
@t2h5 which terminal do you use? I'm on mac using iterm2 and that works. terminal.app also works

[2021-04-16 23:55] jesseduffield commented on #1274
@prosoitos what is the value of your TERM env var? If it's `st-256color`, this is the file that would be used for configuring tcell on startup: https://github.com/jesseduffield/lazygit/blob/master/vendor/github.com/gdamore/tcell/v2/terminfo/s/simpleterm/term.go. Looking there, the blink escape sequence is the same as in the xterm-256color one, so I assume there is some other reason why the blinkin

[2021-04-16 23:56] jesseduffield commented on #1254
The file for st-256color terms is https://github.com/jesseduffield/lazygit/blob/master/vendor/github.com/gdamore/tcell/v2/terminfo/s/simpleterm/term.go

I would expect any weird rendering stuff to be a result of how things are configured in that file, although nothing jumps out at me as being problematic. Hmm

[2021-04-17 00:04] jesseduffield commented on #1255
I like the idea of being able to pass an additional config file to lazygit to be merged with the default config location. Using env vars requires shelling out a lot which might make it slower to load the config (haven't measured though).

The idea would then be to wrap lazygit in an alias which passes that additional config file as an arg. What are your thoughts on that @kristijanhusak ?

[2021-04-17 00:05] jesseduffield commented on #1259
fixed in https://github.com/jesseduffield/lazygit/pull/1261 :)

[2021-04-17 00:05] #1259 closed

[2021-04-17 02:33] t2h5 commented on #1277
@jesseduffield I'm using iterm2 (version 3.4.5), but same thing happens on terminal.app.

[2021-04-17 02:44] t2h5 commented on #1277
Maybe I found this is some regional problem.
I'm using mac system on Japanese (日本語), but after switch language to English, v0.27.4 works fine.

![image](https://user-images.githubusercontent.com/19473293/115099537-849dff80-9f71-11eb-9351-05cb0f5a6a19.png)

[2021-04-17 05:16] t2h5 commented on #1277
I was using lazygit under `LANG="ja_JP.UTF-8"`.
v0.27 works on Japanese setting by configure `LANG` as `en_US.UTF-8`.

[code]

[2021-04-17 05:39] t2h5 commented on #1277
@jesseduffield
This problem was solved, `LANG` setting works fine for me.
Please close this issue if it's ok with you.
Thank you.

[2021-04-17 05:55] kristijanhusak commented on #1255
That sounds great! I'm using the alias anyway, so it would be a simple change for me.

[2021-04-17 05:57] jesseduffield commented on #1277
Nice investigation @t2h5 !

I'll leave this issue open until we can fix the issue without the user needing to change their LANG env var. I've opened an issue in the runewidth package to address this: https://github.com/mattn/go-runewidth/issues/49

[2021-04-17 06:11] jesseduffield commented on #1254
@ms-jpq @fsmiamoto I've done some digging: this is due to the runewidth package thinking that box characters are double-width in east asian encodings. Going `export LANG=en_US.UTF-8` should suffice as a workaround for now, but I've raised an issue in the runewidth repo to fix this: https://github.com/mattn/go-runewidth/issues/49

[2021-04-17 09:35] marcjay commented on #1259
Thank you!!

[2021-04-17 10:57] jesseduffield commented on #1075
@MuratUrsavas could you re-test this on the latest version? I suspect it may be resolved

[2021-04-17 11:13] jesseduffield commented on #994
fixed in https://github.com/jesseduffield/lazygit/pull/1279

[2021-04-17 11:18] #994 closed

[2021-04-17 11:32] abenz1267 opened #1280 "Worktree integration"
Hello,

right now checking out branches that are present as worktrees doesn't work, as you get "fatal: *branch* is alreadt checked out at .."

Not sure if it's doable or even makes sense, but a simple cwd change would be the expected behaviour i guess.

Also opening up lazygit in the bare repo doesn't recognize the folder as a bare repo and wants to init git first, which ofc isn't want you want.

[2021-04-17 13:44] fsmiamoto commented on #1254
Oh it was that then, thanks @jesseduffield :)

[2021-04-17 21:30] prosoitos commented on #1274
Yes, my `$TERM` is `st-256color`.

@ristillu, maybe it has to do with diff-so-fancy then ...

[2021-04-19 03:55] ristillu commented on #1274
My `$TERM` is `xterm-256color`. My diff-so-fancy is 1.4.0. My git is 2.31.1. Anyway, it's not an issue for me but I'm happy to help debug/provide a point of reference. I'm absolutely sure it changed with v0.27.x though.

[2021-04-19 08:09] jesseduffield commented on #1277
fixed in https://github.com/jesseduffield/lazygit/pull/1284

[2021-04-19 08:10] jesseduffield commented on #1254
fixed in https://github.com/jesseduffield/lazygit/pull/1284

[2021-04-19 13:06] #1254 closed

[2021-04-19 13:06] #1277 closed

[2021-04-19 16:42] ruslanzelinskyy opened #1285 "Closes with error 114 on trying to open file in reflog"
**Describe the bug**
Closes with error 114 on trying to open file in reflog

**To Reproduce**
Steps to reproduce the behavior:
1. go to panel 4 (reflog)
2. choose commit
3. choose file and press enter
4. press o (open)
4. See error

**Expected behavior**
open file in default text editor?

**Screenshots**
*errors.errorString unknown main context: normal
github.com/jesseduffield/lazygit/pkg/gui/line

[2021-04-20 00:56] chungonion commented on #1277
Thank you @t2h5 for finding this issue! My mac uses Traditional Chinese as the primary language and this issue has bothered me for a while...

Also many thanks for @jesseduffield for fixing this issue and the amount of work spent on this piece of software, thank you so much =]

[2021-04-20 01:13] jesseduffield commented on #1277
@chungonion thanks I really appreciate it!

[2021-04-20 08:36] jesseduffield commented on #1285
@ruslanzelinskyy could you give this another go on the latest version?

[2021-04-20 11:09] pyrooka opened #1287 "Pulling panel doesn't disappear in some cases"
**Describe the bug**
The `Pulling...` panel doesn't disappear after a successful pull if you hit the `x` to show the menu during the process. Instead, it closes the menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Press `p` to pull
2. Press `x` to show menu while pulling is in progress
3. Wait

**Expected behavior**
The pull wait panel should be closed, not the menu.

**Screenshots**
ht

[2021-04-20 16:09] tomzaku opened #1288 "Is there any way that I can get the tree view file changed when compare 2 branches?"
Hi, Thank you for this awesome package.
I'm trying to compare 2 branches but it shows 1 pane which includes every file changed.
I would like to see the tree view  of file changed from lazygit instead go to gitlab/ github to see the tree view of file changed of my MR
![image](https://user-images.githubusercontent.com/19413272/115429025-93b4d400-a235-11eb-9846-56fac87ab6d9.png)

Thank you again.

[2021-04-21 17:50] lcc014 opened #1290 "Lazygit 0.28.1 build, mouse not working"
Just upgraded lazygit from 0.26 to 0.28.1 today and found that mouse did not work anymore.  I used to use mouse pointer to activate different panel or select different file names, etc.  It was working fine in build 0.26 but not working anymore.  I can switch between panel using number keys and arrow keys to select/scroll around files, commits, etc.

Is mouse function disabled in 0.28.1 build or el

[2021-04-21 19:55] prosoitos commented on #1274
It is a big issue for me. I find it so distracting that I have temporarily stopped using lazygit. So I would certainly be happy to get to the bottom of this.

In any event, thanks @ristillu and @jesseduffield for trying to help 🙂

[2021-04-22 02:17] ristillu commented on #1274
@prosoitos I just turned off diff-so-fancy and the blinking stops. I switched back and forth between enabled/disabled diff-so-fancy and it's clearly the cause for me.

[2021-04-22 02:20] jesseduffield commented on #1274
Interesting, I wonder what in diff-so-fancy's output might cause that. At any rate while we look for a fix you might want to try out delta: https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Pagers.md#delta

[2021-04-22 02:52] ristillu commented on #1274
@jesseduffield for fun I just checked out v0.26.1 and go installed and the blinking is not present with diff-so-fancy. Then I checked out v0.27 and the blinking is present. So something in the changeset from v0.26.1 to v0.27 has changed how diff-so-fancy handles the paging. I did a quick search of diff-so-fancy issues but they're not particularly active and there's no mention of "blink" or "flash"

[2021-04-22 03:07] jesseduffield commented on #1274
@ristillu we switched from termbox to tcell in v0.27 so that would have done it

[2021-04-22 04:19] peppy commented on #1290
Looks to be working as expected here.

[2021-04-22 04:37] peppy opened #1291 "Attempting to revert a merge commit fails"
As per the recent survey focusing on cases where we can't perform an action we want to from within lazygit, here is one of the two that I regularly encounter: Attempting to revert a merge commit does not pass or allow selection an `-m` argument, which is a requirement of `git revert` when  operating on a merge commit.

![20210422 133334 (iTerm app)](https://user-images.githubusercontent.com/191335

[2021-04-22 07:52] Iyxan23 opened #1292 "Random Tip got cut off in random occasion"
**Describe the bug**
Every time I ran `lazygit`, a Random Tip will appear at the command log, but on some random occasion, the front of the text got cut off.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `lazygit` multiple times until you get the bug

**Expected behavior**
The text shouldn't be cut off, it should display the entirety of the tip, I'm guessing this has something to do wi

[2021-04-22 07:54] Iyxan23 commented on #1292
Oh wait I just checked that I can scroll the command log to see the uncut tip

[2021-04-22 07:54] #1292 closed

[2021-04-22 07:55] jesseduffield commented on #1292
Yep this comes down to the fact that it's not easy to scroll to the beginning of the random tip. When you're using up the whole terminal window it should have more room to show the whole tip, but when it's only one line it's tricky. It's something I could look into though

[2021-04-22 09:54] jesseduffield commented on #1291
@peppy I've got this in a WIP PR now: https://github.com/jesseduffield/lazygit/pull/1293

Seems like whenever I select the second parent, the revert commit is not created and I get the following:
![image](https://user-images.githubusercontent.com/8456633/115694738-7e11ec80-a3a4-11eb-85f2-a8007b615a26.png)

Is this something you've experienced while invoking this command from the CLI?

[2021-04-22 09:57] peppy commented on #1291
To be honest, I don't have many scenarios where choosing the second is the correct option (`git` is usually smart about it, I think), but I'll give it some testing with various merge commits I have at my disposal and see the results.

[2021-04-22 11:47] lcc014 commented on #1290
Thank you for the confirmation.  In which build did lazygit stop supporting the usage of mouse ?

[2021-04-22 15:24] Deshdeepak1 opened #1294 "Don't work well with bare repo and dotfiles"
**Describe the bug**
I use git bare repo to manage my dotfiles .
So i used, laygit -g ~/.dotfiles -w ~/ , but pressing 'a' to stage all, but lazygit got hang .
I also used in vim using Floaterm. There it says file not found

**To Reproduce**
Steps to reproduce the behavior:
1. Create a bare repo
2. Add some dotfiles (e.g. .config/nvim/init.vim ) files using 'git'
3. Commit changes
4. Edit some fil

[2021-04-22 15:46] peppy commented on #1291
Off-hand I can't seem to find a case where `-m2` is required (or even works) for my scenarios..

That said, the revert operation now works quite well. I would hope that the dialog shows a commit message rather than the hash (since it's hard to make a decision based on hash alone, when there's no context).

[2021-04-24 08:32] enogrob opened #1295 "Lazygit requires sudo in order to run"
**Describe the bug**
We have chosen "Lazygit" to be used with our Development tools sometigo ago.
But lately after installtion in Ubuntu 18.04 using the suggested procedure, it only runs with sudo.

**To Reproduce**
Just try to run lazygit, and it will hang.

**Expected behavior**
Runs smoothly

**Screenshots**
-

**Desktop (please complete the following information):**
 - OS: 18.04 and Kali-Linux

[2021-04-25 21:07] parnmatt commented on #1280
I too would like to see this feature :+1:

[2021-04-25 22:45] parnmatt commented on #1224
Just started to use lazygit; I too noticed this issue.
Lazygit doesn't seem to behave well with worktrees; #1280 asks for it as a feature.

[2021-04-26 08:36] MiroslavMikus commented on #1269
Some more info to the comment [here](https://github.com/jesseduffield/lazygit/issues/1269#issuecomment-818853202). Since the new UI framework, I can't use any key combination anymore.
For example:
in order to enter `]` I have to press `ctrl+alt+9` since I'm using GER keyboard layout. In the version, 25.xx was everything just fine.

Since version 27 is not working anymore.
The easiest workaround is

[2021-04-26 12:06] lordlycastle commented on #899
I wonder if that'll work with `nvm` because you need to do `nvm use` but it would certainly be a good step forward to be able to specify a shell. The shells can be hooks like you say to do these actions before running the custom command. This would be a good feature regardless! 💯

It is the hooks that need the custom environment. We chose not to include `nvm use` etc. in hooks because people use d

[2021-04-26 13:33] HannesOlszewski opened #1297 "Crashes when resolving a merge conflict and changing the file in the `Files` panel"
**Describe the bug**
Crashes when resolving a merge conflict and changing the file in the `Files` panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Merge a branch with merge conflicts
2. Change selected file with conflicts with the `arrow-down` key
3. Lazygit crashes and prints error message

**Expected behavior**
The program not crashing.

**Desktop (please complete the following infor

[2021-04-26 15:40] jmcdl commented on #1297
I was about to report this exact same issue today on the same architecture.

[2021-04-26 17:21] mestihudson opened #1298 "Freeze during submodule open"
**Describe the bug**
When I select one of 6 submodules on Files/Submodules panel, lazygit freezes.

**To Reproduce**
Steps to reproduce the behavior:
1. open lazygit on terminal
2. navigate to Files/Submodules panel
3. press <enter> on selected submodule

**Expected behavior**
Navigate on specific submodule lazygit env

**Screenshots**
`lazygit --logs shows` at time of crash.

<img width="1920" al

[2021-04-27 07:30] MiroslavMikus commented on #1273
Hey @jesseduffield, sorry for the late response, the issue still occurs in the 0.28.1 release.

[2021-04-27 09:51] zaggerj commented on #1233
have you fixed this problem yet?

[2021-04-27 10:21] bin101 commented on #759
@jesseduffield
windows terminal currently doesn't support Win32 mouse input but it supports VT mouse input.

Maybe you can consider to support VT as well?

[2021-04-27 14:12] mwebb387 opened #1299 "Windows "cat" command "The syntax of the command is incorrect" when files use '/' in the path instead of '\'"
Describe the bug
The merge conflicts panel displays an error saying, "The syntax of the command is incorrect" rather than the merge conflict.

To Reproduce
Steps to reproduce the behavior:

Run a rebase that will produce a conflict.
Go to the files panel
Expected behavior
I would expect to see a typically conflict diff in the merge conflicts panel.

Screenshots
![image](https://user-images.githubu

[2021-04-27 14:24] OliverJAsh opened #1300 "When a conflict occurs during rebase, show which commit was being applied"
**Is your feature request related to a problem? Please describe.**
When I rebase and there's a conflict, I like to look at the original commit (pre-rebase) to help me remember what the commit was doing so I can handle the conflict appropriately.

When I perform a rebase using the git CLI, when a conflict occurs, git logs the commit it was trying to apply when the conflict occurred:

[code]

**Desc

[2021-04-27 19:08] rbukovansky opened #1301 "Weird characters in lines"
**Describe the bug**
There are weird characters shown instead of lines. I'm not sure if it is because of the font I'm using for my terminal or something else because I have tried all monospaced fonts, and it breaks with every font.

**Expected behavior**
Lines should not be broken.

**Screenshots**
<img width="489" alt="Screenshot 2021-04-27 at 20 49 29" src="https://user-images.githubusercontent.

[2021-04-28 12:35] theniceboy commented on #1233
well, aside from switching to a version before when that PR was merged, no, unfortunately.

[2021-04-29 02:54] prosoitos commented on #1274
Thanks so much @ristillu for all the troubleshooting.

@jesseduffield I did try delta, but liked diff-so-fancy a lot more.

Any hope of an upcoming fix? Now that the problem has been diagnosed, what are your thoughts? Thanks!!!

[2021-04-29 14:24] justisGipson opened #1302 "Commit tab blinking commit hash & file names"
**Topic**
Is there a way to toggle the blinking? In the `commit` tab, there's a box around the commit hash that blinks, and each file name in the commit tab blinks.

On:
- 2020 intel mbp
- big sur 11.3
- lazygit v0.28.1

**Your thoughts**
Just started using lazygit yesterday, and I love it. Except for the blinking. I dug through the readme and config docs, couldn't find anything to trigger this. A

[2021-04-29 14:39] justisGipson commented on #1302
I was able to turn this off in iTerm2 settings -> profile -> text -> toggle blinking text. I didn't realize that was on, but lazygit is also the only thing I've seen trigger the blinking text.

If this isn't worth a discussion, I can close. If it's an actual bug/feature that needs worked on, I could try to figure it out.

[2021-04-30 07:08] LegalOwl commented on #1271
I have got the exact same issue. At first I thought the keymapping for navigating in the left panes have changed.
Where exactly do I have to put the config you posted @MiroslavMikus?

[2021-04-30 07:58] MiroslavMikus commented on #1271
Hey @LegalOwl,
Depends on your OS. You can find the documentation in [docs/Config.md](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md) Folder in this repo.

[2021-04-30 08:00] jesseduffield commented on #1271
you can also press ‘o’ while the status panel is focused from within lazygit to open the config file

[2021-04-30 17:33] llk23r opened #1303 "Option to ignore whitespace changes"
**Topic**
Is it possible to ignore/toggle-hide whitespaces in diffs like in https://github.blog/2018-05-01-ignore-white-space-in-code-review? If yes, how do I do it?

**Your thoughts**
While it's most likely a Github thing to hide the whitespaces in PR reviews only, want to know if it's doable in lazygit.

[2021-05-01 15:06] geins commented on #1302
Same issue and same solution here. But also a strange problem where the colors of diff-so-fancy _emulation_ of delta are waaaay off.

How it looks in lazygit (blinking off by iTerm)
![delta](https://i.imgur.com/gq7Nggi.png)

while git diff shows it right:
![delta2](https://i.imgur.com/kzfoGnX.png)

config.yml is
[code]

.gitconfig is
[code]

Thank You so much!

[2021-05-01 15:07] geins commented on #1303
Would be really a nice option :)

[2021-05-01 16:46] prosoitos commented on #1302
I also have blinking issues with diff-so-fancy (see #1274).

[2021-05-01 17:05] prosoitos commented on #1274
For now, I decided to downgrade to v0.26.1.

It's not a long term solution, but I hope there will be a fix at some point and in the meantime, this was the best option for me.

[2021-05-05 19:33] Krismix1 commented on #1297
I am encountering the same issue. I have managed to put together a folder with a file that reproduces the error (see the attached zip), and identified where it fails.
The issue appears when a merge conflict was created, but the file under conflict was also renamed.
In this case, `git` inserts the original and new file name in the lines delimiting the conflict, e.g. `<<<<<<< Updated upstream:test
`

[2021-05-06 05:38] hoijui opened #1304 "Option: Windows Key does not close lazygit"
My window manager uses the Windows key as it's main meta-key,
so when switching to desktop 2, I press `Win+2`, for example.
`lazygit` quits when pressing the Windows key, so whatever I do within my window manager, closes lazygit, if it currently has focus.

I would like `lazygit` to ignore the Windows key.

Alternatively, I would like to be able to configure `lazygit` to ignore the Windows key.

P

[2021-05-07 14:52] jbrains opened #1305 ""open file" (o) fails on path containing a space"
**Describe the bug**
The "open file" command (keystroke `o`) fails when I run it on a file with a space in the pathname. (Maybe only in the filename, but I assume it would fail in other parts of the path.)

**To Reproduce**
Steps to reproduce the behavior:
1. Create an empty repository.
2. Create a text file with a space in the name.
3. In the "Files" panel, with that file selected, press `o` for

[2021-05-07 15:58] kylepollina opened #1306 "Tab keybinding does not work with new rendering library"
**Describe the bug**
Adding a keybinding for '<tab>' does not work in lazygit versions > 0.26.1

**To Reproduce**
Steps to reproduce the behavior:
1. Add this keybinding to the `config.yml` file
[code]
2. Open `lazygit`
3. Press tab
4. Focus is switched to the next panel instead of returning

**Expected behavior**
Re-mapping the tab key will work

**Desktop (please complete the following informati

[2021-05-08 20:08] edwinclement08 opened #1307 "Support for gitmoji"
**Is your feature request related to a problem? Please describe.**
Well, its a minor convenience right now, but feel that it would help a lot in standardizing commit messages.
Would like to integrate gitmoji in the commit flow, based on a config flag.

**Describe the solution you'd like**
Those who enable the feature can use the gitmoji cli within the commit window.
Gitmoji-cli(https://github.com/

[2021-05-09 07:39] jesseduffield commented on #1307
@edwinclement08 This sounds like a worthwhile feature. I don't think I'll be able to submit a PR for this anytime soon (others are welcome to though!) but you can access it from within lazygit via a customcommand which opens gitmoji in a subprocess. See the examples here: https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium

[2021-05-10 08:43] edwinclement08 commented on #1307
Will check it out.

[2021-05-11 03:15] tomzaku opened #1309 "Is there anyway that I can see the history command that lazygit did?"
Hi Thank you for this awesome tool, I would like to ask Is there any way that I can see the history command that lazygit did?

[2021-05-12 06:49] Armaldio opened #1310 "`post-merge` hook execute in the background"
**Describe the bug**
I'm using two hooks in my project: `pre-commit` & `post-merge`

When I commit, lazygit "close" itself, to show the hook log
It doesn't with post-merge.

**To Reproduce**
Steps to reproduce the behavior:
1. Add post merge hook
2. Pull using `p`
4. Wait for the hook to execute with no feedback

**Expected behavior**
On post-merge, lazygit should hide to show the hook log then be

[2021-05-13 02:17] peppy opened #1311 "Random crash during usage"
This came up while I was working. I can pull out more from screen recordings if the call stack alone doesn't give enough context.

[code]

Reproduced on 0.28.1.

[2021-05-13 13:12] justisGipson commented on #1311
Also seeing this as of Tuesday(past 2 days) this week.

Output:
[code]

[2021-05-13 16:28] amatosg commented on #1309
you can see it in the lower-right corner called "Command Log"

[2021-05-13 16:35] amatosg opened #1312 "Cannot enter the character # into the commit message"
**Describe the bug**
While using Windows and an Apple Magic Keyboard (I don't know if that's relevant, but still...), I'm not able to enter any special characters, including "#" (neither can I past it)

**To Reproduce**
Steps to reproduce the behavior:
1. Stage some changes
2. Press c and try to enter #

**Expected behavior**
The character # would appear in the commit message

**Screenshots**
Not

[2021-05-14 15:43] SethGunnells opened #1313 "No background color and no bold text in diff pane"
**Describe the bug**
I am not seeing background color or bold text in the diff panel. I recently upgraded from 0.25.1 to 0.28.1. In 0.25.1 I was not seeing this either. In 0.28.1, with a background color set, I was seeing blinking text. It also does not seem to be utilizing reverse coloring either if I try that. I'm using `diff-so-fancy`.

I find it interesting that other sections of lazygit will

[2021-05-14 21:20] sjathin commented on #1163
Hey ! I recently started using lazygit for my development purposes and a big fan of it.  I want to start contributing to lazygit with this issue :)

[2021-05-15 10:18] Chaitanyabsprip commented on #1294
@jesseduffield I am facing the same issue

[2021-05-15 20:35] piegamesde opened #1314 "Honour git config's defaultBranch when creating a new repo"
**Is your feature request related to a problem? Please describe.**
GitHub has switched to using `main` as the new, well, *main* branch for a while now. And it'd be cool if lazygit had better support for this. For example, I noticed commits turning from green to yellow after renaming the branch.

**Describe the solution you'd like**
Additionally to fixing the commit color, defaulting to `main` when

[2021-05-16 10:30] mjarkk commented on #1314
Ya agree,

As this change is a bit controversial in general i think we should try to respect both parties here and read `git config init.defaultbranch`.
I would personally prefer to default to the master if `init.defaultbranch` is not set as it's still git's default but at the same time github, gitlab and bitbucket now default to main so maybe it's worth defaulting to `main` if `init.defaultbranch

[2021-05-16 10:43] piegamesde commented on #1314
Yes and yes. I didn't know about this git configuration, it would be great to use it. In that case, it would also be reasonable to stick to `master` as default as long as `git` does.

[2021-05-16 21:21] kublaios opened #1315 "Merging a tag into the checked-out branch"
**Describe the solution you'd like**
I would like to be able to merge a tag into the checked-out branch. This would make it easier for me to pick the right commit, and also, improve traceability (if the commit message is generated in a format like "Merge {TAG_NAME} into {BRANCH_NAME}".

[2021-05-17 03:33] amatosg commented on #1312
Same happens to "[" and "]"

[2021-05-17 16:08] amatosg opened #1316 ""The syntax of the command is incorrect""
**Describe the bug**
When having conflicts, I cannot resolve the conflicts as shown in the picture

**To Reproduce**
Steps to reproduce the behavior:
1. Merge 2 branches that create conflicts
2. See the error.

**Expected behavior**
I should be able to resolve conflicts

**Screenshots**
![image](https://user-images.githubusercontent.com/42916953/118520784-f9469400-b6ff-11eb-9a7a-965ca2d312d2.png)

[2021-05-18 07:22] tomzaku commented on #1309
Oh, I installed the new version and found it :D

[2021-05-18 07:22] #1309 closed

[2021-05-18 09:23] FinallyFinancialFreedom opened #1317 "Can I focus on commit pane other than file pane when lazygit start?"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
git add and commit is easy in CLI. lazygit is too powerful for these.
Lazygit is powerful and convenient on git commit manipulating, so i always use it when i need to edit commits.
i hope start and focus on commit pane.

**Describe alternatives you've considered**
No

**Additional context**

[2021-05-18 14:34] Ryooooooga opened #1318 "Save patch files in TempDir"
**Topic**
Currently, patch files are saved in `<CONFIG>/lazygit/<PROJECT>/Jan_2 15.04.05.000000000.patch`, isn't it better to write this in `TempDir` ?

https://github.com/jesseduffield/lazygit/blob/069c7c9d3583c15aea34c08ff7c8be299c94f60d/pkg/commands/files.go#L217

**Your thoughts**
I want to save patches to `os.TempDir` or specify a different directory.

[2021-05-19 07:16] kiesel opened #1319 "customCommand keybinding misinterpreted"
**Describe the bug**
I have the following custom command:

[code]

However, when I'm in the files pane and display help, it shows up as `enter   lab mr create ...`, and also triggers when pressing enter (which is actually supposed to bring me into the diff view).

Pressing Ctrl-m does also invoke my custom command, so it somehow works.

**To Reproduce**
Put custom command into config, go to files,

[2021-05-19 11:01] paxel opened #1321 "lazy git fails in deleted dirs"
**Describe the bug**
typing lg in a deleted dir in a repo leads to

[code]

**To Reproduce**
Steps to reproduce the behavior:
* go into a directory in a git repo
* delete the directory (from a different shell)
* type lg / lazygit

**Expected behavior**
dunno, maybe try to navigate to parent dirs until it works :D

**Desktop (please complete the following information):**
 - OS: 18.04.1-Ubunt
 - Laz

[2021-05-19 17:24] rverst opened #1322 "Sorting tags descending"
I occasionally work with repositories that are quite large and have many tags; like a few hundred (e.g. versions with build numbers).
And especially with version-related tags, I'm most interested in the latest tags. So it would be nice to be able to change the sort order of the tags.

[2021-05-20 10:02] peppy opened #1325 "Resolving merge conflicts externally has weird UX"
Two weird UX scenarios around the resolution of merge conflicts when using an external means of resolution:

Firstly, the resolution is not detected by lazygit until the view all files which have outstanding conflicts. Even using the refresh key doesn't seem to help:

https://user-images.githubusercontent.com/191335/118959719-8a866680-b99d-11eb-8872-5fc2782b87e2.mp4

I remember mentioning this in

[2021-05-20 21:31] piegamesde opened #1327 "Paint background color"
**Is your feature request related to a problem? Please describe.**
When using terminal sharing applications like tmate or upterm, the people connected might have different terminal background colors. Thus, it will be unusably ugly for some of the users. This is because lazygit's background is "transparent", i.e. it uses the terminal's background color instead of the theme's.

**Describe the soluti

[2021-05-21 02:15] vitasapple opened #1328 "Is there a quick way to open the project with one click"
Every time I want to use lazygit, I need to open the terminal and type cd to the project, then type lazygit to start the commit operation, is there a quick way to open the project with one click?

[2021-05-21 09:53] mjarkk commented on #1327
Do you know about the light theme option in lazygit?: https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#light-terminal-theme

[2021-05-21 09:57] piegamesde commented on #1327
Yes. But unless the light theme also paints the background with a light color, this won't help my issue.

[2021-05-21 09:57] mjarkk commented on #1328
There is a switch to a recent repo option in lazygit by going to the status panel and pressing enter.
When outside of a repo folder you can also open lazygit say NO to creating a new repo and then the same menu also pops up.

[2021-05-21 10:28] mjarkk commented on #1327
I don't think this is currently supported and there have to be made changes to [gocui](https://github.com/jesseduffield/gocui) to make this work.

[2021-05-21 13:29] kristijanhusak opened #1329 "Keep track of commands history across the sessions"
**Is your feature request related to a problem? Please describe.**
For several times now I discarded something that shouldn't be discarded, and left the lazygit. Trying to be quick bites me in the ass. Discard is not tracked within a reflog, so undo doesn't work in this case.

**Describe the solution you'd like**
Recently you introduced command history, which is really great. It would save my ass

[2021-05-21 14:17] samaursa opened #1330 "WSL and Lazygit"
**Is your feature request related to a problem? Please describe.**
With WSL it is recommended to use `git.exe` instead to speed up certain operations. For example, in Lazygit, when trying to do a refresh, it takes a few minutes rather than just a second or two.

**Describe the solution you'd like**
Be able to specify the git executable e.g. `"/mnt/c/Program Files/Git/bin/git.exe"`

**Describe alte

[2021-05-24 01:38] vitasapple commented on #1328
thanks

[2021-05-24 02:01] andrewsav-bt opened #1333 "[Question]Can lazygit delete remote branch?"
Is it possible to delete a remote branch from lazygit? If yes, then how?

[2021-05-24 02:09] andrewsav-bt commented on #1333
Never mind, did not realize that selecting a remote shows branches for it

[2021-05-24 02:09] #1333 closed

[2021-05-24 11:42] #1328 closed

[2021-05-24 16:37] amatosg opened #1334 "Feature Request: Stash and Pop"
**Is your feature request related to a problem? Please describe.**
When I'm using gitflow and I need the create a feature while having uncommited/unstashed changes, I'm not allowed. When I hit `i`, and try to create a feature I have to cancel, then stash my changes, create the feature and finally pop the stash.

**Describe the solution you'd like**
When I create a feature by using the `i` shortcut

[2021-05-25 14:35] danielk333 commented on #1140
I was facing the same problem with `git version 2.7.4` and lazygit
[code]
It was fixed by upgrading to `git version 2.31.1`

[2021-05-26 13:31] mjk-gh opened #1336 "ISO-8859-15 character set not supported"
**Describe the bug**
My character set, ISO-8859-15 (Latin9), is not supported.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
lazygit should work without problems.

From what I see on the screenshots/casts, all characters could be replaced by even 7-bit ASCII variants:
- up/down arrow in status panel: ^/v or u/d
- "left/right/up/down arrow: navigate" in bottom lin

[2021-05-26 13:37] brunomueller93 opened #1337 "Compilation on Raspberry Pi 4 failes (see solution provided)"
Could not compile lazygit on a Raspberry Pi 4.

Solution to this issue was to run:
[code]
This then successfully ran the compilation and lazygit can be run on the Raspberry Pi 4.

I don't know much about Go but it seems that this x/term package seems to be missing on the Pi 4 by default?

[2021-05-27 14:03] Liberatys commented on #1303
If I understand you correctly then there is already a solution for this in git.

https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#_core_whitespace

[2021-05-27 14:31] Liberatys commented on #1183
This does not panic for me? Maybe it was fixed since the report?

[2021-05-27 14:49] grossjohann commented on #1183
I can confirm this no longer happens.  Using 0.28.1 from HomeBrew on macOS Big Sur 11.4.  Closing the issue.

[2021-05-27 14:52] Liberatys commented on #1183
👍🏻

[2021-05-28 07:23] okravets-intellias opened #1339 "Add support of all possible terminal color themes"
**Is your feature request related to a problem? Please describe.**
I have a light theme in my terminal emulator. I can't even try lazygit because apparently it does not know abouth color themes other than default one.

**Describe the solution you'd like**
Support other color schemes.

**Describe alternatives you've considered**
Not using lazygit :(

**Additional context**
[this is unusable](https:

[2021-05-28 08:32] mjarkk commented on #1339
Do you know about [/docs/Config.md#light-terminal-theme](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#light-terminal-theme)?
If not hopefully that will fix your issue :)

[2021-05-28 12:02] Liberatys commented on #894
If I'm not mistaken this should have been addressed by my pull request some months ago? @OliverJAsh Can you check? :D

[2021-05-28 12:37] bin101 commented on #759
To inform you all:

This got fixed with Microsoft Terminal Preview 1.9.14450.0

[2021-05-28 12:42] briandipalma opened #1341 "Support `.config`/XDG configuration location in MacOSX"
If both Linux and MacOSX supported the same directory for configuration it would make it easier to script machine setup. In fact some of the Rust based tools I use only support the `.config` directory, it'd be a rare developer who doesn't have that directory on their Mac.

[2021-05-28 13:41] mjarkk commented on #759
Great, does that mean we can now close this issue?

[2021-05-28 14:19] #894 closed

[2021-05-28 14:24] bin101 commented on #759
Yes

[2021-05-28 14:38] #759 closed

[2021-05-28 14:50] okravets-intellias commented on #1339
Will that fix everyone else's issues with any custom theme person wants? What a person likes to switch themes several times a day? Personally I like to switch every other month. Do I need to edit config every time or write my own automation around this?

[2021-05-28 17:14] mjarkk commented on #1339
Currently yes, you'll have to write some script around auto changing the config file.
There isn't really a good way of checking if the terminal has a light or a dark background sadly.

Maybe we can implement a shell variable for changing config file location so you can have 2 config file and the you'll only have to change one shell var to change the theme.

[2021-05-29 10:08] RakshithNM opened #1342 "How can i change color of the filename in Unstaged Changes area?"
**Topic**
It is hard to read the file name in the unstaged area and i am not sure how to change the color there

**Your thoughts**
My ~/.gitconfig for color is this
[code]
Not really sure what sets the color of th file name in the unstaged changes area, i am including a screenshot of lazygit.
(Not really sure if this qualifies to be discussion but i was wondering if there is a way to change the co

[2021-05-29 10:19] RakshithNM commented on #1342
I managed to load the ~/.gitconfig by using `useConfig: true` option, now the text seems to be visible becuase it picks the color from the config, but it is a bit slow, but i can work with that

[2021-05-29 10:49] RakshithNM commented on #1342
actually no, it gets slower as the size of the file increases. Is there something i am missing. Can this be made more performant?

[2021-05-29 19:22] lkhphuc opened #1343 "lazygit doesn't read EDITOR / GITEDITOR from shell."
lazygit doesn't read EDITOR / GITEDITOR environment variable from current shell.

**To Reproduce**
`EDITOR=nvim && lazygit` will edit file in `vi` but `EDITOR=nvim lazygit` will edit file in `nvim`.

Steps to reproduce the behavior:
1. Run `EDITOR=nvim`
2. Run `lazygit`
3. Press `e`
4. File opened with `vi`.
The same still happen with $GIT_EDITOR, not just $EDITOR.

**Expected behavior**
Open file

[2021-05-29 20:29] thislooksfun opened #1344 "Unable to add a second line when editing a commit message"
**Describe the bug**
When editing a commit message (commits panel -> press 'r') I am not able to insert a new line (meta + enter). I can add new lines to the main commit message dialog, so it's not an issue with my meta.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new commit
2. Navigate to it in the commits panel
3. Press 'r' to edit the commit message
4. Press meta + enter

**E

[2021-05-29 20:33] thislooksfun opened #1345 "Crash when deleting second line in commit dialog"
**Describe the bug**
When pressing backspace on an empty second line of the commit message lazygit crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Stage some files
2. Press 'c' to start a commit
3. Enter something in the commit message
4. Press meta+enter to insert a new line
5. Press backspace

**Expected behavior**
I expect it would remove the line, like it did previously.

**Scre

[2021-05-30 03:50] #1297 closed

[2021-05-30 05:29] #1108 closed

[2021-05-30 05:33] jesseduffield commented on #1330
This makes sense. The solution would be to find all the places we're calling `git blah` in the codebase and have the `git` part substituted for a variable, where that variable can be set by the user in the lazygit config.

[2021-05-31 07:42] KeqiZeng commented on #1339
Hi, I find the difference between `lightTheme: true` and `lightTheme: false` is only the color of some fonts. If we can choose a color for these fonts, just like we can choose a color for `activeBorderColor`, then it can work good both in light and dark terminal.

[2021-06-01 09:05] kiesel commented on #1319
Just discovered that not all keys are allowed for custom keybindings, according to https://github.com/jesseduffield/lazygit/blob/master/docs/keybindings/Custom_Keybindings.md

So, this is not a bug - I'll close this issue.

As a note, I'd like to say that it is not expected, since many other characters work in combination with <c-?>, so I assumed the regular alphabet would work.

Thanks, anyways,

[2021-06-01 09:05] #1319 closed

[2021-06-03 02:25] andrewsav-bt opened #1349 "Crash on setting upstream with "ambigous" name."
**Describe the bug**

This is somewhat related to https://github.com/jesseduffield/lazygit/issues/884 and https://github.com/jesseduffield/lazygit/issues/833. Lazygit crashes if one uses the "default" workflow of not renaming the remote branch when creating a local one from it, and then trying to set the upstream branch

**To Reproduce**

Steps to reproduce the behavior:

- Go to Branches Panel
-

[2021-06-03 02:43] AndrewSav opened #1350 "`e`, "Edit" on Windows does not seem to work"
**Describe the bug**
On Windows, pressing `o` on a file opens it (also for editing), pressing `e` on a file on the other hand results in a error, and does not open the file.  See screenshot below for the error.

**To Reproduce**
Steps to reproduce the behaviour:

- Move selection to a file
- Press `e`

**Expected behaviour**

To be honest, I'm not sure how behaviour should be different from `o`. W

[2021-06-03 12:30] timsofteng opened #1351 "lazygit chashed after merge"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
I've just merged master branch into another branch. Idk how to reproduce it.

![image](https://user-images.githubusercontent.com/51912173/120644848-77d15e80-c480-11eb-9064-7e342cf9ee2a.png)

**Desktop (please complete the following information):**
 - Linux Debian testing
 - lazygit 0.28.1

[2021-06-03 12:49] FinallyFinancialFreedom opened #1352 "merge, many conflict, so i launch lazygit to resolve it, then i get this."
![image](https://user-images.githubusercontent.com/2133400/120647421-2be8de80-c4ad-11eb-95d4-1f3fbb2968c6.png)

[2021-06-04 08:47] banjo opened #1353 "Cannot change tabs on Windows"
**Describe the bug**
I cannot change tabs, Lazygit only crashes. This is on Windows 10, Lazygit 0.28.1. Git-bash and WSL. Installed from Scoop.

**To Reproduce**
Change tabs via the `x` menu.

**Expected behavior**
It should change tabs.

**Screenshots**
![example](https://i.imgur.com/zsTcO1Z.gif)

**Desktop (please complete the following information):**
 - OS: Windows
 - Git bash and WSL2
 - Lazy

[2021-06-04 12:24] nikbrunner commented on #1352
I just the same error, and came here looking for a solution.
I wanted to rebase and got a lot of conflicts I need to resolve.

[2021-06-04 18:30] Sebclem opened #1354 "Support Markdown emoji"
**Is your feature request related to a problem? Please describe.**
I'm using a lot of markdown emoji in my commits message, but in lazygui, the emoji are not parsed.

**Describe the solution you'd like**
Replace all markdown emoji by it's Unicode equivalent in commits list.

EDIT:
I have found this [file](https://github.com/mcdee/go-markdown-emoji/blob/master/emoji.go) that can be useful

**Descri

[2021-06-04 18:54] mjarkk commented on #1354
Nice idea, May i add that when this gets implemented we still should have a setting to disable it as there are a lot of linux distros that don't come with emoji support out of the box

[2021-06-04 19:15] Sebclem commented on #1354
Yea adding the ability to disable parsing can also be interesting for large got repo I think

[2021-06-04 20:11] n12o commented on #1247
default to file tree view sounds very sensible.

as on showing the command log I would say it's the opposite: don't show by default. I don't know what I would use it for myself and not sure what newbies would get from it... learning git commands? Also it's easier to enable it if you need it instead of modify the settings.

[2021-06-05 00:56] #1322 closed

[2021-06-05 03:22] jesseduffield commented on #1354
I like the idea, and it seems simple enough to implement. The large-git-repo thing is definitely one concern I have. If our display logic had it that we only rendered the current page shown in the commits panel, it wouldn't matter how large the repo is, but currently we 'render' all the commits at once.

[2021-06-05 03:25] jesseduffield commented on #1352
@nikbrunner @FinallyFinancialFreedom could you see if the issue is resolved by this PR: https://github.com/jesseduffield/lazygit/pull/1348/files

[2021-06-05 03:57] jesseduffield commented on #1062
@PGScully I agree. In the case where both exist I would use master. I feel like in repos where `main` has been opted for, it's less likely that we'll see a `master` branch compared to vice versa.

[2021-06-05 03:58] FinallyFinancialFreedom commented on #1352
i will wait until a new version in homebrew. i find this pr is merged 2 minutes ago.

[2021-06-05 04:11] jesseduffield commented on #1314
Related issue: https://github.com/jesseduffield/lazygit/issues/1062

I agree with all the above :)

Our current ethos is to let the git CLI decide what to do whenever possible so that our code stays simple and so that the user can freely switch between using the CLI and lazygit without weird differences in behaviour. In this case that means just telling git to create a new repo and whatever branch

[2021-06-05 04:16] jesseduffield commented on #1352
Should be fixed in v0.28.2

[2021-06-05 04:16] jesseduffield commented on #1351
Should be fixed in v0.28.2

[2021-06-05 06:11] #1352 closed

[2021-06-05 06:12] FinallyFinancialFreedom commented on #1352
yes, i just confirmed this.

[2021-06-05 06:12] FinallyFinancialFreedom commented on #1352
yes, i just confirmed this

[2021-06-05 06:53] #1351 closed

[2021-06-05 07:09] nikbrunner commented on #1352
@jesseduffield Works thank you :)

[2021-06-05 08:48] n12o commented on #1247
May I also add that configuration for better highlighting of selected lines should be the default since judging by [mention in project's homepage](https://github.com/jesseduffield/lazygit#im-struggling-to-see-the-selected-line) it is a widespread issue.

[2021-06-05 21:39] Krismix1 commented on #1353
From my testing it seems the problem only occurs when you try to switch the tab via the help menu. @banjo could you verify that if you use the `[` and `]` the tab is switched successfully?

If I try to switch to the previous tab using the menu option, I get a similar but a bit different error:
[code]
I think I have a fix for it, hope to open a PR for it tomorrow.

[2021-06-06 08:26] banjo commented on #1353
Unfortunately, changing tabs with `[` or `]` does not work for me as I have a Swedish keyboard layout. In Sweden, you access  `[` with `alt gr + 8`. When I do that, nothing happens. I also tried the shortcut that is used on a US keyboard, but nothing happens in that case as well. That is why I use the menu to change tabs. Maybe there is some way to change keybindings?

[2021-06-06 08:53] fitzterra commented on #1164
This is also a feature I miss very much in lazygit and I started looking at how to enhance this.

The way lazygit handles commit-with-editor is to simply start a subprocess with the command `git commit`. Instead of changing lazygit for this specifically, from git 9.2.0 onwards, you can make git always use verbose mode when committing:

`git config --global commit.verbose true`

reference: https://

[2021-06-06 09:26] banjo commented on #1350
I have the same problem, only that I use nano/micro to open files with the `e` command. It specifies the wrong path on windows it seems, so it won't open the correct file (or any file at all).

![wrong file path](https://i.imgur.com/3sGDFzr.png)

[2021-06-06 14:03] c02y commented on #1164
@fitzterra Thanks, it works.

[2021-06-06 14:03] #1164 closed

[2021-06-06 23:07] suessflorian commented on #1233
Is there a temporary work around for this?

[2021-06-06 23:12] jesseduffield commented on #1233
@theniceboy @suessflorian @zaggerj Looks like tcell made some big changes recently. I've bumped tcell on the master branch, and I tried reproducing the error but couldn't (though I didn't attempt to reproduce the error initially so it could be a difference in environment).

Could one of you check to see if the issue is fixed on master, on your end?

[2021-06-06 23:17] suessflorian commented on #1233
Can confirm master has fixed this;

[code]

[2021-06-06 23:26] suessflorian commented on #1233
Side note - seems like escape doesn't exit `lazygit` anymore. Mind you should be using `Ctrl-c` to abort anyways.

[2021-06-06 23:51] jesseduffield commented on #1233
That's a default configuration which has changed: because the escape key was used to exit the current context (e.g. a popup, or a sub-panel) it caused problems when people wanted to escape all the way back to the top context without actually exiting. So now the way to quit is ctrl+c or 'q', but you can configure to allow `escape` again (the specific configuration key escapes me now (pun intended))

[2021-06-07 00:22] jesseduffield commented on #1233
At any rate I'll close this issue now :)

[2021-06-07 00:22] #1233 closed

[2021-06-07 00:23] jesseduffield commented on #1274
@prosoitos the master branch has an updated tcell version which recently fixed an issue in another ticket. Could you give that a try?

[2021-06-07 22:53] andrewsav-bt commented on #1349
"origin/" stripping aspect has been fixed in https://github.com/jesseduffield/lazygit/commit/bc044c64b2315c3fb8c523fa0ae7ef71bcba3b31

[2021-06-08 03:00] ristillu commented on #1274
@jesseduffield it's still blinking for me with commit 9fdf92b2.

[2021-06-09 09:04] bin101 opened #1360 "Lost commit message if commit signing failed"
**Describe the bug**
With #30 a sub process to input the gpg passphrase was introduced. I use a YubiKey dongle for my GPG key. If I forgot to insert it into the device, the sub process will start but fail. My commit message will be lost and I have to type it in again.

**To Reproduce**
Steps to reproduce the behavior:
1. Forget to insert your GPG dongle
2. Write a commit message and hit enter
3. S

[2021-06-10 04:40] peppy commented on #1325
To bump this with another use case which I regularly encounter: I've been keeping several branches up-to-date with a rapidly changing `master`. Usually this involves fixing 3 or 4 conflicts amongst hundreds of files changed. Locating the files with conflicts from within lazygit is not a simple task:

https://user-images.githubusercontent.com/191335/121465866-60025900-c9f1-11eb-924b-72507a83c1d6.mp

[2021-06-11 12:14] Liberatys commented on #988
@jesseduffield I'd work on this if that is okay with you? Has been raised by multiple other people

[2021-06-11 21:37] samaursa opened #1362 "Search the full log as well"
I realize that a search feature is already implemented in commits/local-branches/files windows, however I regularly search the main graph (with all branches). I have to use a GUI like Fork for searching and would like to avoid it and stay in lazygit.

Is there a chance of adding search to the window on the right as well?

![image](https://user-images.githubusercontent.com/817849/121751184-ac29c800

[2021-06-11 21:43] samaursa opened #1363 "Switch between multiple log views"
I use the log graph in a couple of different ways. One is to quickly see all the commits, in which case I use `oneline` with a cutoff so that many commits are displayed in the log graph in `1 -> a`. Sometimes, I need to switch back and forth between `oneline` and the default (since the default gives me a lot more default of a particular commit).

Currently, I have set the `allBranchesLogCmd` to be

[2021-06-12 01:28] jesseduffield commented on #988
@liberatys sounds good :)

[2021-06-13 16:47] dpacbach commented on #1138
ugh... finally found the cause of this.  It is due to the following section in my `~/.gitconfig` file:

[code]

When I comment out that section, lazygit displays the expected colors.  I suppose I can just remove this now that I only use lazygit to view diffs, but out of curiosity, is there any way that we can make lazygit work with those colors?

[2021-06-14 07:45] jesseduffield commented on #1325
@peppy sorry that I haven't gotten around to tackling this on yet. As for viewing files with merge conflicts, you can switch to the flat view with the backtick key which has merge conflict files sorted to the top by default

[2021-06-14 22:31] #1151 closed

[2021-06-15 23:12] prosoitos commented on #1274
diff-so-fancy got updated yesterday on Arch Linux and the changed parts are now very different (they are displayed in reversed color).

This fixed the problem for me, so I can now use the latest version of lazygit again (and, as an added great news, the package made it to the Arch Linux Community package repository!!! 😄 ).

[2021-06-15 23:19] prosoitos commented on #1274
So, whatever was a problem probably still remains and could still be an issue with some future version of diff-so-fancy or other pager. But since the problem is resolved for me for now, I am ok to close this issue.

But I will wait to hear from @ristillu before doing so in case the diff-so-fancy update did not solve the issue on his end.

[2021-06-16 01:19] ristillu commented on #1274
Weird. I updated diff-so-fancy (by updating my cloned repo) to their latest version v1.4.2 and it's still blinking for me.

[2021-06-16 05:00] #1353 closed

[2021-06-17 08:02] Rambhosale opened #1365 "Option to change upstream branch"
**Is your feature request related to a problem? Please describe.**
Unable to change the upstream directly from lazygit.

**Describe the solution you'd like**
An option or a shortcut to quickly change the upstream branch from a list of existing remotes, if this feature already exists can you point out how to use it?

**Describe alternatives you've considered**
Right now I change the upstream from t

[2021-06-17 08:37] Rambhosale opened #1366 "Extra tab gets opened on pressing tab key in custom command input"
**Describe the bug**
An empty tab gets opened when `tab` is pressed in "custom command" input
This extra tab disappears on `esc`, but the command input stays persistent when a valid tab shortcut (ie 1, 2 ) and only way to close is to quit and open again

**To Reproduce**
Steps to reproduce the behavior:
1. Press `:` and press `tab` key   => extra tab gets opened on the top left section
2. Press `1

[2021-06-17 19:39] Liberatys commented on #988
@jesseduffield Nice :D 👍🏻 Will tackle it over the coming weekend.

[2021-06-18 05:56] MuratUrsavas opened #1367 "Got SIGSEGV while returning to lazygit from command prompt"
While I was returning lazygit after editing the commit message via editor (nano) in a submodule, it got crashed with SIGSEGV.

Here's the printed backtrace:

[code]

[2021-06-18 06:04] MuratUrsavas commented on #1075
I have waited to receive the latest version of Lazygit and then forgot to report back. Was pretty busy with hardware design, not software development :) Since I've returned to software development recently I was able to check it again.

It looks like the issue has been fixed but we've lost HOME / END key functionality. Not a big problem but you may not be intended to remove this functionality.

By

[2021-06-20 09:30] aiotter opened #1368 "Cannot display stroked characters in diff view"
**Describe the bug**
Expected view(`git diff`):
<img width="568" alt="image" src="https://user-images.githubusercontent.com/37664775/122668039-39ae9b80-d1f1-11eb-9562-1d339f7670da.png">

Current view in lazygit:
<img width="588" alt="image" src="https://user-images.githubusercontent.com/37664775/122668054-4af7a800-d1f1-11eb-980f-6195b884571d.png">

**To Reproduce**
On `.gitconfig`:
[code]

On `con

[2021-06-21 07:56] josefglatz opened #1370 "Don't cd to git root after exiting lazygit"
It would be nice to have a decision wether the directory is changed to git root after exiting lazygit.

Is this already possible? If not, an option in the config file or via ENV would be really helpful.

[2021-06-21 09:04] MuratUrsavas opened #1371 "Recursive submodule checkout"
If I'd like to check out an older commit, lazygit only checks out that commit in the main repo, not the related submodules. This creates also a problem if the user clones a repo for the first time. I usually get a false idea that I haven't done something wrong (because submodules are marked as modified) but it is because they are not in sync with the current commit.

It would be good if we could h

[2021-06-23 05:23] PGScully commented on #1062
Interestingly, Oh My Zsh's git plugin git_main_branch() function tests for main, then trunk, and if neither is found uses master.

https://github.com/ohmyzsh/ohmyzsh/blob/master/plugins/git/git.plugin.zsh#L32

[2021-06-23 10:03] Raingram commented on #1162
I just got this same issue, since you deprecated the ubuntu PPA, I thought using `go get github.com/jesseduffield/lazygit` would be the next best method.

So, I installed golang, then used `go get github.com/jesseduffield/lazygit` to install lazygit.
I can only assume this is what you mean when you say, "running it directly from source"?

@jesseduffield are you saying that to have the version info

[2021-06-26 15:20] freezboltz commented on #1294
Sudden crash in my machine after cd into my bare repo and launched lazygit.

[2021-06-28 08:43] jonpoveda commented on #823
Seems fine to me, but I also like to see what's not in the "default" branch (now it's `master` but I like the idea of set it to another branch, like `develop`). So.. for that it seems we would need more colours or just a way to setup this "default branch" on-the-fly.

[2021-06-28 11:36] lesavik commented on #1294
My problem is a bit different.

When I run the following alias it starts to consume a lot of resources.
[code]
I think it starts analyze all new files, and due to a big number of them, it's never ending

For me *LazyGit* is working just fine with a small *Git bare* repository, but not for the `$HOME` directory.

*git-status* has option `--untracked-files='no'`, it would be nice to have similar one

[2021-06-28 15:07] guban opened #1374 "Error when cherry-picking a merge commit"
**Describe the bug**
Cherry-picking a merge commit results in error `Rebasing (1/1)error: commit ... is a merge but no -m option was given.`

**To Reproduce**

Try cherry-picking any merge commit, or use this script to create a test git repo with a merge commit that is ready to be cherry-picked:
[code]

Actual behavior: lazygit shows an error message `Rebasing (1/1)error: commit ... is a merge but

[2021-06-29 01:21] freezboltz commented on #1294
![lazygit_bug](https://user-images.githubusercontent.com/58996975/123722674-6f651b80-d8a6-11eb-8dbb-d4b6b1903e95.png)

[2021-06-29 04:18] peppy opened #1375 "Segfault during merge conflict (in bad state)"
**Describe the bug**

While merging on a project in a non-optimal state, lazygit will segfault during startup

[code]

**To Reproduce**

I saved a copy of my full git clone to reproduce, if the above error is not sufficient. Let me know if you'd like this and I'll email it across (may contain confidential information so don't want to post here).

**Screenshots**

![20210629 131745 (iTerm app)](htt

[2021-06-29 20:42] lesavik commented on #1294
@freezboltz, If I understand your screenshot correctly, than the problem here is that LazyGit **not handles** this "exception"  properly, the error **should** be here.

I have the same error if I try to cd into a *Git bare* repository. No one should cd into a *bare* repo.
To use *Git* or *LazyGit* with a *bare* repository, two properties expected:
 `--git-dir='<bare_repo_loc>'`,
`--work-tree='<fil

[2021-07-02 16:23] grossjohann commented on #1272
Actually, I think this is true for everything that is shown in the right hand panel, the panel that is scrolled with J/K and the page up/down keys.  For example, if that panel shows the list of commits (output of `git log`, mostly), then that also scrolls back to the top.

[2021-07-05 01:53] chirino opened #1379 "Unstaging/Modifying parts of the last commit"
**Topic**
Sometimes I include too many changes in my last commit.

Is there an easy way drill into the last commit and select files or parts of files and then remove them from the commit but to keep the changes in my working tree so it's available to add in the next commit?

Here's an example of being able to do something like that with GitX:

https://user-images.githubusercontent.com/103255/12440

[2021-07-05 02:06] jesseduffield commented on #1379
The way to do this is to press enter on the commit to view that commit's files and then press space on each commit to add it to a patch (or press enter again and stage line-by-line) and then when you've got the patch you want, press ctrl+p to open the patch menu and choose to pull the patch out into the index

[2021-07-08 10:53] David-Else opened #1380 "README out-of-date, Copr has Centos 8 builds"
Hi, thanks for the great software!

Seems your README is out of date, it should say Centos 7 and 8:

https://github.com/jesseduffield/lazygit/blob/master/README.md#fedora-and-centos-7

I see there is Centos 8 https://copr.fedorainfracloud.org/coprs/atim/lazygit/, and have installed it :)

[2021-07-09 12:58] jbrains opened #1381 "Add a tag _with a message_ to a commit"
I would find it very pleasant to be able to add a message when creating a tag. I know that I can do this from the command line, but I would like to have the option of adding a message to the tag when I use the "Add tag" command.

Clearly this is (merely) a UX nicety. Perhaps this becomes a simpler feature for a new contributor to work on. I don't feel comfortable enough with golang to do it myself

[2021-07-11 02:33] friendbear opened #1382 "Patch pane, can`n not open file."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Patch pane'
2. Press x, select o
  * **File not found error**
<img width="704" alt="lazygit 2021-07-11 at 11 30 36" src="https://user-images.githubusercontent.com/4956799/125181015-bacee080-e23b-11eb-9c0d-8ff1c4a0b2ef.png">

**Expected behavior**
A clear and concise

[2021-07-11 08:00] echaya opened #1383 "Chinese characters are not cleared after moving to the next commit / file / etc"
**Describe the bug**
Chinese characters are not cleared after moving to the next commit / file

**To Reproduce**
Steps to reproduce the behavior:
1. move to any file / commit that contains Chinese characters
2. move to the next file / commit
3.  (half-width) Chinese characters are kept on the screen

**Expected behavior**
Chinese characters to be cleared when the new file / commit info is rendered

[2021-07-14 11:41] Videl opened #1384 "Using custom pager in full diffing panel / word wrapping in diff"
Hello,
**Describe the bug**
My issue is diffing long lines:
![20210714_13h37m52s_grim](https://user-images.githubusercontent.com/123554/125615922-da47e758-43d6-4001-9bea-9fa2002fa595.png)

I tried changing the pager to ydiff (config from https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Pagers.md) but it works when browsing the changed files, but not when staging hunks, it goes back

[2021-07-14 19:12] kirsa opened #1385 "Lazygit crashes on startup with panic index out of range"
**Describe the bug**
The following is the result of attempting to launch lazygit inside a git repo

❯ lazygit
panic: runtime error: index out of range [1] with length 1

goroutine 21 [running]:
github.com/jesseduffield/lazygit/pkg/commands.(*BranchListBuilder).obtainBranches(0xc00013f6f0, 0x0, 0x0, 0x0)
        /private/tmp/lazygit-20210605-59301-6hnv7l/lazygit-0.28.2/pkg/commands/loading_branches

[2021-07-15 11:45] matejcik opened #1386 "Delta does not color whole lines"
**Describe the bug**
when using `delta` as pager, the background color for changed lines only goes up to EOL

**To Reproduce**
follow instructions to set up delta: https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Pagers.md

**Problem behavior**

![image](https://user-images.githubusercontent.com/596073/125782634-2e7a0020-87ac-469a-bb69-fb2df887ec0e.png)

**Expected behavior**
this

[2021-07-15 12:44] matejcik commented on #1386
presumably you either need to pass `--width` to delta, or somehow pass the "terminal" width.

I can try to implement the former, either by something like auto-figuring-out options for `delta`, or some sort of configurable parameter on the command line?

[2021-07-16 14:22] FoamScience opened #1388 "Support for quering refs in custom commands!"
First of all, thanks for building such a useful piece of software; been using lazygit for a while and I really like it!

## Is there a way to (dynamically) generate menu entries out of remote branches for example

I have this custom command in my config:
[code]
Which actually fetches some branch from a remote and then checks out the head of that branch (Useful in evaluating PRs
before merging outs

[2021-07-16 19:01] #1354 closed

[2021-07-16 19:16] mjarkk commented on #1354
The PR is merged if you're building from source or once a new release is out you can enable this feature with:
[code]

[2021-07-21 12:09] ebudan commented on #1385
Similar problems on Fedora 34, both latest packaged version and source-built all the way back to lazygit 0.26. This is with a particular repository - several others seem to work fine, and this one worked fine last time I checked a couple of weeks ago.

I'll be happy to provide more details if someone gives a hint as to what I should be looking for.

[code]

BTW running lazygit in a non-repository

[2021-07-21 13:31] aidedinertial opened #1391 "Enable git completion via <Tab> in custom command"
**Is your feature request related to a problem? Please describe.**

Lazygit makes it easy to navigate submodules, however, running a complex command in the submodule usually requires "cd /path/to/submodule" first. It would be very handy to have git-completion inside a custom command.

Currently, pressing <Tab> inside a custom command causes the application to change focus to an empty rectangle. I

[2021-07-22 09:58] mjarkk commented on #1385
@kirsa can you show me what the output of the following command is in the same repo?
[code]

[2021-07-22 10:04] ebudan commented on #1385
Found the reason for my particular case: there were programmatically generated files with a trailing linefeed in the file name (bug), and that confused the `git status` line splitting logic. Those probably got generated running some tests before the buggy linefeed was fixed.

Not a lazygit bug per se, and probably not the same bug as the original on this page. (Maybe a file name safety scan would

[2021-07-22 10:08] mjarkk commented on #1385
@ebudan Ah, the way lg is build i'm not sure if we can fix those problems.
I've tried to add an extra check in #1392 would you like to check that one out to see if it doesn't panic with your files?

[2021-07-22 10:26] ebudan commented on #1385
I'll confirm your fix will survive the silly file names. It will, however, only show `foo` once in the following situation:
[code]
We should only be getting empty entries if a filename is malformed. Since no-one should be making names like this, would it be better to log a warning about a bad filename and exit? That would give a bit of a hint to anyone making a mistake.

[2021-07-22 10:40] mjarkk commented on #1385
Good point,
From your output and a quick local test it seems like git wraps the wired filename in "" so it's probably possible possible to detect that and at least show a warning the application might be unstable with such files.

[2021-07-22 10:45] ebudan commented on #1385
@kirsa can you run the following command in the repo causing problems and paste the output?

[code]
Looks like somehow the formatted string lazygit is receiving doesn't contain the | separators.

[2021-07-22 10:53] ebudan commented on #1385
@mjarkk let's move further discussion of loading_files.go to #1392?

[2021-07-22 10:58] ebudan commented on #1385
Tested quickly -  OSCommand.Run...() or some deeper call is filtering those quotes away, looks like this won't help.

[2021-07-22 17:53] Axel-Jacobsen commented on #1223
I can confirm I am getting this on a fresh install from `brew install jesseduffield/lazygit/lazygit`, 07/22

[2021-07-22 17:59] mjarkk commented on #1388
Feature implemented by #1390
For docs about this feature see [/docs/Custom_Command_Keybindings.md](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md#custom-command-keybindings)

[2021-07-22 17:59] #1388 closed

[2021-07-23 11:35] matryosha opened #1393 "Pass the line number when editing file"
There are editor that can receive a line number along side the file name to quickly jump to desired place in the file but I don't see how to do this with lazygit. Is there a way to pass a current line number to edit command when browsing in diff window?

[2021-07-23 11:40] kirsa commented on #1385
@mjarkk Thanks for looking into this.

Here is the result.
❯ git for-each-ref --sort=-committerdate --format="%(HEAD)|%(refname:short)|%(upstream:short)|%(upstream:track)" refs/heads

warning: ignoring ref with broken name refs/heads/main 2
*|main|origin/main|

[2021-07-23 11:46] mjarkk commented on #1385
Tried to simulate my env as closely to @kirsa 's but lazygit still works fine so i presume there is something special going on with the repo lazygit was opened in.

This is as close as i could get matching the authors system details:
OS : macOS Big Sur 11.4
Terminal : iterm2 Build 3.4.8
Git : version 2.32.0
Homebrew : 3.2.3-59-gb18bbac (not equal to autor)

[2021-07-23 12:28] mjarkk commented on #1341
I think we are not going to make the above the default because:
- [The XDG library we use returns the Mac OS specific directories](https://github.com/OpenPeeDeeP/xdg#locations-per-os)
- Most users already have a config file and have to do something with that.

If we would start over i think `.config` would indeed a better solution for a cli applications but i just don't think it's worth changing t

[2021-07-24 16:37] kirsa commented on #1385
@mjarkk thanks for trying it out. Trying out lazygit in different repos works so I think it's just an issue with the repo I opened it in. Closing this issue.

[2021-07-24 16:37] #1385 closed

[2021-07-25 07:56] Cokile commented on #1339
Is it possible to support hex color too?

[2021-07-25 09:51] mjarkk commented on #1339
@Cokile No but i think we can quite easily support it will look into it!

[2021-07-25 10:19] mjarkk commented on #1339
@Cokile Can you checkout #1395 ?

[2021-07-25 11:03] Cokile commented on #1339
@mjarkk I tried the following steps:

1. clone lazygit to Desktop:
[code]

2. change config to:
[code]

3. execute `go install && go run main.go`

The selection background color is not shown at all. However the color is rendered correctly if I change `'#00ff00'` to `red`.

I'm a newbie to Go, am I doing something wrong?

FYI:
OS: MacOS 11.4
Terminal: Alacritty (Latest version)
Shell: Fish (Latest

[2021-07-25 12:49] mjarkk commented on #1339
Yea that's probably because my changes do not work on text.
The library we use for giving text color doesn't support True Tone and I'm not yet sure what todo about that 🤔

[2021-07-25 13:02] mjarkk commented on #1339
Maybe we can use one of these libaries to color text as they seem to support rgb colors:
- [gookit/color](https://github.com/gookit/color)
- [logrusorgru/aurora](https://github.com/logrusorgru/aurora)

[2021-07-26 08:54] ebudan commented on #1385
OK, so if I'm not reading that wrong, there's a branch name with a space, which confuses git, and the error confuses lazygit. (I haven't encountered broken repo names, anyone more familiar with that warning feel free to correct.)

I'll open a new minor bug that summarizes the issue and refers here. Ideally lazygit would inform the user of parsing inconsistency, but at least a record will inform th

[2021-07-26 09:12] mjarkk commented on #1385
@ebudan opened #1396, that should at least fix the panic

[2021-07-26 09:42] mjarkk commented on #1343
I'm not sure what we can do about that or if we even should do anything about it.
We use go's build in [os.Getenv](https://pkg.go.dev/os#Getenv) and that's the intended way of getting environment variables.
I suspect A LOT of programs work incorrect if they are supposed to support this.

[2021-07-26 10:49] matejcik commented on #1386
this is especially a problem for empty-line differences :eyes:

[2021-07-26 15:06] mjarkk commented on #1314
@piegamesde created #1397 it should fix the commits pannel commit colors if you are using the "main" branch name

[2021-07-26 18:25] lkhphuc commented on #1343
Oh sorry, just take another look and I saw a mistake. I forgot to export the variable for subprocesses.

[2021-07-27 06:39] carstengehling opened #1399 "With Ubuntu PPA deprecated, what is the best way to install on Ubuntu?"
I just saw, that the Ubuntu PPA has been deprecated, and indeed the latest release is not available through PPA.

So I just want to know, when running Ubuntu (or Mint) what is the preferred way to install Lazygit and automatically receive updates from now on?

[2021-07-27 08:29] mjarkk commented on #1399
Quoting @dawidd6 from https://github.com/jesseduffield/lazygit/issues/1248#issuecomment-817279859

[2021-07-27 08:30] dawidd6 commented on #1399
Use Homebrew. It runs on Linux too.

[2021-07-27 08:32] #1399 closed

[2021-07-27 10:28] #1305 closed

[2021-07-27 12:32] jesseduffield commented on #1341
I'm cool to support this, we'd just need to find a way to make it backwards compatible. I don't really like the idea of us moving the current config files to a different directory upon lazygit being updated, but am willing to be persuaded that's actually a good move.

If we don't go ahead with a migration, we could do use the following rules:
1) if the user has a `.config/lazygit` directory, use i

[2021-07-27 13:49] jbrains commented on #1305
Many thanks! It works for me. :)

[2021-07-27 16:59] carstengehling commented on #1399
Oh nice, I didn't know that. Thank you.

[2021-07-27 20:44] SentientCoffee opened #1403 "Lazygit can't open files with spaces in the name"
**Describe the bug**
Whenever I try to open a file using `o` in the main window, or when I try to use a command on it in the custom command window using `:`, I keep getting errors that the system cannot find the file, with the given file name being an incomplete version of the actual file name (up to the first space in the name). In some rare cases, I can't perform normal lazygit commands such as

[2021-07-27 20:46] mjarkk commented on #1342
@RakshithNM can you share your lazygit config?

[2021-07-27 20:49] mjarkk commented on #1370
What shell ar you using?
I'm using fish and when i exit lazygit in a sub directory it doesn't cd to the repo root

[2021-07-27 20:50] mjarkk commented on #1403
Might be related to https://github.com/jesseduffield/lazygit/issues/1350

[2021-07-27 20:56] SentientCoffee opened #1404 "Quitting lazygit completely deletes cursor in bash shell, gives error in cmd"
**Describe the bug**
When using lazygit in a bash shell (such as the one that comes with the Git for Window installation), once lazygit is exited, the bash does not have a cursor anymore, making it near impossible to use the bash terminal normally after using lazygit.

When exiting from a cmd prompt, that functions normally (at least using the Cmder shell with ConEmu backend), but it gives a messa

[2021-07-27 20:57] mjarkk commented on #1337
Is this still an issue?
If you need to explicitly define `GOOS=linux GOARCH=arm GOARM=6` when compiling lazygit on your PI i think there is something wrong with your go installation as you should not have to define that.

About the `go get -u golang.org/x/term`
Just ran `GOOS=linux GOARCH=arm GOARM=6 go build` on my mac without the `go get -u golang.org/x/term` and it compiled just fine but that m

[2021-07-27 21:27] briandipalma commented on #1341
No, I use a variable in my Ansible scripts that is set per host:

https://github.com/briandipalma/ansible/blob/main/roles/common/tasks/lazygit.yml#L16
https://github.com/briandipalma/ansible/blob/main/group_vars/all.yml
https://github.com/briandipalma/ansible/blob/main/host_vars/Brians-MacBook-Pro.local.yml

I prefer to keep my shell config clean and lean on Ansible to deal with machine/workstatio

[2021-07-27 22:02] josefglatz commented on #1370
zsh

Diese Nachricht wurde von meinem Smartphone versandt

[2021-07-28 08:22] mjarkk commented on #1370
I might live in the country beside Germany but that doesn't mean I can speak German 😅

[2021-07-28 08:45] josefglatz commented on #1370
Sorry this was autotext from mobilephone. The first line is essential: I use ZSH

[2021-07-28 09:42] mjarkk commented on #1370
Ah, just tested it on zsh and neither there it cd's to the root of the git repo
<img width="445" alt="image" src="https://user-images.githubusercontent.com/15320763/127300927-a1846a95-b149-4f6e-98a6-cf354476b539.png">

[2021-07-28 10:03] mjarkk commented on #1339
@Cokile can you checkout #1401 it should allow text rgb colors to be set

[2021-07-28 10:04] strboul opened #1405 "Display 'discard unstaged changes' above 'discard all changes'"
In the discard changes options popup (invoked by pressing `d` in the `Files` pane), when there's a file with `MM` status, there are currently three options are seen:
[code]

I think it's better to show the 'discard unstaged changes' option first in this list. UX-wise, it's a good practice to go from specific to general, as the impact of discarding some changes is smaller than discarding all change

[2021-07-28 10:51] Cokile commented on #1339
@mjarkk I have tried with selectedRangeBgColor set to `'#ff0000'` and it turns out lazygit works great with hex color. Thanks for the awesome work.

[2021-07-28 14:01] mjarkk commented on #1295
Does it even show the lazygit UI?
And what is your git version?

[2021-07-28 23:54] jesseduffield commented on #1405
My main goal with lazygit is to reduce the number of keypresses required to do things, meaning the most commonly used commands go first (unless there is some more natural ordering that can be done). I rarely find myself discarding unstaged changes. I'm interested to know what the more common use case is, but even if it's more common to want to discard unstaged changes first, I don't think it's wor

[2021-07-29 11:45] mjarkk commented on #1290
@lcc014 Mouse support should work.
What terminal emulator are you using?

[2021-07-29 11:53] lcc014 commented on #1290
Xterm used to work but not with 0.28.1.  Then I tried LX Terminal, it worked fine with mouse.  So I am using LX Term from now on.  Also, the color in Xterm was hard to distinguish the highlighted items such as branch, commit, files etc in the left hand side panels.

[2021-07-29 11:53] #1290 closed

[2021-07-29 12:06] mjarkk commented on #1269
@MiroslavMikus that's annoying.
How have you modified your `config.yml` to make the keybindings work again?

[2021-07-29 12:10] mjarkk commented on #1269
About the command log keybinding i think you need this config to modify it:
[code]
*This keybinding isn't mentioned in the docs but will add it*

[2021-07-29 12:38] MiroslavMikus commented on #1269
Hey @mjarkk , thanks for the memo :) works like a charm.

@jesseduffield If is the disability to use a combined shortcut like `ctrl+alt+q` to call functions behind `@` known and accepted behavior, we can close this issue :)

[2021-07-29 13:16] mjarkk commented on #569
@rupertdev I've created https://github.com/jesseduffield/lazygit/pull/1407 hope it can help you

[2021-07-29 13:29] mjarkk commented on #1269
Well you mention that from `v25` to `v27` you need to press extra keys for some keyboard shortcuts and as there are a lot of users around the world with messed up keyboard layouts we might want to look into this if we can fix it.

[2021-07-30 17:59] mjarkk commented on #1350
C:\Windows\system32\cmd.exe /c "nano \"files/config.yml\""

It sadly not that simple, internally we execute [exec.Command](https://pkg.go.dev/os/exec#Command) that's basically what any shell uses under the hood to execute a program *(the function it equal in almost all languages)*.

The problem is the following:
`exec.Command`'s arguments are the following *(`...string` means any number of strings

[2021-07-30 23:36] alexozer opened #1408 "Staged renamed file with unstaged changes displays incorrectly in Files view"
When a file is both renamed and staged (`git mv`), and also has unstaged changes in the file itself, lazygit shows filenames wrong in the Files view.

**To Reproduce**
[bug.zip](https://github.com/jesseduffield/lazygit/files/6910333/bug.zip)

**Desktop (please complete the following information):**
 - OS: [Ubuntu 20.04 LTS (WSL)]
 - Lazygit Version: Installed with `go get` yesterday, doesn't show

[2021-07-31 00:55] AndrewSav commented on #1350
@mjarkk

In the `exec.Command` link you quoted, we can read:

This is what's missing in the code, IMO: we should either not use `cmd.exe` or we should leave `Args` empty if we do, because other wise the quoting that golang does for us does not work.

[2021-07-31 16:20] dhwpong commented on #84
just try your custom command for 'tags'.
need a few modification first of all to be consistent with other samples need to add 'customCommands:'
second, need to change the "context: 'tags'" to either "context: 'localBranches' or 'global' because there isn't a "tags" tab window?

[2021-08-01 06:38] jesseduffield commented on #84
there is a `tags` context because there's a tags tab in the middle side panel. I'm not sure what other modifications you're referring to though

[2021-08-01 17:03] fsmiamoto commented on #1350
Maybe @Ryooooooga could help with this one, he helped me a lot regarding quoting and escaping.

[2021-08-01 17:19] fsmiamoto commented on #1382
@friendbear I think this is a duplicate of #1187, so we might close this one :)

[2021-08-01 20:46] friendbear commented on #1382
Thanks for the reply. @fsmiamoto

[2021-08-01 22:56] williamdes commented on #897
https://github.com/jesseduffield/lazygit/commit/6ccf58c22439322a0db6dccb7a2f9d67dedd7d9d

Hi, could you add a reason or a link on the readme ?
People like me will get puzzled having the commands to run and a deprecation notice

I do Debian/Ubuntu+PPA packaging for phpMyAdmin mainly but I could help automate the process for the PPA

[2021-08-02 07:54] mrgarelli commented on #1374
In trying to reproduce this I noticed that running `git cherry-pick "merge_hash"` on the release branch at the end of the repro script seems to also fail with:
[code]
However it doesn't start a rebase.
Should the expected behavior be revised?

[2021-08-02 10:40] Ryooooooga commented on #1350
@mjarkk (or someone)

related PR: https://github.com/jesseduffield/lazygit/pull/1173, https://github.com/jesseduffield/lazygit/pull/1308

There's a bit of a circumstance to this strange behavior about escapes and backslashes (and the resulting errors).

Yes. And `exec.Command` is built by `OSCommand.ExecutableFromString`.
Almost all commands in lazygit are executed through `OSCommand.ExecutableFro

[2021-08-02 11:22] jkogler-cloudflight opened #1412 "Order remote branches by date of last commit"
**Is your feature request related to a problem? Please describe.**
In our company we have way too many branches remotely. Basically everybody creates new ones for every PR, and most of the time the branches don't get deleted afterwards.
That makes it very hard to check out a remote branch with lazygit, as I have to search for it. Need to know the exact PR number, ...

**Describe the solution you'd

[2021-08-02 12:42] dhwpong commented on #84
oh thank you, only start trying lazygit a day or so. didn't realise you can cycle between local/remote/tag

[2021-08-02 22:57] fsmiamoto commented on #1381
I think I can tackle this one!

To avoid adding an extra step for those that do not want it, I'd say we should add it as a separate keybinding e.g. `^t`.

How does it sound @jesseduffield?

[2021-08-03 01:28] jesseduffield commented on #1381
I would use the same keybinding but open a menu with the option to create a tag without and with a message. I believe its called an annotated tag when it comes with a message but not sure if that’s a well-known term.

Worth noting there are two places we can create a tag: in the commits panel and in the tags tab: I would use the same menu in both for the two different keybindings

[2021-08-03 06:14] bigoulours commented on #1371
I definitely support recursive submodule init /update as well!
If I didn't miss anything, in case of nested submodules you currently have to go into each submodule to bulk init/update its own submodules.

[2021-08-04 13:49] Ryooooooga commented on #1303
`<c-w>` keybinding was added in  https://github.com/jesseduffield/lazygit/commit/a9f04d3925bff4ec487a8c622ce84c79ef64ab87 .

[2021-08-05 07:37] bastianwegge opened #1414 "No cursor showing up, active selected element is not highlighted"
**Describe the bug**
I cannot see the selected element in my terminal. I have attached a screenshot where the cursor should highlight the uppermost element of the the "files" tab, but it doesnt.

**Expected behavior**
Lazygit should start up and show the currently selected element. When I switch in between files for example, the window of files should show the selected element (or active cursor) r

[2021-08-05 16:41] geins opened #1417 "panic: non-positive interval for NewTicker"
**Describe the bug**
Since a few weeks (without updating lazygit itself), I get the following error when starting lazygit from the shell:

panic: non-positive interval for NewTicker

goroutine 11 [running]:
time.NewTicker(0x0, 0x0)
	/opt/homebrew/Cellar/go/1.16.4/libexec/src/time/tick.go:24 +0x144
github.com/jesseduffield/lazygit/pkg/gui.(*Gui).goEvery.func1()
	/private/tmp/lazygit-20210604-23703-

[2021-08-06 07:57] mrgarelli opened #1418 "Test failure due to use of color.ForceSetColorLevel"
**Describe the bug**
the dev test suite is failing due to test renderers expecting different ```ColorLevels``` to be set in setup methods of a particular test file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to lazygit project root directory
2. > ./test.sh
3. Notice the error in the file ```pkg/gui/filetree/file_manager_test.go```

**Expected behavior**
All tests should pass

**Scree

[2021-08-06 08:07] mjarkk commented on #1417
Can you share your lazygit config?

[2021-08-06 12:20] geins commented on #1417
Thank You, you pointed me to the right direction:

I changed:

[code]

Changing these back to 10 and 60 did the trick.

Best regards,
Ralf.

[2021-08-06 12:36] mjarkk commented on #1417
Great you fixed the problem and thanks for pointing out the fields that where the problem.
What did you expect to happen when you set your config to 0?, i'm thinking of 2 things that could happen:
- Fallback to the default value if 0 is set
- Disable this interval

[2021-08-06 18:38] #1418 closed

[2021-08-07 01:27] brandoncc opened #1422 "Serious bug"
I think there is a serious bug in lazygit. I don't know how to reproduce it, and I'm honestly too stressed out to even try to figure it out. Periodically when I push a feature branch lazygit will tell me that my branch has diverged and ask if I want to force push. For the first time, I said yes today. That was a huge mistake. I had a feature branch checked out and it force pushed MASTER. Thankfull

[2021-08-07 01:28] brandoncc commented on #1422
By the way, I'm on MacOS Big Sur 11.4.

[2021-08-07 03:23] jesseduffield commented on #1422
I'm not sure what could have happened here. Lazygit doesn't actually ever use the `--force` flag when pushing, it instead uses `--force-with-lease`, so if there was some bug that made it push to master, it shouldn't have removed any commits from master.

Some questions from me:
1) Do you know which lazygit version you were using?
2) Is there any chance you had commands being logged (either via the

[2021-08-07 03:27] jesseduffield commented on #1414
@bastianwegge is this a recent issue or has your terminal always had this problem with lazygit? At any rate let me know if this helps you: https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#struggling-to-see-selected-line

[2021-08-07 03:29] jesseduffield commented on #1412
Sounds a lot like my company haha. This sounds like a sensible change to me. I wonder if it's expensive to grab the last commit date for each remote branch, but I suspect it's not.

[2021-08-07 03:55] jesseduffield commented on #1422
Another few questions if you've got the time:
4. Did you expect the 'force' option to come up? It should only come up when your branch is missing commits that are on the remote branch. If your branch wasn't missing anything (meaning e.g. you hadn't done any rebasing), this suggests you were checked out on master and somehow pushed the commits of the feature branch.
5. If you haven't since made any

[2021-08-07 15:42] bastianwegge commented on #1414
@jesseduffield thanks for the quick response! This seems like a recent issue, but sadly I cannot really determine when it was introduced. I've been using `lazygit` without an actual cursor for the last 2-3 months.

I found that the `#struggling-to-see-selected-line` had a section of "maybe you disabled bold fonts" which I found out you have to enable when using `iTerm2`. It has an option stating `

[2021-08-07 15:42] #1414 closed

[2021-08-08 05:00] Tim-Cao opened #1424 "How to execute some Git commands via lazygit"
**Topic**
How to execute the following Git commands via lazygit? Does lazygit support?
`git commit --amend --author="Author Name <email@address.com>"`
`git fetch someoneRemote branchName:myBranchName`

[2021-08-08 05:14] Tim-Cao opened #1425 "How to support multiple remote repos at the same time?"
**Topic**
There are two remote repos in my config file
For example,
[code]

When I have the following setting, execute `p` via lazygit could update my master branch on my local repo.
[code]

I have to change the config to
[code]
Execute `P` via lazygit to update my master branch on my remote repo.

Is there a way to support multiple remote repos at the same time?

[2021-08-09 05:29] brandoncc commented on #1422
Hi Jesse,

Sorry for the delay. Fortunately, I was able to recover the lost commits.

I think I have identified what happened:

1. Local master branch matched origin/master
2. A new feature branch was created from master (using n key)
3. Commits were added to the feature branch
4. A pull request was opened on Github
5. A second new feature branch was opened using the n key on the master branch aga

[2021-08-09 14:40] vbauerster opened #1428 "Empty tag may crush lazygit"
This is sometimes reproducible bug. I caught it by submitting and empty tag by accident (T and then just enter).
[code]
Inspecting the repo with bare git revealed that malicious tag is named as commit hash. Reopening lazygit in the same repo panics again until I manually delete that tag.

If panic not happens inserting empty tag always goes to the latest commit, no matter where the cursor is.

[2021-08-09 18:56] mjarkk commented on #1428
Probably related to as it seem to crash on the same code: https://github.com/jesseduffield/lazygit/issues/1385
This is probably fixed in the latest master tough no release with this fix yet.

[2021-08-09 19:15] mjarkk commented on #1370
What version of lazygit are you running?

[2021-08-10 07:12] brandoncc commented on #1422
Here is a screenshot of it happening again:

![image](https://user-images.githubusercontent.com/543973/128823829-51d76d36-c311-4518-ad2c-4c04620b9b79.png)

You can see I'm on a feature branch and my local master branch is two commits behind... "P" is trying to push both my feature branch (which it did fine even when I hit escape when told I had diverged) and master. That is not what I want at all!

[2021-08-11 14:52] RakshithNM commented on #1342
@mjarkk i have been using diff-so-fancy and the issue is not there anymore. i forgot to update here.

[code]

[2021-08-11 14:59] mjarkk commented on #1342
Ah great can we close this issue?

[2021-08-11 15:01] RakshithNM commented on #1342
@mjarkk yes, thanks for wanting to help

[2021-08-11 15:01] #1342 closed

[2021-08-14 12:02] bdach opened #1435 "Confirmation box for force-deletion of branch is not displayed if system locale is not English"
**Describe the bug**

git [localises the error message](https://github.com/git/git/commit/49df4b0298ea87ec737221c35ac74f8e6ee108c9#diff-b8ed76af187b5cdf2a005fd57cba9f2d8704f5ed5f1e569047adbbb739367662R203-R205) which is shown when `git branch -d ${BRANCH_NAME}` is attempted on a branch which is not fully merged.

lazygit, on the other side, seems to check only the English version as a heuristic to

[2021-08-15 21:31] jbrains opened #1436 "Can't update submodule whose file path contains spaces"
**Describe the bug**
I have a submodule located along a path that contains spaces in the name. I can neither enter the submodule nor update it. The error message makes it pretty clear that the problem is not escaping the spaces in the pathname.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a repository with directory containing spaces in the name, then add a submodule inside that di

[2021-08-16 06:03] josefglatz commented on #1370
The problem was https://github.com/jesseduffield/lazygit#changing-directory-on-exit

I never read the snippet and thought this is necessary or very useful when using lazygit via `lg`.

Sorry for disturbing you. After removing the function all is fine...

[2021-08-16 06:03] #1370 closed

[2021-08-16 07:51] mjarkk commented on #1436
@jbrains the problem should now be fixed.
Would you like to checkout the latest master to see if your problem still exists?

[2021-08-16 12:16] jbrains opened #1439 "`go install` leaves the binary "unversioned""
When I use `go install` to install lazygit, the resulting binary is "unversioned" according to `lazygit --version`. I presume that we'd _like_ to have some build metadata available, especially to help with debugging/diagnosing defects.

1. Clone the lazygit source.
2. `go install`
3. `$HOME/.go/bin/lazygit --version`

I get `commit=, build date=, build source=unknown, version=unversioned, os=linux

[2021-08-16 12:19] jbrains commented on #1436
@mjarkk Thank you!

Good news: this works.

Bad news: now "view reset options... > nuke working tree" exhibits exactly the same problem.

[2021-08-16 14:37] mjarkk commented on #1439
This might sound wired but this somewhat intended behavior.
These values are explicitly set in the CD, see [/.goreleaser.yml#18](https://github.com/jesseduffield/lazygit/blob/master/.goreleaser.yml#L18) for how we do that.

But your point is still valid maybe we should have some go code generator that sets these values automatically.

[2021-08-16 14:43] #1436 closed

[2021-08-16 14:46] mjarkk commented on #1436
@jbrains your second point should now be fixed.
Also @Ryooooooga fixed the bugs so you should thank him instead :)

[2021-08-16 15:29] #1408 closed

[2021-08-17 02:32] geins commented on #1417
I was having problems when reviewing code changes. The viewport jumps to the top of the page when time interval of refresh is reached. I tried to disable automatic refresh completely.

[2021-08-17 03:28] jaredyam opened #1441 "The commits pannel does not show any commits"
**To Reproduce**
Steps to reproduce the behavior:
1. Download the most new binary release: lazygit_0.28.2_Linux_x86_64.tar.gz
2. Move the binary to an executable path `/usr/local/bin`
4. The Commits pannel doesnt show any commits but the other pannels work properly

**Desktop (please complete the following information):**
 - OS: Ubuntu16.04
 - Lazygit Version: 0.28.2 binary release

[2021-08-17 08:11] mjarkk commented on #1441
Would you like to try out the latest code in the master branch?

[2021-08-17 10:22] ralphee opened #1442 "OpenBSD Binary Support"
Hey J,
was just wondering if you would consider supporting a binary for openbsd?

[2021-08-17 10:48] mjarkk commented on #1442
Can you build the lazygit binary from source?, if so we can maybe easily support openbsd in every release

[2021-08-17 12:14] ralphee commented on #1442
ahhh great! `go get github.com/jesseduffield/lazygit` did the trick

[2021-08-17 12:14] #1442 closed

[2021-08-18 02:39] AlexCZhou opened #1444 "How to manually change the language setting?"
I think lazygit chooses my system language automatically. But it looks like this after I closing the menu:

![image](https://user-images.githubusercontent.com/33609801/129826403-e18d74ca-8831-4f51-8b3c-581e37b526c5.png)

Maybe I can avoid this by switching the language to English. But how to manually change the language setting? I have read the [User Config](https://github.com/jesseduffield/lazygi

[2021-08-18 02:43] lixiaoquan commented on #1441
I run into similar issue when I use default git in ubuntu 16.04, but a newer git works fine.

[2021-08-18 08:01] x86dev commented on #1399
FWIW, this is a one-liner which takes care of downloading and installing latest lazygit to /usr/local/bin (CURL required), as I'm not too keen on having yet another package manager like brew on my system:

`MY_FLAVOR=Linux_x86_64; curl -s -L $(curl -s https://api.github.com/repos/jesseduffield/lazygit/releases/latest | grep browser_download_url | cut -d '"' -f 4 | grep -i "$MY_FLAVOR") | sudo tar

[2021-08-18 09:09] jaredyam commented on #1441
@lixiaoquan
Thanks for your reply. After I upgraded the git, the issue was indeed solved.

[2021-08-18 09:09] #1441 closed

[2021-08-18 10:43] bin101 commented on #1299
I also experienced the issue today. Would be great if this could be fixed in the near future.

[2021-08-18 11:28] Ryooooooga commented on #1444
Lazygit uses `jibber_jabber.DetectLanguage` to detect language,

https://github.com/jesseduffield/lazygit/blob/0aad68acf0b62ef0485508b52ee48b8fc8d3a071/pkg/i18n/i18n.go#L19

and, on Windows, it calls `GetUserDefaultLocaleName` or `GetSystemDefaultLocaleName` internally.

https://github.com/jesseduffield/lazygit/blob/2eeff1257b883898609015ba891e8869578957e7/vendor/github.com/cloudfoundry/jibber_jab

[2021-08-18 11:59] mjarkk commented on #1403
Is this fixed in the last release?

[2021-08-18 11:59] mjarkk commented on #1350
@AndrewSav is this fixed in the last release for you?

[2021-08-18 18:59] jbrains commented on #1439
Not weird, merely unexpected.

Should I use `goreleaser`, then, to build locally from source? (I just happened to learn yesterday what the sentence even means.)

[2021-08-19 03:23] AndrewSav commented on #1350
No, it trying to open "{{filename}}" I do not have the file with this exact name in my file system. It should open the current file (in lazygit) instead.

[2021-08-19 03:34] AndrewSav commented on #1350
@mjarkk Unfortunately, no. Here are some screenshots:

![lg01](https://user-images.githubusercontent.com/658865/130003352-3d59673d-1666-48e9-b8e8-2b4f3558b98e.png)
![lg02](https://user-images.githubusercontent.com/658865/130003382-32080c23-fbaf-4ea5-b734-dc227bef7743.png)
![lg03](https://user-images.githubusercontent.com/658865/130003405-9550d498-adbf-43c8-9b1a-9c783bba3a4a.png)

[2021-08-19 12:27] KiteAB opened #1445 "How to create a commit with my GPG key"
I think they're no line about GPG key in README file

They're some issues and prs about that but no documents talked about it

[2021-08-21 16:07] #1375 closed

[2021-08-21 16:07] mjarkk commented on #1375
@peppy can you confirm this is now fixed in the latest master?

[2021-08-22 01:02] jmauriciosalasmoreno commented on #1280
This would be very useful
Getting the following error ".git not a directory". Since .git does not exist in the subdirectories added via "git worktree add"

[2021-08-22 12:05] parnmatt commented on #1280
It *does* create a `.git`; however, it is not a directory, it is a file containing something like:

    gitdir: <PATH_TO_BARE_REPO>.git/worktrees/<WORKTREE_NAME>

this can therefore be used by Lazy git to point to the relevant git directory

[2021-08-23 12:26] Ryooooooga commented on #1350
@AndrewSav This issue seems to have been resolved in https://github.com/jesseduffield/lazygit/pull/1413.

[2021-08-23 13:37] #1403 closed

[2021-08-24 07:32] Sebclem opened #1450 "Updater broken due to GitHub redirection"
**Describe the bug**
When i try to upgrade my Lazygit form 0.28.1 to 0.29 via `Check for update` i get this error:
[code]

I think is related to Github making a redirect to another domain, this is the output of `wget`:
[code]
We can see that we are redirected to `github-releases.githubusercontent.com` with a 302 status code.

**To Reproduce**
Steps to reproduce the behavior:
1. Download Lazygit 0.

[2021-08-24 10:24] llk23r commented on #1303
@Ryooooooga, thanks! Closing the issue.

[2021-08-24 10:24] #1303 closed

[2021-08-24 14:09] Ryooooooga commented on #1143
@pirafrank `<c-w>` keybinding was added in a9f04d3 .

[2021-08-25 09:30] Ryooooooga commented on #1445
@KiteAB You don't need any additional steps to make a signed commit using lazygit.
just `git config commit.gpgsign true`.

[2021-08-25 11:32] #1299 closed

[2021-08-25 12:34] jesseduffield commented on #1439
If there is a way to bake in the current tag or commit hash via `go install` I would definitely do that, but I don't actually know how haha

[2021-08-25 12:36] jesseduffield commented on #1439
This guide shows a way to do it, however it would require us providing a shell script that handles the different variables https://blog.alexellis.io/inject-build-time-vars-golang/

[2021-08-25 12:37] #1382 closed

[2021-08-25 18:50] bin101 opened #1453 "Custom Pager support for windows"
**Is your feature request related to a problem? Please describe.**
In my opinion the default pager is very confusing. I really like to use diff-so-fancy or something similar.

**Additional context**
The custom pager docs are mentioning that you are using a package which has no windows support. Could you (@jesseduffield) clarify which package this is? Maybe there is an alternative in the meantime?

[2021-08-25 23:04] SimonBao opened #1454 "Got a massive Error prompt when I amend commit with staged changes, but can't decipher or understand it"
<img width="756" alt="Screenshot 2021-08-25 at 23 59 01" src="https://user-images.githubusercontent.com/23066880/130875489-bd388a92-9bb0-455d-9f7a-57793522c55f.png">

Not really sure what the error is and what I can do to fix/change it.

It seems to be able to actually amend it and add a fixup! commit, just wondering if this will cause me any issues?

[2021-08-26 09:53] pavel-alay opened #1455 "Custom keybinding for jump to panel instead of 1-5"
I didn't find 'jump to …' among [possible keybindings](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#default)
It would be nice to be able to rebind jump to panel to smth else instead of default `1-5`.

Does [Custom Command Keybindings](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md) allow to do it?

[2021-08-28 13:19] Liberatys commented on #1424
Hey @Tim-Cao! Have a look at https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium. This should give you all the information you need to implement the commands yourself :D

[2021-08-31 10:32] jesseduffield commented on #1386
as discussed on slack the file to look at is `vendor/github.com/jesseduffield/gocui/escape.go`: we're failing to properly interpret an escape sequence that says 'finish this line off'

[2021-08-31 11:51] matejcik commented on #1386
This is fixed in master of gocui already.

I have a 6-line patch for the version in awesome branch, so I can send that as a PR if you like.
Porting the version from master, or making lazygit use gocui master, is probably beyond me though.

[2021-09-02 05:16] socketbox opened #1460 "Cannot install latest version with `go install`"
**Describe the bug**
`go install github.com/jesseduffield/lazygit` installs v0.28.2, though v0.29 is available. Specifying `@latest` results in an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run  `go install github.com/jesseduffield/lazygit`
2. Then list `$GOHOME/pkg/mod/github.com/jesseduffield/`. Note that the directory contains `lazygit@v0.28.2`

**Expected behavior**
I

[2021-09-02 06:10] dehlen commented on #1341
Since I am managing all my dot files with stow it would be great to be able to include the lazygit configuration here as well. Any plans on supporting the config folder next to the Application Support location?

[2021-09-02 07:15] mjarkk commented on #1460
There is one replace statement in the current go.mod that isn't used anywhere in the code as far as i can see, i've opened a PR to remove it https://github.com/jesseduffield/lazygit/pull/1461

[2021-09-02 07:20] mjarkk commented on #1460
Can you test if `go install github.com/jesseduffield/lazygit@master` now works for you?

[2021-09-02 12:30] gthau commented on #1330
I'm not experiencing such issue working with lazygit in WSL environment.

What do you mean by "do a refresh"? fetch / pull? something else?

Is your working tree on a Windows partition (e.g. /mnt/c)? Maybe I don't experience your problem because I keep my code on wsl ext4 partition (on the Hyper-V vhdx file that backs the WSL filesystem). I think this is the recommended way to proceed.

In my expe

[2021-09-02 15:44] socketbox commented on #1460
I was convinced that there was something amiss with either my shell, my go installation, or both and so I retrieved the official docker image. Here's an excerpted typescript:
[code]

[2021-09-04 09:00] nadeemkhedr commented on #1341
I think by now it's the default for most apps to have the config in the `~/.config` directory in macos, would be great if lazygit supports that as well

[2021-09-04 09:20] theduke commented on #28
Is <tab> supposed to work at the moment for adding a newline to the commit?

This is currently not working for me. (lazygit 0.29)

[2021-09-04 18:43] #1435 closed

[2021-09-07 16:34] jorgeamado opened #1466 "Add support for winget (Window package manager)"
It would be nice to have an option to install and update this package via **winget**
[here is a manual](https://docs.microsoft.com/en-us/windows/package-manager/package/)

I'd like to add it by myself, but I'm not sure the proper way how to add hooks on release to publish a new version to winget repo

[2021-09-08 02:28] black-desk opened #1467 "CurrentBranchName() get wrong name when head detached and git's language is not english"
**Describe the bug**
as title

**To Reproduce**
1 set system language to a non-english language, for example chinese.
2 when head is detached, try to create a new branch on head

then you will get something like this:
fatal: '分离）' 不是一个提交，不能基于它创建分支 'tmp'

**Expected behavior**
create a new branch :)

**Screenshots**
![1](https://user-images.githubusercontent.com/29726878/132436042-2a98bdcb-845c-48b

[2021-09-08 02:31] black-desk commented on #1467
ping @Ryooooooga

[2021-09-08 12:25] ArnoNuyts commented on #1312
I have a similar issue with these characters. Any character where I have to make a combination of Alt Gr + key doesn't work. If I use lazygit via SSH on a linux machine these characters work fine.

OS: Windows 10
Lazygit: 0.29

[2021-09-08 16:11] dutroctu commented on #1163
I would like to fix this. I can understand that we can add the showOutput in the CustomCommand to check whether we need to show output in the handleCustomCommandKeybinding. But I am quite newbie so I don't know show to popup the output of the command. Could you please give me the reference of the popup @jesseduffield
I am willing to contribute to the community.

Thanks

[2021-09-08 21:19] #988 closed

[2021-09-09 19:00] KalleDK commented on #1450
I hit the same error (though for other software), seems like the ipv6 address doesn't respond, only the ipv4

[2021-09-11 23:50] fsmiamoto commented on #1455
Looks like currently we don't support it @pavel-alay

The snippet was taken from the code that  creates the keybindings and we don't use any user config for this case:
[code]
But I guess it wouldn't it be too difficult to support that.

[2021-09-12 01:34] brandoncc commented on #1422
This continues to happen to me every day. Is there a solution?

[2021-09-12 04:22] jesseduffield commented on #1422
@brandoncc sorry for the delay: it looks like having push.default set to 'matching' means that you will indeed be pushing more than just the current branch. See https://git-scm.com/docs/git-push#Documentation/git-push.txt---force:

Lazygit just says `git push` and `git push --force` (i.e. it does not specify the current branch). This mimics how it would typically be used on the command line (to my

[2021-09-12 04:27] brandoncc commented on #1422
Thank you for your response, Jesse. I didn't realize matching would push all branches. I have changed the default and I'm sure I'll go on happily now. I do not think you should make lazygit hard code the behavior, as it is configurable anyway. I always specify the remote and branch when I type out a push command, so I bet that is why it seemed so odd to me.

Thank you again for your time, I really

[2021-09-12 04:27] #1422 closed

[2021-09-12 04:27] jesseduffield commented on #1422
No worries, and thanks for your patience with my responses!

[2021-09-14 15:38] black-desk opened #1476 "Seems there are some unused strings define in i18n"
such as

https://github.com/jesseduffield/lazygit/blob/f44ae68e99386d5351d7cdec05a3231aa01a2d84/pkg/i18n/english.go#L148

@jesseduffield maybe we should remove them?

[2021-09-16 06:19] SentientCoffee commented on #1403
Hi, sorry, I've been off of Github for a while and I had not seen this.

I just unpackaged the latest release (0.29) and I still have the same issue.

[2021-09-16 06:20] SentientCoffee commented on #1404
Closing, fixed in latest release (0.29)

[2021-09-16 06:20] #1404 closed

[2021-09-16 12:24] mjarkk commented on #1403
Hmm that's annoying can you give us more information so we can maybe re-produce your issue.

[2021-09-16 12:36] mjarkk commented on #1476
I would say lets remove them for a few reasons:
- Makes the binary bigger without any reason
- We can always get these back by going back in the commit history
- As there are so many translations there is a big change a new entry is created even if we already have something for that translation

[2021-09-17 18:13] yassinebridi opened #1480 "Can't ignore files with spaces in their name"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create or add a file or a folder with spaces in its name(eg: `Application Support`)
2. Click `i` on the file to ignore it.
3. You will see lazygit panic and exit

**Expected behavior**
For lazygit to ignore files without it erroring out and exiting

**Screenshots**

<img w

[2021-09-18 13:50] DusanLesan opened #1482 "Copy selected text into the system clipboard"
I often find myself in need to get come block of code from my history. So I need a way to copy text from changes or patches

The most ideal way I can think of is to use visual selection of lines but instead of hitting space or d, I would like a key to yank selected text into system clipboard.

Another possibility would be to open content from current panel into external editor like vim.
If this ca

[2021-09-18 18:38] leighmcculloch commented on #1460
Now that #1461 is merged, could a release be tagged as `go install ...@latest` still fails because the latest release tagged doesn't have this commit.

[2021-09-19 14:11] dgdosen commented on #823
main vs master - using main makes sense as a default branch name, and _is_ the default branch name for any new repo on github.  I'd be nice to see that 'default' branch change to main, or be configurable.

[2021-09-21 10:18] #1480 closed

[2021-09-21 19:13] afridley opened #1484 "Save commit message."
It would be nice to have commit messages saved atleast until vim is closed.

That way accidentally quiting out of the message would not require you to retype the message which can suck with a multiline commit.

It would also be nice to be able to quit out of the message and switch files look at the changes before coming back to the commit message. Again super helpful for multi-line commits

[2021-09-22 07:51] MikaelElkiaer opened #1485 "Branch names with URL reserved chars turn into bad pull request URLs"
**Describe the bug**
Branch names that are not URL friendly cannot be used for creating GitLab merge requests.
(Probably same issue for other providers.)

For instance, having a branch with a `#` will generate the following URL:
`https://MY-GITLAB/MY-REPO/-/merge_requests/new?merge_request[source_branch]=feature/MY-FEATURE#JIRA-ISSUE`

**To Reproduce**
Steps to reproduce the behavior:
1. Configure

[2021-09-22 07:57] MikaelElkiaer commented on #1485
I guess it would be enough to URL encode the source branch here:
https://github.com/jesseduffield/lazygit/blob/a5719c530a3094aa7f7377f24f3aa5989ffddf6a/pkg/commands/pull_request.go#L46

But I'm affraid I'm not go-capable enough to find a proper library and try it out in a timely manner.

[2021-09-22 11:23] mjarkk commented on #1485
I have never used # in a branch name is that a gitlab specific thing / does it work on other sites?
If so we should also fix this for the other sites tough i'm not sure what will happen if we url encode the `/` as it changes the url path does that work on all sites?

[2021-09-22 12:27] MikaelElkiaer commented on #1485
The # doesn't do anything as such in the branch name - not like commit messages, e.g. "Something something closes #1485". I just like to carry over the convention.

`/` should not be a problem, as the slash is allowed once you start on your query parameters. I'd say it is perfectly safe to URL encode a query parameter, as that is exactly what URL encoding is for. :)

[2021-09-22 12:36] the-Arioch opened #1486 "Windows/scoop - does not create new repositories in empty folder"
I just installed from scoop and trying to launch LG in an empty folder. LG asks me if i want to create a repository there, and regardless of an answer just exits.

Windows 7 SP1 Rus x64, PowerShell 7, DotNet runtime (4 or 5 don't remember)

SysInternals Process Monitor shows no attempt at creating repos happens at all.
The debug log seems to show no command to create repo is ever given to git.exe

[2021-09-22 13:46] carloswm85 opened #1487 "Not getting version information when using -v command (or --version)"
**Describe the bug**
There's no display about the version I'm using of lazygit, and as far as I know, I'm using the latest to date v0.29

**To Reproduce**
Just use lazygit in CLI, using latest bash to date (Git Bash installation).

**Expected behavior**
To see the current lazygit version information.

**Screenshots**
At the CLI:
![image](https://user-images.githubusercontent.com/29048235/134354190

[2021-09-22 14:21] MikaelElkiaer commented on #1485
A small experiment confirms that URL encoding everything is no problem, it is actually what GitLab itself does as a response to a push:
[code]

[2021-09-22 16:54] Ryooooooga commented on #1487
Duplicated of #1439

[2021-09-23 05:26] apazzolini commented on #996
If you're running lazygit inside of floaterm in neovim, and you want to open a file in the host neovim instance from lazygit by pressing `e`, you can install the [neovim-remote](https://github.com/mhinz/neovim-remote) package and add this to your lazygit config.yaml file:

[code]

[2021-09-23 17:40] craftyguy commented on #996
@gpcureton I've since moved to neovim, and could only get it working with `:terminal`. Per the neovim faq, it doesn't support interaction with commands when using `!`: https://github.com/neovim/neovim/wiki/FAQ#-and-system-do-weird-things-with-interactive-processes

So I have this: `nnoremap <C-g> :terminal lazygit<cr>`

It works reasonably well. But not as well as it did with vim.

[2021-09-23 19:44] SentientCoffee commented on #1403
What information would you like? It's still the same issue as in the first comment, files names with spaces don't open when pressing `o`.

Here are a few examples with different files:
![image](https://user-images.githubusercontent.com/22991229/134573097-45d2fb01-f47a-4460-9eb5-d44ebeb21461.png)
![image](https://user-images.githubusercontent.com/22991229/134573282-7cf32cea-7265-438d-a622-1347d7229

[2021-09-23 20:23] #1476 closed

[2021-09-24 10:18] grossjohann opened #1488 "Missing UI feedback when rebasing onto another branch"
**Describe the bug**
When hitting `r` in the "Local Branches" panel to rebase the currently checked-out branch onto the selected branch, there is no user feedback while the operation is ongoing.  Lazygit usually responds really fast, so if it appears to hang for a couple of seconds, I start suspecting that something went wrong.

**To Reproduce**
Start a branch and work on it for a while.  Let's sa

[2021-09-24 10:49] MikaelElkiaer opened #1489 "Fuzzy search in help menu"
**Is your feature request related to a problem? Please describe.**
In some views there are quite a few options when bringing up the help menu. I mostly use help for actions I don't use very often and therefore don't know or dare not guess what the key binding is.

**Describe the solution you'd like**
A search field in the top of the help popup. Arrow keys still move up and down the list and enter

[2021-09-25 01:29] jesseduffield commented on #815
Sorry for the late reply. I wonder if other people would want this behaviour. I like lazygit opening based on the root of the repo as opposed to whatever folder I'm in, but I can imagine that for larger repos you may want to open lazygit in the context of a subfolder. Off the top of my head I'm actually not sure how much work would be involved in doing this.

[2021-09-25 01:34] jesseduffield commented on #873
As per https://github.com/jesseduffield/lazygit/pull/1447 this should now be implemented on master (and on the latest release I believe)

[2021-09-25 01:39] jesseduffield commented on #800
@ahmadie, not directly related to this issue, but we now allow the `--ignore-all-space` flag to git diff from inside the app with the <c-w> key

[2021-09-25 01:42] jesseduffield commented on #199
The home/end approach sounds good to me. Not sure how stale that implementation is but this sounds like a small-enough feature to be a good fit for hacktoberfest

[2021-09-25 01:43] jesseduffield commented on #208
@willpower232 Sorry for the very belated reply. I believe this issue should be fixed on the latest version

[2021-09-25 01:45] jesseduffield commented on #247
@scbizu we now support ignoring whitespace changes via the `<c-w>` keybinding. I'll close this issue but please let me know if it should be re-opened

[2021-09-25 01:45] #247 closed

[2021-09-25 01:46] jesseduffield commented on #409
Testing locally, looks like this issue is now fixed. Closing

[2021-09-25 01:46] #409 closed

[2021-09-25 02:40] jesseduffield commented on #422
@fluff @h3xx could either of you see if this PR fixes the issue? https://github.com/jesseduffield/lazygit/pull/1490

[2021-09-25 02:40] jesseduffield commented on #1336
@mjk-gh could you see if this PR fixes the issue? https://github.com/jesseduffield/lazygit/pull/1490

[2021-09-25 02:43] jesseduffield commented on #505
I've closed https://github.com/jesseduffield/lazygit/pull/1031 due to staleness but this is still a good first issue and I'll chuck a hacktoberfest label on it

[2021-09-25 02:51] jesseduffield commented on #780
Not sure how best to tackle this one. here's what I see:
![image](https://user-images.githubusercontent.com/8456633/134755460-812dfed3-c160-408c-871c-95c6b79901f3.png)

I want 'Local Branches' to be distinguished from the other tabs of the same panel so that we know what's being shown, but I don't want the user to think that's the currently active tab. I've got `bold` being applied additionally wh

[2021-09-25 02:57] jesseduffield commented on #818
Seems to me we could, wherever `SaveAppState` is called from within the gui package, display a popup with an error if we get one, rather than bubbling it up to the top level and having it crash the app

[2021-09-25 02:59] jesseduffield commented on #826
That's right: lazygit either runs git directly (no bash involved) or via a short-lived bash process. Not sure how to get around this one.

[2021-09-25 03:01] jesseduffield commented on #856
currently this is hardcoded as `var cherryPickedCommitTextStyle = style.FgCyan.MergeStyle(style.BgBlue)` in `pkg/gui/presentation/commits.go`. We could have the background of a copied commit be configurable as `copiedCommitBgColor` and default it to `cyan` in `pkg/config/user_config.go`

[2021-09-25 03:22] jesseduffield commented on #1144
Should be fixed in https://github.com/jesseduffield/lazygit/pull/1491

[2021-09-25 03:23] jesseduffield commented on #1141
In this case, you would indeed need to map to a key you seldom use. We probably should allow for 'unmapping' keys.

[2021-09-25 03:25] jesseduffield commented on #1139
do you know what command nnn invokes?

[2021-09-25 03:25] jesseduffield commented on #1126
Closing due to staleness

[2021-09-25 03:25] #1126 closed

[2021-09-25 03:26] jesseduffield commented on #1132
This sounds simple enough, so I'll chuck this in Hacktoberfest

[2021-09-25 03:30] jesseduffield commented on #1114
I think that error message is appropriate, but we should have it appear in an error panel rather than have it crash the app. This should be simple enough to implement so I'll put a hacktoberfest label on it.

[2021-09-25 03:31] jesseduffield commented on #1060
I'm afraid I don't have ubuntu so I'm not able to reproduce this myself

[2021-09-25 03:33] jesseduffield commented on #1109
I see two approaches we can take here: one is to make lazygit far better at parsing arbitrary command output. This has proven challenging (I tried it on another side project last year called (iirc) lazysession). One challenge is that your hook might open up vim or something. The other approach is to somehow see if a hook will run and switch to that hook as a subprocess. Not sure if it's actually p

[2021-09-25 03:34] jesseduffield commented on #1110
@fLindahl do you get the same issue quitting the app with 'q' or 'escape'? I wonder if ctrl+c is terminating the program before it has the chance to restore the terminal scroll settings

[2021-09-25 03:36] jesseduffield commented on #1105
We can now filter our files panel by staged/unstaged/etc via the `<c-b>` keybinding which might help here

[2021-09-25 03:37] jesseduffield commented on #1055
I wonder if the machine you've ssh'd onto lacks the required utilities to copy to clipboard. I also wonder how clipboard stuff generally works when dealing with ssh.

[2021-09-25 03:38] jesseduffield commented on #1106
Would you want it to open with that branch selected in the branches panel, and with the branches panel maximised? That sounds simple enough to me. Although I would use an arg like `lazygit -b origin/other-branch`

[2021-09-25 07:32] MuratUrsavas commented on #1114
I think adding 'xsel' to the dependencies could be a good idea. It would get rid of this error in the first place.

[2021-09-25 18:05] lumbo7332 opened #1492 "Use lazygit as a git merge/diff tool"
I'd like to be able to run `git mergetool` or `git difftool` and have it launch lazygit to deal with the current merge conflicts, or show the current diff, respectively.

[2021-09-25 21:14] teto commented on #1106
I would like to see the commits of that branch. But I didn't know you could maximize the branch-panel, how do you do that ? it might be more interesting, I need to try first.
I think it's ok to have a flag if you want to reserve posiitional args for future usage.

[2021-09-26 12:45] basilgood commented on #996
For a smooth integration neovim - lazygit (commitChangesWithEditor, edit, etc):

- first install neovim-remote (pip install neovim-remote, or nvr from OS package manager)
- put these in bashrc:
  ```export EDITOR=nvim```
  ```export VISUAL="nvr --remote-wait +'set bufhidden=wipe'"```
- and in lazygit config.yml:
[code]

[2021-09-26 14:35] mjk-gh commented on #1336
Seems to work mostly!

Looks like this:

![LC_CTYPE__en_US ISO-8859-15](https://user-images.githubusercontent.com/6675160/134810336-c15fe236-8427-486e-9514-420788f45723.png)

Test with different user:

![openbox-bash-negative-latin9](https://user-images.githubusercontent.com/6675160/134811902-ebabf446-6a54-4f84-9cec-9fa10aa5381c.png)

Test with different user, Latin1 (ISO-8859-1):

![openbox-bash-

[2021-09-26 16:41] screendriver opened #1493 "Different profiles for different projects"
**Is your feature request related to a problem? Please describe.**

I'm working in different projects in different scopes:

- personal projects
- projects at work
- side projects

For all of them I'm using different email addresses and different names for my Git commits.

**Describe the solution you'd like**

It would be nice when `lazygit` can handle different profiles like [GitKraken can do](htt

[2021-09-26 19:47] mjarkk commented on #1493
This should be kinda possible with https://github.com/jesseduffield/lazygit/pull/1407

[2021-09-26 20:56] antoniohernandezpinto commented on #1060
Hi Jesse, let me know if i can activate debug logs to send you helping with this issue. If i can do something else just drop me a line.
Thanks

[2021-09-26 23:15] jesseduffield commented on #1106
In `pkg/gui/gui.go` we use a half screen for when you pass the `-f` flag for filtering commits based on file:
[code]
Within the app you can also maximise a window with `+` and `-`

[2021-09-26 23:22] teto commented on #1106
ho cool indeed ! I tmay make sense to maximize the window or at least put it half screen. If there is a flag to control this, then it's not necessary.
I am a very basic user of lazygit, I use it mostly to git add (-p) files when I think it will be faster than the terminal's. I prefer to use tig to navigate at commits,  out of habits so that's not an informed decision :)

[2021-09-26 23:25] jesseduffield commented on #1106
Yeah tig is better with viewing commits at the moment, but soon enough we will overtake it and achieve world domination!

[2021-09-27 09:21] jesseduffield commented on #1143
closing as this is now implemented

[2021-09-27 09:21] #1143 closed

[2021-09-27 09:23] jesseduffield commented on #1444
@Ryooooooga I'm fine with adding a language key to the config

[2021-09-27 09:27] jesseduffield commented on #1453
Interestingly, we use creack/pty and on that repo there's a PR that appears to be almost across the line which supports conpty: https://github.com/creack/pty/pull/109. So I think we can wait for that to merge and then bump the dependency and hopefully it won't take too much to hook things up (we'd need to update `pkg/gui/pty_windows.go` or potentially delete that file and have everything go throug

[2021-09-27 09:28] #873 closed

[2021-09-27 09:30] jesseduffield commented on #1318
My rationale for this was in case something went wrong and the user wanted to go and obtain those patches again to stitch things up, but I personally have never found the need to do that. I'm happy to have this all take place in a temp directory

[2021-09-27 09:39] jesseduffield commented on #470
Sorry for the late reply: strange that & has meaning even when inside quotes. I wonder if this is a problem across all situations where we want to quote something, in which case escaping with ^& makes sense (we can add a line in `pkg/commands/oscommands/os.go:337`)

[2021-09-27 09:58] #422 closed

[2021-09-27 09:59] jesseduffield commented on #1336
I reproduced that first issue locally and I've resolved it by just using spaces instead of those edge characters (given that using direct hyphens looks weird and tcell won't let me use the other hyphen-y characters as fallbacks).
The second issue you mention is actually normal (arguably the blue text should get priority though).

I've gone ahead and merged that PR. Lemme know if there are any more

[2021-09-27 09:59] #1336 closed

[2021-09-27 09:59] jesseduffield commented on #422
Closing this issue because I'm confident that the linked PR will resolve the issues but if not lemme know and I'll reopen

[2021-09-27 10:01] jesseduffield commented on #1144
Pre-emptively closing but lemme know if I need to re-open

[2021-09-27 10:01] #1144 closed

[2021-09-27 10:03] jesseduffield commented on #1114
when you say dependencies are you referring specifically to the ubuntu installation method? I am not super across how that's set up :/

[2021-09-27 10:21] MuratUrsavas commented on #1114
Yes, exactly. It's done in the deb configuration. Not a big deal. I've learned it recently but need some refresh as some time passed since. Will check it out and return back.

[2021-09-27 10:24] jesseduffield commented on #1482
We have a `config.Universal.CopyToClipboard` keybinding for this (defaulted to ctrl+o) which we can use here. We would want to have a handler hooked up in `pkg/gui/keybindings.go` pointing at a function defined in `pkg/gui/line_by_line_panel.go` which obtains the content of the selected lines and copies it to the clipboard similar to `handleCopySelectedCommitMessageToClipboard` in `pkg/gui/commits

[2021-09-27 10:30] MuratUrsavas commented on #1114
Got back: You just need to add xsel into the control file of debian package into the "Build-Depends:" section. This way apt would know it should install xsel before lazygit.

[2021-09-27 10:32] jesseduffield commented on #1455
I agree: these should be configurable. Should be simple enough to implement: I'll chuck an Octoberfest label on this

[2021-09-27 10:33] jesseduffield commented on #1114
Now we simply need to work out how to access that control file haha

[2021-09-27 10:56] MuratUrsavas commented on #1114
:)

Who's running the launchpad PPA?

[2021-09-27 20:25] kylepollina opened #1495 "Rewording long commit messages results in a panic: runtime error: index out of range [0] with length 0"
**Describe the bug**
Rewording long commit messages results in a panic: runtime error: index out of range [0] with length 0

**To Reproduce**
Steps to reproduce the behavior:
1. Create a commit with a really long commit message
2. Choose the commit and hit `r` to reword the commit message
3. This will pop up an input box with the commit message wrapped onto multiple lines. Start deleting the commi

[2021-09-27 23:09] #826 closed

[2021-09-28 13:39] artfulrobot opened #1498 "Lazygit generates Failed password SSH attempts"
**Describe the bug**

When I start lazygit it looks like it attempts to setup an SSH connection to the repo's origin. This frequently gets the client blocked, since the attempts fail

I see this in my auth.log on the server that hosts my repos:

    Sep 28 14:31:13 reposerver sshd[23394]: Failed password for git from x.x.x.x port 60754 ssh2

**To Reproduce**

Client machine:
- has a git repo check

[2021-09-29 10:04] Ryooooooga commented on #1495
may fixed in https://github.com/jesseduffield/gocui/pull/14 or https://github.com/jesseduffield/gocui/pull/16

[2021-09-29 16:06] clooudch commented on #1312
I think ALT and ALTGR is not working at all. You can not:
- Use a character which requires ALT or ALTGR in a commit or another text field.
- Use a command shortcut which requires ALT or ALTGR like `[` or `]` for switching tabs.

Probably only an issue for certain keyboard layouts, because when I switch to english (US) keyboard, then I can use those characters and shortcuts as they do not require A

[2021-09-29 19:53] clooudch commented on #1312
Does this maybe have something to do with `termbox.InputAlt` being used as the default?

Because when this mode is enabled then it seems like `ModAlt` is being set on the key event in case ALT or ALTGR is pressed.

From `termbox-go`'s [source](https://github.com/nsf/termbox-go/blob/64616e880de4196ee81bde96c0be1ae35b5ec521/termbox_windows.go#L698):
[code]

[2021-09-30 23:27] gwww commented on #854
Additional info, I think related. When pre-commit hooks are in place I do not see any of the output messages from the pre-commit hook. I thought they would show up in the `Command Log`.

[2021-10-01 00:21] gwww commented on #1109
Additional info. I've done some research on this subject. First, it would be great to capture the pre-commit output.

What I've read is don't try to be smart about it. Be dumb, like TERM=dumb type of dumb ;) One reference was a thread from tpope wrt vim-fugitive: https://github.com/tpope/vim-fugitive/issues/1446. The other reference is what to expect from a dumb terminal: https://stackoverflow.com

[2021-10-02 16:43] Ryooooooga commented on #854
It has the same cause as https://github.com/jesseduffield/lazygit/issues/1360.

[2021-10-07 15:46] laurentS opened #1502 "Lazygit seems to get heavy on CPU usage after sleeping"
**Describe the bug**

I've noticed lazygit getting in the 20-30% of CPU usage for prolonged periods of time (for several minutes at least,
probably hours if I leave it be). This seems to be happening virtually every time my laptop wakes up from sleeping
(suspend to ram I think is the correct term). Just now, as an example, I opened my laptop, checked htop for heavy CPU
users, and lazygit was float

[2021-10-09 13:51] kylepollina opened #1505 "Hitting <Tab> on the custom command input opens an empty box on the UI"
**Describe the bug**
When in the custom command input box, hitting tab opens up a small  empty box on the top left corner.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the custom command input with `:`
2. Hit tab
4. See box on top left

**Expected behavior**
Hitting tab does nothing in this context, I suppose.

**Screenshots**

Open custom commands:
<img width="1034" alt="Screen Shot

[2021-10-11 08:04] hntee opened #1506 "The commit messages are all missing"
**Describe the bug**
Hi, there is a weird scenario when I use lazygit. The commit messages are all missing.

**To Reproduce**
No matter an existing repo or creating a new repo and commit anything, cannot see commit messages at all.

**Desktop (please complete the following information):**
 - OS: Ubuntu 16.04.6 LTS (VM)
 - Lazygit Version: commit=, build date=, build source=homebrew, version=0.29,

[2021-10-11 08:28] abitrolly opened #1507 "Improve help menu '?' UX"
The UX for newcomers can be improved with a few interface improvements.

`?` - when pressing it, the menu appears, awesome

`?` - when pressing it again in the new menu, it looks like scrolling or something. Holup - there is no scrolling - it is just some content in the window being replaced with other content. Weird. An improvement to that could be.

* [ ] `?` key closes the menu

When the menu i

[2021-10-11 09:27] abitrolly opened #1508 "Add `upstream` remote from GitHub/GitLab"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I need to rebase against the parent and have no upsteam remote in my clone.

**Describe the solution you'd like**

In remotes menu press (a)dd (u)pstream to detect if the repo is a GitLab/GitHub fork and add `upstream` remote.

**Additional context**

Current shortcut for adding remote is (n)ew, which is

[2021-10-13 21:09] HTD opened #1511 "Can't manually switch the language to English on Windows"
**Describe the bug**
Well, that's it. I'm Polish, SOME of my Windows locale (like time, date and number formats) are set to Polish, but the display language is set to English. Why? Because I'm bilingual and I don't quite understand some poor translations.

In LazyGit - the Polish translation is horrible. I can't find an option to switch it to English.

**To Reproduce**
Use Windows.
Set system loca

[2021-10-14 07:51] Ryooooooga commented on #1511
https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md

[code]

Or you can improve the translation yourself.

https://github.com/jesseduffield/lazygit/blob/master/pkg/i18n/polish.go

[2021-10-14 11:48] HTD commented on #1511
I got the config directory with `lazygit -cd`. I found an empty `config.yml` there. I added the setting, but it didn't work. Then I tried to change other options from default configuration, but it also didn't work. It seems like `lazygit` doesn't load that configuration at all. What am I doing wrong?

[2021-10-14 16:52] skeept opened #1513 "Crash when clicking "Ask question" link on ssh connection"
**Describe the bug**
lazygit crashed in the following situation:

I have windows terminal open, and I connected to a linux machine using ssh.
In that machine I opened lazygit and clicked "Ask question" link.

After that lazygit crashed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open ubuntu on windows terminal (no X forwarding)
2. Click on "Ask question link"
3. See additional context b

[2021-10-14 22:04] HTD commented on #1511
So, I translated all messages. I might have left some minor bugs, but it's... at least now it's in Polish. I still think that some Polish speakers will prefer the English version because our native Git terminology is not very popular here. It was pretty tricky to find the right sources for some translations.

[2021-10-16 00:11] #1506 closed, assigned to nobody

[2021-10-16 00:14] jesseduffield opened #1516 "Better keybinding support"
**Is your feature request related to a problem? Please describe.**
Tcell has support for a wide range of key combinations (e.g. ctrl+right-arrow) but our gocui package (which plugs into tcell) doesn't handle them properly. In `vendor/github.com/jesseduffield/gocui/tcell_driver.go` we currently set the modifier to 0 (ModNone) if it's set to Ctrl or Shift.

**Describe the solution you'd like**
We ne

[2021-10-16 10:18] #1482 closed

[2021-10-16 15:19] JellyChenDeveloper opened #1517 "how to show commit time at left bottom Commits panel"
**Topic**
A clear and concise description of what you want to discuss

**Your thoughts**
What you have to say about the topic

Now I must move to commits panel and press `+`  then can see the commit time.

Is there some config param to control this commit format? and how to format the time format like `YY-MM-DD HH:SS:MM` or `5D` `10h` ...

[2021-10-17 04:23] jesseduffield commented on #1495
Fixed in https://github.com/jesseduffield/lazygit/pull/1518 (though notable wrapping is replaced with scrolling there. If that's a concern lemme know)

[2021-10-17 04:23] #1495 closed

[2021-10-17 04:24] jesseduffield commented on #1223
should be fixed in https://github.com/jesseduffield/lazygit/pull/1518. Can anybody confirm?

[2021-10-17 04:24] #1345 closed

[2021-10-17 06:42] jesseduffield commented on #1202
I can't reproduce this locally on master, but I happen to have also just refactored how edit functionality works (i.e. typing into a prompt) and I expect that to be more stable. I'm gonna close this issue but let me know if you still get the problem on the latest master

[2021-10-17 06:42] #1202 closed

[2021-10-17 07:09] jesseduffield commented on #1163
@dutroctu you would want to go into `handleCustomCommandKeybinding` in `pkg/gui/custom_commands.go` and do something like the following:
[code]

The `RunShellCommandWithOutput` function does not yet exist but you can go to `RunShellCommand` and see that it actually drops the output of the command that's run. So you can create a `RunShellCommandWithOutput` which does _not_ drop that output, and the

[2021-10-17 07:14] jesseduffield commented on #1428
Closing as that fix is in v0.29

[2021-10-17 07:16] jesseduffield commented on #84
Closing as annotated tags will be handled in https://github.com/jesseduffield/lazygit/issues/1381

[2021-10-17 07:20] jesseduffield commented on #1391
That empty rectangle UI bug is now fixed, however I'd like to know more about the expected behaviour here. Could you supply an example of a custom command to run? Something like showing suggestions based on custom commands you've run in the past would be easy, but bash-like autocompletion would be harder

[2021-10-17 07:21] jesseduffield commented on #1379
Closing due to staleness

[2021-10-17 07:21] #1379 closed

[2021-10-17 08:46] #1272 closed

[2021-10-17 09:01] jesseduffield commented on #1349
fixed in https://github.com/jesseduffield/lazygit/pull/1522

As for home/end, that is in motion here: https://github.com/jesseduffield/lazygit/pull/1142

[2021-10-17 09:01] #1349 closed

[2021-10-17 09:05] #1505 closed

[2021-10-17 09:14] jesseduffield commented on #1190
Using home/end is now supported with https://github.com/jesseduffield/lazygit/pull/1523

Jumping word by word is yet to come

[2021-10-17 09:15] jesseduffield commented on #1075
home/end keys have been restored in https://github.com/jesseduffield/lazygit/pull/1523, so I'll close this issue

[2021-10-17 09:15] #1075 closed

[2021-10-17 09:16] jesseduffield commented on #1190
Given that https://github.com/jesseduffield/lazygit/issues/795 is more specific to the issue of jumping word by word, I'll close this ticket in favour of that

[2021-10-17 09:16] #1190 closed

[2021-10-17 09:20] jesseduffield commented on #199
note that home/end are now being used to jump to the start/end of the commit message so we'd need to find other keybindings

[2021-10-17 09:23] jesseduffield commented on #1507
These are all sensible suggestions. The pgup/pgdown thing is tricky: we have a convention at the moment for `,` and `.` to page up and down, and pgup/pgdown handles scrolling in the main panel. If I could start again, I would do it the other way around, but I'm not sure if it's a good idea to change the default now given how many users would be accustomed to the existing configuration

[2021-10-17 09:25] jesseduffield commented on #856
fixed in https://github.com/jesseduffield/lazygit/pull/1499, thanks @samburville !

[2021-10-17 09:25] #856 closed

[2021-10-17 09:31] jesseduffield commented on #1386
@matejcik that PR would be good, lemme know if you need any pointers

[2021-10-17 09:31] jesseduffield commented on #1350
Thanks @Ryooooooga ! Closing now

[2021-10-17 09:31] #1350 closed

[2021-10-17 09:37] jesseduffield commented on #1339
@mjarkk now that your PR is in for the multiple config files thing, I wonder if that means we can close this ticket? I'm not aware of any preference in e.g. iterm2 that lets you set env vars for certain profiles though, so it would need to be something the user automates themselves somehow

[2021-10-17 09:42] jesseduffield commented on #1363
This sounds reasonable to me. I'm chucking a 'good first issue' label on this as it should be straightforward to implement

[2021-10-17 11:40] kristijanhusak commented on #1329
Didn't know about the development.log. Yeah, last 100 entries would be enough. I think keeping up to 1k entries should keep the file size small enough.

[2021-10-17 22:10] jesseduffield commented on #1339
what are your thoughts @okravets-intellias ?

[2021-10-18 04:34] peppy opened #1524 "Pushing a new branch to a remote no longer works"
**Describe the bug**

Using the push command on a new branch no longer works, with an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new branch
2. Push to remote

**Expected behavior**
Push succeeds, new branch is created on the target remote.

**Screenshots**

https://user-images.githubusercontent.com/191335/137669665-ebedd792-bf40-4383-a9a6-de7bc442fd1f.mp4

**Desktop (pleas

[2021-10-18 04:50] jesseduffield commented on #1524
I'll have a look into this after work

[2021-10-18 06:32] screendriver opened #1525 "Fuzzy find files for showing file history"
**Is your feature request related to a problem? Please describe.**

Sometimes I want to show all commits for a given file to see all changes for that single file. `lazygit` already has this feature when you press `<ctrl-s>` (_"view filter-by-path options..."_) but you have to enter the path by hand without the ability to search or autocomplete the path.

**Describe the solution you'd like**

It wo

[2021-10-18 06:43] jesseduffield commented on #1525
I'm taking a look in https://github.com/junegunn/fzf and it's written in Go, with an MIT license, so we should be able to make use of it's algorithm, but I'm not sure how to plug into it. I can see it has an algorithm package but can't see where it handles loading files. Or does fzf not actually load the files itself? I haven't really used it

[2021-10-19 23:19] jesseduffield commented on #1524
merged :) I really need to find a way to test this properly with pushing/pulling, maybe with an integration test that uses a local git server. It's quite a blind spot

[2021-10-19 23:19] #1524 closed

[2021-10-20 11:46] jesseduffield commented on #1381
@nagy135 there is a PR for this in motion now: https://github.com/jesseduffield/lazygit/pull/1469.
As for pushing tags: by default we include the `--follow-tags` arg when pushing. You can also push an individual tag by pressing shift+P on that tag

[2021-10-20 11:47] jesseduffield commented on #1381
Actually now would be a good time to ask @nagy135: do you intend on having multi-line messages against these tags?

[2021-10-20 13:07] kristijanhusak commented on #1255
@jesseduffield yeah that works! Thanks! We can close this.

[2021-10-20 22:25] jesseduffield commented on #1255
awesome, thanks @mjarkk !

[2021-10-20 22:29] jesseduffield commented on #1350
@AndrewSav thanks for the feedback. I wonder how other projects manage this. Maybe there's a way to add a label of `v0.30` and when a release of that name comes out, a bot closes the issue.

[2021-10-21 09:19] screendriver opened #1531 "Crashes when hitting backspace on a multiline commit message"
**Describe the bug**

When I enter a new commit message with multiple lines (`option + enter` on my MacBook) and press the backspace key `lazygit` crashes with `panic: runtime error: index out of range [5] with length 0`

**To Reproduce**
Steps to reproduce the behavior:
1. Enter a commit message
2. Press `option + enter` to enter multiline commit messages
3. Press backspace

**Expected behavior**

[2021-10-21 09:40] cice commented on #1531
same here 👍 (same os and version)

[2021-10-21 17:10] xaljer opened #1533 "Does highlight current selection needs some special terminal feature?"
![image](https://user-images.githubusercontent.com/8309631/138324829-5c8ca0e8-00d6-49db-9d74-34ee85996138.png)
It's great that lazygit can highlight current selection item. But I found that it doesn't work in Window terminal, does this need
some special terminal feature?

[2021-10-21 22:27] jesseduffield commented on #1533
That looks like it's highlighted to me, even if it's not super obvious. You can change how the selected line is styled via https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#struggling-to-see-selected-line

[2021-10-22 08:55] #1531 closed, assigned to nobody

[2021-10-23 01:28] jesseduffield commented on #1180
As of https://github.com/jesseduffield/lazygit/pull/1532 I've removed the lazygit config around pull mode and now we leave it completely up to git to work out what to do. I personally use `pull.rebase = interactive` so that I can see which commits are yet to be rebased when doing a pull, but if you have something else configured that will work fine too.

I've also removed the `--follow-tags` arg f

[2021-10-23 01:28] #1180 closed

[2021-10-23 19:35] gikari opened #1542 "Git bisect support"
**Is your feature request related to a problem? Please describe.**
Sometimes when I am trying to find where a regression was introduced, I want to run `git bisect`. To correctly do that I need to execute some of the commands in CLI: `git bisect start`, `good` etc

**Describe the solution you'd like**
I want lazygit to run bisect commands with shortcuts, may be with UI similar to the existing "merg

[2021-10-23 23:55] jesseduffield commented on #199
Sounds good @Liberatys :)

[2021-10-24 00:32] jesseduffield commented on #1109
@gwww I agree. I've made a start on this here: https://github.com/jesseduffield/lazygit/pull/1543

[2021-10-25 08:42] ecosse3 opened #1544 "Commit prefix is removed after clicking any key"
**Describe the bug**
After last update of 0.30 when I use commit prefixes in Lazygit, each time I try to fill commit message it removes my prefix after clicking any key. Also second time it duplicated previous typed message when I click arrow key

**To Reproduce**
Steps to reproduce the behavior:
1. Set commit prefix
2. Make commit message and click any key

**Expected behavior**
It should not cle

[2021-10-25 20:46] aragon999 opened #1545 "Adding new file in new folder only shows message that `null` cannot be accessed"
**Describe the bug**
When using the folder tree view there seems to be a problem when one has a folder where just a new file has been added, when viewing the folder in lazygit the message `error: Could not access 'path/to/new/folder/null'` also see the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
Create a new file inside a new folder and view the unstaged changes in lazygit

[2021-10-26 09:19] ghost opened #1547 "[Fatal] Unavailable to run LazyGit"
**Describe the bug**
Unavailable to run LazyGit

**To Reproduce**
Steps to reproduce the behavior:
1. Run 0.30.1 release on GitHub

**Expected behavior**
Normal LazyGit

**What's happening**
[code]

**Desktop (please complete the following information):**
 - OS: Windows Server 2008 R2/7
 - Lazygit Version 0.30.1
 - d4ee26d68f79a4f146c1bbe208686566eb87af7d

<details>
<summary><b>System config</b></

[2021-10-26 13:25] MiroslavMikus opened #1548 "Azure devops git provider"
**Describe the solution you'd like**
Could we get Azure DevOps [git provider](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#custom-pull-request-urls) so we can use `o` and `O` shortcuts in `local branches` window.

**Describe alternatives you've considered**
Yeah, Im working on customs command which can help me with this. Its already great, but IMO native support can be much

[2021-10-26 14:39] OliverJAsh opened #1549 "A setting like `git.branchLogCmd` but for the commits panel"
**Is your feature request related to a problem? Please describe.**
I would like to be able to customise the log command used to generate the log in the commits panel so that I can do things like:

- show branch names
- use `--first-parent` to hide commits from branches I've merged into my branch
- show a tree of merge commits

**Describe the solution you'd like**
Somthing like the `git.branchLogCm

[2021-10-26 14:48] MiroslavMikus opened #1550 "Change default terminal for custom commands"
Hey, I'm playing with custom commands and can't find docu/config to change the default terminal.

**Describe the solution you'd like**
I would like to change the default terminal path and parameters.

**Describe alternatives you've considered**
Right now we can kind of start powershell from CMD -_-
<s>`pwsh.exe -NoProfile -WindowStyle Hidden -command "& { gps > ps.txt}"` </s> - this does not work

[2021-10-26 16:07] MiroslavMikus opened #1551 "Custom command does not work like expected"
**Describe the bug**
`customCommands.command` field can't properly escape characters.

I guess that the escape character will be passed to the executable. In my case the CMD.

**To Reproduce**

Steps to reproduce the behavior:
1. Add to config:

[code]
2. navigate to local branches
3. press ctrl+p

**Expected behavior**
I would expect to have a new file at C:\S\temp\test.txt
It works like a charm

[2021-10-27 22:11] decoyjoe opened #1552 "Feature Request: commit message length warning"
There's a convention that the line length of commit messages [should be limited to 50/72 characters](https://stackoverflow.com/a/11993051/13213436).

Both VSCode ([git.inputValidationLength](https://code.visualstudio.com/updates/v1_28#_configure-long-commit-message-warning-threshold)) and Vim ([gitcommitSummary](https://github.com/tpope/vim-git/blob/master/syntax/gitcommit.vim#L22)) have features

[2021-10-28 06:54] screendriver opened #1553 "Loading indicator when rebasing"
**Is your feature request related to a problem? Please describe.**

When I fetch / pull / push I always see a loading indicator `|/-|\-|` but not when I rebase a branch. Sometimes this takes a little bit longer in bigger projects and I'm almost never sure if it's actually rebasing when I hit `Enter` or not. It would be good to show the same loading indicator here.

**Describe the solution you'd li

[2021-10-30 01:47] samaursa commented on #1330
In this context, by "do a refresh" I simply meant getting the status (i.e. waiting for the log tree to show up)

[2021-11-01 08:38] rubo77 opened #1561 "Add support for git-svn"
Please support git-svn.

In January, SmartGit the only GUI tool for Linux, that worked with git-svn will stop working. So this is your chance to be the exclusive only tool from then on ;)

[2021-11-01 16:32] joshmedeski opened #1562 "Illegal flag: -dark"
**Describe the bug**
My main view window in Lazygit displays `Illegal flag: -dark`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main screen
2. See error

**Expected behavior**
Normal output of diffs, log data, etc...

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="1496" alt="Screen Shot 2021-11-01 at 11 27 13 AM" src="https://user-images.gi

[2021-11-02 13:17] danielyrovas commented on #1294
also facing this issue.

[2021-11-03 09:25] fr3fou commented on #1275
Any updates on this? It's a must have feature in my opinion

[2021-11-03 10:02] mijorus opened #1563 "Add ability to fast-forward a branch from the current one"
**Describe the solution you'd like**
Currently you can press `f` to fast-forward from the remote branch. It would be nice to have a shortcut to fast forward a branch from the current active one.

For example, if I am working on the `dev` branch, I can select the `master` and activate a shortcut that  runs:
`git fetch . dev:master`

[2021-11-04 13:25] MikaelElkiaer commented on #1311
It seems my issues are related to using delta for diff. I'm running a simple lazygit config:
[code]

[2021-11-04 15:55] joshmedeski commented on #1562
I had installed the wrong binary for my diff tool, delta. I had ran `brew install delta` but was supposed to run `brew install git-delta`.

[2021-11-04 15:55] #1562 closed

[2021-11-04 21:19] jesseduffield commented on #1362
This is now possible in v0.31 (use `<c-l>` in the commits panel to open the log menu and select the `git log --all` option). Lemme know if you have any issues :)

[2021-11-04 21:19] #1362 closed

[2021-11-05 07:51] i78 commented on #1489
Hi, I really like this proposal and would be happy to file a PR for that.

[2021-11-05 08:08] ralphee commented on #1442
bump

[2021-11-05 09:33] tiwood opened #1564 "`delta` crashes with the latest version `0.31`"
**Describe the bug**
With the latest release `delta` crashes directly after the start of lazygit. The right panel stays frozen and if lazygit closes you can see a `cannot kill child process` error message.

**To Reproduce**
Steps to reproduce the behavior:
Use delta as pager:
[code]

**Expected behavior**
Paging should work and not crash 🧨️

**Screenshots**
If applicable, add screenshots to help e

[2021-11-05 11:50] Xyhlon opened #1565 "Change default plaintext color"
**Topic**
A clear and concise description of what you want to discuss
I want to know how to change the default plain text color.
Because I almost cannot see anything when i commit or merge stuff.
What is the proper way to change this color?

![image](https://user-images.githubusercontent.com/26318103/140506020-abcaee2f-6c8c-493d-8d55-612995f68ef1.png)

[2021-11-05 14:26] Cokile commented on #1564
I have the same issue:
[code]

OS: macOS 11.4
Lazygit Version 0.31
delta 0.9.2

[2021-11-05 15:40] briandipalma commented on #1564
Removing the paging=never seems to fix the crash but the diff is still messed up, it's quite squished.

[2021-11-05 18:23] tiwood commented on #1548
I wanted to add some more details which may be helpful for the implementation.

Say we have the following git remotes:

* https://My-Demo-Org@dev.azure.com/My-Demo-Org/Demo-Project/_git/DemoRepository
* git@ssh.dev.azure.com:v3/My-Demo-Org/Demo-Project/DemoRepository

To create a PR from branch `develop` to `master` URL would be:

[code]

[code]

[2021-11-05 19:15] JayHennessy opened #1566 "apostrophe in remote branch title causes error"
**Describe the bug**
Lazygit throws a `panic: Starting quote has no ending quote.` error. This happens when there is an apostrophe (single quote) is used in the git issue title and you try to scroll over the issue in the `Remotes` branches. Its possible this might happen in the `Local Branches` as well but I did not test.

**To Reproduce**
Steps to reproduce the behavior:
1. In a git repo, create