[2022-10-03 03:37] #2176 closed

[2022-10-03 04:05] #2107 closed

[2022-10-03 18:39] TomBaxter opened #2198 "Installation instructions for Ubuntu need updating"
**Topic**
Is the process of determining the latest version of lazygit through curl and friends too fragile to be the recommended install procedure?

**Your thoughts**
Thank you all for this awesome tool.

The [current instructions for Ubuntu installation](https://github.com/jesseduffield/lazygit#ubuntu) will break on the next lazygit release.

Perhaps it would be best to just say...

"Download and

[2022-10-04 10:58] Paveloom opened #2200 "Icons in the commits panel are broken in Console"
**Describe the bug**
This is how it looks with the `JetBrains Mono Regular Nerd Font Complete` in [Console](https://gitlab.gnome.org/GNOME/console):

![Actual 1](https://user-images.githubusercontent.com/49961859/193799052-75176f3e-11b0-42f7-b540-d406cfc2205e.png)
![Actual 2](https://user-images.githubusercontent.com/49961859/193802065-dcf08e72-fd5c-4bc5-ad3c-b5a7a71fff11.png)

Same for `Hack Regu

[2022-10-04 15:59] williamgoulois commented on #2189
And you can also add `initialValue: "{{.SelectedStashEntry.Name}}"` to the input prompt if you want to have the previous value pre-entered 😉

[2022-10-04 22:16] socketbox commented on #1845
I had this same problem in gnome-terminal with Solarized Dark theme and the _Show bold text in bright colors_ option selected. Disabling the latter corrected the issue.

[2022-10-05 19:50] danielzfranklin commented on #1603
This probably has nothing to do with Windows, and is probably fixed in the latest version. `--path` didn't work with relative paths until https://github.com/jesseduffield/lazygit/pull/1654/commits

[2022-10-05 20:05] #1603 closed

[2022-10-05 21:55] danielzfranklin commented on #2033
Related feature request: I want to reword a single commit with no prompt

Even if you solve the bulk case separately, I still don't want the prompt. My workflow involves a lot of rewording.

The extra keypress isn't a big deal, but I don't like training myself to mindlessly ignore prompts. One of the things I like a lot about lazygit is that it smooths git's rough edges, and one of the ways it doe

[2022-10-06 09:04] richard-vock opened #2205 "Rebase onto commit"
This is such a common operation that I kind of assume that there is some hidden key for it, but how do I rebase onto a commit? Only option I find is to rebase onto a branch's HEAD which is rarely something you'd want to do in a larger project.

In case that is not implemented I highly suggest doing that.

**Describe the solution you'd like**
When in commit section press r to rebase onto commit. We

[2022-10-06 10:37] richard-vock commented on #2205
This is what I had in mind:

https://github.com/jesseduffield/lazygit/commit/bb03e2bc6b29f6ecbd6373d14766523cdbde24b6

Note that I bound r in `basic_commits_controller` to this feature which gets overwritten by rename in `local_commits_controller` where this feature makes no sense (rebasing onto a commit in the current branch is a no-op). This way it only works in the commits view inside the branc

[2022-10-06 10:40] mark2185 commented on #2205
I'd still recommend opening up a PR so that someone else can take over if need be. :)

You'll still remain as the original committer, and everyone's happy!

[2022-10-06 10:49] richard-vock commented on #2205
Done: #2206

[2022-10-06 18:19] umop3plsdn commented on #1498
i'm having the same issue. I guess i'm confused as to why it's happening. It doesn't prompt for password and immediately goes right to Enter passphrase for key... git@github.com Permission denied but never allows me to enter a password. I can then manually Push and pull just fine and enter password but after a few seconds it will immediately go back to that error again. I even made sure to do the

[2022-10-08 00:42] PatrickF1 commented on #1722
I believe this was successfully fixed #1859, can close this now.

[2022-10-08 15:55] #1722 closed

[2022-10-09 18:14] jesseduffield opened #2211 "Investigate StartTicking function in gocui"
Every time we open a popup panel we call `gui.g.StartTicking()` which itself spawns a goroutine which seems to not be exited until the end of the application. This could contribute to issues if you have lazygit open for a while. We need to investigate this to see if it does cause problems and if so, we need to ensure we only ever call StartTicking once

[2022-10-10 06:24] WhiteBlackGoose opened #2212 "GPG GUI infinitely shows up while `lazygit` is running even if nothing is happening"
1. `echo 'max-cache-ttl 20' > ~/.gnupg/gpg-agent.conf && gpgconf --kill gpg-agent`
2. Make a signed commit. Here you're requested to type in the passphrase - as expected
3. Wait one minute
4. A GPG GUI shows up and requests the passphrase
5. Refuse
6. Another one shows up
7. Refuse
8. Go to point 3

**Version info:**
- `lazygit`: `commit=367b0d331836c90c015bf0c45f88612f3d94d08a, build date=2022-07

[2022-10-11 04:25] #1845 closed

[2022-10-11 15:41] jesseduffield opened #2214 "Migrate branchReset integration test to new pattern"
Now that we have a new integration test pattern in place we want to migrate each of our old tests to the new pattern.

* [guide to integration tests](https://github.com/jesseduffield/lazygit/blob/master/pkg/integration/README.md) (including migration strategy)
* [blog post](https://jesseduffield.com/IntegrationTests/)

the branchReset integration test lives at `test/integration/branchReset`

If yo

[2022-10-11 16:33] con-mark commented on #2214
Hi @jesseduffield  I can have a look although not great with go just yet so feel free to give to someone else :)

[2022-10-11 18:45] con-mark commented on #2214
Hi @jesseduffield ,

I just want to confirm I should be testing the same functionality as described in
https://github.com/jesseduffield/lazygit/blob/master/test/integration/branchReset/test.json

Or is the test for a reset master?

If it is following the json I guess I can use the following for guidance?
https://github.com/jesseduffield/lazygit/tree/master/test/integration_new/branch/rebase/expect

[2022-10-11 18:48] jesseduffield commented on #2214
yep that's right, you want to capture the same behaviour as in the original test. And you can run that test and watch it play by running the following:
[code]

And yep that rebase.go file is a good one for guidance.

[2022-10-11 20:06] max-two opened #2215 "commitPrefixes not working"
**Describe the bug**
I'm pretty certain this is user error rather than an actual bug, but I didn't know where else to ask.  I have just installed lazygit and wanted to add a commit prefix but I cannot get it to work and I'm unsure how to debug this.

I have added the exact config from the docs and tested the regex in regexr.com against my branch name (trevordavis/sc-138414/migrate-selectinterviewe

[2022-10-12 09:22] mark2185 commented on #2133
I don't think there's a way to do that other than opening it up in an external `mergetool`, which you can use VScode for.

[2022-10-12 10:11] kuzyo commented on #2133
@mark2185 Thank you.

[2022-10-13 09:51] Ryooooooga commented on #2133
@kuzyo You can open a VSCode from the Conflict panel using `editCommand`(`e`) or `openCommand`(`o`).

[code]

[2022-10-13 21:09] cgebbe commented on #884
Just found this two year old thread via google. It seems now we have the feature "checkout by name", which comes in handy:

- Go to local branches
- `c` for checkout by name
- type in `new_` to find e.g. `remote/new_branch` and checkout that branch
- you now have a detached HEAD. Press `n` to create a new branch here

[2022-10-16 04:20] dmcslt commented on #1383
same question

[2022-10-16 09:15] raphaklaus commented on #2038
That happens the first time connecting with SSH. I manage to run the git command outside of the lazygit and it, per definition, never happened. I think for consistency sake Lazygit should know to treat these cases but I understand that might be difficult.

[2022-10-17 09:51] jerviscui commented on #2190
@mark2185 @Ryooooooga Thanks very much.

Yes, I check the files during the merge process and perhaps make a little change to prevent some local files overwrite by the branch directly.
Most of the time I expect merge to commit automatically, so I think I need a custom command with args `--no-commit --no-ff`.

Thanks again.

[2022-10-17 09:54] jerviscui commented on #2190
How can I remove the tag `bug`?

[2022-10-17 09:55] mark2185 commented on #2190
If the issue is solved, you can close it.

If it's a `feature request`, I'll mark it so.

Just tell me which is it :sweat_smile:

[2022-10-17 09:57] #2190 closed

[2022-10-17 17:34] iovis commented on #1688
Seems related to the 24-bit color option?
[code]
Seems to work

[2022-10-18 08:41] all500234765 commented on #1303
Can we have same thing but for commits?

[2022-10-18 11:58] mark2185 commented on #1303
Could you please clarify? You want to ignore commits that have only whitespace changes, or?

[2022-10-19 17:42] jesseduffield commented on #2214
All good @con-mark :)

[2022-10-19 18:01] bdach opened #2230 "Add prompts for FIDO/U2F hardware device-backed SSH keys"
Somewhat hesitant as to whether this should be considered a bug or a feature request. Erring on the safe side that it's the latter.

**Is your feature request related to a problem? Please describe.**
Recently, I've changed my git setup a bit, and am trying out a new set of SSH keys. Newer versions of OpenSSH ([>=8.2](https://www.openssh.com/txt/release-8.2), to be more precise) support SSH keys th

[2022-10-20 02:43] ca1e opened #2231 "Crash when resize terminal window"
**Describe the bug**
crash exit immediatly when resize window in any terminal on windows

**To Reproduce**
Steps to reproduce the behavior:
open lazygit
resize the window, or again
crash exit(powershell, vs code...etc.)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version info

[2022-10-20 05:26] paulhmurray commented on #2112
Yes, that is correct. Sorry

[2022-10-20 05:26] #2112 closed

[2022-10-20 06:06] MikaelElkiaer commented on #1688
I will try this out.

[2022-10-20 06:55] Roldification commented on #534
Hi guys. This is still the case in Windows 10.

[2022-10-23 09:45] ponsheng commented on #1605
@mark2185, I had the same issue with version 0.35 on Linux.
And it got resolved with current master (36c6462a534ff328051bd81ed90eb626d1a59f09).
Thanks.

[2022-10-23 18:19] mjk-gh opened #2233 "Cannot compile: found packages ..."
**Describe the bug**
After cloning the git repository and following the instructions in README.md on manual compilation, I cannot successfully compile lazygit.

**To Reproduce**
[code]
Same with `go run main.go`.

**Expected behavior**
Compilation succeeds with building a binary called `lazygit`.

**Version info:**
- Most current git version of lazygit source
- git version 2.34.1
- go version go1.

[2022-10-23 19:41] mark2185 commented on #2233
Are you able to update `go` to `v1.18` or `v1.19`?

[2022-10-23 20:04] mjk-gh commented on #2233
Thanks for the suggestion! I was able to install `v1.19` from Backports.

Now I can at least run `go run main.go` in the git directory, and lazygit will start.

Only thing that will not work is the installation of any kind of binary, neither using `go run main.go` nor `go install`. No error messages, but also no installation, neither as user nor as root.

Where would the binary file be created wit

[2022-10-23 20:19] mark2185 commented on #2233
`go run main.go` doesn't create a binary (or it does, but then it's a temporary one)

As for `go install`, it probably installs it in `$GOPATH`, which is I'm guessing `~/go` by default, so check in `~/go/bin` after running `go install`. If it _is_ there, don't forget to add it to your path.

[2022-10-23 20:32] mjk-gh commented on #2233
Bingo! Found it in ~/go/bin.

Thanks a lot! *hug*

[2022-10-23 20:52] #2233 closed

[2022-10-24 07:15] waveywaves opened #2234 "Investigate increasing Maintainer Productivity with Pull Requests Environments"
I would like to make life easier for Lazygit maintainers by implementing [Uffizzi](https://github.com/UffizziCloud/uffizzi)
previews.
Disclaimer: I work on [Uffizzi](https://github.com/UffizziCloud/uffizzi)
Uffizzi is a Open Source full stack previews engine and is completely free for Lazygit (and all open source projects). This will provide maintainers with previews of their PRs in the cloud, all

[2022-10-24 19:40] Hrle97 commented on #2095
ill close this for now since im fine with this solution and if anyone else wants to use it its here

[2022-10-24 19:40] #2095 closed

[2022-10-24 21:30] nicos68 opened #2235 "Lazygit asks for credentials over and over every minute when open"
**Describe the bug**
When I open lazygit on a private repo from [codeberg](https://codeberg.org/) I get popups asking for credentials every minute. It doesn't happen with public repos

**To Reproduce**
Steps to reproduce the behavior:

1. `cd` into a codeberg private repo (no idea what happens with other git providers).
2. launch lazygit.
3. A popup asks for credentials every minute, whether you s

[2022-10-25 02:48] jesseduffield commented on #2234
@waveywaves Lazygit is not a website, it's a terminal app. I don't see any reference to terminal apps on that page, so I don't believe this has value for us

[2022-10-25 03:30] waveywaves commented on #2234
@jesseduffield we do support terminal apps and testing binaries. Really need to update the website :/

[2022-10-25 04:42] mark2185 commented on #2235
If you haven't disabled the `autoFetch` (and its default interval of 60 seconds), that's probably the cause.

Search for `autofetch` in [here](https://github.com/jesseduffield/lazygit/blob/36c6462a534ff328051bd81ed90eb626d1a59f09/docs/Config.md#L85).

But if you'd like to have such a feature, I'd recommend using an `ssh-agent` or increasing the cache time in `git` itself.

[2022-10-25 05:57] jesseduffield commented on #2235
Worth noting that when a fetch happens in the background, it's supposed to fail upon a credential request:
[code]

In this case I assume that when git asks for a password it's doing it via the popup. I don't believe there's any easy way to get around that. But if there is we should use it here.

[2022-10-25 06:42] nicos68 commented on #2235
Thanks for the clarification. Any idea why it would happen on my fedora machine but not on my Manjaro one ? I use KDE on both.

[2022-10-25 06:45] jesseduffield commented on #2235
Is it possible you've configured a different git credential manager on the fedora one?

[2022-10-25 06:50] renews commented on #2235
@nicos68 see if using a cache configuration fix this for you, thats a 1 day cache.

`git config --global credential.helper "cache --timeout=86400"`

[2022-10-25 12:10] rogerioefonseca commented on #41
Working nicely here, thanks @ceuk

[2022-10-25 17:14] xfzv opened #2236 "[FR] Allow to use a specific font family for icons"
I'm using `JetBrains Mono` as my terminal font and also have `Nerd Font Symbols` on my system. This is [the recommended way according to Kitty terminal maintainer](https://sw.kovidgoyal.net/kitty/faq/#kitty-is-not-able-to-use-my-favorite-font), and we can use a specific font family for symbols in kitty config file.

Since we cannot do the same with LazyGit, the icons aren't picked from `Nerd Font

[2022-10-25 20:11] socketbox opened #2237 "on the topic of git worktrees"
**Topic**
I'd like discuss support for git worktrees. For the purposes of this discussion, I'd like to limit the scope of "support" to mean no additional, worktree-specific UI elements. That is to say, if I open lazygit (lg) inside of a worktree directory, it should function just as if it were opened in a "standard" repository. I'm simply looking to have the current feature set function without is

[2022-10-25 20:36] mark2185 commented on #2237
But we have that in `master` already? I used it today, so I'm pretty certain it works.

What version are you on? I see you're running `go 1.16` so I'm guessing it's not the latest.

[2022-10-25 21:10] socketbox commented on #2237
Oh, dear. Yes, you're quite right. I'm on 0.29. Let me test against 0.35.

[2022-10-25 21:41] socketbox commented on #1545
To add a little to this: the directory need not be new or contain only a new file. I've got a `docs` directory that's full of markdown files and I added an XML file to it. When I opened lazygit (commit c4e71356), it reported `error: Could not access 'docs/null'`

[2022-10-25 21:43] mark2185 commented on #1545
@socketbox Is the directory `docs` staged?

[2022-10-26 06:18] MikaelElkiaer commented on #1688
`--true-color=never` does indeed seem to get rid of the errors. Unfortunately, at least with my colors, it gets harder to read the diffs.

[2022-10-26 13:40] waveywaves commented on #2234
@jesseduffield I have updated the [README](https://github.com/UffizziCloud/uffizzi#dont-merge-until-you-preview) on the repo and also have a intermediate [PR](https://github.com/daramayis/f-lazygit/pull/1/files) on our fork of lazy git which you can check. This is the [preview url](https://pr-1-deployment-6809-f-lazygit.app.uffizzi.com/) in case you are not able to check the PR.

[2022-10-26 13:47] FurryWolfX commented on #1383
same question

[2022-10-26 16:02] socketbox commented on #2237
So, I've pulled the latest commit and the first issue I mention (of pushing) is still an issue, but I can't tell if it's a lazygit-prompted problem, or if there's something specific to my repository or remote that is the cause.

When I said that I could push outside of lazygit, I meant that I could `git push -f`, not `git push --force-with-lease`. The latter fails both inside lazygit and in the te

[2022-10-26 16:17] iovis commented on #1688
Yeah, with mine too, but I figured it could help find the root cause of the incompatibility

[2022-10-26 16:54] jesseduffield commented on #2234
@waveywaves Interesting. I've just given this a test and it's glacially slow to the point of being unusable. Would it be possible to make it ten times faster?

[2022-10-26 18:47] #2133 closed

[2022-10-26 20:02] waveywaves commented on #2234
@jesseduffield It should be possible, I have seen faster terminal interfaces from the web. Let me see what I can do. Currently this preview is backed by ttyd. I am currently looking at possibly using WASM for this. Let's see.

[2022-10-26 20:02] mark2185 commented on #2237
With what error does `git push --force-with-lease` fail?

What suggestions?

[2022-10-29 06:48] itsuki0927 commented on #1781
Hello, I also encountered this problem, I want to ask you have solved this problem?

[2022-10-29 06:56] mark2185 commented on #1781
Could you try pressing `Escape` to close it _before_ you press `@`?

[2022-10-29 14:21] itsuki0927 commented on #1781
@mark2185  Thanks, it's my way of using it wrong

[2022-10-30 18:16] mciszczon commented on #1781
Thanks for providing the solution! Although it's not the most obvious behavior TBH :)

[2022-10-30 18:18] mark2185 commented on #1781
All the popups are closed with `Escape`, this one is no exception.

I guess it would be helpful to add a message to close this pop-up first until a fix is in place, but I don't think it's necessary.

[2022-10-31 19:26] RalkeyOfficial opened #2238 "lazygit is unable to find CMD in %PATH%"
**Describe the bug**
currently using Windows 11, the path to cmd is in my %PATH%.
When running `lazygit` in both Command Prompt and Powershell it throws this error:
`*exec.Error exec: "cmd": executable file not found in %PATH%`
which is strange as I do have cmd in my %PATH%

**To Reproduce**
N/A

**Expected behavior**
Lazygit will start

**Screenshots**
![image](https://user-images.githubuserconte

[2022-11-01 09:20] bugnano opened #2240 "Track renamed files in the custom commands"
**Is your feature request related to a problem? Please describe.**
When creating the custom command "[Comparing a file in a previous revision with the working copy](https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium#comparing-a-file-in-a-previous-revision-with-the-working-copy)", I noticed that `{{.SelectedCommitFile.Name}}` doesn't work if a file has been renamed.

**Describ

[2022-11-01 18:42] socketbox commented on #2237
Here is a log resulting from running lg with `--debug` in one terminal and `--logs` in the other. Note that the only keystrokes I provided the application during this run of lazygit were `P`, `Enter`, and `Escape`.
[code]
Odd that mention is made of a `master` branch, as I don't think there's been an active master branch in this repo for quite some time.

To your other question, `git fetch` fixes

[2022-11-01 21:35] Enqueued commented on #1639
This also is affecting me at the moment:
![image](https://user-images.githubusercontent.com/6734193/199344541-6ccefabe-76b8-4b95-98fc-0517f32a6821.png)
Currently using a tokyo-horizon theme in kitty and my commits cannot be read if I open lazygit from within nvim.
If I open it within a mux'd pane then everything can be viewed fine per my config file.

This is how the theme looks normally:
![image]

[2022-11-02 06:23] mark2185 commented on #2237
Alright, we can start treating this as a bug (or several), could you please fill out the `bug` issue template? `lazygit/config.yml`, `~/.gitconfig` and similar.

I'm guessing a part of the issues is due to the `bare` repo (the pushing and amending), and the other one may be due to `bare` repo _and_ automatic fetching.

[2022-11-02 14:36] kittydoor commented on #1062
For a solution that might work for most people, how about a config option, so that one can define an order of "prefer-default-if-exists" such as [main, trunk, master] or [master, main, trunk].

This way we can get the functionality into lazygit without having a perfect solution, and if some day git has native support for a default branch this code can just be removed and simplified to that.

[2022-11-02 14:47] kittydoor commented on #1062
As a final option, we can also consider using "remote origin HEAD branch" ie. refs/remotes/origin/HEAD, which you can see in the remote overview via `git remote show origin`. This "should" accurately provide the default branch, perhaps, though I would appreciate others to chime in on the accuracy of this statement.

[2022-11-02 15:32] rakula4 opened #2242 ""No patch created" when trying to push one changed file"
**Describe the bug**
After changing multiple files in a repo, I only want to commit and push one file. When I hit `space` on one file and then `c` to add a commit message, and finally `ctrl-p` to push, it gives an error:
```No patch created yet. To start building a patch, use 'space' on a commit file or enter to add specific lines```

**To Reproduce**
Steps to reproduce the behavior:

1. Introduce

[2022-11-02 15:38] #2242 closed

[2022-11-02 16:51] mark2185 commented on #2242
I'm not sure if it's closed by accident or not, but just for future reference: it's `uppercase P` for `push`, i.e. `shift+p`.

[2022-11-03 04:13] jesseduffield commented on #1062
@kittydoor I like the idea of defining a default ordering, with the ability to specify the main branch on a per-repo basis.

So we could we have:
[code]

However, something which hasn't yet been discussed, is that currently any branch prefixed with 'feature/' will be compared to the develop branch. That is hardcoded along with 'master' right now. Given it's a pain to make backwards-compatible chan

[2022-11-03 09:36] ooopscc opened #2243 "Pull and update selected branch (not checked-out) without checkout"
**Is your feature request related to a problem? Please describe.**
When using cli, I always do a `git fetch origin X:X` to update X branch without branch switching. It's really helpful. X branch usually is a target branch, then I can rebase on it.

**Describe the solution you'd like**
Selected a branch in lazygit, pull or fetch should using this branch.

**Describe alternatives you've considered**

[2022-11-03 09:40] mark2185 commented on #2243
Have you tried pressing `f` on the branch you want to fetch? I think that fetches only the currently selected one.

[2022-11-03 10:22] kittydoor commented on #1062
@jesseduffield thank you for taking the time to look into this!

I hadn't even thought about the fact that in many workflows, there is a multi-stage process before ending up in main/master/trunk/production/stable etc. Finding a way to support that would be helpful for those situations for sure! A way to define prefixes and exact matches could be helpful indeed. Perhaps globbing is also an option,

[2022-11-03 12:22] ooopscc commented on #2243
Excellent, already implemented. Sorry, I search pull/update/sync instead and didn't find it before.

[2022-11-03 12:22] #2243 closed

[2022-11-03 14:42] AbeerVaishnav13 commented on #1113
Yes, the ability to focus on the diff window and making it larger would be very helpful indeed!!

[2022-11-04 15:25] socketbox opened #2246 "Force push fails"
**Describe the bug**
In a git worktree, I make changes that require modifying existing commits that have already been pushed to a remote. After committing these changes, I attempt to push them to the remote. I'm then appropriately prompted to approve a force push. After electing to force push, I'm presented with the following error.

![image](https://user-images.githubusercontent.com/1593835/19950

[2022-11-04 15:31] mark2185 commented on #2246
Could you try the same thing, but from a _non-bare_ repo?

[2022-11-06 21:08] EldinHb commented on #1453
This PR https://github.com/creack/pty/pull/155 looks a bit more lively

[2022-11-07 05:30] jesseduffield opened #2248 "Merge loaders package into git_commands package"
The loaders package (`pkg/commands/loaders`) should be merged into `pkg/commands/git_commands` because:
* it operates at the same level of abstraction (that is: calling git commands directly), so if we want to change how git commands are called, we'll need to change both packages
* there are circular dependency problems: the loaders package defines a BranchInfo struct as of https://github.com/jess

[2022-11-07 12:41] EldinHb commented on #1453
Btw, as a workaround you can install WSL on Windows. Setup lazygit how you want it to be in your WSL environment. On your Windows environment go to your project and type the command "wsl lazygit". That way WSL will activate lazygit on your current directory even if on Windows and the pagers will work.

The downside is though that because youre on a mounted drive it can get very slow with large/man

[2022-11-07 20:21] jesseduffield opened #2249 "Easily convert changes to a single commit"
**Is your feature request related to a problem? Please describe.**
Often I come across a PR which has maybe 3 or 4 commits but has a bunch of merge commits merging master into the branch. So it's a bit of a mess and it would be much better if it was just a single commit (because the PR isn't actually doing much).

I know github has a feature where you can squash before merge, and that's basically

[2022-11-07 20:25] mark2185 commented on #2249
Just to clarify, would this be the equivalent of:
- select multiple sequential commits
- squash
- continue rebasing

[2022-11-07 20:36] jesseduffield commented on #2249
@mark2185 if the commits are all at the top then yes, though this case is more for when there's a bunch of merge commits inbetween. In those cases I'm not sure you actually can get what you want via a rebase (though if you can that would be good to know)

[2022-11-07 21:00] mark2185 commented on #2249
Ah yes, my curse of _not really reading carefully_.
Rebases and `merge` commits aren't the best of buddies, you got that right.

I like the idea of...
- creating of a temporary branch from the destination (e.g. `master`)
- merge the feature branch onto it, with `--squash`
- hard resetting the original feature branch onto the temporary branch

...better than creating temporary files. [More info.](h

[2022-11-07 21:07] jesseduffield commented on #2249
Interesting, testing that approach locally it works. I'm not averse to using temp patch files, but the branching approach makes sense. We'd just need to ensure that the temp branch doesn't already exist (perhaps by appending a random uniqueness hash to the end of it)

[2022-11-07 21:11] mark2185 commented on #2249
I'm pretty sure hashes are overkill and that nobody will name their branch `lazygit/just-a-temporary-branch-for-squashing`, but the moment I click "Comment", someone will create a branch named exactly that.

Jokes aside, is this just a menu entry that allows the user to "clean up" the current branch, or are we finally getting a `merge with options`? :)

(I know this isn't really a _merge with opti

[2022-11-07 21:14] jesseduffield commented on #2249
Yeah you're probably right about the temp name thing: I was concerned that a step could fail in a prior attempt meaning the temp branch wouldn't have been deleted.

Merge with options would be good, but I don't really consider this operation as a whole to be a merge operation, even though it contains a merge. It does feel a bit too bespoke to be given its own keybinding though so I would like to f

[2022-11-07 21:21] mark2185 commented on #2249
We could always open up a _misc_ menu that can hold all kinds of things.

[2022-11-07 22:44] ooloth commented on #2057
I'd love to see this reopened!

The current non-fuzzy search through remote branches (e.g. when I'm reviewing a PR with a branch name I half remember) doesn't let me be as lazy as I could be if that list gradually narrowed as I type the parts of the branch name I'm confident about (i.e. what happens when you search your combined local/remote branch list in VS Code).

[2022-11-08 08:10] magnusrodseth commented on #2057
@mark2185 @ooloth I closed this manually, as I quickly discovered this functionality was already implemented. At least to the degree I desired.

When I'm in the tab branches, I can simply use `/` to fuzzy search. Do you agree that the functionality is sufficiently implemented, or is something lacking?

[2022-11-08 08:40] mark2185 commented on #2057
It's sufficient for my needs, but @ooloth seems to have different use cases, but I think that calls for a different issue/feature request.

I'm only asking because the issue was opened and then closed 2 minutes after without any explanation so I presumed it might have been a misclick or something. If you're happy with the current implementation, there's no need to do anything else.

[2022-11-08 16:15] ooloth commented on #2057
I discovered that what I'm asking for is in a WIP stage in PR #1993 (the development of which was live-streamed in [this video](https://www.youtube.com/watch?v=vFQFkdzh_Js) and [this video](https://www.youtube.com/watch?v=egM9GxgTWQI)).

@magnusrodseth When I'm in the branches area and press `/`, I get what I consider _non-fuzzy_ search functionality (i.e. the search term must match exactly and th

[2022-11-09 07:35] jesseduffield opened #2251 "Move from Slack to Discord"
Unlike Slack, Discord has unlimited message history on its free plan so we're gonna move there.

[2022-11-09 07:45] jesseduffield commented on #2251
wonder where this comment will land in the discord

[2022-11-09 07:45] jesseduffield commented on #2251
test

[2022-11-09 08:06] jesseduffield commented on #2251
okay here's the link: https://discord.gg/ehwFt2t4wt

Now we just need to update the readme to point to that instead of slack

[2022-11-09 08:39] magnusrodseth commented on #2057
@ooloth Sounds good.

As I have already written out the desired feature, I'd be happy to re-open this issue, and then someone can work on it 😁

[2022-11-09 08:51] jesseduffield commented on #2057
Although come to think of it, the tricky parts all related to the commits panel. If there isn't a strong use case for fuzzy-searching on the commits panel we could do that as a separate thing later

[2022-11-09 10:17] jesseduffield commented on #2251
Alright this is now done

[2022-11-09 10:17] #2251 closed

[2022-11-09 10:57] Tim-Cao opened #2254 "The closing boundary is always removed automatically after resolve conflict"
**Describe the bug**
The closing boundary is always removed automatically after resolve conflict

**To Reproduce**
Steps to reproduce the behavior:

1. Given there is a new branch with conflict with master
2. When rebase this new on master
3. Then resolve the conflict

**Expected behavior**
The closing boundary is still kept after resolve conflicts.

**Actual behavior**
The closing boundary is rem

[2022-11-09 10:58] mark2185 commented on #2254
How do you resolve the conflicts, through `lazygit` or do you open up an external editor?

[2022-11-09 11:07] Tim-Cao commented on #2254
I resolved them through lazygit.

[2022-11-09 11:08] mark2185 commented on #2254
Could you maybe create a minimum example so we can reproduce it?

[2022-11-09 11:23] Tim-Cao commented on #2254
Sure! @mark2185
1. Clone this repo https://github.com/Tim-Cao/seleniumproject
2. Fetch the master-test and master branches
3. Checkout to master-test branch
4. Rebase on master
5. Resolve the conflicts (Choose HEAD) through lazygit

[2022-11-09 12:12] ooloth commented on #2057
@jesseduffield No apology needed! These “lazy” tools are great.

For me, searching through local and remote branches is something I do daily (while reviewing PRs), while searching through commits is something I’ve never done.

So launching the feature without commits panel support for now would work for me.

[2022-11-09 15:26] lukepighetti opened #2255 "Use foreground instead of white color"
On light theme terminals, the text contrast is very low.
<img width="779" alt="Screen Shot 2022-11-09 at 10 25 56 AM" src="https://user-images.githubusercontent.com/666539/200870910-7c2f9a81-7c12-4789-97cd-ddb163184953.png">

 I have to change White in iTerm to almost black for it to paint correctly
<img width="1153" alt="Screen Shot 2022-11-09 at 10 26 06 AM" src="https://user-images.githubuserco

[2022-11-09 16:11] magnusrodseth commented on #2057
@jesseduffield I can +1 on exactly what @ooloth said. Fuzzy searching in branches is a daily thing for me, but I have never had the need to fuzzy-search through commits.

[2022-11-09 18:33] PhotonQuantum commented on #1853
@aruediger I tested your idea. Unfortunately, lazygit's hunk parsing algorithm is not compatible with difftastic's output format, even with inline display set. It results in something like this:

<img width="1237" alt="截屏2022-11-10 02 32 10" src="https://user-images.githubusercontent.com/18749973/200912350-73a818c5-028a-4560-a92b-3112884e6a62.png">

[2022-11-10 03:57] Tim-Cao opened #2256 "The background color of lighttheme is still black on ubuntu 22.04"
**Describe the bug**
The background color of lighttheme is still black on ubuntu 22.04

**To Reproduce**
Steps to reproduce the behavior:

1. Add the following settings into config file
[code]
2. Launch lazygit

**Expected behavior**
The background color should be light.

**Actual Results**
The backgound color is still black.
![Theme](https://user-images.githubusercontent.com/52661397/200997127-d3

[2022-11-10 13:54] Ryooooooga commented on #2255
[code]

[2022-11-10 14:30] lukepighetti commented on #2255
Looking for a solution that doesn't need to be reconfigured when my system automatically switches from dark to light mode, is that implemented?

[2022-11-10 19:17] paulmiddelkoop commented on #1545
Same problem here with a new directory (status: ``??``) .

[2022-11-10 21:03] jesseduffield commented on #2255
in `pkg/theme/theme.go` we're going
[code]

And to my knowledge there's no way to know whether we're in a light theme without a config value.

With that said, `DefaultHiTextColor` doesn't actually get used anywhere and `DefaultTextColor` could be set to style.FgDefault, and `GocuiDefaultTextColor` could be set to gocui.ColorDefault. I'm pretty sure that would actually give us what we want.

[2022-11-11 00:39] artvi opened #2258 "Show custom commands pending status in a popup"
**Is your feature request related to a problem? Please describe.**
Currently, when the `showBottomLine` option is set to `false`, the pending status of custom command is not displayed anywhere. There is no way to tell if a command is still running if you don't stream the output to command log or use `showOutput` feature. It feels glitchy when a popup with command output suddenly appears without an

[2022-11-11 00:41] jesseduffield commented on #2258
When something is loading, it should already ignore the showBottomLine config, so I assume that there's no loader and that's the core of the problem. I'm thinking we go with that approach

[2022-11-11 00:54] artvi opened #2259 "Ability to have custom command output both in log and popup"
`stream` and `showOutput` options are conflicting with each other. When they are both set to `true`, the output popup displays
`<empty output>` message.

I think it would be better to be able to view the output immediately after the execution and then go back and check in the log again when you need.

[2022-11-11 00:54] jesseduffield commented on #2258
hmm in `pkg/gui/services/custom_commands/handler_creator.go` we actually are using a loader:
[code]

[2022-11-11 00:55] jesseduffield commented on #2258
in `pkg/gui/arrangement.go` we have:
[code]

So looks like we just need to also show the bottom line when we're loading

[2022-11-11 01:01] jesseduffield commented on #2259
I agree. This is due to the following in `pkg/commands/oscommands/cmd_obj_runner.go:69`:
[code]

[2022-11-11 01:30] jesseduffield commented on #1545
Just reproduced locally: I've added a file called `text.txt` to `pkg/commands/oscommands` here's the command that's run when I select the directory:
[code]

When I remove the /dev/null part then it no longer returns that error (though interestingly it does _not_ show the untracked file's changes. Even just a regular `git diff pkg/commands/oscommands` doesn't show that.

I've got a PR up for this n

[2022-11-11 06:50] waveywaves commented on #2234
@jesseduffield We made a few changes to the infra where lazygit previews would be deployed and had the preview updated [here](https://pr-1-deployment-7386-f-lazygit.app.uffizzi.com/). I believe the previews are fast now. Let me know what you think.

[2022-11-11 20:57] artvi commented on #2258
@jesseduffield sure, I'll do it. Your suggestion fixes the issue, but It also brings the whole bottom line back for the period of waiting. I think it would be nice if it behaved like search line (covering the whole bottom line with bg=default) when showBottomLine is set to false. What do you think?

[2022-11-11 21:59] jesseduffield commented on #2258
I agree. We'll need to ensure, however, that if we're both in a 'mode' (for example, if you press 'c' on a commit we enter cherry-picking mode and it says '1 commit selected' at the bottom right) and we're loading something, that both the loader is shown (bottom left) and the mode text is shown (bottom right)

[2022-11-11 23:06] jesseduffield opened #2263 "Codespaces"
I'd like to try out using Github's codespaces for lazygit. It would be great if a new contributor was able to spin up a dev environment in their browser to create a PR, rather than having to install Go locally and set up all the required tools and extensions.

I'm pretty sure codespaces is free for open source, so we should give it a go

[2022-11-11 23:58] #1545 closed

[2022-11-12 04:04] jesseduffield commented on #2256
@Tim-Cao I assume that terminal has black as the default? The lightTheme config was intended to mean 'I'm already in a light theme terminal, so show colours accordingly'. So the assumption is that the background is already light.

As of https://github.com/jesseduffield/lazygit/pull/2257 we're actually removing that config because we now make better use of default colours

[2022-11-12 04:04] #2255 closed

[2022-11-13 01:45] jesseduffield commented on #2263
This is now done. You can start a codespace session from the front page:
![image](https://user-images.githubusercontent.com/8456633/201501559-8a48114e-fcba-4743-b037-b0eedd842426.png)

[2022-11-13 01:45] #2263 closed

[2022-11-13 01:54] wtLau opened #2268 "Text are skewe"
**Describe the bug**
The fonts on when running `lazygit` is weird. Fresh installed with `scoop` on window 10

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'powershell'
2. Type `lazygit`
3. See error

**Expected behavior**
Text should make sense.

**Screenshots**
![image](https://user-images.githubusercontent.com/26396307/201501756-ad26d200-9231-4c62-8dcf-8546d023f5a7.png)
![image](h

[2022-11-13 02:48] jesseduffield opened #2270 "allow underscores in VSCode"
xterm.js had an [issue](https://github.com/xtermjs/xterm.js/issues/4238) where underscores were rendered all over the place erroneously when running a TUI. VSCode uses xterm.js and lazygit renders underscores so this causes issues at the moment.

The underscores have been disabled from lazygit via https://github.com/jesseduffield/lazygit/pull/2269 and when VSCode fixes the underscore issue we'll n

[2022-11-13 07:11] wtLau commented on #2268
Fixed, just need to select the right language in the terminal setting : )

[2022-11-13 07:11] #2268 closed

[2022-11-14 04:47] Tim-Cao commented on #2256
You're right @jesseduffield. Thanks!

[2022-11-14 04:47] #2256 closed

[2022-11-14 12:46] amunrarara opened #2275 "Allow precommit-bypassing fixup! commit"
**Is your feature request related to a problem? Please describe.**
It's not a problem, but it's very frustrating when I want to add a fixup! commit and I have to run my entire precommit hook, or disable it manually and re-enable it afterward.

**Describe the solution you'd like**
I'd like to see a fixup! commit command that bypasses pre-commit hooks.

**Describe alternatives you've considered**
-

[2022-11-15 04:36] simon-abbott opened #2279 "Add `theme.defaultFgColor`"
**Is your feature request related to a problem? Please describe.**

#2257 switched to using the default terminal color instead of pre-defined colors for light/dark mode. The issue is that some terminal themes, like mine, don't lend themselves well to this theming.

**Describe the solution you'd like**

Add and use a new `theme.defaultFgColor` setting to allow us to override the default theming.

*

[2022-11-15 04:55] jesseduffield commented on #2279
😆

As discussed, the `theme.defaultFgColor` is a good approach. This is a super-simple issue. Here's what needs doing:
1.
in `pkg/theme/theme.go:61` we want to go:
[code]

2.
Then we just need to actually have `DefaultFgColor` defined on our theme config which you can add in `pkg/config/user_config.go:56`.

3.
Then in the same file at line `pkg/config/user_config.go:359` we want to give that field

[2022-11-15 16:45] simon-abbott commented on #2279
I'd be happy to, assuming I can find the time in my day to work on it!

[2022-11-15 21:13] sibouras opened #2280 "navigate by word in the editor support for windows"
right now to navigate by word on you need to press alt+left/right #2204 but on windows all applications use ctrl+left/right

[2022-11-16 10:04] nicos68 commented on #2235
Hi,
I just tried, it looks like it stopped asking me for credentials when I open lazygit but then it keeps bugging me every minute.

Yes disabling autofech works, but a credentials cache looks like a much cleaner solution to me.

[2022-11-17 16:12] dcendents commented on #1938
It is working correctly in 0.36.0 so will close this bug

[2022-11-17 16:12] #1938 closed

[2022-11-18 15:01] socketbox commented on #2246
Just to clarify: I'm not in the directory that contains `.bare` when I run `lazygit`. I'm in a sibling/peer directory of the `.bare` directory that is a worktree. To clarify:
[code]
I'm not familiar with how one goes about setting up a project that uses git worktrees without first obtaining a bare clone of the repo. Could you provide me with a link or instructions on how to do so?

[2022-11-20 18:00] arnaudperalta commented on #2279
Hi @jesseduffield, I would enjoy to work on a first issue on lazygit. Can I work on this one or is this only assigned for OP ?

[2022-11-20 21:10] jesseduffield commented on #2279
@simon-abbott if you haven't made a start yourself we can assign to @arnaudperalta :)

[2022-11-21 18:44] arnaudperalta commented on #2099
Its seems that this issue can be closed, it has been done on this commit : https://github.com/jesseduffield/lazygit/commit/188890fc49b8a8a2ccabf68307d1cfc7e2ef0a31

[2022-11-21 20:07] simon-abbott commented on #2279
@arnaudperalta Go for it!

[2022-11-22 11:52] OliverJAsh opened #2285 "Add ability to commit when "Staged Changes" panel is focused"
**Is your feature request related to a problem? Please describe.**
After I stage changes, I have to move focus back to the "Files" panel for the commit shortcut (`c`) to work.

**Describe the solution you'd like**
The commit shortcut should work when the "Staged Changes" panel is focused.

[2022-11-23 01:40] geometryolife opened #2286 "LAZYGIT_NEW_DIR_FILE error in wsl"
**Describe the bug**
When I added the scripts of `Changing Directory On Exit` on WSL's bashrc, it will cause me to fail to start lazygit.
![image](https://user-images.githubusercontent.com/54882546/203452503-5962b200-ff61-4223-9e2f-2d7ad05e88ea.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Add it to `bashrc`, save and quit:
[code]
2. Open a new terminal, and try to start lazygit in a

[2022-11-23 06:42] jesseduffield commented on #2285
Makes sense. We'd want to support 'c' (commit in-lazygit), 'shift+c' (commit in subprocess), and 'w' (the WIP commit keybinding). If we're supporting shift+c we'd want to ensure that we land back in the staging panel upon returning from the subprocess (can't recall if we already would do that).

To do this we'd need to take the handlers for the above keybindings out of `pkg/gui/controllers/files_c

[2022-11-23 22:46] nils-a opened #2288 "panic: ... missing argument to repetition operator: `*`"
**Describe the bug**
if I start `lazygit` in one of my repos, it crashes right upon start with the following message:

[code]

**To Reproduce**
Steps to reproduce the behavior:

This is a local error on one of my repos.
If I do a clean clone of the repo, the error goes away.
So, sadly, there is no way to reproduce this currently.

**Expected behavior**
lazygit starts without problems.

**Version i

[2022-11-23 22:48] jesseduffield commented on #2288
Sounds like we need to escape something in the regex at `lazygit/pkg/commands/loading_remotes.go:30`

[2022-11-24 12:14] jiaming-shi opened #2289 "lazygit freeze after press twice L to scroll right in commits window"
**Describe the bug**
lazygit ui freeze after I press twice `L` to scroll right in commits window.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone a git repo to reproduce: `git clone https://github.com/jesseduffield/lazygit.git`
2. Open lazygit in cloned repo: `cd lazygit && lazygit`
3. Switch to Commits window
4. Press twice `L`

**Expected behavior**
lazygit works as usual.

**Screen

[2022-11-24 12:55] mark2185 commented on #2289
Could you maybe record a screencast? Which language are you using?

I'm asking because I can't reproduce it.

[2022-11-24 13:02] nils-a commented on #2288
Yes, there was some escaping missing.

My repo has `git config --local remote.*.prune true` set. This leads to an entry in the config file that looks like this:

[code]

Which leads to lazygit (actually, probably it's *go-git*'s fault.) believing there is a remote named `*`.

I've created #2290 to address this.

[2022-11-24 13:10] jiaming-shi commented on #2289
https://user-images.githubusercontent.com/11895323/203792322-99d08d84-3b5f-4d66-8dfe-7065636b98e4.mov

[2022-11-24 13:12] mark2185 commented on #2289
Does it happen with a clean `.gitconfig` and `lazygit/config.yml` ?

[2022-11-24 13:18] jiaming-shi commented on #2289
After remove `~/.gitconfig` and lazygit config, still have this problem.

[2022-11-24 14:03] jiaming-shi commented on #2289
This is the output of `lazygit --logs`:
At 21:53:53, I pressed `L` first time, 21:54:02 is the second time.
After that, lazygit is frozen, but log keeps flush. Also, the cpu utilization of the lazygit process is 100%.

[code]

[2022-11-24 19:25] amine2233 commented on #2102
Any news about the fix on this issue

[2022-11-24 22:56] jesseduffield commented on #2102
No progress has been made. But I bet this would be a quick fix so I'll chuck a good first issue label on it. Is this something you'd be up to investigating @amine2233 ? I can give pointers where needed

[2022-11-25 03:07] lukepighetti opened #2291 "Please change discard all changes confirmation key"
I hit `dd` by mistake and lost 8 hours of work. The confirmation key should be different than the initiation key. My suggestion is `d` followed by `y/n`

[2022-11-25 07:57] mark2185 commented on #2291
@jesseduffield maybe switch it up to `d -> D` instead of `d -> d` for discarding all changes for the current file?

[2022-11-25 10:36] jesseduffield commented on #2291
works for me

[2022-11-25 10:49] mark2185 commented on #2289
@leiswatch you reacted with :+1: to the original issue, do you have the same issue?

[2022-11-25 10:50] mark2185 commented on #2291
@lukepighetti would changing the second `d` to uppercase `D` suffice?

[2022-11-25 12:50] Ryooooooga commented on #2289
Please try this branch: https://github.com/jesseduffield/lazygit/pull/2276

[2022-11-25 13:19] nokia-git opened #2294 "Many fence lines occur after commit changes by git editor"
Many fence lines occur after commit changes by git editor

I'm using windows vscode with integrated terminal to access remote ssh server by linux.
lazygit is running on linux by vscode integrated terminal.

**To Reproduce**
1. type C to commit changes by git editor
2. my git eitor is nvim, after save and exit nvim, the lazygit is like the picture below

![unnamed](https://user-images.githubusercon

[2022-11-25 13:53] lukepighetti commented on #2291
That works for me and will be a welcome change, thank you

[2022-11-25 14:45] leiswatch commented on #2289
@mark2185 Yes, I have the same issue. I open lazygit, go to `Local branches` and I hit `L` twice. Lazygit freezes.

`commit=d1a8b05401ccda1e52215203139a252eb3be3b79, build date=2022-11-14T09:22:31Z, build source=binaryRelease, version=0.36.0, os=linux, arch=amd64, git version=2.38.1`

`lazygit --logs`

`Nov 25 15:41:02 |DEBU| RunCommand command="git branch -r"
Nov 25 15:41:02 |DEBU| RunCommand com

[2022-11-25 17:42] cgebbe opened #2295 "Option to force two-column layout"
**Is your feature request related to a problem? Please describe.**
I use lazygit in the VSCode integrated terminal. Depending on the terminal width, the lazygit GUI has either one or two column.

**Describe the solution you'd like**
I'd like to always stick to two columns.

**Describe alternatives you've considered**
I've seen https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md , b

[2022-11-25 22:04] mark2185 commented on #2246
It's the same, both with a bare repo or a full one, `git worktree create /path/to/worktree <branch-name>`.

Good point.

[2022-11-25 22:08] mark2185 commented on #2294
Yeah, it's a [bug](https://github.com/jesseduffield/lazygit/pull/2269) that was currently mitigated on current `master`, the temporary patch will remain in place until the underlying [vscode issue](https://github.com/xtermjs/xterm.js/issues/4238) is fixed (it may already have been fixed).

Until then, I advise you to either stay on `v0.35` or to build `lazygit` manually.

[2022-11-25 22:14] mark2185 commented on #2152
Solved by #2222.

[2022-11-25 22:14] #2152 closed

[2022-11-26 01:35] jiaming-shi commented on #2289
Build from this branch, lazygit will not freeze anymore.

[2022-11-26 02:41] #2102 closed

[2022-11-26 02:41] #2279 closed

[2022-11-26 07:40] mark2185 commented on #2102
@amine2233 could you check to see if the current `master` works?

[2022-11-26 18:27] arnaudperalta commented on #2285
I'm working on it, can I be assigned ?

[2022-11-27 13:55] mark2185 commented on #2153
In case anyone wants to take a shot at this, I pushed a failing test onto `2153-move-patch-into-new-commit-sometimes-fails`.

[2022-11-28 08:37] LoveSponge opened #2299 "gui.mainPanelSplitMode doesn't seem to do anything"
**Describe the bug**
When defining in `.config/lazygit/config.yml` the option `gui.mainPanelSplitMode` (per #847) in any way, the panel arrangement seems unchanged regardless of window size; (it's always 'flexible'.)

**To Reproduce**
Steps to reproduce the behavior:

1. Set `mainPanelSplitMode: 'vertical' # or 'horizontal'` in `config.yml`
2. Restart lazygit
3. Resize window and notice the panels

[2022-11-28 10:49] jeeeem opened #2300 "[Windows] Git Delta not working as custom pager"
**Describe the bug**
Im trying to use the pager `delta` with this config
[code]
but its not working,

**Expected behavior**
Should have the same behavior when using `git diff` in the terminal

**Screenshots**
`git diff`
![image](https://user-images.githubusercontent.com/51053482/204258786-c671cc5b-648d-4c03-bccf-5531e8509f06.png)

`lazygit`
![image](https://user-images.githubusercontent.com/510534

[2022-11-29 15:59] mark2185 commented on #2238
@RalkeyOfficial did you really mean to close this as `not planned`, or did you solve it in the meantime and just misclicked?

[2022-11-30 08:14] jesseduffield opened #2302 "Make the wording of rebase less scary"
### Discussed in https://github.com/jesseduffield/lazygit/discussions/2292

<div type='discussions-op-text'>

<sup>Originally posted by **danielo515** November 25, 2022</sup>
Hello.
Thank you for this great, great tool. Thanks to it I can use Nvim without missing VSCode UI at all.

Something I find particularly scary is the wording of rebase. The way (I think, correct me if I'm wrong) that you reb

[2022-11-30 08:15] jesseduffield commented on #2302
as discussed we want to change the language to 'on top of' instead of 'onto'

[2022-11-30 08:25] LucaSchwan commented on #2054
Is there an update or workaround for this? I am having the same issue.

[2022-11-30 08:33] LucaSchwan commented on #2054
Not OP, but that is what happens. The rebind is ignored. Other rebinds in the files module work with no problems I tried 'u' with the tree toggle and there is no problem but rebinding ’ignornFile’ to anything does nothing.

[2022-11-30 08:37] jesseduffield commented on #2054
huh interesting. That sounds like a much easier fix then. Fixed in https://github.com/jesseduffield/lazygit/pull/2303

[2022-11-30 08:40] #2054 closed

[2022-11-30 08:40] jesseduffield commented on #2054
I've merged that to master now.

[2022-11-30 13:37] peppy commented on #1502
I can reproduce high idle CPU on a regular basis. It seems to happen after doing a `git pull` operation, and persist from that point forward.

[Sample of lazygit.txt](https://github.com/jesseduffield/lazygit/files/10123664/Sample.of.lazygit.txt)

[2022-11-30 23:01] #2285 closed

[2022-11-30 23:05] David-Else commented on #2236
I have just discovered this very unfortunate circumstance myself! @xfzv Did you ever get LazyGit working using `Nerd Font Symbols`?