[2020-08-13 09:03] KiteAB commented on #885
I'm sorry because i can't try and close this issue now :(
Just because i don't use brew to install the lazygit, Please wait...

[2020-08-13 09:05] KiteAB commented on #885
Thx!

[2020-08-13 09:05] #885 closed

[2020-08-13 11:51] jesseduffield commented on #612
note that I merged https://github.com/jesseduffield/lazygit/pull/847 because I don't want the PR diverging too much from the codebase but I'm happy to keep this  issue open

[2020-08-14 05:42] a-elhag commented on #831
Had the same problem, but looking through the [docs](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md) I found a solution. Make a config file and put the settings in it:

## Default Path
Default path for the config file:

[code]

## And put these settings in it

[code]

## How the highlighting now looks
![Screenshot](https://user-images.githubusercontent.com/48454648/90217404-42

[2020-08-14 23:30] rayluo commented on #534
@jesseduffield Now I can not reproduce my bug report either. [Documented inline](https://github.com/jesseduffield/lazygit/issues/534#issuecomment-602010711), anyway.

[2020-08-16 08:29] jesseduffield commented on #303
not sure what you mean here. Closing, but feel free to reopen with a screenshot or reproduction steps

[2020-08-16 08:29] #303 closed

[2020-08-16 08:44] jesseduffield commented on #355
On the master branch of lazygit this new config is supported:

[code]

Which allows for expanding the currently focused panel. The focused panel will be given a weight of 2 with all other side panels (except status and stash) taking up a weight of 1, giving an accordian effect. I know this isn't quite what you wanted @kiryph, but if you check out `pkg/gui/arrangement.go` and `pkg/gui/boxlayout/box

[2020-08-16 09:03] jesseduffield commented on #462
@c02y could you see if https://github.com/jesseduffield/lazygit/pull/934 fixes your issue? If you need help testing it let me know

[2020-08-16 09:06] jesseduffield commented on #760
@lordlycastle please raise a separate issue for this. If you're interested, the current code is in `handleCommitPress` in `pkg/gui/files_panel.go`

[2020-08-16 09:08] jesseduffield commented on #889
@SpringHan is your desire to set a new upstream for the branch to be used from that point on, or to push to the upstream as a once-off?

If you want to set an upstream for the current branch, you can go to the remote branches section and press 'u'

[2020-08-16 09:24] kiryph commented on #355
@jesseduffield Thank you for your work on this. I think it is a good feature. I could imagine to skip the expansion if a panel is sufficiently large.

Others have raised the concern that they do not like movement/accordion effect/non-predictable placement of the panels in their terminal which I understand. A static behaviour feels indeed more natural for a terminal on a second thought.

I would pr

[2020-08-16 09:34] jesseduffield commented on #355
@kiryph good points, it just so happens that you can fully expand a panel by pressing '+' (the more you press it the larger it becomes, and pressing '-' goes in the reverse direction). What are your thoughts?

[2020-08-16 10:06] kiryph commented on #355
@jesseduffield `+` and `_` are great and help here.

[2020-08-16 10:37] #879 closed

[2020-08-16 10:37] #462 closed

[2020-08-16 10:57] c02y commented on #462
It works now, thanks.

I just installed lazygit using "go get github.com/jesseduffield/lazygit", it should include the latest commit, right?

[2020-08-16 11:44] jesseduffield commented on #462
yep :)

[2020-08-16 12:24] #882 closed

[2020-08-16 12:25] jesseduffield commented on #882
implemented in https://github.com/jesseduffield/lazygit/pull/936

[2020-08-16 12:50] jesseduffield commented on #822
Totally agree. Fixed in https://github.com/jesseduffield/lazygit/pull/937

[2020-08-16 12:59] #822 closed

[2020-08-16 13:00] jesseduffield commented on #866
thanks for raising this issue, this makes it very easy to replicate the problem :) It looks like we have a concurrency issue that might call for a mutex

[2020-08-16 22:52] jesseduffield commented on #883
I agree that this would be preferable, but there are only so many keybindings available. I do think perhaps that there should be a way to access global keybindings from any panel though, for example through a menu

[2020-08-16 23:11] jesseduffield commented on #871
Totally agree :)

[2020-08-17 03:46] #534 closed

[2020-08-17 07:32] jesseduffield commented on #781
@dhrrgn are you able to test https://github.com/jesseduffield/lazygit/pull/812 and verify that it solves your issue? I'm happy to help out if you need pointers for setting it up locally for test

[2020-08-17 08:11] jesseduffield commented on #872
Turns out we actually were hardcoding some keybindings with our menus and confirmation panels so I've fixed that up here https://github.com/jesseduffield/lazygit/pull/938. Does this resolve your issue?

[2020-08-17 13:04] SpringHan commented on #889
Oh, it solved successful.Thanks.

[2020-08-17 13:05] #889 closed

[2020-08-17 20:05] kylepollina commented on #905
I think this is a duplicate of #719 , I would suggest upgrading git to version 2 as centos comes with git version 1. Or downgrade to lazygit v 16.2

[2020-08-18 14:15] JoeKlemmer commented on #905
That was it.  I upgraded to git 2.24 and thighs work just fine.

FWIW, the easiest way to do this was to uninstall git 1.13 then use the
Inline with Upstream Stable ( https://ius.io ) repo.

On Mon, Aug 17, 2020 at 4:05 PM kylepollina <notifications@github.com>
wrote:

--

*Joe Klemmer*

*[image: https://]about.me/joeklemmer
<https://about.me/joeklemmer?promo=email_sig&utm_source=product&utm_mediu

[2020-08-19 06:28] cj opened #939 "merge/rebase adds |||||| when resolving conflicts"
**Describe the bug**
When resolving merge/rebase conflicts it always adds |||||, which never gets deleted and becomes part of that file

**To Reproduce**
create a merge or rebase conflict

**Expected behavior**
It not to have all the pipes

**Screenshots**
![CleanShot 2020-08-19 at 01 26 10](https://user-images.githubusercontent.com/1819/90599878-41f60e80-e1bb-11ea-9ca8-9f5962c76246.png)

**Deskto

[2020-08-19 06:29] jesseduffield commented on #939
@cj I'm not able to reproduce this locally, are you able to provide a repo where you've found this issue for me to test against? Or perhaps a bash script to generate such a repo?

[2020-08-19 06:33] cj commented on #939
@jesseduffield it happens with any repo, here is the repo from the screenshot https://github.com/cj/lazygit-rebase-issue.

If you checkout master-3 and then try to rebase onto master-2 you'll get the conflict.

[2020-08-19 06:35] cj commented on #939
@cj I found out what it is, it's one of the git global settings I have, give me just a sec to find it and I'll let you know.

[2020-08-19 06:43] cj commented on #939
@jesseduffield this was the culprit!

[code]

[2020-08-19 06:43] #939 closed

[2020-08-19 06:44] jesseduffield commented on #939
Thanks for investigating! I'll raise another issue to ignore the configured `conflictstyle` so that we don't have the same issue for other new users.

[2020-08-19 06:45] jesseduffield opened #940 "ignore `mergestyle` in git config when rendering merge panel"
see https://github.com/jesseduffield/lazygit/issues/939.

We should override this config value when obtaining the diff for the merge panel.

[2020-08-19 06:48] cj commented on #939
@jesseduffield no problem - thank, YOU, for such an amazing tool!

[2020-08-19 10:45] pyrooka opened #941 "Autocomplete/suggest git commit message"
**Is your feature request related to a problem? Please describe.**
Sometimes we (at least me) just copy messages from previous commits. For example: "Bump version...", Update X to version Y.

**Describe the solution you'd like**
Suggest a message based on the history when we are typing, like in k9s:
<img width="162" alt="Screenshot 2020-08-19 at 12 32 17" src="https://user-images.githubusercontent

[2020-08-19 13:08] nagy135 opened #942 "Faster diff mode navigation"
I just recently discovered diff mode and I see how this would be amazing to my lazygit workflow. I would really like to use this feature but I dont find it very usefull to scroll through the differences. I mean J/K scrolls me up and down but that isnt really usefull in large branch differences. I think this would be very usefull feature if I could just see overview of files that changed (maybe wit

[2020-08-19 22:05] jesseduffield commented on #942
Closing as a duplicate of https://github.com/jesseduffield/lazygit/issues/942

Don't worry though, I'm doing a big refactor now so that I can start on this feature!

[2020-08-19 22:05] #942 closed

[2020-08-19 22:08] jesseduffield opened #943 "Display long description of menu items"
**Is your feature request related to a problem? Please describe.**
When viewing items in a menu, often it's not clear what the option will do

**Describe the solution you'd like**
We should have a second view sitting underneath the menu view which provides context as to what will happen when you select the menu item.

**Describe alternatives you've considered**
none

**Additional context**
I'm doi

[2020-08-20 10:24] nagy135 commented on #942
cant wait! :) good luck

[2020-08-20 14:23] micmarty commented on #881
I also miss that. Maybe there's a workaround?
All in all, lazygit for managing would be a blessing.

[2020-08-21 21:40] mjarkk opened #944 "add lazygit to git-scm.com/downloads/guis"
Was surfing the web today and found out about the [GUIs page on git-scm's site](https://git-scm.com/downloads/guis).
It seems like [GitUI](https://github.com/Extrawurst/gitui) is also added on the list so it might be worth adding lazygit also to it.

[2020-08-22 15:23] mjarkk opened #947 "Add GitUI to the alternatives"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Adding [github.com/Extrawurst/gitui](https://github.com/Extrawurst/gitui) to the alternatives list

**Describe alternatives you've considered**
Not adding it

**Additional context**
As GitUI compares us with their speed it might be worth it for us to add a features table at the bottom compar

[2020-08-22 22:45] mjarkk opened #949 "Some sort of sandbox mode"
**Is your feature request related to a problem? Please describe.**
Often I'm to lazy to learn new git features in a separate repo and i'm to scared to use them in a production repo so in the end i usually just stick to the things i already know.
But there are just times when you just need to use them and usually that means i just make a copy of the folder i'm working in and start messing around in

[2020-08-23 01:00] smartding opened #950 "add indication of current selected line in branches and commits panels"
I'm using a dark gruvbox vim theme and I've set the `lightTheme` in config.yml to false.
I find it difficult to see the current selected line in the `Local Branches` and `Commits` panel.
Is it possible to add option to set fg color of current selected line or draw a rectangle around the current selected line?
I've tried to set the bg color of current selected line via the `selectedLineBgColor` opt

[2020-08-23 04:06] #947 closed, assigned to nobody

[2020-08-23 10:54] jesseduffield opened #956 "Panics can sometimes cause terminal issues"
**Describe the bug**
When lazygit panics from inside a goroutine, termbox is never asked to return the terminal back to its original state, meaning weird things can happen like printing characters when you click or scroll your mouse

**To Reproduce**
Create a goroutine and panic from within it, then see how your terminal responds to mouse clicks. I tested by panicking from escape.go in the gocui f

[2020-08-23 12:02] #950 closed, assigned to nobody

[2020-08-23 17:00] alexherbo2 opened #959 "Always open the editor when squashing"

[2020-08-23 17:07] alexherbo2 opened #960 "Display the body message in the log view"

[2020-08-23 17:11] joshgummersall commented on #912
I've always had luck running `lazygit` with `TERM=xterm lazygit` so I suspect it's roughly compatible, though I don't see any direct references to xterm in the [terminfo file](https://github.com/alacritty/alacritty/blob/master/extra/alacritty.info). I pasted some error output from running the test build [on the pull request](https://github.com/jesseduffield/lazygit/pull/955#issuecomment-678799178)

[2020-08-23 19:05] sucrecacao commented on #821
Actually I remember the goal of this question: it was to use tmux to separate the different panel.
How hard would it be to acheive that ?

[2020-08-23 21:20] jesseduffield commented on #959
Closing due to lack of description. Please use the template provided when creating an issue

[2020-08-23 21:20] #959 closed

[2020-08-23 21:21] jesseduffield commented on #960
Closing due to lack of description. Please use the template provided when creating an issue

[2020-08-23 21:21] #960 closed

[2020-08-23 21:29] jesseduffield commented on #810
good pickup, this is indeed something we should add to the readme

[2020-08-23 21:29] alexherbo2 commented on #959
@jesseduffield The reason for the issue is it is really easy to mess your commit messages without noticing, plus the fact in the log view we do not see the body message.

[2020-08-23 21:32] jesseduffield commented on #800
Is this something we could achieve by reading the user's gitconfig? Or is the setting typically stored in some other way? If the latter I'm thinking we make it a config flag inside lazygit's own config

[2020-08-23 21:36] jesseduffield commented on #795
Agreed that this should be a thing. I'm not sure that termbox (one of our dependencies) supports those keys, but I'm assuming there must be some way to read them. Then it's just a matter of adding handlers for those keys in gocui's (another one of our dependencies)`simpleEditor` function

[2020-08-23 21:38] jesseduffield commented on #791
This is probably still a thing but I'm closing due to inability to reproduce. If somebody else has this issue and is willing to troubleshoot we can reopen

[2020-08-23 21:38] #791 closed

[2020-08-23 23:19] jesseduffield commented on #959
I'm not sure what you mean: when pressing 's' on a commit I get this:
![image](https://user-images.githubusercontent.com/8456633/90991218-d5c84000-e5ea-11ea-8022-ba37af843ea6.png)

When doing it via 'e' I get this:
![image](https://user-images.githubusercontent.com/8456633/90991228-e082d500-e5ea-11ea-9b4d-636024b2a63c.png)

Are you talking about a different situation in which squashing occurs?

[2020-08-23 23:21] jesseduffield commented on #774
This is now possible via the 'n' keybinding in the commit branches context :) closing.

Note to self: make this more obvious in our documentation. We really need a use-case based walkthrough page

[2020-08-23 23:21] #774 closed

[2020-08-23 23:22] jesseduffield commented on #771
really good idea, I totally agree

[2020-08-23 23:24] jesseduffield commented on #759
@ueberBrot sorry for late reply, it seems this is an issue for the windows terminal repo

[2020-08-23 23:25] alexherbo2 commented on #959
Yep, the squashing without opening the editor can be misleading.  I had messed my commits without realizing that way.

[2020-08-23 23:26] jesseduffield commented on #758
Having the unmerged files at the top definitely makes sense, as does the ability to run git merge tool

[2020-08-23 23:30] jesseduffield commented on #735
closing due to staleness and inability to reproduce. @PKUFlyingPig if you're able to tell us your version and ideally a repro where this occurs, we can reopen

[2020-08-23 23:30] #735 closed

[2020-08-23 23:32] jesseduffield commented on #733
I have since gotten around to allowing users to view the commits within a branch, so this issue is closer to being resovlved

[2020-08-23 23:33] jesseduffield commented on #720
This is now implemented on master! Hit 'enter' to see another branch's commits, then press 'c' to copy and 'v' back in the local commits context to paste (i.e. cherry-pick)

[2020-08-23 23:33] #720 closed

[2020-08-23 23:34] jesseduffield commented on #712
Closing this for now, though the idea still interests me. Maybe an opt-in leaderboard or something.

[2020-08-23 23:34] #712 closed

[2020-08-24 09:41] jesseduffield commented on #708
Looks like https://github.com/golangci/golangci-lint-action would  do the trick

[2020-08-24 09:41] vbauerster commented on #825
Thanks!

[2020-08-24 09:41] #825 closed

[2020-08-24 09:43] jesseduffield commented on #707
@prosoitos were you able to reproduce the issue?

[2020-08-24 09:46] jesseduffield commented on #671
Given that commits exist on a tree, it might be a good idea to actually store the commits as a tree, so that when switching branches we need only obtain the new commits until it connects back to the tree we've already obtained. Not sure how  easy that would be to implement.

I would like to see some genuine lazyloading i.e. it loads the commits in the background and once it's filled up a screen yo

[2020-08-24 10:02] #654 closed

[2020-08-24 10:13] kristijanhusak commented on #654
@jesseduffield I pulled latest change (via go get), and it's still happening. I also verified that latest gocui vendor vas pulled.

[2020-08-24 10:14] jesseduffield commented on #654
my bad, should  be good now on master!

[2020-08-24 10:16] kristijanhusak commented on #654
Works now, thanks!

[2020-08-24 10:17] jesseduffield commented on #653
I am not really sure how to troubleshoot this one, I'm not well versed in neovim I'm afraid

[2020-08-24 10:19] jesseduffield commented on #652
This might be tricky for things that happen on startup but it shouldn't be too hard to handle this for recurring background tasks like refreshing files.

[2020-08-24 10:25] jesseduffield commented on #650
This functionality is not yet available, though I suspect these kinds of issues will continue coming up i.e. 'I want to do this thing in lazygit but passing an additional flag. I wonder how best to display that in the UI. One option is to, after the user has selected to merge a branch, show another menu containing a list of optional flags you may want to pass. This unfortunately means an additiona

[2020-08-24 10:25] jesseduffield commented on #654
no worries :)

[2020-08-24 10:28] jesseduffield commented on #640
My memory is terrible but based on that linked commit I believe this issue is resolved, am I right?

[2020-08-24 10:35] jesseduffield commented on #622
I think I know what's going on: in terminal speak the up key is typically translated into ESC+A, and right is translated into ESC+C. So I think that after pressing a key the terminal is sending an escape sequence to the program but not fast enough to be interpreted as a single escape sequence, meaning it's taken as a literal escape key which therefore exits the program. The details probably differ

[2020-08-24 10:38] jesseduffield commented on #612
I'm doing an audit of lazygit issues and I'm now thinking I'll close this issue: we effectively enable using lazygit in a portrait mode. Using tabs as @eproxus has suggested would be cool but it would require a bit of work to enable that I don't think would be worth the investment. WIlling to re-open if people disagree though :)

[2020-08-24 10:38] #612 closed

[2020-08-24 10:39] jesseduffield commented on #610
This has now been implemented

[2020-08-24 10:39] #610 closed

[2020-08-24 10:47] jesseduffield commented on #569
I actually like this idea: every now and then I'll switch between light and dark too and I always need to go in and change some things in the theme section of the config. Not sure what the best approach is though.

Specifying the location of the config in an env variable would be very easy to support, but means you'd need to duplicate stuff between the two configs that has nothing to do with the t

[2020-08-24 10:54] jesseduffield opened #963 "The One Documentation Issue To Rule Them All"
Open to better ways of structuring this but I want to have a single issue for covering all the stuff we need to document better. Often an issue is at a point where it can be closed but the issue would be less likely to come up in the future if the docs were clearer.

Some things off the top of my head:
- [ ] how to edit the config
- [ ] how to customise the log graph
- [ ] how to more easily see s

[2020-08-24 10:55] jesseduffield commented on #565
I'll close this  issue in favour of https://github.com/jesseduffield/lazygit/issues/963

[2020-08-24 10:55] #565 closed

[2020-08-24 11:06] jesseduffield commented on #545
Come to think of it this actually sounds straightforward to implement: we'd just be adding a new keybinding on the branches panel to reset the branch to the current head. I think we'd  do `git branch -f` rather than `git checkout  -B`  because it's only a  couple more keypresses to check out the branch after. I've chucked the good-first-issue  label on this cos I reckon anybody could do it :)

[2020-08-24 11:07] mjarkk commented on #821
Ah oke that's a different question,
Thats possible but i think it's very complex and you'll have to re- think/write probably 50% of lazygit if not more.
Also lazygit has become more and more complex over the years in it's early days this was probably somewhat doable but now that the complexity of all panels has grown this gets supper complex quite quickly.

[2020-08-24 11:09] paulcarroll commented on #622
That sounds really promising @jesseduffield
Unfortunately i've completely moved from windows to mac recently and can't find that out 🤕  .... perhaps you have some insight @carstengehling ?

[2020-08-24 11:11] jesseduffield commented on #518
I still like this idea

[2020-08-24 11:13] jesseduffield commented on #517
@keksnicoh are you able to provide the stack trace the lazygit renders upon crashing?

[2020-08-24 11:23] jesseduffield commented on #505
Sorry it's taken me so long to get back around  to this @Silvanoc. Sounds like a config flag is the way to go, I'm imagining:
[code]

I've attached the good-first-issue label to this issue in case anybody else wants to tackle it. A commit that would be good to mimic is https://github.com/jesseduffield/lazygit/commit/e89bf5d06b8a90b0aca702c0b9ef570504183cd1 (using a bool rather than a string config

[2020-08-24 11:42] jesseduffield commented on #324
closing in favour of https://github.com/jesseduffield/lazygit/issues/652 (I haven't forgotten about this issue though!)

[2020-08-24 11:42] #324 closed

[2020-08-24 11:50] jesseduffield commented on #316
Any problem with simply skipping anything that has file permission issues @mjarkk ? And not showing them  in the files panel?

[2020-08-24 11:53] #316 closed

[2020-08-24 11:56] jesseduffield commented on #244
I believe this is fixed on master. Feel free to leave a comment if this is not the case

[2020-08-24 11:56] #244 closed

[2020-08-24 12:01] mjarkk commented on #316
Nope that's perfect

[2020-08-24 12:13] shannonxtreme commented on #963
Do you already have a technical writer doing this? I can contribute to the docs if you want; I'm a writer looking to build my portfolio with some open source work!

[2020-08-24 12:41] mjarkk opened #965 "Abstract the GUI logic into it's own package"
**Topic**
Lazygit has become quite complicated over time and to understand the UI logic in the code is also becoming quite a bit more complicated than just understanding GoCui.
If someone wants to add something to lazygit with a tiny bit UI complication they have to understand GoCui and the Lazygit's UI system and i guess that this doesn't help a lot with attracting new developers.
Beside that the

[2020-08-24 13:23] kristijanhusak opened #966 "Setctty set but Ctty not valid in child"
**Describe the bug**
From latest update I started getting this error when trying to push/pull:
[code]

Screenshot:
![screenshot](https://i.imgur.com/W4zUiPe.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Just try pulling

**Desktop (please complete the following information):**
 - OS: Manjaro Linux i3
 - Lazygit Version - latest master
 - The last commit id if you built project from so

[2020-08-24 13:29] ueberBrot commented on #759
It seems this is a known issue (https://github.com/microsoft/terminal/issues/376)

[2020-08-24 16:11] joshgummersall commented on #912
Resolved! Thanks @jesseduffield

[2020-08-24 16:11] #912 closed

[2020-08-24 17:00] iam-mholle commented on #828
Hi @jesseduffield

I just tried #958, but unfortunately the "copy commit SHA to clipboard" action still results in a crash on windows. Here's the output:
[code]

[2020-08-24 18:26] rayluo commented on #800
My understanding is, the underlying git will already pick up the user's gitconfig, as it should. So, lazygit does NOT need to do anything in this case.

The proposal of this feature request was to see if lazygit would decide to pre-configure [the configuration](https://github.com/rayluo/home/commit/36fb51a886d747e811cc64edd0a2c71cde69fe40) out-of-the-box.

[2020-08-24 21:55] jesseduffield commented on #965
nice meme haha. I agree that we should try and do this, but it is quite the challenge. Definitely something that would make development easier for newcomers

[2020-08-24 22:15] jesseduffield commented on #966
@kristijanhusak I wasn't able to reproduce locally, would you be able to give https://github.com/jesseduffield/lazygit/pull/967 a test?

[2020-08-24 22:16] jesseduffield commented on #966
in the interests of time I'll auto merge it cos shouldn't make the issue any worse!

[2020-08-24 22:49] jesseduffield commented on #41
I'm thinking we could have a flag in the config that, when enabled, will use `git cz` over `git commit`, and unconditionally switch to a subprocess so that you can fill out the prompt. There's work in the gocui repo to enable showing the cz prompts inside of lazygit but it might take some time to properly get that over the line

[2020-08-24 22:57] jesseduffield commented on #963
Sounds good! Are you a lazygit user yourself?

[2020-08-24 23:13] shannonxtreme commented on #963
No, I'm a filthy casual using the terminal in VS Code, but I just installed lazygit to start using it!

[2020-08-24 23:16] jesseduffield commented on #963
Nice, let me know how you go with it, the docs could no doubt use the perspective of a newbie given most people reading the docs will be newbies as well :)

[2020-08-24 23:56] dhrrgn commented on #781
@jesseduffield Sorry for the delay. I will give this a shot tomorrow and report back.

[2020-08-25 06:23] KouAkitaki commented on #966
I'm experiencing the same issue when trying to push.

OS: Void Linux x86_64
Lazygit Version: Release v0.20.9, installed via XBPS

[2020-08-25 06:28] LanderMoerkerke commented on #966
Pulling from master and building it locally again worked for me, thanks @jesseduffield!

[2020-08-25 06:51] jesseduffield commented on #966
Good to hear @LanderMoerkerke , I'll close this issue and cut a new release

[2020-08-25 06:51] #966 closed

[2020-08-25 07:57] its0x08 commented on #816
It says  _Password and/or username wrong_ and booth are right because I use password manager which In browser logs me in but in lazygit it doesnt.

[2020-08-25 08:06] jesseduffield commented on #816
Could you give a description of what you'd like to see lazygit do in this situation?

[2020-08-25 08:30] kristijanhusak commented on #966
@jesseduffield I can confirm that latest master works for me now.

[2020-08-25 09:25] #884 closed

[2020-08-25 09:25] jesseduffield commented on #884
Nice work @hemenkapadia investigating! This has caused some confusion so I've now made the space keybinding do the same thing as the 'n' keybinding (for those who really do want a detached head upon hitting space, I apologise)

[2020-08-25 10:40] jesseduffield commented on #944
pull request is up: https://github.com/git/git-scm.com/pulls

[2020-08-25 10:48] jesseduffield commented on #859
I've removed the keybinding, so I'm going to close this issue. If other people continue encountering this issue I'll be happy to re-open, but there's not much I can do

[2020-08-25 10:48] #859 closed

[2020-08-25 11:29] jesseduffield commented on #846
@vbauerster could you give this PR a go to see if it resolves your issue: https://github.com/jesseduffield/lazygit/pull/972

It allows you to pass the `--work-tree=<path>` arg to lazygit.

[2020-08-25 12:24] pyrooka commented on #941
<img width="841" alt="image" src="https://user-images.githubusercontent.com/15990318/91173751-9da22980-e6de-11ea-8ddc-a8af28e3a5f6.png">

What do you think about something like this?

[2020-08-25 14:08] vbauerster commented on #846
It didn't work. There was no any output, so I had to press ctrl c to get back to my prompt. Probably I should mention before, full git command I use is `git --git-dir=$HOME/.myconf --work-tree=$HOME`. It is for tracking my [dotfiles](https://github.com/vbauerster/myconf).

[2020-08-25 15:20] OliverJAsh opened #973 "Unable to apply/pop stash even though files are not dirty"
**Describe the bug**
Sometimes when I try to apply or pop a stash, I get this error:

![image](https://user-images.githubusercontent.com/921609/91193149-af8bc880-e6ee-11ea-936d-e3f8dd782c85.png)

This error would make sense if the listed files also had non-commited/dirty changes, but as you can see from the files panel, they do not have any changes.

I am able to run `git stash apply` with no prob

[2020-08-25 17:37] band-a-prend opened #974 ""Error: running subprocess" on execution of external command"
**Describe the bug**
Trying to run external command result in "Error: running subprocess"

**To Reproduce**
Steps to reproduce the behavior:
1. Run lazygit in git repo
2. Enter `Shoft + :` to run external command
3. Enter e.g. `git pull`, `git commit -S` etc.
4. See error "Error: running subprocess"

**Expected behavior**
Execution of requested external command

**Screenshots**
![lazygit_0 22 0_er

[2020-08-25 17:58] band-a-prend commented on #534
I didn't test offered patch. But for ssh repo that is required password for pull and push the lazygit-0.22.0
- on pull (key `p`) I see infinite running  "Pulling ...." of command without prompting of password;
- on push (key `P`, i.e. `Shift + p`) the same behaviour as for pull - "Pushing ...." without prompting for SSH key-phrase.

So no prompt for ssh password for me.

[2020-08-25 21:49] jesseduffield commented on #534
@band-a-prend are you able to test the PR here https://github.com/jesseduffield/lazygit/pull/812

[2020-08-25 21:53] #828 closed

[2020-08-25 21:58] its0x08 commented on #816
Well I have 2FA active on my account therefore I cannot login at all through lazygit!!

[2020-08-25 22:12] jesseduffield commented on #973
Under the hood we're going:
[code]
Do you get the error if you specify the stash itself i.e. `git stash pop stash@{1}`?

[2020-08-25 22:21] #974 closed

[2020-08-25 22:22] jesseduffield commented on #974
Thanks for raising this issue @band-a-prend, fixed in 0.22.1 :)

[2020-08-25 22:37] jesseduffield commented on #816
Apologies for not being well-versed on the 2FA side of things. Would you expect lazygit to open a browser window as well to log you in, in the same way your password manager does?

[2020-08-25 23:36] macintacos opened #976 "Panic after cancelling search in menu"
**Describe the bug**
When you press `x` to bring up the menu, hit `/` to search, and then hit `esc` until you back out to your shell, you're presented with a backtrace for the following panic:

[code]

I can reliably reproduce this.

**To Reproduce**
Steps to reproduce the behavior:
1. Open `lazygit`
2. Press `x` to bring up the menu
3. Press `/` to begin searching (you don't have to start searchi

[2020-08-26 06:14] snaildos commented on #791
It was interesting, This seemed to be a virus...?

[2020-08-26 09:32] jesseduffield commented on #976
Thanks for raising this, I was able to reproduce and https://github.com/jesseduffield/lazygit/pull/977 fixes it for me

[2020-08-26 09:32] #976 closed

[2020-08-26 11:28] its0x08 commented on #816
Sure, not a single problem !
👍🏻

[2020-08-26 12:15] vbauerster commented on #846
Maybe this [post](https://news.ycombinator.com/item?id=11070797) can help.

[2020-08-26 21:13] mjarkk commented on #944
MR seems to be merged in :), i'll close this issue

[2020-08-26 21:13] #944 closed

[2020-08-27 10:21] jesseduffield commented on #553
I found out today that the git CLI will, by default, drop merge commits when rebasing i.e.:

So I'm going to remove this flag altogether and also drop merge commits. I'll also show the 'drop' action in red to make it obvious that's what's happening

[2020-08-27 11:42] jesseduffield commented on #553
see https://github.com/jesseduffield/lazygit/pull/979

[2020-08-27 11:53] jesseduffield commented on #784
I've removed the --rebase-merges flag so now you should no longer get that error, however I'm not able to reproduce the issues of freezing. Could you raise a separate issue for that with repro steps?

As for showing a required minimum version, I'll cover that as part of https://github.com/jesseduffield/lazygit/issues/756

Closing :)

[2020-08-27 11:53] #784 closed

[2020-08-27 11:56] jesseduffield commented on #553
I've just merged that PR, so I'll close this issue. Let me know if you have any other issues. Also let me know if you think the behaviour of dropping merge conflicts by default makes sense (it's what git CLI does by default)

[2020-08-27 11:56] #553 closed

[2020-08-27 12:02] psanan commented on #784
Thanks! I'll open an issue when I run into the freezing again and can provide concrete reproduction steps. It hasn't happened for a while, probably due to some combination of avoiding certain features and updating lazygit and/or git on the machines in question.

[2020-08-27 12:22] jesseduffield commented on #756
Looks like the original bug here is fixed. @micmarty your bug appears to be a dupe of https://github.com/jesseduffield/lazygit/issues/905

I've just now merged https://github.com/jesseduffield/lazygit/pull/980 which will display a proper error rather than panic when the git version is less than 2.0

Closing :)

[2020-08-27 12:22] #756 closed

[2020-08-27 12:25] jesseduffield commented on #905
Glad you got it running in the end @JoeKlemmer :) I've just merged https://github.com/jesseduffield/lazygit/pull/980 which will now show a proper error when the git version is below 2.0. I might put more effort in at some point for more backwards compatibility but 2.0 was made in 2014 so I think we're already fairly backwards compatible. Closing :)

[2020-08-27 12:25] #905 closed

[2020-08-27 12:26] jesseduffield commented on #719
Good to hear you got it running @kirill-ratkin :) I'll close this issue as we now have a proper error message telling the user to update git when the version is under 2.0. We might add more backwards compatibility in the future if there is enough demand for it.

[2020-08-27 12:26] #719 closed

[2020-08-27 13:42] mjarkk commented on #965
Maybe something to think about is testability of the library may this be made.
Lazygit does have a lot of tests but there are still a lot of panics that could have been reduced with some sort of UI tests i imagine.
When we have control over everything that is drawn we can also just keep the layout in memory and add some sort of testing functionality that allows library users to execute function on

[2020-08-27 19:03] band-a-prend commented on #974
Thank you for so quick fix!

[2020-08-27 19:43] band-a-prend commented on #534
@jesseduffield
the patch from that PR seems isn't compatible directly anymore nor for lazygit 0.20.9 neither for 0.22.1
due to function renaming and changing it's implementation.
I'll will try to modify it and test

For mentioned repository I have `.git/config`:
[code]

Under `~/.ssh` I have ``
`config`
[code]
and such files like `SSH_User_Name` and `SSH_User_Name.pub`

With this settings I succes

[2020-08-27 20:36] mjarkk commented on #534
Maybe we need to change the way we check for git fetch / pull / push questions.
As most questions are actually in the PTY we *"should"* be able to display them so what if we just have a question box that shows the last line of text pushed to the PTY and the user can always just write things to STDIN from the input box?
That *"should"* cover most git questions.
From there on we could do some fancy

[2020-08-27 23:40] fsmiamoto commented on #830
@jesseduffield Sorry for the late response but thanks for the fix!

[2020-08-28 00:06] fsmiamoto commented on #855
@jesseduffield I'd really like to tackle this one!

[2020-08-28 00:27] jesseduffield commented on #855
go for it @fsmiamoto, lemme know if you need anything!

[2020-08-29 00:38] hzwangzi123456 opened #982 "How to hide the untracked files in files？"
How to hide the untracked files in files？

[2020-08-29 14:01] robinhz opened #983 "Arch Linux (AUR) bin package"
**Describe the solution you'd like**
A lazygit-bin package in the AUR

**Additional context**
A binary package of lazygit (stable) in the AUR would be a great addition. It's a simple alternative to the lazygit (stable) AUR so that the user can choose between compiling it or just using the binary.

**CI/CD**
Also a CI/CD Pipeline with GitHub Actions would make it more efficient to keep the stable l

[2020-08-29 23:07] glvr182 commented on #982
You mean like gitignore?

[2020-08-30 08:54] jesseduffield commented on #983
@dawidd6 is this something you would be interested in? If not I'm happy to take a look

[2020-08-30 09:49] sebastiangelotte opened #986 "Deleting remote branch hangs lazygit"
**Describe the bug**

When trying to delete a remote branch **that's no longer present on the remote**, lazygit hangs with "deleting" spinner spinning forever.

**To Reproduce**
1. Create remote branch
2. Make sure the Remotes list in lazygit shows the branch
3. Delete branch on remote (in github.com's web interface for example)
4. Press `d` on the remote branch in lazygit

**Expected behavior**

[2020-08-30 09:58] dawidd6 commented on #983
@jesseduffield go ahead :+1:

[2020-09-01 01:07] jesseduffield opened #987 "support rebasing from a specific commit"
**Is your feature request related to a problem? Please describe.**
I want to be able to rebase from a specific commit onto another branch i.e. `git rebase --onto baseBranch COMMIT_SHA`. This is good for when your rebase has changed a lot and you don't want to replay the base branch's original commits back on top of the new ones (this often causes conflicts).

**Describe the solution you'd like**
W

[2020-09-01 13:09] fedoranvar opened #988 "Sort (or Filter) Files by Staged/Not Staged"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to see only staged files or only not-staged

**Describe the solution you'd like**
I want to be able to sort Files due to them statuses (Staged/Not Staged)

**Describe alternatives you've considered**
Don't have any at the moment

**Additional context**
Haven't found such feature in README or in iss

[2020-09-01 17:34] tagesmutter opened #989 "Crash at startup: index out of range"
**Describe the bug**
lazygit crashes on startup on one of my repos

**To Reproduce**
Start -> crash (see screenshot for the error message)
It seems to be an array indexing issue

**Desktop (please complete the following information):**
- Arch Linux
 Lazygit v0.22.1 5611d9a3

**Additional context**
It only happens on this specific repo. I don't know what's special about it.

![lzg-error](https://us

[2020-09-02 02:28] Lqlsoftware commented on #324
Great! nice to see you found the reason for this issue. It's been a long time (almost two years) lol.

[2020-09-02 09:30] joejoe87577 commented on #795
Maybe you could extend this functionality and also use the `home` and `end` keys. We use a different naming convention for our branches and when checking out a branch it always means removing the "origin" from the name.

[2020-09-02 10:23] jesseduffield commented on #989
Interesting. Would you be able to tell me what output you get for:
[code]

If it's confidential feel free to just describe what you get. Here's the first few lines of what I get running it on the lazygit repo:
[code]

[2020-09-02 21:52] mainendra opened #991 "Close menu using esc/q"
**Topic**
Screenshot is showing esc/q to close but on Mac it's only showing 'esc' to close, i can map it to 'q' but not both.
Is there any limitation on Mac?

<img width="587" alt="shortcut" src="https://user-images.githubusercontent.com/1897340/92040812-48949200-ed34-11ea-8b58-e7b294f26c61.png">

[2020-09-02 22:10] irateswami commented on #986
I might take a stab at this

[2020-09-02 22:46] sebastiangelotte commented on #986
Yes, correct. The "spinner" in the bottom keeps spinning, so it's not completely frozen, just not responsive to any input.

[2020-09-02 23:20] irateswami commented on #986
Interesting, the code does do an exec.Command with a git push, I'm thinking that git does some kind of prompt or whatever and it's not being handled. I'm on it!

[2020-09-04 10:01] sebastiangelotte commented on #881
I would love this. This is the only thing preventing me from using lazygit for everything git in my workflow.

[2020-09-05 09:34] tagesmutter commented on #989
I think, I have found the issue. And sorry, it's not really lazy gits fault. I'm using Dropbox and there were some Dropbox conflict files in the .git directory. This must have screwed up your counting.
I noticed this after the 'git gc' command was also failing in this repository with an error message:
error: bad ref for .git/logs/HEAD (hp's conflicted copy 2020-08-14)
There was also a conflict fil

[2020-09-05 10:53] timsofteng opened #992 "Disable Esc as button for quit"
Hey. Can I somehow disable Esc button for quit from lazygit? I want to disable it just for quit but not all functionality.
Thanks.

[2020-09-06 23:04] jesseduffield commented on #992
you can go `quitOnTopLevelReturn: false` in the config :) (I do this myself and might even make it the default if people think that makes sense)

[2020-09-07 21:48] jesseduffield commented on #992
Perhaps you're not editing the config file in the right place. If you set this as your config, do you get cyan borders?
[code]
Furthermore, with that config, does 'escape' do nothing if you've just entered the app?

[2020-09-08 12:02] timsofteng commented on #992
Here is my config

`gui:
  theme:
    lightTheme: true
    activeBorderColor:
      - black
      - bold
    inactiveBorderColor:
      - black
reporting: "off"
startuppopupversion: 1
quitOnTopLevelReturn: false
`

And Esc button work like before. It hadn'd disabled.

[2020-09-08 14:42] Jagget opened #993 "Please add amendment operation loading indicator"
**Is your feature request related to a problem? Please describe.**
Amendment of the current commit is running without any indication

**Describe the solution you'd like**
I'd like to see loading indicator that shows that process is on the go.

[2020-09-08 23:08] jesseduffield commented on #992
Which version of lazygit are you using @timsofteng ?

[2020-09-09 08:06] wirtsi opened #994 "commitPrefixes should add the cursor at the end of the commit message"
**Describe the bug**
A very small nit ... but this could improve the workflow even a little more

**To Reproduce**
Steps to reproduce the behavior:
Config
[code]
Gives me a predefined commit message with a prefix based on the branch

**Expected behavior**
I'd like that the cursor is at the end of the commit input field, not the beginning

**Screenshots**
![Bildschirmfoto 2020-09-09 um 10 05 33](ht

[2020-09-09 08:49] timsofteng commented on #992
@jesseduffield I'm using 0.20.4
Freebsd

[2020-09-09 14:33] dzungtran89 opened #995 "lazygit crashes after searching keywords in menu"
**To Reproduce**
Steps to reproduce the behavior:
1. Press `x` to open menu
2. Press `/` and search any words
3. Press `esc` to exit search mode
4. Press `esc` again to quit the menu

**Expected behavior**
Continue working on lazygit

**Desktop (please complete the following information):**
 - OS: macos 10.15.6
 - Lazygit Version: 0.22.1

**Additional context**
Crash logs as below:

[code]

[2020-09-09 23:58] prosoitos commented on #707
Sorry for my slow reply: I am very busy right now. But I keep a list of issues whenever I encounter one. One of these days, I'll try to reproduce them all, update here and update other issues where necessary. I apologize for not doing this sooner though.

[2020-09-10 03:25] #991 closed

[2020-09-11 08:33] mewejo commented on #995
I can reproduce on PopOS/Ubuntu too 20.04 too, Lazygit 0.22.1

I used to use an older version of Lazygit which was very stable, I upgraded a couple of weeks back and `0.22.1` has been very unstable for me. Random crashes/hangs etc, not sure if that's related to the crash here.

[2020-09-11 15:09] timsofteng opened #996 "vim integration"
Hey. Do you have plans to develop plugin for vim?
I'm using lazygit in floaterm now but I guess native integration from developer would be better option with full ingegration and less buggy.

[2020-09-12 12:58] daveriedstra opened #997 "--config option description ambiguous"
**Describe the bug**
lazygit's help output describes the `--config` option as "Print the current default config". At a glance, it's not clear whether this means "the current configuration" or "the default configuration". (In fact, I was in the middle of writing up a bug report describing how `--config` wasn't reporting my configuration changes.) This should be more clear.

**To Reproduce**
Steps t

[2020-09-14 18:37] OliverJAsh opened #998 "Copy file name"
**Is your feature request related to a problem? Please describe.**
I use `ctrl+o` a lot for copying branches and commits, but it doesn't work on a file name (e.g. inside of a commit or inside the files panel). Perhaps we could extend that shortcut to work in other contexts that display lists of files?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2020-09-17 06:18] MuratUrsavas opened #1000 "To be able to copy a commit message"
I'm using Git submodules for managing my libraries and they are generally nested. For committing a parent repo I generally need to enter three submodules individually and then enter same or similar commit messages. Normally I was copying the commit message and apply all other remaining repos while using other GUI's. But Lazygit does not allow me to do it. Shift + Arrow does not work. Mouse drag ju

[2020-09-17 21:47] jesseduffield commented on #996
good question, I believe there is a plugin for neovim, not sure about vim itself

[2020-09-17 21:55] jesseduffield commented on #993
fixed in https://github.com/jesseduffield/lazygit/pull/1002

[2020-09-17 21:57] jesseduffield commented on #995
Hmm, this has been fixed in v0.22.3, and the latest version is v0.22.4. Are those versions not available to you guys?

[2020-09-17 21:58] jesseduffield commented on #993
let me know if you have any issues, closing :)

[2020-09-17 21:58] #993 closed

[2020-09-17 21:59] jesseduffield commented on #994
Totally agree. This is due to a race condition unfortunately, and a proper fix will probably require fixing up the `gocui` dependency

[2020-09-17 22:01] jesseduffield commented on #995
just confirmed the latest version isn't in homebrew, damn! Will see how redeploying goes now

[2020-09-17 22:17] brandoncc opened #1003 "How do I turn off the welcome message?"
**Topic**
Welcome message ("Thanks for using lazygit" popup)

**Your thoughts**
I found the message helpful the first time I saw it, but now I don't enjoy seeing it each time. How can I turn it off? I would rather open to the files panel by default.

[2020-09-17 22:36] jesseduffield commented on #1003
That message should turn off automatically after you've viewed it for the first time. This suggests that the config file isn't being written to. If you navigate to the 'status' panel and press 'o' it should open your config file with at least:
[code]
What do you get when you hit 'o' on the status panel?

[2020-09-17 22:37] jesseduffield commented on #1000
you can shift+drag to copy it, however I agree this should be a shortcut

[2020-09-17 22:41] jesseduffield commented on #997
fixed in https://github.com/jesseduffield/lazygit/pull/1004. Printing the current config would be a little trickier to implement (and it's currently possible to open by going 'o' on the status panel) but feel free to raise a separate ticket for that :)

[2020-09-17 22:41] #997 closed

[2020-09-18 00:48] brandoncc commented on #1003
My config opens, which contains:

[code]

I set that up earlier today, and I had to create the file manually.

[2020-09-18 01:03] jesseduffield commented on #1003
weird that it wasn't created automatically. Chuck
[code]
in that file and you should be fine

[2020-09-18 01:46] brandoncc commented on #1003
Perfect, thank you!

[2020-09-18 01:47] #1003 closed

[2020-09-18 04:32] dzungtran89 commented on #995
Thanks alot for your hard work!

[2020-09-18 07:04] MuratUrsavas commented on #1000
Didn't know that, thank you.

[2020-09-18 07:06] MuratUrsavas commented on #1000
By the way, sorry for taking this pretty issue number for a cheesy report :)

[2020-09-18 07:41] mewejo commented on #995
Thanks Jesse! :) Just upgraded to 0.22.6

[2020-09-18 08:41] pyrooka opened #1005 "Lazygit doesn't start on macOS"
**Describe the bug**
Lazygit fails to start on macOS Catalina due to minVersionError error. The problem is here: https://github.com/jesseduffield/lazygit/blob/5611d9a3ef442bfa162ee604b94af3639db73a09/pkg/app/app.go#L144 because on macOS this is the output of the cmd:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start the latest Lazygit on macOS

**Expected behavior**
Starts like be

[2020-09-18 08:41] jesseduffield commented on #1005
DAMN

[2020-09-18 09:17] V1RE commented on #1005
For anyone looking for a quick fix, install a newer version of git via homebrew with `brew install git`

[2020-09-18 09:22] dzungtran89 commented on #995
Works like a charm, except another issue regarding to git version detect, someone reported it here [1005](https://github.com/jesseduffield/lazygit/issues/1005)

[2020-09-18 11:03] jesseduffield commented on #1005
fixed in https://github.com/jesseduffield/lazygit/pull/1006 (cutting a new release now: version v0.22.8)

[2020-09-18 11:04] jesseduffield commented on #995
I'm pushing a new release now to fix the git version check :)

[2020-09-18 11:15] jesseduffield commented on #1000
All good I completely forgot to congratulate you on getting it!

[2020-09-18 11:28] pyrooka commented on #1005
That was fast, thank you!

[2020-09-18 13:43] #1005 closed

[2020-09-18 15:23] dzungtran89 commented on #995
Upgraded and worked like a charm, thank you so much!

[2020-09-18 15:23] #995 closed

[2020-09-19 01:00] jrzhang12 opened #1007 "Not using $EDITOR in zsh iTerm2"
**Describe the bug**
When trying to edit a file at file panel in lazygit, it does not open with default editor. In my case, the default editor is nvim, but instead it opens with vim.

**To Reproduce**
1.  open lazygit
2. press e to edit a file in the file panel
3. opened with vim(not default nvim)

**Expected behavior**
open the file with nvim

**Screenshots**
If applicable, add screenshots to hel

[2020-09-19 23:17] Jagget commented on #993
@jesseduffield works super cool, thank you! would like to have the same indicator for commit operation :D

[2020-09-21 05:35] #998 closed

[2020-09-21 12:38] tuxpeople opened #1009 "Tests failing"
I'm currently working on packaging lazydocker for Alpine Linux.

**Describe the bug**
go test fails:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. GOPATH="$srcdir" go build
2. GOPATH="$srcdir" go test ./...

$srcdir is where the extracted tar.gz is.

**Expected behaviour**
Tests succeeding

**Desktop (please complete the following information):**
 - OS: Alpine
 - Lazygit Version v0

[2020-09-22 21:29] eric-bentley opened #1010 "Issue when a merge.tool is defined"
I'm using beyond compare as my merge tool with git.  (see https://www.scootersoftware.com/support.php?zz=kb_vcs_osx#git )
the 'git diff' command opens a bcompare gui window for the diff/merge.

When I try and use lazygit, it also opens the bcompare window rather than capturing the output, and gives the window focus to the called application.
To get a standard git diff, I use the --no-ext-diff opti

[2020-09-23 09:50] jesseduffield commented on #1009
@tuxpeople can you give https://github.com/jesseduffield/lazygit/pull/1011 a go?

[2020-09-23 09:54] jesseduffield commented on #1010
@eric-bentley could you give https://github.com/jesseduffield/lazygit/pull/1012 a try and see if it resolves your issue?

[2020-09-23 10:12] linyaoli opened #1013 "Too many open files"
**Describe the bug**
[code]

I installed it from homebrew.

Thank you very much for creating & maintaining this tool!

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command and the error shows.

**Expected behavior**

**Screenshots**

[2020-09-23 10:15] linyaoli commented on #1013
Just found out you have a fix for it already. Sorry for the report, the bug is gone.

[2020-09-23 10:15] #1013 closed

[2020-09-23 13:04] eric-bentley commented on #1010
issue resolved.  Thanks.

[2020-09-23 13:04] #1010 closed

[2020-09-24 07:37] tuxpeople commented on #1009
I did:

[code]

First attempt:

[code]

The most recent version of go in Alpine 3.12 is 1.13.14. However, There is a more recent version of it in the "Edge" channel: 1.15.2:

[code]

Second attempt:
[code]

[2020-09-24 08:53] voigtan opened #1014 "Crashes when using menu"
**Describe the bug**
Application crashes when Im navigating in the menu

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Menu with `x` and press `x` again
2. Click on `close menu`

When I do this the client crashes and give me this message:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following informat

[2020-09-24 22:04] sagor999 commented on #1014
Using same version, but getting similar crash when pushing into branch:
[code]
Version:
[code]

[2020-09-26 01:57] jesseduffield commented on #1014
@voigtan I was able to reproduce the error, and I've fixed the issue in this PR: https://github.com/jesseduffield/lazygit/pull/1017

@sagor999 I couldn't reproduce your error. Could you see if https://github.com/jesseduffield/lazygit/pull/1018 fixes the issue for you?

[2020-09-26 01:59] jesseduffield commented on #1009
@tuxpeople looks like the only error there is about the unnecessary strconv import. That's not been fixed on master, could you retry?

[2020-09-26 02:50] sagor999 commented on #1014
@jesseduffield it doesn't happen very often. Maybe once a day. So very hard to repro. :(

[2020-09-26 07:53] jesseduffield commented on #246
@lordlycastle @JalonSolov @dvdbng I've got a PR up for custom keybindings now, let me know your thoughts :) https://github.com/jesseduffield/lazygit/pull/1019

[2020-09-26 09:34] jesseduffield commented on #1014
@sagor999 at any rate I've gone ahead and merged the PR. I'm going to close this issue but if you get that stacktrace again when working off the master branch please open another issue for it :)

[2020-09-26 09:34] #1014 closed

[2020-09-26 09:47] fcdml opened #1020 "crash"
**Describe the bug**

  client  will  crash when I  open client and type y or n

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on 'client'
3. Scroll down to '....'
4. crash

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/17615663/94337837-1539e000-0020-11eb-85f8-6e

[2020-09-26 09:48] jesseduffield commented on #1020
@fcdml  Is there a stack trace you're able to include here?

[2020-09-26 10:17] fcdml commented on #1020
sorry ,  I  don't know where the stack trace is . could you tell me how to find it in disk?  thank you
 And it just run in a git
repository ?. I want to open  client  in other place and   go to repository by command

[2020-09-26 10:35] jesseduffield commented on #1020
The stack trace will display in the terminal itself after the program crashes. If you're not seeing that then I suppose it's failing gracefully without one. Hmm, not sure how to investigate this

[2020-09-26 18:05] lordlycastle commented on #246
@jesseduffield That makes very coo feature! A lot more than I expected, it's evident you put some thought in potentia use-cases . Thanks for all your time and hard work! We appreciate it very much ❤️

[2020-09-26 18:13] JalonSolov commented on #246
Very nice.  Looks like most if not all bases are covered.  Would of course be nice to have a way other than editing a <shudder> YAML file, but since you probably won't do it often, that'll work.

[2020-09-27 01:15] jesseduffield commented on #246
Glad you like it :) I've merged that PR into master and I've added docs [here](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md). I've also started a [wiki](https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium) page that is publicly editable so that if anybody thinks up a good custom command they can include it there for others to use (and

[2020-09-27 01:15] #246 closed

[2020-09-27 01:17] jesseduffield commented on #138
@lukaszgard it has been quite a while! Sorry it took so long to get back to you here, but I've just recently added support for custom keybindings and recalled this issue as a good candidate. Do the custom keybindings seen [here](https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium) satisfy your use case?

[2020-09-27 01:32] jesseduffield commented on #84
Doesn't seem like anybody has a requirement for annotated tags so rather than add it to the actual app I'm gonna be lazy and describe how to add it as a custom command [here](https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium). At any rate I'm closing this issue!

[2020-09-27 01:43] jesseduffield commented on #545
@matejcik lazygit now supports custom commands! I reckon this should be simple enough to implement based on the docs [here](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md). If it ends up being generally useful we can merge it into the lazygit codebase.

[2020-09-27 01:47] jesseduffield commented on #827
@jeremyben is this Chocolatey package automatically version-bumped?

[2020-09-27 01:48] jesseduffield commented on #824
Closing due to staleness, but let me know if you still have the issue :)

[2020-09-27 01:48] #824 closed

[2020-09-27 01:53] jesseduffield commented on #773
If you check out https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md you'll see the full list of keybindings. If you copy+paste those keybindings into your config file (which you can open via pressing 'o' on the status panel from inside lazygit) you can make whatever changes are necessary.  Lemme know if you need any pointers

[2020-09-27 01:55] jesseduffield commented on #742
closing due to staleness but @tagesmutter let me know if you still have the issue

[2020-09-27 01:55] #742 closed

[2020-09-27 01:59] jesseduffield commented on #752
I've updated the [docs](https://github.com/jesseduffield/lazygit/edit/master/docs/Config.md) to explain how to configure this, closing :)

[2020-09-27 01:59] #752 closed

[2020-09-27 02:04] jesseduffield commented on #855
This has now been implemented, closing :)

[2020-09-27 02:04] #855 closed

[2020-09-27 02:07] jesseduffield commented on #992
@timsofteng are you able to try a more recent version of lazygit? The issue should be resolved on that (the most recent version is v0.22.9)

[2020-09-27 02:11] jesseduffield commented on #940
hang on a second it's not a diff we're actually cat'ing the file. Maybe we just need to support various merge styles, and/or make it easier to open the merge tool

[2020-09-27 02:16] nahtnam commented on #855
Appreciate it a lot, thank you so much!

[2020-09-27 05:44] jesseduffield commented on #881
closing as a duplicate of https://github.com/jesseduffield/lazygit/issues/778 but do not fret, The feature is almost done https://github.com/jesseduffield/lazygit/pull/1023

[2020-09-27 05:44] jesseduffield commented on #846
closing as a duplicate of https://github.com/jesseduffield/lazygit/issues/778 but do not fret, The feature is almost done https://github.com/jesseduffield/lazygit/pull/1023

[2020-09-27 05:45] #881 closed

[2020-09-27 05:45] #846 closed

[2020-09-27 05:47] jesseduffield commented on #778
I've done some more digging and we're going to support the --git-dir and --work-tree args. I want to hold off on a generic --git-args option until we really need it: this particular issue requires some bespoke code and I get the feeling that may also be the case with other git args so supporting any random git args could mislead users.

At any rate I'm working on this feature now: https://github.c

[2020-09-27 06:30] jesseduffield commented on #778
@GabrielDuarteM @80KiloMett @micmarty @sebastiangelotte @vbauerster could you give this [PR](https://github.com/jesseduffield/lazygit/pull/1023) a test? Should work fine when invoked like so:
[code]

[2020-09-27 07:05] timsofteng commented on #992
Could you send me link where I can download it binary?

[2020-09-27 07:06] jesseduffield commented on #992
here ya go https://github.com/jesseduffield/lazygit/releases/tag/v0.22.8

[2020-09-27 09:41] jesseduffield commented on #789
@vigoux (or @matejcik) could you see if https://github.com/jesseduffield/lazygit/pull/1024 fixes the issue on your end? It works for me when following @matejcik 's repro steps

[2020-09-27 13:51] kguidonimartins commented on #778
Is there a way for lazygit to accept or read the local `--git-dir` settings, for example: `showUntrackedFiles = no`?

[2020-09-27 14:01] fsmiamoto commented on #996
For me, using lazygit with floaterm has been an awesome experience and I haven't looked back since.

But to be honest, I'm not sure if there's much to be added by having an full integration.

[2020-09-27 18:35] gelpenaddict opened #1025 "yum support for RHEL"
Support installation via yum install?

[2020-09-27 21:55] jesseduffield commented on #778
@kguidonimartins that PR specifically checks the `showUntrackedFiles` arg so that should be fine. As for other settings, it might need to work on a case by case basis as often it's not as simple as just passing the arg through to git

[2020-09-28 19:42] lordlycastle commented on #1007
It's `GIT_EDITOR` and is it set properly in the gitconfig?

[2020-09-28 23:04] jesseduffield commented on #710
This is implemented in https://github.com/jesseduffield/lazygit/pull/1026

[2020-09-29 00:48] fcdml commented on #1020
Today, it didn't flash back again. But it won't create  a new repository  in this folder when I type y. it will open a recent repository.

[2020-09-29 07:48] #789 closed

[2020-09-29 08:22] #710 closed

[2020-09-29 08:35] matejcik commented on #789
confirming that latest master does not have the issue

[2020-09-29 10:49] jesseduffield commented on #781
Should be fixed on master now. Let me know if it's not :) closing

[2020-09-29 10:49] #781 closed

[2020-09-29 14:58] infinite-ops commented on #996
I agree with @fsmiamoto

[2020-09-29 16:52] jrzhang12 commented on #1007
Thanks!

[2020-09-29 16:52] #1007 closed

[2020-09-30 06:26] tuxpeople commented on #1009
@jesseduffield looks good for me now:

[code]

However, I've no idea what Alpines build system will say :-P

I'll update the package in Alpine as soon as you released a new version. But there is still the issue with the go version in Alpine. As I'm relatively new to Alpine, I can't say how this kind of stuff works, but I assume "edge" will eventually end up in beeing the next release of Alpine. I'

[2020-09-30 08:29] mewejo opened #1028 "Slice bounds out of range"
**Describe the bug**
Not sure if this is the error I keep getting but I've been having panics and finally had a chance to report one. This happened after a fetch of master when I was on another branch. That usually works fine. The computer was resumed from sleep though, if that could have any impact. Lazygit was running, PC slept, woken and then used Lazygit, and then panic.

**To Reproduce**
Step

[2020-09-30 10:49] jesseduffield commented on #1028
good job catching the error. Looks like we must be deleting views and reading views at the same time, and the race condition causes issues. Two solutions come to mind: the first is to never delete views and instead just hide them (which I'm currently leaning towards: the unknown view error shows up all the time) or introduce a mutex that would apply whenever reading or mutating the array of views.

[2020-09-30 11:46] timsofteng commented on #996
What do you do if you want to start edit file in lazygit?
I have tried do it by pressing `e` key but few times I caught bugs.

[2020-09-30 16:13] mewejo commented on #1028
I don't know any Go but that makes some sense! :) I had another panic on 0.22.8 just now, range numbers are different, but this time it happened after merging and then pushing a branch. Again, it pushed successfully but panicked after:

[code]

[2020-09-30 19:26] vbauerster commented on #778
Just tested #1023, looks like it's ok, haven't spot any issue.

[2020-09-30 20:36] jesseduffield commented on #778
thanks @vbauerster , I'll close this issue for now and if you come across any issues feel free to comment them here

[2020-09-30 20:36] #778 closed

[2020-09-30 21:02] jesseduffield commented on #1028
https://github.com/jesseduffield/lazygit/pull/1030 should fix the issue, are you able to try out the master branch and see if you get any more panics?

[2020-10-01 07:00] its0x08 opened #1032 "[Feature request] Add search functionality for Patch window"
**Is your feature request related to a problem? Please describe.**
I check huge commits and I want to be able to search inside a commit instead of endlessly scrolling and hoping to find what Im searching for !!

**Describe the solution you'd like**
I'd like to have "/" (slash search) functionality for the Patch window.

[2020-10-01 07:21] jesseduffield commented on #1032
totally agree. I actually have no idea whether this would be easy or not, hopefully it's easy

[2020-10-01 15:25] #1020 closed

[2020-10-01 20:48] jesseduffield commented on #1028
No worries :) I've added a `manual` installation guide to the [readme](https://github.com/jesseduffield/lazygit/blob/master/README.md#manual)

[2020-10-01 23:09] jesseduffield commented on #1032
@its0x08 I've got a PR up for this now, would you be able to give it a test? https://github.com/jesseduffield/lazygit/pull/1034. You can follow the instructions for manual install at https://github.com/jesseduffield/lazygit#manual

[2020-10-02 08:35] mewejo commented on #1028
Good pun ;) lazygit is now running from master, I'll let you know how it goes over the next week. Thanks for the speedy help and great work you do!

[2020-10-02 09:59] mewejo commented on #1028
I tried to click 'remotes' to check out another branch and it was selecting 'submodules' in the box above it instead. Then it panicked again but with a different error:

I was using `--path` to run it from this directory but use a different repo path.

[code]

[2020-10-02 10:06] jesseduffield commented on #1028
Good catch. Classic closures over loop variables. I've just pushed a fix for that :)

[2020-10-02 13:55] mewejo commented on #1028
So fast. Running it now and that remote one is fixed.

[2020-10-04 15:10] its0x08 commented on #1032
I installed the latest from git but dont se any difference :/

[2020-10-04 22:09] jesseduffield commented on #1032
whoops I confused myself. The PR has the differences: https://github.com/jesseduffield/lazygit/pull/1034/files. You would need to check out that branch to see the differences

[2020-10-05 06:56] its0x08 commented on #1032
I did but still no search functionality ...
![screen](https://i.imgur.com/2LDlBZb.png)

[2020-10-05 07:38] jesseduffield commented on #1032
it might be that `go install` has installed the binary to a directory that's not the first in your path. If you go `which lazygit` it will tell you where your current one is. I would try deleting that one and trying again.

[2020-10-05 08:26] its0x08 commented on #1032
I did it but nothing. :/

[2020-10-05 10:24] jesseduffield commented on #1032
Not sure what the issue is there, at any rate I'll merge to master eventually and you'll be able to test on that

[2020-10-06 07:25] peppy commented on #501
Just want to bump this as I can repro, and when it happens I can't close the error popup or interact with `lazygit` at all.

My reproduction is caused by doing a checkout using `hub`, but only seems to happen on very old branches. I'm not sure what makes it invalid, but here are the commands to reproduce in case you can be bothered:

[code]

An alternate simpler reproduction may be to just set the

[2020-10-06 10:04] jesseduffield commented on #501
I've forked go-git so that it no longer validates upon unmarshalling a branch (I have no idea why it does that in the first place). Could somebody verify that https://github.com/jesseduffield/lazygit/pull/1037 resolves the issue on their end?

[2020-10-06 10:55] #839 closed

[2020-10-06 10:57] jesseduffield commented on #982
This can be done at the repo level with the git config. Closing due to staleness

[2020-10-06 10:57] #982 closed

[2020-10-06 10:58] jesseduffield commented on #996
@timsofteng which bugs have you encountered?

[2020-10-06 11:45] peppy commented on #501
Can confirm fixed 🥇

[2020-10-06 15:19] mewejo commented on #1028
Been running this for a couple of days now and not had a panic yet @jesseduffield :100:

[2020-10-06 15:21] timsofteng commented on #996
For example, if I press `q` in floaterm with lazygit it sometimes still in empty floaterm window and I have to close this window too.
When I press `e` to edit file it opens in floaterm. I think open file in vim ordinary buffer is better idea. And once I cought bug when I resolved conflicts in lazygit with floaterm.

[2020-10-06 22:35] jesseduffield commented on #1028
awesome :) closing

[2020-10-06 22:35] #1028 closed

[2020-10-06 22:36] jesseduffield commented on #501
sweet, closing :)

[2020-10-06 22:36] #501 closed

[2020-10-08 05:52] band-a-prend commented on #534
The problem of #812 maybe was related to using
[code]
instead of (or smth. like that)
[code]
Anyway the git ssh prompt doesn't contain word `password` but `passphrase` is using. As I see currently `DetectUnamePass()` from `pkg\commands\oscommands\os.go` doesn't expect the such prompt containing `passphrase`.

[2020-10-08 12:32] lukaszgard commented on #138
Hi @jesseduffield indeed this what I wanted to implement, thank's!

[2020-10-08 14:16] sballin commented on #820
I was encountering this bug on 0.20.x from Homebrew. Upgraded to 0.22.9. On my Mac with iTerm2 and zsh, it appears to be completely fixed. On a remote server running zsh or bash on Ubuntu, it seems to be a little better for careful scrolling, but if I let the scroll wheel fly, it still crashes and the prompt has output like the following:

    64;85;23M64;85;23M64;85;23M64;85;23M64;85;23M64;85;23M

[2020-10-08 22:42] jesseduffield commented on #820
@sballin is the remote server on 0.22.9 as well? If the server has go installed you can try out https://github.com/jesseduffield/lazygit/pull/1035 where I've got some more improvements to the stability of that feature

[2020-10-08 23:52] sballin commented on #820
Yes, the one on the remote server is "version=0.22.9, os=linux, arch=amd64". I tried accessing the server with NoMachine (remote desktop program) and lazygit with the Ubuntu terminal was bug-free. But it still happens when running over ssh. I also tried Terminal.app instead of iTerm2 to do the ssh, but it didn't help.

[2020-10-09 00:02] jesseduffield commented on #820
snap. Was there any stack trace outputted? I've had the same issue and often after the fact I can't scroll so to get the stack trace (assuming there is one and it continues off-screen) I need to copy everything from the terminal buffer into my editor.

[2020-10-09 14:00] sballin commented on #820
I don't see any stack trace... near the top of the terminal, I see the lazygit interface the way it looked right before the crash

[2020-10-09 14:26] sballin commented on #820
I think this is related to issue https://github.com/jesseduffield/lazygit/issues/622. When I set `quitOnTopLevelReturn: false` and do a big scroll, it doesn't quit anymore but seems to cycle through the various panes in lazygit and sometimes there's an error popup that says "You cannot merge a branch into itself".

[2020-10-10 02:12] jesseduffield commented on #1032
This is in v0.23.1, let me know if you have any other issues :) closing

[2020-10-10 02:12] #1032 closed

[2020-10-10 02:13] jesseduffield commented on #1009
I've released version v0.23.1 now @tuxpeople if you want to give it another go

[2020-10-10 05:51] craftyguy commented on #996
This is what I use to run lazygit from 'within' vim:

    nnoremap <C-g> :!lazygit<cr><cr>

It works incredibly well. (The extra <cr> there fixes an issue where the screen may not be redrawn after returning from lazygit)

[2020-10-10 10:26] vaheqelyan commented on #986
Tested on `commit=96f821b84100a75852715d6e4975f3a62cad7fbb, build date=2020-07-22T12:44:46Z, build source=binaryRelease, version=0.20.9, os=linux, arch=amd64` works great

[2020-10-10 16:04] marcizhu commented on #893
Any updates on this?

[2020-10-10 17:29] timsofteng commented on #992
It works. Thanks

[2020-10-10 18:21] timsofteng opened #1040 "config.yml only works if it's readable and writable"
Hey. I use nixos. I'm trying to set lazygit config in nixos home-manager. But it could be read-only.
Why lazygit don't work with read only config file?
Is it bug or feature&
![image](https://user-images.githubusercontent.com/51912173/95662251-3c270480-0b3e-11eb-8feb-426dfe060ff0.png)

[2020-10-10 21:52] jesseduffield commented on #1040
@timsofteng can you give this PR a go to see if it fixes your issue? https://github.com/jesseduffield/lazygit/pull/1041

[2020-10-10 21:52] jesseduffield commented on #992
Cool, closing :)

[2020-10-10 21:52] #992 closed

[2020-10-10 22:51] jesseduffield commented on #893
@marcizhu can you give https://github.com/jesseduffield/lazygit/pull/1042/files a go?

[2020-10-11 08:04] marcizhu commented on #893
I won't have time to try it until tomorrow, but if that's okay I will test it and let you know how it works for sure! :D

[2020-10-11 08:22] marcizhu commented on #893
Okay nenvermind, I had some spare time and decided to give it a go, and it works like a charm! 😄

[2020-10-11 15:56] aint opened #1043 "Incorrect config.yml path for macOS"
Hi there,

I just upgraded to the latest release and noticed that my custom configs does not work. I navigate to the `Status Panel` then press `E` and it opens the wrong file: `"~/Library/Application"`

![image](https://user-images.githubusercontent.com/3179252/95683281-dcd6fc00-0bf2-11eb-8b1e-ba163f9ed5ae.png)

It looks like a bug, because it supposed to open `~/Library/Application Support/jessed

[2020-10-11 21:26] #893 closed

[2020-10-11 21:33] jesseduffield commented on #1043
reproduced the issue and fixed with https://github.com/jesseduffield/lazygit/pull/1044. Does your config file still work though? As in, does lazygit correctly read it?

[2020-10-12 08:05] jesseduffield commented on #986
As mentioned above we were not checking if git prompted for a password. That's now fixed in https://github.com/jesseduffield/lazygit/pull/1045

[2020-10-12 08:08] jesseduffield commented on #986
I'm gonna close this issue but let me know if the issue persists on master and I'll reopen :)

[2020-10-12 08:08] #986 closed

[2020-10-12 14:33] mnowotnik commented on #869
@jesseduffield sure,
commit=6291c539663b8646a3c09bc6e

[code]

[2020-10-12 20:30] jesseduffield commented on #869
@mnowotnik I'm still not able to reproduce:
before pressing space:
![image](https://user-images.githubusercontent.com/8456633/95787680-bf567f00-0d25-11eb-881f-4253f2c83477.png)

after pressing space:
![image](https://user-images.githubusercontent.com/8456633/95787697-c54c6000-0d25-11eb-87e6-c076ef20d089.png)

tested on v0.23.2

[2020-10-12 20:56] gpcureton commented on #996
@craftyguy Which version of (neo)vim and lazygit are you using? I tried `:!lazygit <cr>` in Neovim 0.4.4, and with lazygit 0.23.2 (from conda-forge) and I got
[code]

[2020-10-12 21:14] jesseduffield commented on #1000
@nullawhale has made a PR for this which I've just merged to master (don't let the closed status mislead you we just had some merge conflict issues). You can now copy a commit message with <c-y> but with the limitation that we don't yet support multiline messages (when you paste them into the commit message panel, the first newline is interpreted as an enter key and it submits the message, meaning

[2020-10-12 21:14] #1000 closed

[2020-10-13 04:00] craftyguy commented on #996
@gpcureton

I'm using vim:

`VIM - Vi IMproved 8.2 (2019 Dec 12, compiled Sep 17 2020 21:54:53)`

with lazygit 0.22.8:

`commit=307d051ec2ec03a2fcd347ce94f205aa2dca75fc, build date=2020-09-27T18:14:36Z, build source=binaryRelease, version=0.22.8, os=linux, arch=amd64
`

This is on Arch Linux.

[2020-10-13 04:01] craftyguy commented on #996
I built/installed the latest lazygit from git master, and it still works for me.

[2020-10-13 04:38] gpcureton commented on #996
@craftyguy Thanks for the info. I also successfully ran the same version of lazygit in vim 8.* on Arch. And also vim 7.* on RHEL 7. I suspect the issue is with Neovim. Running in `:terminal` in Neovim works, but that's cheating ;-)

[2020-10-13 05:53] MuratUrsavas commented on #1000
Thanks Jesse, I admire your efforts for an open source software, which is delightful to use.

[2020-10-13 06:05] MuratUrsavas opened #1048 "Shorter releases on Ubuntu PPA"
Hi,

I'm using the Ubuntu PPA for installation and the latest release is 0.22.1. This version looks tagged in Aug 26. I personally know that a lot of improvements has been done, but I'm missing them right now. Could we have shorter release cycles like weekly? Is it too much to ask?

Or like other software, you can have an another PPA with CI to build and release daily.

Hope this is not too much t

[2020-10-13 09:35] juligreen commented on #28
Furthermore, while rewording already existing multi-line commits, I cannot navigate to lines below the first one, I can only enter new newlines with tab.
Is there the possibility of renaming commits in an external editor?

[2020-10-13 10:15] jesseduffield commented on #28
@juligreen you can rename commits in an external editor via `<c-r>`

@jbrains I agree the two interfaces should be the same. Would you prefer wrapping in both cases?

[2020-10-13 10:25] jesseduffield commented on #1048
forgive my shocking memory @dawidd6 is the PPA something you're familiar with?

[2020-10-13 10:30] MuratUrsavas commented on #1048
Should be. He's the owner of the PPA :)

https://launchpad.net/~lazygit-team

[2020-10-13 10:40] dawidd6 commented on #1048
Imma look at automating this process soon.

[2020-10-13 11:12] juligreen commented on #28
Thank you, and sorry for not reading the keybindings properly!

[2020-10-13 11:32] mnowotnik commented on #869
After pulling the newest lazygit version, I confirm that this bug no longer occurs.

[2020-10-13 11:32] #869 closed

[2020-10-13 14:09] jbrains commented on #28
@jesseduffield Hm! I'm not sure. I think I prefer manual wrapping (so as to avoid eventual configuration settings and resulting bikeshedding), but then `TAB` is a fairly unexpected character to use to insert a newline. I would expect to use `Shift+ENTER`, for example, to insert a newline in the middle of a commit comment when `ENTER` behaves as "submit".

[2020-10-13 17:41] strogiyotec commented on #869
@jesseduffield I had the same problem in version
[code]
I updated lazygit to
[code]
Now it works as expected, thank you

[2020-10-13 18:46] tuxpeople commented on #1009
@jesseduffield sorry for the delay.

I tried it with 0.23.2:

[code]

[2020-10-13 21:33] #1048 closed

[2020-10-13 21:49] jesseduffield commented on #28
If shift+enter were a permissible key I would certainly use that, but we're in an unfortunate situation where we can't really use enter with any modifier key (shift/cmd/ctrl). Luckily the keybindings are configurable in the latest release so you can remap the 'appendNewLine' and 'confirm' keybindings in the commit message panel to whatever you want.

As for defaults, I think most people only write

[2020-10-13 22:16] jesseduffield commented on #1009
@tuxpeople looks like that test has failed to find the root directory. What directory would be the lazygit root directory? I.e. the one with the 'main.go' file in it? That test is attempting to compile lazygit for the sake of running it in integration tests

[2020-10-14 02:45] peppy commented on #1043
Just ran into this one. Can confirm fixed on master. Also it did not break my config at all, just wouldn't open it for editing.

[2020-10-14 02:50] jesseduffield commented on #28
(just realised that branch actually isn't merged yet but SOON those keys will be configurable)

[2020-10-14 02:51] jesseduffield commented on #1043
Awesome, closing :)

[2020-10-14 02:51] #1043 closed

[2020-10-14 15:30] skeept opened #1052 "Getting stuck with no response"
**Describe the bug**
lazygit gets stuck, no key press has any effect.

**To Reproduce**
Simply open the program often it works just fine. Other times it just freezes and no key press has any effect, not even `ctrl-c`.
This can either happen at the start before doing anything or after pressing some keys.

**Expected behavior**
The tool should not freeze.

**Desktop (please complete the following in

[2020-10-15 07:06] tuxpeople commented on #1009
@jesseduffield I tried again with 0.23.6 and a newer go version (I forgot the go-problem from further above).  And last, but not least, locally and not on their build sytem:

[code]

[2020-10-15 11:34] cbenz opened #1053 "Visualize the commits for all branches"
I would like to be able to visualize the commit history for all branches.

That would be the equivalent of running `gitk --all` or `git log --graph --all`.

I don't really know from which panel the action should be initiated. Maybe the "status" panel with a `l` keybinding, for "log"?

There is already a `branchLogCmd` setting. A new `allBranchesLogCmd` could be added.

[code]

Does it make sense?

[2020-10-15 13:12] jbrains commented on #28
@jesseduffield Thank you for describing the constraints; I didn't know about them. Given those constraints, I don't think I'd have decided significantly differently. I strongly agree with optimizing the user experience for a single-line commit message.

I don't remember what it felt like to learn that `TAB` was the right key for entering a newline character, so I can no longer helpfully recommend

[2020-10-15 15:14] mordax777 commented on #831
If I add the configuration it looks like this afterwards:
![image](https://user-images.githubusercontent.com/27705384/96149678-e4a3e280-0f09-11eb-8172-99d8519b0164.png)

[2020-10-15 20:00] jesseduffield commented on #28
@jbrains good to hear :) Could you raise an issue about the inconsistency?

[2020-10-15 20:01] jesseduffield commented on #831
@mordax777 can you see how you go with:
[code]

[2020-10-15 20:05] jesseduffield commented on #1053
Makes sense. I too am not sure which panel this makes the most sense in, but the status panel would be the best fit. We currently only have tabs on side panels but we might want to introduce tabs to the main panel so that you can switch between this log graph and what currently appears when you're in the status panel. Lazydocker has this logic already and it shouldn't be too hard to recreate in la

[2020-10-15 22:43] breisfeld opened #1054 "Project logo"
Hi, I am a recent convert to lazygit, but am very impressed so far. I wonder if you would be receptive to another project logo. Here is an idea:
https://imgur.com/XqK14bJ

[2020-10-16 11:46] karjonas opened #1055 "Copying committed file name crashes if running lazygit through ssh"
**Describe the bug**
Copying committed file name crashes if running lazygit through ssh.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to a computer through ssh
2. Run lazygit in a git repo
3. Select a commit and a file name
4. Click ctrl+o
5. Crash

**Expected behavior**
The name of the committed name should be copied.

**Desktop (please complete the following information):**
 - O

[2020-10-16 15:28] jbrains opened #1056 "Inconsistent behavior when writing commit comments"
**Describe the bug**
The multiline comment behavior differs between the **Commits > "reword commit"** action and the **Files > "commit"** action.

With "reword commit", wrapping happens automatically, but with "commit", I need to use the TAB key to enter a newline and there is no automatic wrapping.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a new commit with the **Files > "commit"

[2020-10-16 15:29] jbrains commented on #1056
We also discussed this as part of #28.

[2020-10-17 17:31] mjarkk commented on #1054
Hmmm don't know about this logo,
How about making the letters of lazgit git commits with lines between them?

[2020-10-17 18:00] breisfeld commented on #1054
Sounds promising. Give it a try.

[2020-10-18 07:03] adam-wolski opened #1057 "-p / --path parameter crashes."
When running lazygit with path parameter program crashes on correct paths.

Given incorrect path it return more correct:

or

Steps to reproduce the behavior:
1. Run lazygit -p "path_to_some_repo"

System Info:
 - OS: Windows
 - Lazygit commit=7c1889cd70b81d9f8438c197c3d2fc89e5695160, build date=2020-10-14T10:55:09Z, build source=binaryRelease, version=0.23.6, os=windows, arch=amd64

[2020-10-18 15:52] cbenz commented on #1053
I like the idea of using tabs to the main panel. I'm wondering how the user would change focus between the status and the main panels, but I'm re-installing lazydocker to see how it's done.

Idea: when the status panel is focused pressing `Enter` would focus the main panel, then use `[` and `]` to change tabs, and `Escape` to focus the status panel again.

[2020-10-19 09:33] briandipalma commented on #907
I'm seeing something similar. It works when I use delta in the command line and I reference it in the lazygit config but not when I set lazygit to use the git pager which is set to use delta.

.gitconfig (https://github.com/briandipalma/machine-setup/blob/master/.gitconfig#L36):
[code]

Failing lazygit config:
[code]

Successful lazygit config (https://github.com/briandipalma/machine-setup/blob/ma

[2020-10-19 13:54] Rizhiy opened #1058 "Add plain amend option"
**Is your feature request related to a problem? Please describe.**
`git commit --amend`

**Describe the solution you'd like**
Pressing "a" when last commit is selected should trigger `git commit --amend`

**Describe alternatives you've considered**
Open git in terminal

[2020-10-19 13:55] Rizhiy commented on #1058
Nvm, "r" does the same.

[2020-10-19 13:55] #1058 closed

[2020-10-20 09:45] mordax777 commented on #831
@jesseduffield sorry for the late reply. Here the result.
![image](https://user-images.githubusercontent.com/27705384/96569703-c18e7f80-12c9-11eb-9d28-c7a5611d748a.png)

[2020-10-20 12:38] bahelms commented on #831
@mordax777 I played around with the settings and got something that worked for me. I'm using Kitty. The [docs](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md) helped.
[code]
![image](https://user-images.githubusercontent.com/3368917/96586606-3902e580-12af-11eb-9e62-1f7601c5fb99.png)

[2020-10-20 12:58] mordax777 commented on #831
@bahelms Thanks, that fixed the problem!

[2020-10-20 13:40] benruijl opened #1059 "Change the default lazygit configuration folder to .config/lazygit"
The current default path for the lazygit settings is:

* Linux: `~/.config/jesseduffield/lazygit/config.yml`
* MacOS: `~/Library/Application Support/jesseduffield/lazygit/config.yml`
* Windows: `%APPDATA%\jesseduffield\lazygit\config.yml`

It follows the directory structure convention: author/project.

If I look in the `.config` folder, I see that all other programs (git, kitty, google-chrome, ink

[2020-10-21 08:00] ecmrauh commented on #1052
Same here on Debian with the current version after updating from an older version (about half a year old). It happens after pressing "space" on a file. After killing and restarting lazygit the file is green, which means that something happens after adding a file to the index.

[2020-10-21 08:26] timsofteng commented on #1040
@jesseduffield sorry for delay. It works in last release. Thanks!

[2020-10-21 09:51] jesseduffield commented on #1040
sweet :) closing

[2020-10-21 09:51] #1040 closed

[2020-10-22 04:21] makky55 commented on #1052
I'm facing it, too.

* macos Catalina 10.15.7
* iterm2 3.3.12

[code]

**To Reproduce**

when some files are modified(not staged), push space key for staging , lazygit gets stuck.
I have to open another terminal(shell) and kill lazygit pid.

[2020-10-26 12:03] antoniohernandezpinto opened #1060 "pull or push from/ to repo not working [Ubuntu]"
**Describe the bug**
I can create branches, stash files or changes but when i must pull from master, nothing happens. I have to exit lazygit to write 'git pull' and back to lazygit again

**To Reproduce**
From master
I press x button
p (does not work neither) , scroll down to p from pulling
no pop up alerting i'm pulling, nothing happens

**Expected behavior**
after pull, i should update master bu

[2020-10-26 12:04] jesseduffield commented on #1060
is this the case with all branches or just master?

[2020-10-26 12:06] antoniohernandezpinto commented on #1060
It happens with all branches, not only master

[2020-10-26 12:10] jesseduffield commented on #1060
interesting. Does this also happen for repos where you don't need to use a personal access token e.g. pulling a public repo?

[2020-10-26 12:33] antoniohernandezpinto commented on #1060
pulling a public repo happens nothing too. Since I've installed lazygit with this Ubuntu version, pulling or pushing are done with git commands as before
![lazy status](https://user-images.githubusercontent.com/49866972/97172725-b935b900-178f-11eb-9665-289a39411e5b.png)

[2020-10-27 23:04] rgwood commented on #877
I have the same issue on Windows 10 and lazygit 0.23.2.  Also if I hit space on the offending file in the files pane I get a crash:

[code]

[2020-10-28 19:59] joshmedeski opened #1061 "Github CLI Pull Request"
**Is your feature request related to a problem? Please describe.**
I have to quit lazygit, open up a fresh terminal, and run `gh pr create` to open a pull request.

**Describe the solution you'd like**
I'd like to bind `gh pr create` to a keybinding in lazygit

**Describe alternatives you've considered**
This could be done running a custom command, but I don't want to have to type the command ever

[2020-10-28 21:55] jesseduffield commented on #1061
I reckon you'd be able to do this with a custom command keybinding :)

Take a look [here](https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium) and [here](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md). Lemme know if you need any pointers.

[2020-10-30 05:01] PGScully opened #1062 "Handle repos that use 'main' as the main branch"
**Is your feature request related to a problem? Please describe.**

GitHub and git are now using 'main' instead of 'master' for the default branch name.  lazygit only considers 'master', and colors 'main' as a branch instead of the default branch.

**Describe the solution you'd like**

git can now be configured to use any name as the default branch with the following config snippet:

[code]

lazyg

[2020-10-30 05:54] Neurognostic commented on #778
@jesseduffield When using a bare repo the Status does not seem to be displaying correctly.

1. Instead of the repo name (as defined by `--git-dir`) being displayed the name of the `--work-tree` directory is used.

2. The count of how many commits ahead or behind of origin displays as `↑?↓?` instead of the actual counts.

[code]
![image](https://user-images.githubusercontent.com/23530447/97665616-8

[2020-10-30 06:22] Neurognostic opened #1063 "Bare repo displays incorrect repo name and commit count"
Moved comment from #778 here.

**Describe the bug**
In #1023 support for bare repositories was added. However when using a bare repo the Status does not display correctly.

1. Instead of the repo name (as defined by `--git-dir`) being displayed the name of the `--work-tree` directory is used instead.

2. The count of how many commits ahead or behind of origin displays as `↑?↓?` instead of the actu

[2020-11-02 07:41] hakunin opened #1065 "Revert a file from an old commit"
**Is your feature request related to a problem? Please describe.**
I often have to carve out files from commits so I can properly commit those changes as their own commits.
I run `git show [commit] -- [filename] | git apply -R`,  and then create a fixup commit that removes those files.
Then I create a commit that properly adds those files using the command above but this time on HEAD.
I always end

[2020-11-03 07:12] bradyslot opened #1066 "tmux unsupported terminal"
**Error:**
*errors.errorString termbox: error while reading terminfo data: termbox: unsupported terminal
github.com/jesseduffield/lazygit/main.go:133 (0x562491773ff7)
runtime/proc.go:204 (0x5624911aa609)
runtime/asm_amd64.s:1374 (0x5624911dd961)

**Reproduce:**
Launch lazygit from within a tmux pane
TERM=tmux-256color
TERMINAL=kitty
commit=7c1889cd70b81d9f8438c197c3d2fc89e5695160, build date=2020-

[2020-11-03 07:38] jesseduffield commented on #1065
If I understand your request correctly, this feature is already enabled: you can go to a commit, press enter to view it's files, and then press 'd' to delete the file from that commit. This does an interactive rebase in the background. Is that what you're suggesting?

[2020-11-03 08:31] hakunin commented on #1065
The goal is to extract the files into a different commit.
Does it create a fixup commit with the files removed, or something I can re-revert to get a standalone commit that adds those files?

What would work as well is to have a bit of UI sugar around reverting, which normally involves a bunch of copy and pasting, is there any way to do a revert at the moment?

[2020-11-03 09:39] jesseduffield commented on #1065
to revert a commit you can press 't' on a commit (only works on a per-commit basis though).

To pull out files into a separate commit you can press space on each file and then go ctrl+p and select the option for pulling out into a separate commit). I'm not on my mac right now so can't quite recall the wording but let me know how that goes :)

[2020-11-03 09:44] hakunin commented on #1065
Wow, never knew this was a possibility, I'm going to play with that, looks very powerfull.

[2020-11-04 08:46] peppy opened #1067 "Deleting a remote with no URLs define crashes"
crash:

![2020-11-04 17 44 13](https://user-images.githubusercontent.com/191335/98088977-7ed1c780-1ec5-11eb-992b-bd5921e04f1f.gif)

[code]

Note that this also fails from CLI git:

[code]

At very least I'd expect lazygit to not crash over this, though.

`.git/config` for repo:

![image](https://user-images.githubusercontent.com/191335/98088802-45995780-1ec5-11eb-8c38-840aceabaa31.png)

[2020-11-04 18:35] Axel-Jacobsen commented on #965
I think this "Lazyui" idea is great (and I would actually like to use it for another project of mine), and it may be something that I would be willing to give a try. With a quick look at the source code, I found the `gui` folder - to what extent would "Lazyui" be just plucking that folder from Lazygit and throwing it into it's own repo?

[2020-11-05 09:01] mjarkk commented on #965
If the primary goal for this was to allow other people to have the same UI as lazygit yes that's mostly what you need to do to get lazygit's UI though that's not necessarily the reason why we would want this.

The main reason why we would currently want this is to have one UI library in staid of a mix of lazygit's ui and gocui.
Like what gocui does with termbox (the underlaying ui library of gocui

[2020-11-05 09:07] grossjohann opened #1069 "Q: Does pulling via lazygit respect my config?"
First of all: Thank you for lazygit!  I won't claim that it is a dream come true, but I expect that I will migrate to it over time, as I learn it better, because it's just nicer than the other options.  I haven't found any GUI that does what I want.  `tig` is pretty nice, but does less than lazygit.

I've tried to understand what "pull" does in lazygit, but I haven't found it.  Specifically, I hav

[2020-11-05 09:18] mjarkk commented on #1069
First of all in lazygit we just run terminal commands so it should respect your gitconfig.
Though there are some exceptions to this..
In the case of pull rebase, merge or ff-only there is a lazygit config you'll have to change that can be found here: [/docs/Config.md](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md)
For the rebase autostash i'm not sure if there is a lazygit co

[2020-11-05 09:54] grossjohann commented on #1069
I had forgotten about that, but I have `git.pull.mode = rebase` in my config.  (Actually, that this option exists made me suspect that it might not just use whatever I have configured for the git command line tool.)

Will wait for further info on `rebase.autostash = true`...

[2020-11-05 10:33] jesseduffield commented on #1067
fixed the crashing in https://github.com/jesseduffield/lazygit/pull/1070

Not really sure how to actually remove the remote despite this error: seems like we need a generic way of writing the the git config which I'm not too keen on given that git config files don't really use standard toml and so we'd need to come up with a custom writer

[2020-11-05 10:41] jesseduffield commented on #1069
@grossjohann hey there :) we currently don't respect the git config with respect to pulling, but there's no good reason why we can't add support for it (for people interested the relevant line is `pkg/gui/files_panel.go:512`. We _do_ currently allow the user to set the pull mode (e.g. 'rebase') in the lazygit config e.g.:
[code]

As for rebase, we pass the `--autostash` flag unconditionally so we

[2020-11-05 10:47] peppy commented on #1067
Yeah, I don't think they need to be removed. I've manually cleaned them up (I think they were created by `hub` and went bad at some point). Fixing the crash sounds ample, thanks!

[2020-11-05 10:47] #1067 closed

[2020-11-05 12:26] grossjohann commented on #1069
Thank you @jesseduffield.  It's great that lazygit has baked in my own favorite behavior :-)

So now I need to figure out what was happening on my end.  Let me close this thread; I can always come back once I have a concrete description that explains what I experience.

[2020-11-05 12:26] #1069 closed

[2020-11-05 17:58] Axel-Jacobsen commented on #965
Ahh I see - thanks for the reply! Attempting something like that seems to be a bit out of my scope for right now. I love lazygit, and hope to help out sometime in the future. Keep it up!

[2020-11-06 05:09] joshmedeski commented on #1061
Thanks, @jesseduffield!

It works like magic, I bound it to `<c-r>` (for pull **request**) and my browser opens right up with everything I need.

I added it to the [custom commands compendium wiki page](https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium#open-github-pull-request) 😄

[2020-11-06 05:23] joshmedeski commented on #1061
The `createPullRequest` command is already built into lazygit. That was what I was looking for. :)

Type `o` in the branches context.

[2020-11-06 05:23] #1061 closed

[2020-11-06 05:25] jesseduffield commented on #1061
Whoops, I had assumed that the `gh` command did more than what was built into lazygit. At any rate, thanks for adding that custom command to the wiki :)

[2020-11-06 19:23] amitlevy21 opened #1071 "Work with multiple repositories without the need to leave lazygit and cd to each"
**Is your feature request related to a problem? Please describe.**
Here is the use case, I have multiple repositories, each repository represents a microservice.

[code]

It would be awesome if i can just `cd ~/Dev` and then just work with lazygit from there.
Currently I need to cd to each repo dir, start lazygit, get out of lazygit, cd to other dir, start lazygit again.. which is cumbersome.

**D

[2020-11-07 01:59] jesseduffield commented on #1071
hey there @amitlevy21 , if you press 'enter' on the status panel you'll get a list of recent repos. I use this to navigate between repos easily. Does that satisfy your requirement?

As for lazydocker that would be a good feature request, but currently it's not possible

[2020-11-07 09:26] amitlevy21 commented on #1071
Awesome, that works for me!

Thank you for the quick response!

[2020-11-07 09:26] #1071 closed

[2020-11-08 16:30] Liberatys commented on #913
Maybe I'm late to the party ^^ but I checked how the vendor is handled in the package and it seems like one could just pass an empty string as the vendor and this would then produce the expected path. This is mostly down to the package using filepath.Join to concat the given vendor and dir name. And filepath.Join ignores empty strings in concatination ^^. Tried it on the project locally and it wor

[2020-11-08 16:31] Liberatys commented on #913
And one could first check if a config.yml file can be found the previous config folder and if not check for ./config/lazygit

[2020-11-09 11:00] pokey opened #1072 "Read-only mode"
**Is your feature request related to a problem? Please describe.**
I find `lazygit` both extremely cool, and terrifying at the same time.  The fact that I can do so much with one or two keystrokes is amazing, but means that I'm not comfortable leaving a `lazygit` shell open in a tmux session as a form of HUD for fear that I'll accidentally press a button and mess something up

**Describe the solut

[2020-11-10 15:43] kescobo commented on #71
This is happening again - I'm on Ubuntu (well, pop!_os) 20.10 groovy. Is it possible to get an update that works on the new release?

Manual installation with `go get` worked fine.

[2020-11-10 18:54] dawidd6 commented on #71
20.10 and 21.04 will soon get the packages.

[2020-11-11 06:58] MuratUrsavas opened #1075 "Wandering with arrow keys in commit message causes shift to the left of the actual cursor"
Hi,

I don't know if I can express correctly what I'm seeing for a long time. Let's say you are writing a commit message. And saw a problem what you've just written and moved with left arrow key to fix the typo. To continue where you've left, you press right arrow key to come to the end of the message.

Displayed cursor shows you are at the end, no problem. But if you start to write again, you see

[2020-11-11 12:48] fluffynuts opened #1076 "minor: please support keybinding <s-tab>"
**Is your feature request related to a problem? Please describe.**
I'd like to use Tab (`<tab>`) to go to the next block and Shift+Tab (`<s-tab>` probably?) to cycle back, but I don't seem to be able to bind that particular sequence. The presence of `<s-space>` suggests that I have the correct syntax, so I guess it's simply not supported.

**Describe the solution you'd like**
I'd like to bind shif

[2020-11-11 12:54] Odaeus opened #1077 "Lazygit deletes itself when asked to update"
**Describe the bug**
When I tried the auto-update option, it found an update and asked me to confirm downloading it. I did that but nothing seemed to happen. After quitting I discovered that Lazygit had unfortunately committed seppuku and deleted itself 😮 . Turns out I was on the latest version already anyway.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to top left "status" panel.
2.

[2020-11-11 16:42] eruizc-dev opened #1078 "Shorter status names"
**Is your feature request related to a problem? Please describe.**

Where I work we have a strong naming scheme resulting in long directory names. Ex:
[code]
So when I look at the "files" square, all I see is the company and project name repeated 2 or 3 times in all modified files.

**Describe the solution you'd like**

I'd like to see the filename.

**Describe alternatives you've considered**

 -

[2020-11-12 10:02] fluffynuts opened #1079 "Request: add an option to default to staging all when attempting to commit and nothing is staged"
**Is your feature request related to a problem? Please describe.**
the most common flow I have (and, I think, a lot of people have this flow) is to do some work, commit it all, lather-rinse-repeat. So 'c' is smart in that it can ask me if I want to stage all when none are staged, but in the spirit of being a lazy-ass dev, I'd really like to have a config point where I could say "yes, I'm super-laz

[2020-11-12 10:33] jesseduffield commented on #1079
This is a very reasonable request. I'm going to chuck a good-first-issue label on this in case somebody (perhaps you!) wants to pick it up cos it should be fairly straightforward to do. Happy to give pointers

[2020-11-12 10:50] fluffynuts commented on #1079
I actually did consider forking and adding -- my go-fu is minimal, but perhaps I'll give it a _go_ tonight.

[2020-11-12 11:13] jesseduffield commented on #1079
I see what you did there

[2020-11-12 13:50] thales-maciel opened #1080 "Better handling for non-related shortcuts"
**Is your feature request related to a problem? Please describe.**
Like many others I have a set of keybindings related to other apps. Some of those keybindings are usually set to [<CTRL><ALT><SHIFT>+<KEY>], in order to avoid conflicts with other applications, since It's very unusual to see that as a default anywhere. The problem is that when I'm at lazygit and hit [<CTRL><ALT><SHIFT>+<8>] (bind t

[2020-11-15 23:02] #708 closed

[2020-11-16 06:44] xunoaib commented on #1066
I've also noticed this under tmux. Running lazygit with `TERM=xterm-256color lazygit` fixes it for me, also as described in #570. For reference, I'm on lazygit commit 4b55b2e7fca96dcdf2a25c6d66e4545a4f184db1

[2020-11-16 06:59] guildem commented on #1066
I think this is a termbox bug, probably related to the version used by lazygit.
Maybe this PR can help : https://github.com/jesseduffield/termbox-go/pull/1

[2020-11-17 21:36] #810 closed

[2020-11-17 22:06] nils-a commented on #827
@jesseduffield fyi: I have asked to be made co-maintainer for the package @ chocolatey. When I am added there, I will enable automatic updates for that package as soon as possible.

[2020-11-18 10:01] nils-a commented on #827
I am added as a maintainer and are now able to push a new version.
However - I got questions:

## Icon
The current package icon points to [a screenshot](https://rawcdn.githack.com/jesseduffield/lazygit/25c93c678d0c198ef1610ec9d8743d8ae1e81a84/docs/resources/viewing-commit-diffs.png) and look like this:
![image](https://user-images.githubusercontent.com/349188/99513883-66fd4780-298b-11eb-9575-6102d

[2020-11-18 14:21] fluffynuts opened #1087 "Cannot commit when comment has unmatched quotes"
**Describe the bug**
Found this by accident, but it's a valid case: I attempted to commit with a message like `:fire"` (missed the `:`), and I get lazygit to crash out

**To Reproduce**
Steps to reproduce the behavior:
1. invoke the commit message "dialog" (not sure if that's the right word, but anyway)
2. enter a commit message with unmatched quotes, eg `:fire"`
3. see lazygit crash out with:

[c

[2020-11-18 17:21] joshmedeski opened #1088 "GitHub Context"
**Is your feature request related to a problem? Please describe.**
I spend a lot of time in GitHub, mostly looking at issues and pull requests. The problem is the browser is too slow and cumbersome.

**Describe the solution you'd like**
Add a GitHub context to lazygit which would display issues, pull requests, and releases using the [GitHub CLI](https://cli.github.com/).

**Describe alternatives y

[2020-11-18 17:34] joshmedeski commented on #1088
@jesseduffield could we pair program to get this feature built? I spent some time looking through the code and there's a lot going on to setup the contexts. Not sure where to start.

[2020-11-18 22:44] jesseduffield commented on #1088
We certainly can, my timezone is AEST, what's yours?

[2020-11-19 20:08] nils-a commented on #827
The new package is submitted, see https://chocolatey.org/packages/lazygit/0.23.7

While the package is still in moderation (and probably for some time) it can still be installed using `choco install lazygit --version=0.23.7`

[2020-11-19 21:40] joshmedeski commented on #1088
I'm in CST but my co-worker is in Melbourne so I'm used to working around your timezone :)

[2020-11-19 23:50] thales-maciel opened #1090 "Can I open my mergetool fom lazygit directly?"
**Is your feature request related to a problem? Please describe.**
I don't know if there is a way to open my mergetool directly fom lazygit. I usually have to type the custom command, which doesn't feels right.

**Describe the solution you'd like**
As I said, I don't really know if this isn't possible, so there are two possible solutions:
1. Add option to send the command `git mergetool`
2. Add re

[2020-11-20 03:00] sportshead opened #1091 "Setting to disable "Not in a git repository" prompt"
**Is your feature request related to a problem? Please describe.**
As a lazygit user, I want to be able to set a default for the `Not in a git repository. Create a new git repository? (y/n):` prompt, so that I don't need to press `n` every time.

**Describe the solution you'd like**
A `notInRepo` setting that can be the following values:
- `prompt` (default) Uses the current prompt
- `create` Crea

[2020-11-20 06:57] smartding commented on #913
Why no make a PR to this repo? instead of your own fork.

[2020-11-20 07:05] Liberatys commented on #913
Because I was unsure how jesse wanted to handle the matter and thus opted into first providing my idea before opening a pr for the issue.

But if this is an acceptable workaround for the issue I'm happy to open a pr ^^

[2020-11-20 16:54] znculee opened #1092 "Crash when scrolling"
**Describe the bug**
Crash when scrolling on remote Linux server instead of local Mac

**To Reproduce**
Steps to reproduce the behavior:
1. ssh to a remote Linux server
2. Go to a git repo
3. Scroll down very fast with mouse wheel or trackpad
4. lazygit will quit unexpectedly

**Expected behavior**
Not quit when scrolling

**Desktop (please complete the following information):**
commit=, build dat

[2020-11-20 17:55] Axel-Jacobsen commented on #831
For people in the future, I will add that I had the same issue as @benruijl, and it was solved by going into my terminal settings and allowing bold fonts.

[2020-11-21 03:14] #827 closed

[2020-11-21 05:52] jesseduffield commented on #913
@Liberatys I've taken a look at your PR and I've left a comment :) Feel free to raise it as a PR here as well

[2020-11-21 06:36] jesseduffield commented on #1090
There is really no good reason why this isn't yet built into lazygit, but in lieu of the feature being properly added, I've added an example of how to do this with [custom commands](https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium#opening-git-mergetool).

One thing we will need to know is whether the typical merge tool is run within the terminal or if it's outside the termi

[2020-11-21 06:40] jesseduffield commented on #1091
This makes sense. I'll chuck a good-first-issue label on this because it will be quite easy to implement. Our config code is in `pkg/config/user_config.go` and our code for showing this prompt and handling the responses is in `setupRepo` in `pkg/app/app.go`

[2020-11-21 06:42] jesseduffield commented on #1087
Interesting. I can't reproduce on OSX, so it looks like this is a windows-specific bug.

[2020-11-21 06:44] jesseduffield commented on #1080
@thales-maciel thanks for raising this. It's likely an issue with termbox, the underlying library that handles keypresses. I'm not sure how to interpret your notation `[+<8>]` for a keypress so I'm not currently able to reproduce. Is that like pressing + and then 8 in quick succession?

[2020-11-21 06:46] jesseduffield commented on #1078
@eruizc-dev I'm currently working on the ability to switch to a mode where files are displayed in a tree format so that you'd see:
[code]
Is that something that might resolve this issue? Or would you prefer just showing the filename?

[2020-11-21 08:44] jesseduffield commented on #1077
Good pickup. Should be fixed by https://github.com/jesseduffield/lazygit/pull/1094

[2020-11-21 15:25] Liberatys commented on #913
@jesseduffield Thank you for taking the time :D I opened the pr and made a change to address your comment.

[2020-11-21 15:27] Liberatys commented on #1059
This issue is also discussed in #913 and a change is in the pipeline #1095

[2020-11-21 17:57] eruizc-dev commented on #1078
@jesseduffield as long as I get to see the filename it's a fix for me.
From a preference pov I'm not entirely sure. I like the simplicity of only filenames but js projects tend to have lots of index.js files and readme.md that may cause confusion...
I leave you decide wether you want a single tree view or one from many in a config file.

[2020-11-21 23:00] #1077 closed

[2020-11-21 23:00] jesseduffield commented on #1077
Closing, but lemme know if the issue persists :)

[2020-11-21 23:07] jesseduffield commented on #1088
Nice, I'm a little busy at the moment but I will endeavour to find some time!

[2020-11-22 18:21] thales-maciel commented on #1080
Hey @jesseduffield thanks for taking the time!

I'm sorry, I totally forgot to check the preview before commenting, the markdown messed up the key notation. I've updated It now! What I meant was ctrl+alt+shift+8.

[2020-11-22 19:53] felixkreuk opened #1096 "Selective checkout of a file from a commit"
**Topic**
Restoring a chunk of code from a file in a past commit

**Your thoughts**
Say I have a _piece of code_ in `a.py` (say, lines 100-105) I want to restore from a past commit (let's call it `commit_X`). Note, `a.py` wasn't necessarily modified in `commit_X` (so `a.py` doesn't appear in the commit files window).

Ideally, I would like to:
1. navigate to `commit_X`
2. see all files in the repo

[2020-11-24 09:10] lqiang79 commented on #831
There is the same issue in windows Terminal.

[2020-11-24 11:34] kalvinpearce commented on #1091
Hey I love this tool and would love to contribute. I am new to go but I would love to give this a crack if thats all good?

[2020-11-24 11:53] jesseduffield commented on #1091
@kalvinpearce go right ahead! Lemme know if you need any pointers

[2020-11-24 21:42] jesseduffield opened #1099 "Standardise getting git config values"
**Is your feature request related to a problem? Please describe.**
We currently have two ways of getting config values:
GetConfigValue and and getLocalGitConfig/getGlobalGitConfig. The former calls a command and the latter makes use of a library. We should decide on one and remove the other.

[2020-11-26 08:55] trent30 opened #1101 "New SSH connection every minutes, why ?"
**Topic**
I'm using lazygit 0.23.6-1~ubuntu18.04.1 (installation from ppa) on Xubuntu 18.04 and lazygit make a new SSH connection on the server repo every minutes. On my server ~/.ssh/rc send me an email at new connection. Since I have several repo, if I run 10 lazygit, I have 10 emails per minutes, it's very annoying.

**Your thoughts**
Is it possible to configure this or just make a connection w

[2020-11-26 10:04] fluffynuts commented on #1101
you probably want to turn `autoFetch` off in your configuration; see: https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md

[2020-11-26 10:08] fluffynuts opened #1102 "minor feature request: ability not to exit the app when pressing Escape"
**Is your feature request related to a problem? Please describe.**
I'm a lazy git. And I use VIM. A lot. So I tend to hit Escape a lot. And then I exit lazygit, and that makes me sad. I understand that a lot of people probably like this behavior because they aren't broken VIMmers like me. `q` exits quite nicely, and it makes sense (to me) to have `Escape` back out of menus. I'd really like a confi

[2020-11-26 10:10] jesseduffield commented on #1102
it's your lucky day because there is already a config key for that! I think it's 'gui.quitOnTopLevelReturn'

[2020-11-26 10:16] fluffynuts commented on #1102
yes! I just found this by trawling the source, because I was going to make (yet another) ham-fisted attempt at a PR!

WIN!

[2020-11-26 10:16] #1102 closed

[2020-11-26 12:07] trent30 commented on #1101
Nice !

[2020-11-26 12:07] #1101 closed

[2020-11-27 04:52] Yuuki77 opened #1103 "Autocomplete branch name for checking out from pop up panel"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I change the branch, the autocomplete for branch is not working.
What i want is that clicking on a tab should autocomplete the branch name

**Describe the solution you'd like**
.
**Describe alternatives you've considered**
.
**Additional context**
.

[2020-11-27 08:39] Yuuki77 opened #1105 "Crate a folder for staged and chageds file"
**Is your feature request related to a problem? Please describe.**
Currenlty it is kind of hard to know if the file is staged or not.
I think you can check this by color of file.
but I think it would be easer to add the folder for staged file like vscode does.

![image](https://user-images.githubusercontent.com/18569016/100428561-75f4a000-30d7-11eb-855b-36fac3f6efb1.png)

**Describe the solution y

[2020-11-27 11:23] teto opened #1106 "add ability to run `lazygit origin/other-branch`"
**Is your feature request related to a problem? Please describe.**
A feature I like in tig is that I can quickly check other branches with `tig origin/other-branch`. I would like to start lazygit similarly with `lazygit origin/other-branch` and have it use the specific branch.

[2020-11-27 23:45] jesseduffield commented on #913
This is now resolved thanks to @Liberatys ! If you move your config folder up on directory it'll all work fine (we're maintaining backwards compatibility for people with the old config location, but all new lazygit uses will have the config directory created without the jesseduffield/ parent directory. Let me know if you have any issues :)

[2020-11-27 23:45] #913 closed

[2020-11-27 23:45] jesseduffield commented on #1059
This is now resolved thanks to @Liberatys ! If you move your config folder up on directory it'll all work fine (we're maintaining backwards compatibility for people with the old config location, but all new lazygit uses will have the config directory created without the jesseduffield/ parent directory. Let me know if you have any issues :)

[2020-11-27 23:45] #1059 closed

[2020-11-27 23:45] #1099 closed

[2020-11-27 23:51] #1091 closed

[2020-11-28 00:13] jesseduffield commented on #1096
@felixkreuk this sounds like a good feature. I'm currently working on a way to render a tree of files (compared to the flat file structure you see currently) so this feature would be blocked until that work is done. But once that work is done I think this feature should be fairly straightforward to implement

[2020-11-28 02:43] jesseduffield commented on #1076
this is unfortunately a limitation of termbox, one of our underlying libraries. I believe we can resolve this by switching from termbox to tcell but that is quite a challenge

[2020-11-28 02:45] jesseduffield commented on #1103
I've got a PR up for this now: https://github.com/jesseduffield/lazygit/pull/1107

It's fully functional but needs some refactoring. Feel free to give it a try :)

[2020-11-28 04:28] Yuuki77 commented on #1103
Thanks for the quick response! 😄
I'll try to find the time next week and will give it a shot!!

[2020-11-28 08:19] #1053 closed

[2020-11-28 08:22] jesseduffield commented on #1079
This is now implemented on master, thanks @fluffynuts !

[2020-11-28 08:22] #1079 closed

[2020-11-28 08:26] jesseduffield commented on #1057
@adam-wolski I'm not able to replicate locally (on mac). Are you passing the full path?

[2020-11-28 08:28] jesseduffield commented on #1055
I'm not able to replicate this on mac. Do you have the stack trace handy?

[2020-11-28 08:32] jesseduffield commented on #894
For anybody who might want to tackle this, we currently refresh files/submodules every 10 seconds, and we re-fetch every 60 seconds. These could be made into configurable times. They're currently hardcoded in `pkg/gui/gui.go` where we call `gui.goEvery`. The place to create new config keys would be `pkg/config/user_config.go` and you'd also want to update the docs in `docs/Config.md`.

Worth notin

[2020-11-28 09:13] Yuuki77 commented on #1103
@jesseduffield test it locally!
this is exactly I was looking for 😄
Thank you very much!!

[2020-11-28 09:16] jesseduffield commented on #1103
No worries :) glad you like it. I'm gonna do another read through the code before merging

[2020-11-28 09:58] adam-wolski commented on #1057
Interesting, I have saved .exe from when I reported the issue and now I cannot reproduce it either on same machine with same binary!
Must have been something wrong on my end. Sorry.

[2020-11-28 09:58] #1057 closed

[2020-11-28 10:09] jesseduffield commented on #1057
all good :)

[2020-11-28 10:47] karjonas commented on #1055
I am now using this version:
`commit=4b55b2e7fca96dcdf2a25c6d66e4545a4f184db1, build date=2020-11-10T09:06:27Z, build source=binaryRelease, version=0.23.7, os=linux, arch=amd64`

stackTrace:
`2020/11/28 12:44:27 An error occurred! Please create an issue at https://github.com/jesseduffield/lazygit/issues

*exec.ExitError exit status 1
github.com/jesseduffield/lazygit/main.go:133 (0x5579d34d0437)
ru

[2020-11-29 00:12] jesseduffield commented on #1105
I'm interested to see who else would like to see this feature: I like having the files all in the same place so it's easy to toggle a file between staged and unstaged, however I'm open to making this something we can switch back and forth between or configure

[2020-11-29 03:18] Yuuki77 commented on #988
I will give it a shot 💪

[2020-11-29 08:06] felixkreuk commented on #1096
Awesome, thanks!

[2020-11-29 08:06] #1096 closed

[2020-11-29 18:59] kgrossjo opened #1108 "Better default local branch name when checking out from remote"
I was in a repository and wanted to check out a branch, but didn't know the name.  I had never checked out that branch before.  So I thought to browse the existing remote branches to see if I could find the right one from the commit graph.

Bingo!  Lazygit made that really easy!  I started it, I hit `3` to go to the Branches pane, then I hit `]` to go to the Remotes tab in that pane.  Then I was a

[2020-12-01 11:30] teto commented on #547
the ctrl-z to return to shell prompt being ignored is annoying, is there a trick to change that ?

[2020-12-02 13:49] fluffynuts opened #1109 "enhancements for repos using hooks"
**Is your feature request related to a problem? Please describe.**
We use hooks on our repos, most especially at push-time, but because we're using `pre-git` (it makes life easier), even a commit can take a second or two, during which time I'm not sure if I've hit `enter` or not on the commit dialog

**Describe the solution you'd like**
short-term: the same kind of feedback that's on the Push dial

[2020-12-03 08:54] fLindahl opened #1110 "Scroll bar is gone when exiting in powershell"
In powershell, when exiting lazygit via Ctrl+C, the scroll bar is gone and it's no longer possible to scroll.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Powershell
2. Open lazygit
3. Press Ctrl+C
4. Fill up screen with text
5. Try to scroll

 - v0.23.7
 - commit=4b55b2e7fca96dcdf2a25c6d66e4545a4f184db1

[2020-12-03 18:21] fLindahl commented on #1110
Hmm, seems like it's a bit inconsistent.
I'll keep looking for ways to reproduce it more reliably.

[2020-12-03 19:07] fluffynuts commented on #1076
fair enough; no need to keep an issue open for this minor request (:

[2020-12-03 19:07] #1076 closed

[2020-12-04 11:23] grossjohann opened #1111 "Minor wording inconsistency: Confirmation prompts"
When I push a branch that I've rebased, then I get a popup telling me that there is a problem, and that I can use 'enter' to force-push, or 'esc' to cancel.

When I rebase the current branch onto another branch, I get a popup asking me whether I'm sure.  I can use 'enter' or 'y' to confirm (haven't tried any other keys) and 'esc' to abort (haven't tried 'n' yet).

I feel these two situations are q

[2020-12-05 13:55] smartding opened #1112 "a dedicated area to write commit message (like committia)"
**Is your feature request related to a problem? Please describe.**
While we can open up a vim editor to write the commit message with shortcut `C`, it blocks all the lazygit interface. I would like to be able to see the diff and maybe other stuff when I'm writing the git message.

**Describe the solution you'd like**
A dedicated area in lazygit for writing git message that contains more than just

[2020-12-08 11:34] DraganGrbic-TomTom commented on #28
Maybe enter for new line, enter-enter to commit? So we could have both ways, just remove last newline on enter-enter and here we go, on single line commit messages we just need to press enter twice. On multiline messages, after last line press enter twice.

[2020-12-09 09:47] antoniohernandezpinto commented on #1060
Hi ! could you reproduce it verifying bug on ubuntu 20 O.S?

[2020-12-12 11:08] Medghofran commented on #1112
I do feel like this feature is really necessary for the project. another really cool addition to this suggestion would be the possibility to probe the local repository settings or the global user settings for a commit message template and copy it over to the message area, I think that having such feature would be really cool.

[2020-12-13 16:06] xaljer opened #1113 "Can I have a full screen mode to view diff?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-13 20:57] jesseduffield commented on #1113
if you go shift+`+` couple times after pressing enter on a file it should go full screen. Does that satisfy your use case?

[2020-12-14 11:28] MuratUrsavas opened #1114 "Copying commit has crashes Lazygit"
**Describe the bug**
I've tried to copy the hash from the reflog window via "CTLR + o" but got this message:
[code]

Got fixed after installing xsel. I guess xsel or xclip should be a dependency.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Lazygit Version : build date=2020-10-14, build source=debian, version=0.23.6, os=linux, arch=amd64

[2020-12-16 16:18] xaljer commented on #1113
@jesseduffield I didn't get the full screen effect follow your description~

[2020-12-16 17:59] geeksesi opened #1116 "yaml: invalid trailing UTF-8 octet"
**Describe the bug**
hi, i can't open lazy git. said
[code]

i just have no idea and i'm not familier with Go to check and debug by my self.

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.4
 - Lazygit Version
[code]

**Additional context**

this message will appear on all of my projects.

[2020-12-17 05:54] aksrikanth opened #1117 "Lazygit just hangs on load. (Windows + git bash)"
Lazygit just hangs on load. No interface is drawn.

**To Reproduce**
Steps to reproduce the behavior:
1. start lazygit from git bash command line

**Expected behavior**
Lazygit interface loads

**Screenshots**
![Screenshot 2020-12-16 214825](https://user-images.githubusercontent.com/44910/102449237-abaaeb80-3fe8-11eb-8e43-5d8e3de8d6d8.png)

**Desktop (please complete the following information):**

[2020-12-17 08:50] vbauerster opened #1118 "lazygit quits unexpectedly with message: Error: must be run inside a git repository"
To reproduce, there must be some bare repository with at least one **submodule** in it. Let say bare repo is in `~/.git_dotfiles`, then invoke lazygit like `lazygit --git-dir=~/.git_dotfiles --work-tree=~/`. Navigate to submodule view then enter any submodule with <kbd>enter</kbd> key, finally press <kbd>esc</kbd> to go back to main view.

Outcome is lazygit quits unexpectedly with following messa

[2020-12-17 12:54] geeksesi commented on #1116
i found the broken yaml file.
[code]
and remove all of the content.

[2020-12-17 12:54] #1116 closed

[2020-12-18 04:13] aidedinertial opened #1120 "Feature Request: Add tab to Files pane to show the tree of tracked files"
I would like to vote for the feature request from issue #1063.

It would be handy to be able to page back and forth between the log (graph) and the file tree. The UX for this still needs some thought, but I find myself still navigating to a gui to read files at a particular ref.

[2020-12-18 13:20] Ry0taK opened #1121 "[Security] Vulnerability report"
I've sent an email that contains the detail of the vulnerability to `jesseduffield at gmail.com`. (As I couldn't find proper contact information to report a vulnerability, I used the email from the GitHub profile.)
Since I believe this vulnerability can be exploited, I'm not publishing the detail here.

@jesseduffield Can you check the inbox, please?

[2020-12-18 14:16] aidedinertial commented on #1117
As a workaround for Git bash:

[code]

[2020-12-18 17:15] prime31 opened #1122 "Config file location"
Is there a way to specify the config file location? I'd like to be able to share the file between multiple systems. If there is a way to specify it at launch `lazygit --config ~/.config/config.yml` that would be perfect and would allow it to be kept in a dotfiles directory that is easy to sync between machines.

[2020-12-18 17:23] jbrains opened #1123 "Launchpad PPA once again behind current release"
**Describe the bug**
Recurrence of https://github.com/jesseduffield/lazygit/issues/897. The Launchpad PPA has lazygit v0.23.6.

**To Reproduce**
Steps to reproduce the behavior:
1. `sudo add-apt-repository ppa:lazygit-team/release`
2. `sudo apt-get update`
3. `sudo apt-get upgrade`

**Expected behavior**
Install (as of today) v0.23.7.

**Desktop (please complete the following information):**
 - Po

[2020-12-18 17:25] prime31 commented on #1122
I'm a blind fool. ;)

[2020-12-18 17:25] #1122 closed

[2020-12-19 08:59] n12o opened #1125 "Marking (flagging) files for later action (stage/unstage/discard)"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to stage/unstage/discard multiple files in "files" menu. Git is slow on Windows in a huge repo and if I wan to do those action only on some files it takes ages.

**Describe the solution you'd like**
Allow marking a file for later action dired style.  You would simply select multiple files with a ke

[2020-12-19 09:16] jesseduffield commented on #1125
I've actually got a branch up for this: `selecting-file-range` but I haven't had the time to polish it

[2020-12-19 09:34] jesseduffield commented on #1121
@Ry0taK my email has an extra 'd' in it i.e. jessedduffield@gmail.com. Luckily my doppelganger forwarded the email to me.

That said, I also can't think of a way around this: it seems even invoking git directly from windows has the same vulnerability. I don't think we can rely on using an exact path either. I'm open to suggestions on how to resolve this.

At any rate it looks like that proposal th

[2020-12-19 10:08] Ry0taK commented on #1121
@jesseduffield
I'm really sorry that I made a mistake in the email address.
I've sent a reply to the correct one.

[2020-12-19 21:20] timsofteng commented on #1066
same here

[2020-12-20 09:27] hypo-thesis opened #1126 "Too many cache files and squared out fonts in the cmd."
**Describe the bug**
The fonts are all squared out and I see a lot of cache files in the directory.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![dgdfgdfg](https://user-images.githubusercontent.com/28728305/102709789-940c8500-42be-11eb-8465-9502e140d6ee.jpg)

**Desktop (please complete the following information):**
 - OS: windows 10
 - La

[2020-12-21 12:41] chedieck opened #1127 "Missing webpage on documentation."
On the Custom [CommandKeybinds](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md) page, there is a broken link on the "Placeholder values" section: it points to `https://github.com/jesseduffield/lazygit/blob/master/pkg/commands/file.go`, which does not exists anymore

[2020-12-27 20:55] n12o commented on #914
This is indeed a good idea. There's no way to do this with lazygit currently so I have to use command line which is fine but don't have a good workflow to navigate it and ofc it's much nicer to have most basic git features in lazygit

[2020-12-29 22:54] vyorkin commented on #1003
I had to put `disableStartupPopups: false` to disable it

[2020-12-31 18:49] Matts966 opened #1131 "Commits are ignored when authenticating with ssh-agent"
**Describe the bug**
- When authenticating with ssh-agent for private Github repository, we can get git log in `Log` view, but on clicking the branch, the `Commit` view shows `No commits`.
- When authenticating with normal SSH keys, we can assume the `Commit` view contains correct logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Local Branches`
2. Enter to view `Commit` view

**E

[2021-01-01 00:20] apazzolini commented on #824
Hi @jesseduffield - I'm also running into this (version 0.24.2, commit=d7c924).

When I run `git show some-sha`, I get output similar to nartc's screenshot above. When I run `git show -m some-sha`, the diff of the files in the merge are visible.

Is there a way to configure lazygit to forward the `-m` flag to `git show`? I didn't see an option in https://github.com/jesseduffield/lazygit/blob/maste

[2021-01-01 09:11] averak opened #1132 "Please support "restore" & "switch""
**Is your feature request related to a problem? Please describe.**
I usually use `restore` and `switch` instead of `checkout`. However, lazygit does not support these.

**Describe the solution you'd like**
I want you to support `restore` and `switch`!

Thanks

[2021-01-02 08:43] murphy66 commented on #877
I think #1133 solves this issue (I should've linked the pull request before, sorry).

[2021-01-02 21:19] murphy66 commented on #1087
The problem is that str.ToArgv treats \" as " on windows and because of this it thinks the commit message is ended at \" (and doesn't know what to do with the rest) . Here you can view the relevant [code](https://github.com/mgutz/str/blob/968bf66e3da857419e4f6e71b2d5c9ae95682dc4/funcsPZ.go#L349) where the parsing differs for the platforms. I'm not sure how to fix this because this might be the des

[2021-01-02 22:12] mckellygit opened #1134 "error while reading terminfo data: termbox: unsupported terminal"
Hi,

2021/01/02 16:59:01 An error occurred! Please create an issue at https://github.com/jesseduffield/lazygit/issues
*errors.errorString termbox: error while reading terminfo data: termbox: unsupported terminal
/home/<username>/go/src/github.com/jesseduffield/lazygit/main.go:133 (0xa03297)
        main: newErr := errors.Wrap(err, 0)
/usr/local/go/src/runtime/proc.go:204 (0x439f09)
        main: f

[2021-01-04 15:28] cseickel commented on #622
I am having the same problem, using WSL in ConEmu on Windows 10. I am running this in tmux if that makes a difference.

echo $TERM outputs: **screen-256color**

[2021-01-05 10:01] theblazehen opened #1135 "Option to customize git log in side panel"
**Is your feature request related to a problem? Please describe.**
Currently the git log in the pane only shows `<short commit> <message>`, I'd like that to be configurable as the log commit message in the full sized panel shows

**Describe the solution you'd like**
I'd like to have the git log message in the pane be configurable in the same way that the `branchLogCmd` is configurable

**Describe

[2021-01-05 10:42] theblazehen opened #1136 "Doesn't show all colors that pager can support"
**Describe the bug**

Color when running delta as a pager doesn't match the color shown inside lazygit when line-numbers is enabled for git-delta

**To Reproduce**
Configure your git pager as
[code]
Then run `git log` in a repository.

Then configure lazygit as
[code]
And it looks different.

**Expected behavior**
The output should look the same.

**Screenshots**
Screenshot of `git log -p` output:

[2021-01-09 03:40] luckscx commented on #807
This feature is quite useful.i  vote for it.

[2021-01-09 20:23] dpacbach opened #1138 "Non-colored diff in default "unstanged changes" view."
When I move through the files in the Files view their diffs appear in the pane on the right -- but the diffs are not colored.  Both the + and - are yellow.  When I hit enter on a file to select hunks, the diffs are then in the desired red/green color.  Strange... why are the diffs colored only after hitting <enter> on a file?

**Expected behavior**
Both diff views should have their diffs colored t

[2021-01-09 22:47] jdavid1385 commented on #807
Hey, sorry for the late reply, had almost forget about this request. Yes, I use vim as my editor. I guess, of being implemented, that'd be only for vim if the case is of open-at-line being available only on it. Thanks for considering its implementation.

[2021-01-11 09:15] ecosse3 commented on #994
I totally agree on this issue too. Are there any news about it? I see that `gocui` dependency is pretty old. Maybe there is a workaround on this to add some mapping when user click for example 'END' button it will move the cursor to the end of line? It could be a temporary solution which would be very helpful too.

[2021-01-11 11:43] timsofteng opened #1139 "Failed $PATH to browser bin in freebsd"
![image](https://user-images.githubusercontent.com/51912173/104178064-6ecceb80-5412-11eb-8232-673aa7cece9b.png)

Hello. I have caught bug. When I try to open my PR in browser (press "o") I get this error message (look at screenshot). I suppose it happens due to different pathes to bin files in Freebsd.
Here is defauld $PATH variable in freebdsd:
`/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/

[2021-01-11 14:59] SCIENTIST-Rohit commented on #1139
Yeah
You need to contact me

On Mon, Jan 11, 2021, 5:14 PM Tim <notifications@github.com> wrote:

[2021-01-13 05:18] carstengehling opened #1140 "Commits pane is blank on version 0.24.2"
After upgrading to version 0.24.2, the **commits** pane is blank. When selecting branch in the **Local branches** pane, I can clearly see the commit log, just not in the commits pane.

I use lazygit on Windows 10 WSL:

[code]

![lazygit](https://user-images.githubusercontent.com/54675/104409601-e6ac2a80-5566-11eb-9c4c-e96eff34d1a1.png)

Let me know, if you need any more information. Thank you for

[2021-01-14 10:10] jesseduffield commented on #1140
hmm I actually have WSL setup on my PC. I'll give this a go there and see if I can replicate.

[2021-01-14 10:21] jesseduffield commented on #1140
![lazygit-ubuntu](https://user-images.githubusercontent.com/8456633/104578074-5c6ede00-56ae-11eb-9252-8a1f0649635a.PNG)
I'm not able to reproduce the issue
I have the exact same version/arch too:
[code]

[2021-01-14 10:25] jesseduffield commented on #1140
@carstengehling some questions that could help narrow down the cause:
1) do you know which version worked last? A git bisect might help get to the bottom of the issue i.e. cloning the lazygit repo and running `go run main.go` at the root of the repo to see how it behaves for a particular commit
2) does the error occur on all repos or just a specific repo?
3) does a list of commits appear if you se

[2021-01-14 10:26] jesseduffield commented on #1139
@timsofteng I suspect that the 'open' command simply doesn't exist for BSD. Is there some other program that you would use to generically open a file?

[2021-01-14 10:29] jesseduffield commented on #1138
When you hit enter on a file, we switch from showing whatever the `git show` command gave lazygit, to showing a diff that we colour ourselves. The reason for this is that it can take a long time to parse large diffs so we only show a slice of what is given to lazygit until you hit enter and commit to staging lines/hunks.

I wonder if lazygit is mistaking the colour scheme of the pty in which it's

[2021-01-14 10:30] jesseduffield commented on #1135
That sounds quite do-able. I'll chuck a good-first-issue label on this. The presentation folder is where all that stuff is handled and we could pass a config struct in saying what fields the user wants to be present

[2021-01-14 10:31] jesseduffield commented on #1134
I think this is just a matter of whitelisting the terminal from within termbox. This might actually be easier to solve by just migrating from termbox to tcell which is a work in progress at the moment

[2021-01-14 10:33] jesseduffield commented on #1140
Actually @carstengehling this might be the same problem that we're seeing in https://github.com/jesseduffield/lazygit/issues/1131. Are you using ssh-agent by any chance?

[2021-01-14 10:35] jesseduffield commented on #1131
This might be the same issue as https://github.com/jesseduffield/lazygit/issues/1140.
I've got ubuntu in WSL on my PC, but I'm not sure how to reproduce. Could you provide repro steps including the part about using ssh-agent?

[2021-01-14 10:37] jesseduffield commented on #1127
Fixed in https://github.com/jesseduffield/lazygit/commit/106fce26b504d875384d5cae08e9e36d66b29337 :)

[2021-01-14 10:37] #1127 closed

[2021-01-14 10:38] jesseduffield commented on #1126
I recommend invoking lazygit from powershell if you're on a PC. the raw cmd prompt seems to have issues. Could you give that a try?

[2021-01-14 10:39] jesseduffield commented on #1123
I know I should know how this all works by now but I still don't haha. @dawidd6 are you able to once again remind me how this all works?

[2021-01-14 10:41] jesseduffield commented on #1112
This makes sense. You can currently hit 'tab' (awkward I know but enter is reserved for submitting) to add more lines to the commit message, but the popup is still in the way of things

[2021-01-14 10:49] dawidd6 commented on #1123
Releasing to PPA is automated now. This issue can be closed.

Process is like this:
git tag -> CD workflow trigger -> clone

[2021-01-14 10:52] #1123 closed

[2021-01-14 10:55] jesseduffield commented on #1123
@dawidd6 nice :) Is this a process I can follow on my own computer? I'm not familiar with the gbp command

[2021-01-14 10:58] dawidd6 commented on #1123
Yes, just look at how the steps are defined in the workflow job and it should work locally too.

[2021-01-14 11:06] jesseduffield commented on #1123
sweet, thanks

[2021-01-14 12:19] timsofteng commented on #1139
What means 'open command'? I have nnn file manager which can open files in different app according to xdg default apps.

[2021-01-14 15:33] dpacbach commented on #1138
I've been using lazygit for a couple of months now, and as far as I can remember it's always been that way for me.  Can you confirm, what command is used to show the diffs prior to hitting enter?  Is it `git diff` or `git show`?  Note that when I run both `git diff` and `git show` in the terminal, I get the red/green colored output, but somehow it is suppressed in lazygit.  Let me know if you want

[2021-01-14 15:34] dpacbach commented on #1138
Also, I tried with both the Gnome terminal emulator as well as the Alacritty terminal emulator but I get the same.

[2021-01-15 05:11] carstengehling commented on #1140
Re 1: oh bugger... I must admit, that I didn't notice that ;-) But it is at least 6 months since I last did an `apt-get upgrade` , if that's any help.

Re 2: It happens on any repository. To make sure, that it is not something "outside" of lazygit's domain, I tried:
  - Repository within WSL's own filesystem. Eg. `~/somegitfolder`
  - Repository in Windows' filesystem. Eg. `/mnt/c/somegitfolder`

[2021-01-15 05:20] carstengehling commented on #1140
**SOLVED**

@jesseduffield I just installed git version **2.29.0** from the official PPA. And this solved all problems! So thank you for asking for this detail - should have thought of it myself. 👍

[2021-01-15 08:19] jesseduffield commented on #1140
Nice one! Do you recall which git version you were on previously? We try to support version 2.0 onwards, so if you were already on a 2.something git version, I might do some digging to see what caused the issue

[2021-01-15 12:09] Liberatys commented on #653
I can't reproduce the issue outlined ^^ maybe update nvim and lazygit ?

[2021-01-15 13:56] laptobbe commented on #612
The tab feature that @eproxus suggested would be really nice when working with files/paths with really long names ie. java. It does work to zoom in and out but the entire experience would be nicer in my opinion.

[2021-01-15 18:20] carstengehling commented on #1140
It was 2.7.0. But I can see, that lots of things have changed from that to 2.29.0, so maybe 2.0 compatible is a bit ambitious?

I'll try to downgrade incrementally until I get the error again. Then you'll know exactly from which Git version it currently works.

[2021-01-16 08:52] Matts966 commented on #1131
@jesseduffield
Thank you for your response. I enjoy `lazygit` very much!

I could reproduce this using docker

[code]

[2021-01-17 14:00] mckellygit opened #1141 "Is there a way to unmap a key (or map it to none etc) ?"
Thank you for lazygit, it is awesome.
I really just have a question if this is possible and if so how to do it -
Suppose I wanted to not have \<esc\> quit - do I have to map <esc> to something else I seldom use ?
Or can I 'unmap' it, or map it to a no-op / none method etc. ?

thx,
-m

[2021-01-17 14:24] murphy66 commented on #795
I made a pull request that adds this funcionality: #1142

[2021-01-18 14:30] pirafrank opened #1143 "--ignore-space-change support in diff panel"
For files with modifications, in the right pane we can currently stage edits line by line.
In this view, all the differences are shown (as per `git diff`).

Currently there is no option to view differences filtering space changes out, so that I can choose lines to stage among actual code changes.

The app should support a setting (specified in the config.yml) or some kind of toggle, to view differ

[2021-01-18 14:41] Yuuki77 commented on #1103
this was implemented in #1107

[2021-01-18 14:41] #1103 closed

[2021-01-18 23:12] lkuoch opened #1144 "Execute commands when the help menu is shown"
I'm not sure if this is enabled by a setting in the config but I would like to be able to execute commands when the help screen is shown.

Currently the workflow is like follows:
   - Open help screen to check for command I want to execute
   - Close help screen
   - Press key that I had to remember from help screen

Somewhat similar to magit where there is a option to see all commands available I

[2021-01-19 17:02] mckellygit opened #1145 "commit amend (reword) does not work properly when commit message is longer than box width and wraps"
Hi,

Thank you for lazygit, it is awesome.
I am using the latest version built from source.
If I want to re-word a commit msg, and the msg happens to be longer than the box width (so it appears as multi-line) then the cursor is not in the correct place for editing and moving the cursor around does not seem correct.

thx,
-m

[2021-01-20 15:09] mckellygit commented on #1134
ok, thanks.  Closing for now.

[2021-01-20 15:09] #1134 closed

[2021-01-20 17:05] mewejo opened #1146 "GPG signing breaks commit flow"
**Describe the bug**
When signing commits with a GPG key (which is unlocked, but password protected), Lazygit gets booted out to a shell and prompts pressing enter to return to Lazygit.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup GPG signing (I have a passworded key in this example)
2. Setup auto signing with `git config --global commit.gpgsign true`
3. Make a commit via Lazygit
4.

[2021-01-22 15:52] sergey-suslov commented on #1135
Hi @jesseduffield. I would like to work on this issue.

[2021-01-22 21:18] c2d7fa opened #1147 "Show which branches have unmerged changes"
**Is your feature request related to a problem? Please describe.**

I use feature branches. Sometimes I work on one feature before switching to another. With lots of branches, I sometimes lose track of which branches still need work done, and which branches have already been merged and can be safely deleted.

**Describe the solution you'd like**

It would be nice if there was some indicator in the

[2021-01-23 12:32] sergey-suslov commented on #1135
I made a prototype for the normal view which is available [here](https://github.com/jesseduffield/lazygit/compare/master...sergey-suslov:1135_option_to_customize_git_log_in_side_panel).
For now, the config string looks like this:

[code]

I would like to discuss:
- which information will be available to display in the commit panel
- what will be the format of the configuration string and which con

[2021-01-24 02:26] jesseduffield commented on #1135
@sergey-suslov nice work! I've just pulled your code and gave it a test and it works great.

Which info will be available: anything on the commit model i.e. `pkg/commands/models/commit.go`, but I think sha/author/message suffices for now given that's the known usecase.

Format of the config: I have a few thoughts on this. Firstly, we may want to end up support customisations for the columns of oth

[2021-01-26 10:22] jonheg opened #1149 "Crashes during merge conflict resolve"
**Describe the bug**
Merging created a conflict and when selecting a diff in the files panel, it crashes.

**To Reproduce**
Steps to reproduce the behavior:

unsure, since i have done these steps before.

**Expected behavior**
Should not crash.

**Screenshots**

2021/01/26 11:16:35 An error occurred! Please create an issue at https://github.com/jesseduffield/lazygit/issues

*errors.errorString fat

[2021-01-26 10:25] jonheg commented on #1149
If i manually git add <problem file> and start lazygit again i can continue to next file. But the same happens on next file
during the "pick chunk" operation.

[2021-01-26 13:59] sergey-suslov commented on #1135
@jesseduffield
Go templates would be a nice option and we could save a lot of time making all similar configurations generic, but since we have to support formatting (truncating, coloring, mandatory fields such as actions) we will need to construct some `FormattedCommit` object as a template base. Therefore, I believe that the usage of a fixed allowed options list will be a better solution.

### Q

[2021-01-28 01:12] levouh opened #1150 "config.yml generated in cwd, not read from default location?"
## Describe the bug

The default `config.yml` file located in `~/.config/jesseduffield/lazygit` is not read by default, and when on the _Status_ menu, pressing the default `e` key binding opens up a `config.yml` in the current working directory.

## To Reproduce
Steps to reproduce the behavior:
1. Fresh install of `lazygit` with a binary from the `releases` page, specifically:
[code]
2. Change dir

[2021-01-28 01:37] levouh commented on #1150
So can you explain the reasoning behind [this](https://github.com/jesseduffield/lazygit/blob/922c0887f11da78242482811f011c84e4e82ffc9/pkg/config/app_config.go#L93)?

Are you aware of [this](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html)?

[2021-01-28 09:24] jonheg commented on #1149
This is probably caused by CRLF/LF conversions in git.
# Warning: CRLF would be replaced by LF in <unstaged files> shows up.
When lazygit picks up a file which git reports CRLF issues with it seems the git process leaves a .git/index.lock file everytime. Could it be that lazygit does not respond the the warning in a nice way and somewhat kills the git process?

[2021-01-28 09:28] jonheg commented on #1149
lazygit --logs shows

Jan 28 10:26:43 |ERRO| fatal: Unable to create 'xxxx/.git/index.lock': File exists.

Another git process seems to be running in this repository, e.g.
an editor opened by 'git commit'. Please make sure all processes
are terminated then try again. If it still fails, a git process
may have crashed in this repository earlier:
remove the file manually to continue.

[2021-01-29 11:52] smh opened #1151 "Respect git configuration over defaults in lazygit"
**Respect git configuration over defaults in lazygit**
I was caught by surprise today. Did a pull through lazygit, and ended up with a merge commit even though my git config says to do a rebase.

I have no lazygit config file, but the following in my `$HOME/.config/git/config:
[code]
Would it be possible/desirable to let git configuration (either global or repository specific) take precedence over

[2021-01-29 22:48] fsmiamoto opened #1152 "Environment variables get expanded on commit message"
**Describe the bug**

Whenever a commit message contains an envvar, it gets expanded on the final commit message.

Although this could happen when using `git commit` directly, it is more obvious when a variable will be expanded on the command line.

I'm not sure if this is to be expected but I was surprised with this behavior within Lazygit

I guess this could be potentially dangerous if you consi

[2021-01-31 17:03] timsofteng opened #1153 "Previous name with branch's renaming"
Hello. When user want to rename the branch it often need just to replace word or few. If previous branch name will be in field after renaming action trigger it would be cool.

[2021-02-03 19:58] lcc014 commented on #1140
I had the same issue with git 2.7.4 and lazygit 0.23.x.  After I upgraded my git to 2.29.0 and lazygit to 0.24.2, commit window worked again with whole bunch of commits.

[2021-02-05 14:46] grossjohann opened #1154 "Picking hunks does not work for files handled via git-lfs"
**Describe the bug**

I rebased a branch onto another branch.  A file `foo.zip` was modified in both branches.  So naturally there was a conflict on rebasing.  The "Files" portion of the UI (where the files are listed with A or M or something on the left) showed something unusual, but unfortunately I do not remember what exactly it was showing.  I know it had two letters on the left instead of onl

[2021-02-07 17:33] #1090 closed

[2021-02-08 22:40] #1121 closed

[2021-02-11 03:55] xuerenxiang commented on #1140
it's my first time to use lazygit,and I am facing the same issue on version 0.24.1 and 0.24.1,even I upgraded to 0.20.4,it doesn't work.my git version is 2.9.0

[2021-02-11 04:10] xuerenxiang commented on #1140
I upgraded the git to 2.30.0 and the issue is solved~

[2021-02-11 15:27] edementyev commented on #720
Feature not working for me, I'm using lazygit 0.24.2 (AUR/stable) on Manjaro Linux
Steps to reproduce:
1) Checkout `master` branch
2) Go to other branch's commits, hit `c`
3) Go to `master` branch's commits and hit `v`
Nothing happens

[2021-02-11 20:30] jesseduffield commented on #720
perhaps the commit’s code is already present in the destination graph? If thats the case we should probably notify the user

[2021-02-12 01:32] peppy opened #1158 "Editing config file from lazygit requires a restart for changes to take effect"
**Describe the bug**
Lazygit allows you to edit its configuration by pressing the 'e' hotkey from pane 1. After editing, my expectation would be that the new configuration is loaded, but it does not seem to be.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pane 1
2. Press 'e'
3. Edit the configuration (add a new custom command)
4. Save and return to lazygit

**Expected behavior**
The

[2021-02-12 10:41] edementyev commented on #720
Got it, I was able to paste selected commit in Commits (3rd) panel. But it doesn't work in Local Branches -> Commits (4th) panel. A bit confusing, but works nonetheless. Trying to get used to a new tool to integrate it into my workflow takes some time :)

[2021-02-14 17:19] snipem commented on #994
@ecosse3  The `END` _key_ moves the cursor to the back of the line

[2021-02-16 21:52] #771 closed

[2021-02-17 03:15] c02y opened #1161 "refresh binding is not working in some section"
**Describe the bug**
A clear and concise description of what the bug is.
When I'm in the layout only with `Unstaged Changes`+`Staged Changes` sections visible, point is in the `Unstaged Changes` section(the 1-5 panes being visible or not doesn't matter), the `R` to refresh is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Check the modification of a file under only `Unstaged Ch

[2021-02-17 03:29] c02y opened #1162 "`lazygit -v` is basically empty"
**Describe the bug**
A clear and concise description of what the bug is.
When I install lazygit using `go get`, the result of `lazygit -v` is:
[code]
So I don't know any useful info when I try to file the bug report

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wha

[2021-02-17 11:56] ristillu opened #1163 "Informational prompt?"
**Is your feature request related to a problem? Please describe.**
In our project we use git describe all the time for issue tracking. I implemented a custom command that sort of does what I want but I'm interested if you have ever thought about informational only prompts. I.e. not 'input' or 'menu', just outputting the result of something like git describe. There may be other use cases for inform

[2021-02-17 12:19] jesseduffield commented on #1162
@c02y how did you install lazygit? That behaviour occurs when running it directly from source because you need to compile it with e.g. commit SHA, tag, to have that stuff included

[2021-02-17 12:21] jesseduffield commented on #1158
Makes sense, I suspect that wouldn't be too hard to implement. I'll see if I find some time soon to work on this but in the meantime I'll chuck a 'good-first-issue' label on it

[2021-02-17 12:31] jesseduffield commented on #1163
First off, thanks for your kind words :)

Sounds like we want a `showOutput` boolean key there so that the output of the command appears in a popup

[2021-02-18 00:10] c02y opened #1164 "verbose commit when writing commit msg using editor"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When using `C` to writing commit msg using my editor, it is better to list all the changes in the editor, like `git commit --verbose`

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Descr

[2021-02-18 02:56] c02y opened #1165 "log with more details"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I need some log list like `git log --graph --all --color=always --decorate --date=relative  --pretty=medium --stat` which lists log with commit+files+extra-info of all commits inside lazygit, so I add some command like
[code]
But the resul

[2021-02-18 15:51] dbast opened #1166 "Please update to Go 1.16 and also release for macOS ARM64"
Go 1.16 was just released with macOS ARM64 support, see https://blog.golang.org/go1.16

[2021-02-19 08:53] Ryooooooga opened #1168 "Commit messages are not escaped properly."
**Describe the bug**

Commit messages containing special characters (`$` / <code>`</code>) are not escaped properly.

**To Reproduce**

Steps to reproduce the behavior:
1. Setup GPG, and enable GPG signing (`git config commit.gpgSign true`)
2. Stage some changes
3. Press `c` to open commit input-box
4. Type messages like `$(echo Hello)`, and press enter
5. The command `git commit -m "$(echo Hello)

[2021-02-20 09:38] dbast commented on #1166
Regarding signing and darwin_arm64 binaries ... go 1.16 automatically adds an add hoc signature, see the comment here https://github.com/git-lfs/git-lfs/issues/4403 ... So the existing PR should be enough.

[2021-02-21 19:22] fsmiamoto commented on #1168
I think this is a more complete version of #1152.
@jesseduffield I'd be willing to tackle this one, maybe we can close #1152 and keep this one since it's better described.

[2021-02-22 22:46] heimer16 opened #1169 "gui mouseEvents false should also disable mouse wheel"
With mouseevents set to false, the ui still allows scroll wheel to move up and down in the focused area.  I think mouseEvents: false should also disable mouse wheel actions.  Or, possibly another config option could be added to enable/disable mouse wheel if there is reason to keep them separate.

[2021-02-23 11:04] #1166 closed

[2021-02-23 12:02] jesseduffield commented on #1158
@peppy are you able to give https://github.com/jesseduffield/lazygit/pull/1170 a go?

[2021-02-23 15:13] peppy commented on #1158
works as expected 💯

[2021-02-23 15:19] guban commented on #877
After upgrading to version 0.25, the problem persists, but the error message is now `The syntax of the command is incorrect.`

[2021-02-23 21:19] adamtabrams opened #1171 "Add layout for horizontal main panel"
**Is your feature request related to a problem? Please describe.**

I would be nice to use a side-by-side diff in the main panel, but it's too narrow in many cases.
In addition, it's easy to scroll up and down in the main panel, but line wrapping is more difficult to deal with.

**Describe the solution you'd like**

I'd like to switch layouts (preferably using config.yml) to have the main panel be

[2021-02-24 17:21] pizzafanatic commented on #1092
I am encountering a similar issue as well. I suspect the ssh'ing part of this is irrelevant. For me it shows up when scrolling through the diff panel (right hand side) of a large commit.

commit=, build date=, build source=apt-get, version=0.25, os=Linux: Ubuntu 20.04, arch=

One thing I have noticed is that this doesn't happen when scrolling with my mouse's scroll wheel. It only happens when usin

[2021-02-24 18:10] JonathanAquino commented on #940
I think the title of this issue should be changed to say `conflictstyle` instead of `mergestyle`.

[2021-02-25 08:24] scutxd commented on #24
![image](https://user-images.githubusercontent.com/28666253/109124329-c38bb200-7785-11eb-9619-30da607eabaf.png)

The filename is chinese, but it's crashed. But the content in chinese is OK.

[2021-02-25 18:29] dakyskye commented on #1113
Yup, it never lets you focus on "diff" window, so you can't make it go fullscreen. Would be cool if we had that.

[2021-02-26 22:25] eruizc-dev commented on #1151
It happened to me today too. I'd like for it to follow what's in my  `.gitconfig`

[2021-02-27 11:00] c02y opened #1175 "`Home` and `End` keys make lazygit crash when editing commit msg"
**Describe the bug**
A clear and concise description of what the bug is.
When I edit the commit msg, I accidentally hit `Home` or `End`, and lazygit crashed.

**To Reproduce**
Steps to reproduce the behavior:
1. open lazygit in one git repo, stage a file using `Space`
2. `c` to edit commit msg
3. Hit `Home` or `End` key
4. See error

**Expected behavior**
A clear and concise description of what yo

[2021-02-27 15:47] cmario92 opened #1176 "ydiff not working - 0.25.1"
**Describe the bug**
Following the instructions on https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Pagers.md, I can not get ydiff to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to lazygit
2. Switch to the 'Files' section
3. See that the changes are showing as xdiff not ydiff

**Expected behavior**
After adding the below configuration as instructed on docs, I sho

[2021-03-01 07:21] c02y commented on #1176
The documentation says "colorArg: never", did you try it?

[2021-03-01 08:50] cmario92 commented on #1176
yes I changed it to `colorArg: never` and now I am getting this error when I trigger lazygit - `ydiff -p cat -s --wrap --width=40 : 1: ydiff: not found`

[2021-03-01 09:26] c02y commented on #1176
Is `ydiff` in your PATH, I tried your config, it is working OK.

[2021-03-01 09:48] cmario92 commented on #1176
didn't know I had to install `ydiff`.
After installing with `pip` and restarting the system everything is working as expected.

Thanks for the support, closing the ticket.

[2021-03-01 09:48] #1176 closed

[2021-03-01 14:53] c02y commented on #1176
Restart the system? Why? you said you are using Ubuntu, you just started to use Linux? You don't need to restart your system as long as you install the ydiff package and the binary of ydiff is in your PATH.

[2021-03-01 16:25] cmario92 commented on #1176
good to know, maybe restarting the system was redundant

[2021-03-03 14:49] c02y opened #1179 "`Enter` doesn't work when `Press enter to return to lazygit`"
**Describe the bug**
A clear and concise description of what the bug is.

When lazygit prompts `Press enter to return to lazygit`, but `Enter` key is not working, I have to hit `Esc` to return to lazygit.

**To Reproduce**
Steps to reproduce the behavior:
1. in lazygit, use `e` to modify a unstaged file using your editor
2. exit the editor
3. lazygit prompts `Press enter to return to lazygit`, but

[2021-03-04 01:59] Rizhiy opened #1180 "Lazygit should just pass commands to git instead of trying to do its own thing"
**Is your feature request related to a problem? Please describe.**
Basically lazygit doesn't respect my .gitconfig and other settings.
For example: I have pull with rebase setup (`[pull] rebase = true`), but when I pull using lazygit it creates a merge. I have similar problems with switching branches, checking out commits and other things.

**Describe the solution you'd like**
Instead of running w

[2021-03-06 20:41] jdelkins commented on #1066
same issue here

[2021-03-07 17:58] mjarkk commented on #1066
In the awesome gocui fork we migrated to tcell and that should fix the issue.
Jesse said he wanted to try getting it to work in lazygit but i don't know his status of that.
https://github.com/awesome-gocui/gocui/pull/73#issuecomment-749801742

[2021-03-10 11:06] mkurdej commented on #1175
The same happens when renaming a branch.
To reproduce
1. Open lazygit
2. Select a branch and rename it (Shift-R)
3. Confirm the message about local renaming by pressing `y`.
4. Hit `Home` or `End`.
5. See the error message.

[code]

[2021-03-10 17:19] grossjohann opened #1183 "Searching commits in a branch panics"
**Describe the bug**
When searching the commits of a branch, lazygit panics.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the lazygit repo
2. Start lazygit; the Files panel is active
3. Hit `l` (lowercase L) key to go to the Local Branches panel, which (for me) displays just the master branch.  But it does not matter which branches are shown, it happens for every branch and every re

[2021-03-10 18:51] lzybkr commented on #1175
I hit this as well, same repro as OP but I think I hit <kbd>Shift+Home</kbd> to select all of the text.

[2021-03-11 10:01] ristillu opened #1184 "Pushing the limits of custom commands"
**Topic**
As the title said, I wanted to implement a custom command but I think I'm overstepping the mark - can you smack me back down to earth

**Your thoughts**
- I don't know go
- I wanted to choose a way to delete remote branches associated with a local branch via a custom command
- I can maybe do this through the 'Remotes' pane but we have literally 10,000 remotes because people forget to cle

[2021-03-11 13:04] mjarkk commented on #1184
interesting use case but i sadly don't think a lot of what you are doing is possible as you cannot just run Go code in your template.
It has been some time since i used go templates but as far as i know the go templates != go code they are 2 different programming languages if i may call them that.

### What definitely doesn't work:
I don't think it's possible to create an array in a template.
[cod

[2021-03-11 22:25] jesseduffield commented on #1184
@ristillu another option here, if using go templates proves too difficult, is to create a bash script which does what you want, and then invoke that from the custom command, passing in the arguments that it needs (i.e. `~/my_push_script.sh {{.SelectedLocalBranch.Name}}`)

[2021-03-12 05:13] ristillu commented on #1184
Hey, thank you both very much. Derp, for some reason I had fixated on thinking I could only use git commands as custom commands. Before Jesse's answer I was going to try Mark's excellent reply but I can grok bash much easier than go (or a plethora of other commands/languages, once I remove my blinkers) so I came up with something like:
[code]
and:
[code]
Works like a charm! Thanks both of you!

[2021-03-12 05:15] jesseduffield commented on #1184
No worries, happy to help!

[2021-03-12 23:49] #1087 closed

[2021-03-12 23:51] jesseduffield commented on #1168
fixed by @Ryooooooga :)
@fsmiamoto do you mean that we can close https://github.com/jesseduffield/lazygit/issues/1152 if this issue is fixed?

[2021-03-12 23:55] fsmiamoto commented on #1168
That's right @jesseduffield, just verified that it solves #1152 :)

[2021-03-12 23:55] #1152 closed

[2021-03-12 23:59] #1168 closed

[2021-03-13 00:22] jesseduffield commented on #361
this is fixed on latest master :)

[2021-03-13 00:22] #361 closed

[2021-03-13 00:26] jesseduffield commented on #24
@scutxd could you provide some steps to reproduce that issue? I'm not able to reproduce locally on the latest lazygit master branch

[2021-03-14 07:55] alexherbo2 commented on #959
Any update?

I think it is important to confirm the squash not with a simple Ok, but rather by opening a box with the concatenated messages to edit and confirm.

It is important for me to trust what a tool is doing, in addition to #960, as there is currently no way to see the commit message concatenation via the lazygit interface.

[2021-03-14 10:22] c02y opened #1187 "`o` ("open file") fails and makes lazygit crash"
**Describe the bug**
A clear and concise description of what the bug is.

Using `o` which is `open file` in "Patch" or "Unstaged Changes" sections fails and makes lazygit crash

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Commits' Section
2. `Enter` and `Enter` again into the `Patch` section
3. `o` to open the file
4. it fails and crashes

or
1. Go to 'Files' Section
2. `Enter` int

[2021-03-14 17:40] SuperSandro2000 opened #1188 "read git.pull.mode from git config"
**Is your feature request related to a problem? Please describe.**
Lazygit does not read my git config for ``git.pull.mode``.

**Describe the solution you'd like**
It should read the value from my gitconfig if unset. This can be done with ``git config --get pull.rebase``.

**Describe alternatives you've considered**
Setting it manually.

**Additional context**

[2021-03-15 14:00] lkhphuc opened #1189 "GIT_EDITOR is not used, always open in vi."
**Describe the bug**
Not respecting GIT_EDITOR.

**To Reproduce**
Steps to reproduce the behavior:
1. Set $GIT_EDITOR
1. Open lazygit
2. Press `e` to edit
3. File open in `vi`, not $GIT_EDITOR

**Expected behavior**
Open using $GIT_EDITOR

**Screenshots**
![Screenshot 2021-03-15 at 13 57 30](https://user-images.githubusercontent.com/12573521/111164914-63bf4480-8596-11eb-8985-ee4fd77d6f4d.png)
- Th

[2021-03-16 09:10] MiroslavMikus opened #1190 "Q: Commit message GUI"
First things first, huge thanks to the author and all contributors. :pray:

**Topic**
Commit message GUI.

![image](https://user-images.githubusercontent.com/29312172/111283175-206ce080-863f-11eb-861f-4e57b769a023.png)

**Your thoughts**
- Is there a way to enter a multiline commit message?
- It would be nice to have some more editing features like
  - **Home:** navigate to the start
  - **End:**

[2021-03-16 10:09] AckslD commented on #770
@glvr182 @jesseduffield
Couldn't $SHELL be used such that `zsh -c` is called instead of `bash -c` if this is the default shell on the users system?

Regarding aliases in `zsh -c`, they will work if you put them in `.zshenv`.

[2021-03-17 00:20] Vincent-Carrier opened #1191 "“Stage all” doesn’t respect `status.showUntrackedFiles no`"
**Describe the bug**
I’m using a bare repo to manage my dotfiles. I use `config status.showUntrackedFiles no` to keep `git status` usable. LazyGit respects that much, and doesn’t show untracked files in the Files pane. However, when I pressed `a` to stage my changes, LazyGit staged **every single file under my home directory**. This made it hang repeatedly, and was quite a headache to fix ^^.

I’m

[2021-03-17 05:03] asmwarrior commented on #474
This solve some issue in my Windows 7 64 bit Simplified Chinese edition. (I'm using the latest ConEmu)

But it looks like the one Chinese character's width is a bit wider than two English characters. Do you guys see this issue?
I see this in the git log messages.

Here are some suggestions:
1, some FAQ should mention this issue

[2021-03-17 13:22] asmwarrior commented on #24
I have the same issue here, if you add a file which has a Chinese name, than it will shown some \xxx like text in the commit message, let me give your a screen shot.

![Chinese_font_error](https://user-images.githubusercontent.com/561818/111474022-94ee6f00-8766-11eb-9e8a-ee2af147263c.png)

There are two issues here:
1, see the arrow pointed as "1", the Chinese text is too width, I mean normally, o

[2021-03-17 23:17] asmwarrior commented on #24
If I change the code page to ` chcp 936`, which is simplified Chinese, then the character width issue look OK, but there are other layout issues, see the screen shot below:

![Chinese_font_error3](https://user-images.githubusercontent.com/561818/111550831-ebd16400-87b9-11eb-8a5a-fb0bc88c96ac.png)

[2021-03-18 02:02] asmwarrior commented on #24
[Bad view title drawing with unicode characters. · Issue #157 · jroimartin/gocui](https://github.com/jroimartin/gocui/issues/157)
Maybe, this is some related.

[2021-03-19 07:54] MikaelElkiaer commented on #831
Same issue here, had to do as suggested in [docs/Config](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#struggling-to-see-selected-line).

[2021-03-20 21:24] alok opened #1195 "related tool you might like (and can maybe take inspiration from)"
https://github.com/MitMaro/git-interactive-rebase-tool

neat tool

[2021-03-20 23:10] fsmiamoto commented on #1175
The issue appears to be that we're trying to print non-printable runes, `0` in this case.

The `default` clause for handling keys on the editors is catching those key presses - `Home`, `End` and others - but the associated rune is invalid, generating a panic on the `writeRune` method.
[code]

[2021-03-21 00:02] jesseduffield commented on #523
I've got a PR up for this now @mjarkk  https://github.com/jesseduffield/lazygit/pull/1197

[2021-03-21 00:21] jesseduffield commented on #758
https://github.com/jesseduffield/lazygit/pull/1197 places merge conflicts at the top

[2021-03-21 00:24] #1175 closed

[2021-03-21 10:47] mjarkk commented on #523
Thanks!! it looks amazing!!

[2021-03-21 17:20] naoey commented on #877
In addition to this lazygit crashes if I try to stage the conflicted file after having resolved the conflict externally in my text editor. This is the resulting trace:
[code]

This was using lazygit 0.26.2 on Windows 10 PowerShell.

[2021-03-22 03:06] fsmiamoto commented on #1189
For the example you gave, you should set the variable `$EDITOR`.
That one should be respected in this case.

[2021-03-22 04:42] danielfalbo commented on #1190
- Press `tab` to go to the next line
- Press `ctrl+a` to jump at the beginning of the current line the message
- Press `ctrl+e` to jump at the end of the current line of the message

[2021-03-22 08:18] MiroslavMikus commented on #1190
Works like a charm :tada:
Many thanks, @danielfalbo!

Did I miss it in the docu?

[2021-03-22 09:15] danielfalbo commented on #1190
`ctrl+a` and `ctrl+e` work pretty much everywhere in the shell 👍 but yeah I didn't find `tab` in the documentation either, I remember asking it under an issue myself in the past

[2021-03-22 22:42] dpacbach commented on #1138
@jesseduffield Could you point me to the place in the code where it displays the unparsed diff (i.e., the diff before hitting enter)?  I want to try to debug this myself, but I'm finding it a bit hard to find the place in the code where that particular diff is processed before printing out on the screen.

[2021-03-22 23:02] jesseduffield commented on #1138
I'm pretty sure `pkg/gui/files_panel.go:60` and `pkg/commands/files.go:161` are the places you want. Let me know if I'm wrong about that!

[2021-03-22 23:09] dpacbach commented on #1138
Yes you are write about that; I spent some time looking there and manually setting all of the `colorArg`s to `always`, but that didn't seem to help.  I traced it to where it runs the pty command (in gui/pty.go in the `newPtyTask` command), but I'm not familiar enough wtih the GUI framework your using to understand how it gets from that command invocation onto the screen, there appears to be some h

[2021-03-22 23:14] jesseduffield commented on #1138
hmm interesting. This could be an issue with how the pty package runs on your os. If you look in the vendor directory there are a few different implementations:
![image](https://user-images.githubusercontent.com/8456633/112069701-65a18d00-8bc0-11eb-9f04-7332f1a24823.png)

Or perhaps it's a matter of the right TERM env var being passed along with the `git diff` command: the command might be returni

[2021-03-23 00:49] dpacbach commented on #1138
I am running on Linux (I've tested on various Debian/Linux based distros; nothing out of the ordinary), and verified that it is using the pty_linux.go module.  I also changed the `git diff` command to an `echo` command that just echos a file that contains colored text, to eliminate the possibility of any problems with git itself.  My `TERM` variable is set to `xterm-256color`; I tried setting it t

[2021-03-27 00:06] JonathanAquino opened #1202 "Panic when paste string containing newlines into new branch name"
**Describe the bug**
Sometimes when I copy and paste a Jira issue number into the dialog shown below, the program crashes and I see a panic error message.

![image](https://user-images.githubusercontent.com/90288/112703331-c98fb400-8e53-11eb-8e98-4cb31a3616ea.png)

    panic: runtime error: index out of range [11] with length 11

    goroutine 1 [running]:
    github.com/jesseduffield/gocui.(*View

[2021-03-28 00:37] ewhac opened #1203 "Program Exits When Pressing SHIFT-TAB, SHIFT-PgUp, or SHIFT-PgDn"
**Describe the bug**
The program exits whenever I press the key combos SHIFT-TAB, SHIFT-PageUp, or SHIFT-PageDown.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch lazygit.
2. Press any of the above key combos.
3. Program exits immediately.

**Expected behavior**
Either nothing, or a notice/error message reporting an unrecognized keystroke.

**Desktop (please complete the following inf

[2021-03-28 00:52] jesseduffield commented on #1203
I believe this is fixed in the `tcell-again` branch but I still need to get back to that and fix some bugs before merging it. Once that branch is merged, you'll be able to use tab and shift-tab to cycle the side views!

[2021-03-28 15:36] sl4mmy commented on #28
What about using the up & down arrow keys to dynamically resize the commit message window?  I understand the reasoning behind using <tab> to insert a newline, but it still feels a little weird to me.

My initial spike using up/down to resize the window is here: #1204

[2021-03-29 07:00] peppy opened #1205 "Hard crash while typing commit message"
Was typing a commit message, lazygit exploded.

[code]

[2021-03-29 13:11] jesseduffield commented on #1205
@peppy was there something peculiar about what you were typing that might have triggered this? I'm not able to replicate locally by spamming keys but it looks like there's two possible causes:
1) the width of the character you were attempting to write was zero. I've fixed this by adding an early return in that case
2) there was a race condition. I've fixed this up with mutexes.

Fixes in https://g

[2021-03-30 04:29] peppy commented on #1205
I'm honestly not sure. I managed to get it again today, but as far as I can tell I was just typing away when it happened. Hard to test if you've got it fixed, but I think it's safe to close this until it comes up again. I'll switch to a local build and see if I can reproduce in the mean time.

Thanks!

[2021-03-30 04:29] #1205 closed

[2021-03-30 04:30] jesseduffield commented on #1205
no worries @peppy ! Also as a lazygit power-user you might be interested in this PR: https://github.com/jesseduffield/lazygit/pull/1197
It's basically ready to merge but I haven't really vetted the approach through anybody. If you have the time, I'd love to know your thoughts on it!

[2021-03-30 04:54] peppy commented on #1205
Pretty cool, will give it a try!

Usually I'm not making enough concurrent changes to make a tree view worthwhile. I think my main issue with the file view is finding conflicted files during a merge failure (where the conflicting file may be 200 files down the list).

[2021-03-30 05:13] jesseduffield commented on #1205
@peppy conveniently, that PR also bubbles merge conflict files to to the top of the list (when not in file tree view) so that should make life a little easier for you :)

[2021-03-30 05:14] peppy commented on #1205
Amazing!

[2021-03-30 08:51] jesseduffield commented on #28
@sl4mmy thanks for making that PR, I gave it a test and it seems straight-forward enough. I'm interested to gauge other people's thoughts on that approach too.

I did some digging myself and found that using the tcell library we can handle an alt+enter key combination. I've got a branch up that I'm yet to complete which switches our terminal dependency to tcell and I've made a spike PR off that fo

[2021-03-30 11:32] jesseduffield commented on #24
@asmwarrior I'm still struggling to replicate. Is there a public repo you could point me to which I could pull down to verify the issue?

[2021-03-30 11:59] mjarkk commented on #523
I see #1197 is merged, so this issue can be closed
I'm going to love this feature!!!

[2021-03-30 12:37] asmwarrior commented on #24
I create a sample git repo for you to test the Chinese font issue, see here: https://github.com/asmwarrior/lazygit_issue24

[2021-03-30 12:59] jesseduffield commented on #523
@mjarkk I've been testing it out quite a bit, it's pretty rad! Let me know if you come across situations where it could be more polished

[2021-03-30 13:04] jesseduffield commented on #24
Thanks for making the sample repo :)

I'm not able to replicate on lazygit's latest master branch, on the iterm2 terminal in OSX:
![image](https://user-images.githubusercontent.com/8456633/112992979-6df75a80-91b4-11eb-9f79-265229908b81.png)

This may be a windows specific issue. With that said it's possible that the fault lies with termbox, one of our dependencies. There's a branch I'm working on

[2021-03-30 14:43] jbrains commented on #28
This sounds promising. I'm certainly happy to try it.

[2021-03-30 14:57] asmwarrior commented on #24
I have no experience of programming in go language. I mainly use C/C++. So for me, it may be hard to build the lazygit from the source under Windows.
If you can create a simple executable file from this new branch, I can happily test it.

[2021-03-30 15:37] #523 closed

[2021-03-31 19:08] kristijanhusak opened #1209 "Using `$()` in custom command"
**Describe the bug**
I'm not sure if it's a bug or I just don't know how to use it.
I'm trying to create a custom command that will open my Jira ticket from branch name. I try to do that by parsing the ticket name from branch name via `cut` (`echo "hotfix/AB-123" | cut -d "/" -f2`) and then piping it to the other commands.
Since it didn't work I tried just simple cases but for some reason those di

[2021-03-31 20:28] jbrains opened #1210 "Default commit command to "commit -v"?"
I have grown very fond of using the `-v` switch by default for commits, courtesy of the **zsh** plugin for git. I would love to be able to do this with lazygit also. Is this something I can configure in git that lazygit would merely use or would this require a new feature in lazygit?

[2021-03-31 22:06] jesseduffield commented on #1209
Hmm, I'd try wrapping it in `bash -c "<your command>"`

[2021-03-31 22:09] jesseduffield commented on #1209
nice! I'm happy to leave this ticket open for the sake of making that the default behaviour

[2021-03-31 22:12] kristijanhusak commented on #1209
Great! I think the quickfix is to document this into the custom command docs as an example, until it gets fixed.

[2021-04-01 03:09] takelley1 opened #1212 "Maintain cursor position in menu after exiting submodule"
**Is your feature request related to a problem? Please describe.**
If you enter and exit a submodule from the Files menu, the file selection cursor jumps back to the top of the file list, forcing you to scroll back down to where the cursor was previously. This can be frustrating, especially if the repo has a large number of submodules, as lots of unnecessary scrolling will be necessary.

The curso

[2021-04-01 09:25] #1209 closed

[2021-04-01 09:27] jesseduffield commented on #1189
GIT_EDITOR is supported in https://github.com/jesseduffield/lazygit/pull/1214 :)

[2021-04-01 09:40] #1189 closed

[2021-04-01 09:40] jesseduffield commented on #41
I've added this as a custom command in the [Custom Commands Compendium](https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium), as a replacement for the default `git commit` behaviour upon pressing shift+c in the files panel.

There are quite a few upvotes on this one so if anybody had something different in mind, or thinks that this should work out of the box with lazygit, do l

[2021-04-01 09:40] #41 closed

[2021-04-01 09:57] jesseduffield commented on #831
I've added the example of
[code]
to the [docs](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#struggling-to-see-selected-line) and I've added a FAQ section in the [readme](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#struggling-to-see-selected-line) pointing at that section of the docs.

Was there anybody who still had an issue they weren't able to resol

[2021-04-01 10:08] ceuk commented on #41
Great solution IMO

[2021-04-01 12:54] jesseduffield commented on #24
@asmwarrior I've just compiled this from my windows PC. Does it work for you?
[lazygit.zip](https://github.com/jesseduffield/lazygit/files/6243585/lazygit.zip)

[2021-04-01 14:41] jesseduffield commented on #983
I know I said I was happy to take a look but I haven't found the time to tackle this. If anybody else is eager let me know!

[2021-04-01 16:30] frealgagu commented on #983
lazygit was included in the official community repo since March 12th. I think it's not necessary to handle a bin AUR anymore.

[2021-04-01 21:17] jesseduffield commented on #983
@frealgagu sweet! Do you know how that gets updated? Is it built off of this repo's master branch periodically for example?

[2021-04-02 00:12] jesseduffield commented on #886
closing due to staleness

[2021-04-02 00:12] #886 closed

[2021-04-02 00:16] jesseduffield commented on #517
closing due to staleness

[2021-04-02 00:16] #517 closed

[2021-04-02 00:17] jesseduffield commented on #1052
@makky55 @ecmrauh @skeept are you guys still facing this issue on the latest version?

[2021-04-02 00:19] jesseduffield commented on #989
Sweet, in that case I'll close this issue. If it comes up again we can look for a proper fix that prevents the panic

[2021-04-02 00:19] #989 closed

[2021-04-02 02:15] #877 closed

[2021-04-02 02:15] jesseduffield commented on #877
@naoey @guban @murphy66 @rgwood @MikeVensel the issue should be fixed in https://github.com/jesseduffield/lazygit/pull/1216 (admittedly I haven't been able to test the final product because something's gone wrong on my PC).

Let me know if the issue persists and I can re-open

[2021-04-02 06:17] #1184 closed

[2021-04-02 06:19] jesseduffield commented on #1153
this was done earlier, merging :)

[2021-04-02 06:19] #1153 closed

[2021-04-02 06:22] jesseduffield commented on #1150
@levouh that code is there for legacy purposes: I started off storing the directory under jesseduffield/lazygit but turns out the vendor name (jesseduffield) isn't actually required, so anybody installing lazygit now will have the config in a path with `jesseduffield` removed.

That method also accepts an env var to override the config directory if the user wants that.

[2021-04-02 11:40] jesseduffield commented on #1203
@ewhac could you check if the issue is resolved on the `tcell-again` branch?

[2021-04-02 11:42] jesseduffield commented on #1179
I believe this is caused by a lazygit panic occurring earlier in your terminal session. When this happens, certain codes aren't sent to the terminal on exit which causes problems the next time you run lazygit. I haven't really found a good solution to this other than wrapping all goroutines in a panic handler that manually sends those codes, but it's not a full solution

[2021-04-02 12:44] rafamadriz commented on #1146
Same issue here, it would be nice if we could commit using gpg. For now it gives an error as described above

[2021-04-02 14:38] guban commented on #877
Now it works. Thanks!

[2021-04-02 20:26] skeept commented on #1052
@jesseduffield personally I have not experienced this bug in a while.
Fell free to close based on feedback from other commenters.

Thank you.

[2021-04-02 20:27] c02y commented on #1179
I can confirm when I bind lazygit in fish or bash to a key, and start lazygit using the binding, the problem occurs, but when I start lazygit normally by typing the command in shell prompt, `Enter` works without problem.

I mentioned the fish/bash binding problem when I'm using ranger too.https://github.com/ranger/ranger/issues/2287

I don't know what is the root cause since
1. Since the problem h

[2021-04-02 21:46] jesseduffield commented on #877
nice!

[2021-04-02 21:49] jesseduffield commented on #1210
@jbrains if you're happy doing it through a submodule you can add a custom command with the 'C' keybinding in the files context. See https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium for examples.

But doing it from within lazygit would be a little trickier

[2021-04-03 05:17] asmwarrior commented on #24
I tested this new binary under ComEmu, and here is the result.

With `chcp 65001` setting, which means the UTF8 code page, I see still some errors, see the two images below:

![chcp65001-error1](https://user-images.githubusercontent.com/561818/113469159-fc523180-947d-11eb-823d-9ecd76f211f3.png)

and

![chcp65001-error2](https://user-images.githubusercontent.com/561818/113469164-0aa04d80-947e-11eb-

[2021-04-03 22:21] MikeVensel commented on #877
Awesome thanks @jesseduffield!

[2021-04-04 23:36] alok opened #1219 "Which key like interface"
There's a handy tool https://github.com/liuchengxu/vim-which-key which shows you the keys you type in the commands for can we run for them interactively. i think magit does that too, not an emacs user though.

i think kakoune has a clippy like version of that too

having that as a part of the UI would be nice

[2021-04-05 03:27] jesseduffield commented on #1212
I've got this implemented in https://github.com/jesseduffield/lazygit/pull/1217 but that PR has become a bit of a monster so it will take me some time to get it merged :)

And thanks for the kind words!

[2021-04-05 03:29] jesseduffield commented on #1125
@n12o I'm yet to add proper functionality for selecting arbitrary ranges of files, however on the master branch you can now view the files as a file tree, and you can stage/unstage/collapse entire directories which in my time using the feature, I've found to be very useful when dealing with large sets of files

[2021-04-05 04:06] jesseduffield commented on #1219
Looks interesting. How does this differ to opening the keybindings menu?

[2021-04-05 04:09] jesseduffield opened #1220 "Please provide feedback for lazygit!"
I've whipped up a questionnaire to help get an idea for what changes people would like to see in lazygit, and what its current strengths are. It's only a handful of questions

https://forms.gle/AdFEuLy2dikcmK4F7

Any and all feedback is much appreciated!  🙏

[2021-04-05 09:05] jesseduffield commented on #1149
@jonheg sorry it took me so long to get around to this issue. The CRLF thing is interesting, is that mentioned in the docs somewhere as related to the index.lock issue?

[2021-04-05 09:09] jesseduffield commented on #1066
I'm making progress! Let me know if this branch resolves the issue: https://github.com/jesseduffield/lazygit/pull/1217

[2021-04-05 09:13] #138 closed

[2021-04-05 09:22] jesseduffield commented on #1163
I'm chucking the good-first-issue label on this because I reckon this will be pretty straightforward to implement. Relevant places that need updating:
`handleCustomCommandKeybinding` function in `pkg/gui/custom_commands.go`
`CustomCommand` struct in `pkg/config/user_config.go`

[2021-04-05 11:59] OliverJAsh commented on #758
Does it do this for the flat list view as well as the tree view?

[2021-04-05 18:23] takelley1 opened #1221 "Crash if ESC is pressed in commit window"
**Describe the bug**
Lazygit crashes if ESC is pressed at any point while the commit pop-up window is open.

**To Reproduce**
Steps to reproduce the behavior:
1. Stage a file
2. Open the commit window
3. Press ESC

**Expected behavior**
Commit window should close if ESC is pressed.

 - OS:  CentOS 7 (Also tested on Arch)
 - Lazygit Version: 26.1

**Additional Information**
If the commit window is

[2021-04-06 05:19] jesseduffield commented on #1221
@takelley1 are you able to test if the issue exists on https://github.com/jesseduffield/lazygit/pull/1217? I'm soon to merge that branch and it contains quite a few fixes

[2021-04-06 05:38] jesseduffield commented on #758
@OliverJAsh nope, I considered that but I think it would be too awkward: we'd effectively need to show two different trees in order to do that. I've been trying it out myself and find it's easy to switch to flat mode when I've got contexts (just requires pressing the backtick key)

[2021-04-06 05:40] jesseduffield commented on #758
@OliverJAsh hold up I misread your comment: I should clarify: the sorting _only_ occurs for the flat view, not for the tree view

[2021-04-06 06:19] jonheg commented on #1149
Googling did not reveal any clues on index.lock and crlf conversions.
As of now, im running dos2unix as a shortcut in lazygit got avoid the issue.

[2021-04-06 08:05] jesseduffield commented on #518
I still like this idea, but not enough to not close this issue

[2021-04-06 08:05] #518 closed

[2021-04-06 08:28] jesseduffield commented on #819
This is fixed in https://github.com/jesseduffield/lazygit/pull/1217

[2021-04-06 09:34] jesseduffield commented on #1203
Should be fixed on master now. Let me know if it's not :)

[2021-04-06 14:09] #1203 closed

[2021-04-06 14:10] jesseduffield commented on #1066
as of release v0.27 we are now using tcell so I believe this problem is resolved, however let me know if I'm wrong about that!

[2021-04-06 14:10] #1066 closed

[2021-04-06 14:12] jesseduffield commented on #713
@axet the latest release has support for shift+tab now. I believe the other keys you mentioned can be handled via the config. Are we good to close this issue?

[2021-04-06 14:13] jesseduffield commented on #1212
this is now implemented in v0.27

[2021-04-06 14:13] #1212 closed

[2021-04-06 14:17] axet commented on #713
Thanks! Now it feels much more friendly!

[2021-04-06 14:17] #713 closed

[2021-04-06 14:17] jesseduffield commented on #1136
@theblazehen this should now be resolved as of release v0.27. You no longer need to supply the `--24-bit-color=never` arg to delta from within lazygit because lazygit now uses 24 bit colour. I'm gonna close this issue but let me know if the issue persists and I'll reopen :)

[2021-04-06 14:17] #1136 closed

[2021-04-06 14:19] jesseduffield commented on #1113
pressing enter on a file takes you to the diff window. Admittedly there isn't a generic way to focus the main window though

[2021-04-06 14:21] jesseduffield commented on #1078
@eruizc-dev the latest release lets you view the files as a tree (defaults to flat view but you can toggle it from within the app with the backtick key, and you can configure it in your config). Let me know how that goes for you

[2021-04-06 14:22] jesseduffield commented on #1054
I can't recall if I whipped up a logo in the readme before or after this issue was raised, but I'm satisfied with the current logo. Closing :)

[2021-04-06 14:22] #1054 closed

[2021-04-06 14:57] eruizc-dev commented on #1078
@jeffhertzler I just checked and it's amazing. Way more clear!

[2021-04-06 14:57] #1078 closed

[2021-04-06 15:02] eruizc-dev commented on #1188
This seems related to #1151

[2021-04-06 15:34] eruizc-dev commented on #1191
Currently lazygit ignores all .gitconfig, there's an issue discussing that: #1151

[2021-04-06 22:46] jesseduffield commented on #545
closing

[2021-04-06 22:46] #545 closed

[2021-04-06 22:47] jesseduffield commented on #355
I think this one is resolved. Closing :)

[2021-04-06 22:47] #355 closed

[2021-04-06 22:49] #819 closed

[2021-04-06 22:51] jesseduffield commented on #807
closing as a duplicate of https://github.com/jesseduffield/lazygit/issues/807 (even though I'm aware this one came first). We're going to allow user-specified commands for opening files at a particular line

[2021-04-06 22:51] #807 closed

[2021-04-06 22:52] jesseduffield commented on #773
Closing due to staleness

[2021-04-06 22:52] #773 closed

[2021-04-06 22:56] jesseduffield commented on #671
This is actually already implemented. Though I still want the commits to be loaded faster in future

[2021-04-06 22:56] #671 closed

[2021-04-06 22:57] jesseduffield commented on #652
In the latest release we now wait and retry when hitting the index.lock file, but I'm not sufficiently confident to delete that file yet. Not sure how other git clients handle this situation

[2021-04-06 22:58] jesseduffield commented on #653
@ilovehans10 @steelsojka can you guys test this out on the latest release?

[2021-04-06 22:59] jesseduffield commented on #640
I believe this is fixed in the latest release

[2021-04-06 22:59] #640 closed

[2021-04-06 23:00] jesseduffield commented on #622
@carstengehling @lkppo @cseickel could you guys try this out on the latest release? We're using a new rendering library which may fix the issue

[2021-04-06 23:01] jesseduffield commented on #899
I think we can get halfway there by letting the user specify which shell to use. It means you won't have access to local variables but you'll get access to your rc file for example

[2021-04-06 23:03] jesseduffield commented on #838
@axet could you try this again on the latest release?