[2022-05-11 23:51] jesseduffield commented on #1921
thanks @MikaelElkiaer and @jbrains, I really appreciate the donations (and kind words)!

On the topic of suggesting more features, that's a very good point. I'm going to start writing some how-to articles and uploading some more videos.

[2022-05-12 09:54] bin101 opened #1942 "Automatic fetch resets scroll position"
**Describe the bug**
Automatic fetch resets scroll position

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll down inside Log/Patch/etc.
2. Wait for automatic fetch (default every 60s)
3. Scroll position will be reset and you are back on top

**Expected behavior**
I want to stay on my current scroll position

**Desktop (please complete the following information):**
 - OS: macos 11.6.1

[2022-05-12 10:26] bin101 opened #1943 "ESC sometimes doesn't bring you one level up/close file"
**Describe the bug**
I sadly don't know how to reproduce this consistently but sometimes the ESC key doesn't close the currently open file/get you one level up in the current pane in combination with mouse usage.

**To Reproduce**
Steps to reproduce the behavior:
1. Do some magic I don't know
2. Open a file inside a commit only with the mouse
3. Scroll down to the end of the file with mouse wheel

[2022-05-12 20:31] Aziks0 commented on #1265
This is a **major** issue for Windows users, unfortunately. I got to a point where I couldn't use lazygit for more than a few seconds after running it _(unless I wasn't using the file tree, obviously)_. I even stopped using it for the last 2 months.

---

I've done some digging by checking the log tho, here's what I've found:

#### 1. After executing `lazygit` at the source of my repo, the selecte

[2022-05-12 20:34] Aziks0 commented on #1851
#1265 duplicate

_(even if this one is more clearly explained)_

[2022-05-13 11:44] dcd-arnold commented on #982
I would like to add that I would like the option to add the untracked file I see.

[2022-05-13 11:56] mark2185 commented on #982
Add it as in "stage it"? Pressing `space` should do it.

[2022-05-13 19:43] rmti opened #1949 "Show current checked out branch on "Recent Repositories" dialog"
I work with 14 different repos and often use the same branch name when making related changes across different repos. It would be great to be able to see the current selected branch when showing the "Recent Repositories" to make it easier to see what branches are being worked on across projects, i.e. see the project/checked out branches in one shot.

[2022-05-14 05:59] HiromasaNojima commented on #1906
I'd like to tackle this issue!

[2022-05-14 08:21] jesseduffield commented on #1906
@HiromasaNojima awesome! A good starting point would be in `main.go` to parse the subcommand, then you'd want to pass that through the app struct to the gui struct (similar to how we do with the `filterPath` argument, and then you'd want to pass it into the `resetState` method in `pkg/gui/gui.go`, where if the user has started lazygit in the specific mode, we set `screenMode` to `SCREEN_HALF` and

[2022-05-15 03:25] HiromasaNojima commented on #1906
@jesseduffield Thank you for the helpful advice!

[2022-05-15 07:15] c02y commented on #1906
Looks very good. Thank you. :heart:

[2022-05-15 09:24] #1721 closed

[2022-05-15 10:43] manorit2001 commented on #987
++ for onto syntax of rebase

[2022-05-16 07:18] dcd-arnold commented on #982
hi @mark2185,
thanks for getting back to me. I have set
[code]
in my git config. I don't want to see untracked files in `git status` on command line. I add the files I need (seeing all files on the commandline with `ls`).

However, I do not see untracked files in `lazygit`. My guess is, `lazygit` picks that setting up. But I don't see all or untracked files in `lazygit`, hence I can't add them on

[2022-05-16 07:23] mark2185 commented on #982
Oh yes, that clears things up quite a bit.

@jesseduffield maybe the `showuntrackedfiles` setting should only change the initial state of the filter?

Those with said setting will have the filter `Show only staged files`, others will have it set to `no filter`, and the `Files` pane should always show all the files and then filter them out if needed?

[2022-05-16 07:30] jesseduffield commented on #982
I agree about showuntrackedfiles determining the initial state, but in this case `Show only staged files` won't do because we still want to show unstaged, tracked files.

[2022-05-16 07:36] mark2185 commented on #982
Oh yeah, forgot about that tiny detail.

Well then, having the filters togglable? I know toggles aren't yet a feature, but hey.
[code]

[2022-05-16 07:45] jesseduffield commented on #982
I'm thinking we could have a 'show staged / show unstaged / show all' option as well as a separate toggle for 'show untracked'.
So we'd have this logic:
|         | staged         | unstaged       | all            |
|----------------|----------------|----------------|----------------|
| **show untracked** | hide untracked | show untracked | show untracked |
| **hide untracked** | hide untracked |

[2022-05-16 07:48] mark2185 commented on #982
Yeah, that makes more sense. :smile:

[2022-05-16 07:49] jesseduffield commented on #982
Now we just need that toggle feature!

[2022-05-16 07:51] lei4519 opened #1951 "Commits panel show whole git graph by default"
**Is your feature request related to a problem? Please describe.**
In the Commits panel, i need to display the full graph by clicking ‘ctrl-l’ and selecting ‘toggle show whole git graph'.

**Describe the solution you'd like**
Add a configuration parameter that displays the whole git graph by default.

**Additional context**
https://github.com/jesseduffield/lazygit/pull/1557#issuecomment-1127272080

[2022-05-16 07:54] mark2185 commented on #982
I say we wait for `lazydocker` to get that and then steal it. :full_moon_with_face:

[2022-05-16 07:58] jesseduffield commented on #982
hahaha

[2022-05-16 08:10] naoey commented on #1851
Thanks, closing as duplicate.

[2022-05-16 08:10] #1851 closed

[2022-05-16 08:47] bastianpedersen opened #1952 "How do I get alternative icons?"
**Topic**
How do I get alternative icons in the `branches` panel like the ones on the picture?

![obs64_HEpFtQ0toj](https://user-images.githubusercontent.com/58905488/168554655-d8dc5a3b-1e2f-4eab-b762-4b6c739f0bb0.png)

[2022-05-16 08:50] mark2185 commented on #1952
Which icons are you asking about, the ones on the right side of the branch name?

They are in the current `master`, as long as you are using a font that provides them they should appear by default.

[2022-05-16 12:19] iovis commented on #1688
It seems to consistently crash trying to diff on the same file for me, if that helps:

![Screen Shot 2022-05-16 at 08 16 21](https://user-images.githubusercontent.com/6660202/168590486-c7b8f9c7-c22f-4c65-9c1d-0fef365e2d08.png)

The second I try to see the diff of that file it crashes.

Before:
![Screen Shot 2022-05-16 at 08 18 01](https://user-images.githubusercontent.com/6660202/168590896-d7b8d40

[2022-05-16 12:56] c02y opened #1953 "Change date format"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I asked https://github.com/jesseduffield/lazygit/discussions/1899 here 18 days ago, no one answers it, so I guess such feature is not implemented.

I notice the date in lazygit have different formats

- relative time like `20 minutes ago`

[2022-05-16 12:59] mark2185 commented on #1953
I think this is in progress on https://github.com/jesseduffield/lazygit/pull/1948 ?

[2022-05-16 13:16] mark2185 commented on #1949
@jesseduffield this seems doable, just a `git -C lazygit rev-parse --abbrev-ref HEAD` for every repository in the list, does that sound reasonable?

It could be triggered by opening the `recent repos` window, which would also be a great time to filter out invalid paths?

[2022-05-16 13:19] mark2185 commented on #1952
`Nerd fonts` should have it.

As for how to install it - I have no idea.

[2022-05-16 14:35] mark2185 commented on #1940
I can reproduce it on `windows 10`, will look into it.

[2022-05-17 03:34] all500234765 commented on #982
But what about hiding specific untracked folders that won't be commited in any case? Or hiding only untracked files inside a specific folder?
For example: I have a project that I am working on, and I have lots of testing data, meta files, png, txt, etc... It can pile up to a several GBs with thousands of files. Navigating with this pile to stage specific file is quite hard. And most of the time my

[2022-05-17 04:18] jesseduffield commented on #982
@all500234765 would that not be a good candidate for inclusion in the gitignore file?

[2022-05-17 06:56] MikaelElkiaer commented on #1688
@iovis I haven't taken time to look at this, and not sure if I ever will. I just went back to the default pager for lazygit.

[2022-05-17 08:47] c02y commented on #1953
That PR is just for date time in commit log which is:
- format like `Thu Apr 1 09:26:45 2022 CST` in `Commits` Pane in the list of commits

[2022-05-17 10:11] all500234765 commented on #982
Then it will have merging issues because those files are local and git repo shouldn't know anything about them until commited

[2022-05-17 16:28] iovis commented on #1688
No problem, I understand. Thanks for the heads up!

[2022-05-17 23:55] froody opened #1954 "Keyboard shortcut for 'move patch into new commit' doesn't work"
**Describe the bug**
In the patch options menu (pressing <C-p> in patch mode) there's an entry to 'move patch into new commit', and looking at the source code it seems that pressing 'n' should trigger this, but it doesn't.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Run lazygit
2. Select "Commits" panel (press <TAB> twice)
3. Select a commit (press return/enter)
4. Select a file (

[2022-05-18 07:17] FlyinPancake commented on #1339
My desktop switches light and dark themes depending on time of date, so when I want to lazygit I have to fire up a special profile

[2022-05-18 10:17] fluffynuts commented on #1466
👍 I'm trying to move away from `scoop` (too many issues) and lazygit is one of (iirc) three packages I can't get from winget ):

[2022-05-18 10:28] mark2185 commented on #1954
Does it work if you press `enter` on said option?

Also, it's a bit odd you don't have the mappings in a column left to the options, like in the attached screenshot. Could you give latest master a spin?

![image](https://user-images.githubusercontent.com/8365241/169018575-2bed36f6-5fe8-4957-ae13-21023212431b.png)

[2022-05-18 11:50] Ryooooooga commented on #1953
`Local Branches->Log` can be customized with `branchLogCmd`.

[2022-05-18 12:23] oliverguenther commented on #1594
Since I build lazygit from source, if anyone is using a key store / caching and is interested in patching away this restriction, it appears to work without issue. Here's the patch: [remove-disabled-for-gpg.txt](https://github.com/jesseduffield/lazygit/files/8716131/remove-disabled-for-gpg.txt)

[2022-05-18 12:36] MolletSimon opened #1955 "Add hashtag in commit message"
**The bug**
We can't add hashtag (#) in our commit message, ALT+GR + " doesn't work, Alt + 35 neither.

**To Reproduce**
Steps to reproduce the behavior:
1. Add some files
2. Try to add hashtag to commit message

**Expected behavior**
A # should appear

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Lazygit Version 0.34
 - Commit id : 7be25a105d389a262ef040133a4270f2

[2022-05-18 12:39] mark2185 commented on #1955
Until this is fixed - try using a different keyboard layout, adding `#` with `shift+3` in the US layout works fine.

[2022-05-18 14:58] pirafrank opened #1957 "option to override custom keybinds and remap default ones"
**Is your feature request related to a problem? Please describe.**
It is not possible to create custom keybinds tied to the same keys as default keybinds.
As such, the user does not have control over all options and can only use those free listed in docs/Custom_keybinds.md.

**Describe the solution you'd like**
Custom keybinds override any existing default one. User can remap a default keybind to

[2022-05-19 10:29] daveriedstra commented on #1712
I'm not an emacs user, but some of these keybinds have just become second nature due to spending a lot of time in the terminal. `Ctrl+w` to delete the previous word is a big one for me. In python there's at least one package for getting these keybindings ([urwid_readline](https://github.com/rr-/urwid_readline/)), maybe there's something similar in Go?

I'll also add that `Ctrl+Left` and `Ctrl+Righ

[2022-05-19 16:42] prosoitos commented on #1712
In most terminal, you can also use the Emacs kbd M-f and M-b to navigate by words.

[2022-05-19 17:31] MikaelElkiaer commented on #1712
So many advocating for Emacs-esque bindings. I want to put in a word for vim-esque bindings. Ideally, it would probably be a mix of the two and an option to choose which one to be predominant.

[2022-05-19 18:00] JacobTravers opened #1958 "Edit the highlighted line in the diff with Kakoune"
Sometimes I read a diff and spot an error. I would like to be able to highlight that error in the diff view, and then press `e` to open the editor at that specific line of the file.

Most editors support this passing in the line number as an additional argument prefixed with `+` for example:
[code]

[2022-05-19 18:07] mark2185 commented on #1958
Could you try updating? That feature is in `master` for quite a while now.

Which editor are you using? It should work for `nano`, `emacs`, `vi`, `vim`, `neovim`, `sublime` and `vscode`.

[2022-05-19 18:26] mark2185 commented on #1712
I agree with @daveriedstra, `vim` keybindings seem like overkill. For the cases where I _need_ vim bindings I'd just press `C` to open up the commit in the external editor.

But the `<c-w>` seems the most useful and would like to have that,

[2022-05-19 18:36] mark2185 opened #1959 "Copy branch URL to clipboard"
**Is your feature request related to a problem? Please describe.**
We have `copy branch name to clipboard`, `copy pull request URL to clipboard`, but no `copy branch URL to clipboard`.

**Describe the solution you'd like**
A keybinding for `copy branch URL to clipboard`.

**Additional context**
This seems like a great first contribution for someone willing to give it a try.

[2022-05-19 19:39] JacobTravers commented on #1958
Ahh I see the issue [here](https://github.com/jesseduffield/lazygit/blob/babb9d86567593bb0707570d3105d1010bf8aca9/pkg/commands/git_commands/file.go#L63), I am using `kakoune` or `kak`

[2022-05-19 19:41] mark2185 commented on #1958
This part of the docs might of help, then:

[code]

[2022-05-19 19:45] JacobTravers commented on #1958
Thank you very much for the help! I should have looked into this more, closing this issue out.

[2022-05-19 19:45] #1958 closed

[2022-05-20 13:35] #1952 closed

[2022-05-20 15:13] jbrains commented on #1712
I would like to add a very strong vote for "don't try to reimplement a text editor". Instead, I recommend encouraging users to use their own text editor for composing and editing non-trivial commit messages. Indeed, I would strongly recommend a tutorial video and/or article about this, emphasizing it as an intentional constraint.

I remember asking for UI enhancements for editing commit messages,

[2022-05-20 15:25] daveriedstra commented on #1712
I broadly agree with you, though I do think there's a good case for Emacs bindings in the short commit editor. They're fairly ubiquitous in the shell & TUIs (even in vim!), so users might be expecting them, and even though the builtin message editor is (and maybe should be) constrained, correcting a word early in the message currently requires holding down a key for several seconds (either Left to

[2022-05-20 15:30] jbrains commented on #1712
Fixing a typo doesn't _require_ this, but using your fully-powered editor, the one you use every day and know inside and out... that seems like a good idea to me, especially compared to holding down a cursor key and missing your spot or training your fingers to use a new set of key bindings for just this one task.

But the good news is that we don't need to disagree here. As long as it remains fas

[2022-05-20 15:47] daveriedstra commented on #1712
Totally with you on that!

On the topic of the external commit message editor: I wasn't even aware it was an option in lazygit until the comment earlier in this thread. Maybe there's a way to emphasize it somehow.

[2022-05-21 07:05] MikaelElkiaer commented on #1712
Not gonna ping anyone, as I got multiple and various responds. Regarding what I said about vim-esque bindings - I meant in regards to navigation and actions - not text editing. As some, if not all, also mentioned, it makes more sense to use a more full-blown editor of choice for non-trivial text editing.

More concretely what I was hoping for, was the use of combos (perhaps leader key) for actions

[2022-05-21 07:26] mark2185 commented on #1712
Could you expand upon this, what exactly did you have in mind? I'm having a hard time imagining it.

[2022-05-21 08:28] MikaelElkiaer commented on #1712
https://github.com/folke/which-key.nvim
Some screenshots and texts here somewhat explanatory. Note that this plugin is just visualization of key mappings.

But basically, some keys will require one or more additional keypresses in order to actually do something.
E.g. `b m` to merge a branch, `b r` to rebase. `c r` to rename a commit, `c a` to amend a commit.
But can also be 3 keys, or just 1.

[2022-05-21 09:48] mark2185 commented on #1712
Ah, I thought this was still about writing the commit message.

Well we have some sort of mappings for menus, and then subsequent entries which is better than nothing, but I do get your point. "Global" mappings sound great, but again, backwards compatibility is a bitch.

[2022-05-21 15:36] jbrains commented on #1712
I am very very very strongly in favor of sequences of multiple keys if that results in a nice command language of "object, verb". This matches very well with kakoune, so it's perfectly for my mind. For example, I love the idea of "c, r" for "commit, reword".

A common architecture for such commands would be very welcome. I vote for "object, command". I can get used to anything, as long as it's con

[2022-05-22 16:46] fsmiamoto commented on #1759
Sorry for the inactivity, I was kinda busy lately :sweat_smile:
@jesseduffield I've created a draft pull request with my proposed changes and it seems to do the trick, at least for the scenario described in this issue.
I'll try to add unit tests for it but let me know if you have any suggestions or concerns.

[2022-05-22 17:54] prosoitos commented on #1712
Only because those work by default in the vast majority of terminals out there.

Exactly! My suggestion about those shortcuts are not to turn lazygit into an Emacs keybinding based utility, but so that the little quick popup behave more like one would expect from a terminal.

[2022-05-22 17:58] prosoitos commented on #1712
Right: this is very precisely where I was coming from with my comment 🙂

[2022-05-23 12:41] mark2185 opened #1962 "Horizontal split of half-screen mode"
**Is your feature request related to a problem? Please describe.**
Instead of having it split vertically where e.g. the commits take up half of the screen, and the code takes up the remaining half (and then everything gets wrapped), I'd rather it was one above the other.

**Describe the solution you'd like**
Up goes one half, down goes the other.

**Describe alternatives you've considered**
Couldn

[2022-05-23 13:17] mark2185 opened #1963 "Move patch into new commit with message"
**Is your feature request related to a problem? Please describe.**
Usually when I use `move patch into new commit` I'd like to reword that commit, I'd rather get the popup with the `Split from <patch message here">` as initial value than having to manually go back, reword the newly added commit, and return to the view where I was (since I want to split a few other things as well)

**Describe the s

[2022-05-23 22:18] jbrains commented on #1712
For those of us who use vi editing more in all our shells, this would just be one more reminder that emacs is the default and that the rest of the world just doesn't know any better. ;)

[2022-05-24 20:22] c02y opened #1964 "`discard all changes` on an untracked directory deletes only files in it"
**Describe the bug**
A clear and concise description of what the bug is.

I have a directory which contains files and dirs recursively, I open lazygit and navigate to the directory, `d` to `discard all changes`, all the files in the directory are deleted, but the top directory and all the subdirectories are still there.

**To Reproduce**
Steps to reproduce the behavior:
1. create a directoryA cont

[2022-05-24 20:29] c02y commented on #1962
+1 wrapping long lines is really annoying.

[2022-05-26 03:14] JolinpiggyYulongJin commented on #1795
Hi, @bastianpedersen I was experiencing the same issue as yours. I have tried your suggestion, and it is working fine for me so far :)
Both 'Bold' and 'Bold font with bright colors' will work.
Also Chinese translation is provided here:
我也有相同的问题：在 Windows Terminal 中使用 lazygit 没有正确地显示当前选中的行（例如当前分支、当前提交等等）。在设置中对单个终端Profile里面的Appearance外观选项-文本格式化（强调文本样式）中选择“加粗字体”或者“亮色加粗字体”。然后就可以正确地加粗显示当前行了。
@bastianpe

[2022-05-26 11:59] lukaspiatkowski opened #1967 "Crashing on negative fetch refspecs"
**Describe the bug**
Lazygit crashes when opening a git repository containing [negative refspec](https://github.blog/2020-10-19-git-2-29-released/#:~:text=Negative%20refspecs) in a fetch option inside `.git/config`.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone a repository (e.g. `gh repo clone jesseduffield/lazygit`)
2. Open `.git/config`
3. Add a negative refspec in a `fetch` optio

[2022-05-26 12:03] mark2185 commented on #1967
Good catch, is this something that stops you from using `lazygit` or did you just notice it by accident?

I.e. if it's a priority, I can take a look at it today.

[2022-05-26 13:21] lukaspiatkowski commented on #1967
I've caught it when trying to use negative refspecs to filter out branches that Github's [Merge Queue](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-request-merges/managing-a-merge-queue) leaves behind on the main branch. I would say it blocks me from using negative refspecs more than it blocks me from using lazygit for now, but I wante

[2022-05-28 12:32] linzhefeng opened #1968 "yaml: unmarshal errors"
**Describe the bug**
I use brew install lazygit, and run 'lazygit ', and then some error happend

yaml: unmarshal errors:
  line 1: cannot unmarshal !!str `o` into config.UserConfig

**Desktop (please complete the following information):**
 - OS: [macos 11.5.1]
 - Lazygit Version [lastest version 2022.05.28]

[2022-05-28 12:32] mark2185 commented on #1968
There's a mistake in your config, could you post it, please?

[2022-05-28 12:34] linzhefeng commented on #1968
I am new in lazygit, idk where the config file is, please tell the path

[2022-05-28 12:35] mark2185 commented on #1968
It should be in `~/Library/Application Support/lazygit/config.yml`

[2022-05-28 12:38] linzhefeng commented on #1968
lol,thank you so much ~ , I think the problem has been solved!!(but I am so sure I never edit this file before😂)
![image](https://user-images.githubusercontent.com/50944875/170825826-ce598111-9b86-4322-b3f8-af766fb819b6.png)

[2022-05-28 12:39] mark2185 commented on #1968
Great! Glad that it's fixed, feel free to close up the issue :)

[2022-05-28 12:39] #1968 closed

[2022-05-28 14:56] mark2185 commented on #1940
@MysterHawk could you try building #1969 and see if it fixes the crash?

[2022-05-28 18:28] MysterHawk commented on #1940
Nice job!

You fixed it! I've just compiled it it works fine now :D

[2022-05-28 19:18] #1940 closed

[2022-05-28 20:09] David-Else opened #1971 "Please build for EPEL 9 at https://copr.fedorainfracloud.org/coprs/atim/lazygit/"
Can an EPEL 9 version be added to the builds, or maybe there is someone who could be contacted? Cheers.

[2022-05-28 21:55] mark2185 commented on #1940
Great! Keep using that build until it gets merged into `master` and subsequently released.

[2022-06-01 12:58] craigmac opened #1973 "panic: runtime error when cancelling out of "enter path to filter by" dialog popup"
**Describe the bug**
Cancelling out of of the "enter path to filter by" menu with control-c crashes lazygit in 0.34.

**To Reproduce**
Steps to reproduce the behavior:
1. Open lazygit 0.34
2. Press C-s to bring up Filtering popup
3. Choose "enter path to filter by"
4. Press Control-C

**Expected behavior**
Close the dialog.

**Screenshots**
<img width="813" alt="Screen Shot 2022-06-01 at 8 54 55 A

[2022-06-01 14:58] JensPfeifle commented on #1794
This works for me as well. I think this feature request can be closed.

[2022-06-01 17:16] ajhynes7 opened #1974 "Add option to stash untracked changes"
Hello, thanks for building this great tool.

Sometimes I'd like to stash work which includes new files, but I couldn't find an option in lazygit to stash untracked changes.
It'd be helpful if one of the stash options was "include untracked changes".

I believe this is equivalent to the command:

[code]

[2022-06-01 17:19] mark2185 commented on #1974
I do believe that option is currently in `master`, could you give it a spin?

It should be under the `Stash options`, triggered by the `S` (note: uppercase) in the `Files` pane by default.

[2022-06-01 17:49] mark2185 commented on #1964
Thanks for reporting this, it's reproducible and being looked into.

[2022-06-01 22:29] nikit-psl commented on #1265
A similar thing is happening for me when I'm using `lazygit` inside toggleterm in neovim.
Terminal - Alacritty
OS - Windows 11

It's working fine when I'm using lazygit directly in Alacritty though. Also, this only happens when I keep the down key pressed and doesn't happen when I keep the up key pressed.

[2022-06-02 07:41] azzgo opened #1976 "Enter Commit's Files of Repo First Commit will Popup Error Dialog"
**Describe the bug**
A Error of Git command output tips  "unknown revision or path not in the working tree".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '4 Commits - Reflogs Section '
3. Scroll down to 'first commit of the git commits'
4. Click on '<Enter>' to Commits files section
5. See error window

the dialog Info

[code]

**Expected behavior**
The Repo First commit files list

[2022-06-02 07:51] mark2185 commented on #1976
This was fixed in #1944  but that was _after_ the last release, could you give the current `master` a spin and see if that helps?

[2022-06-02 08:05] azzgo commented on #1976
Oh, cool, it works.

Because I searched, not found similar issue.😂

Thank you for reply.

[2022-06-02 08:06] #1976 closed

[2022-06-02 11:55] ahmadie opened #1977 "<-- YOU ARE HERE --- how to remove this"
I pressed some shortcut and above message apear in last commit,
How i remove this ?

[2022-06-02 11:59] mark2185 commented on #1977
You're probably in the `interactive rebase` mode, press `escape` to bring up a menu which will ask you do you want to abort the current `merge` and press `enter` to abort it.

I wholeheartedly suggest you to watch the fabulous introduction to `lazygit` - [15 lazygit features in under 15 minutes](https://www.youtube.com/watch?v=CPLdltN7wgE) which demonstrates the state which you found yourself in.

[2022-06-02 13:57] mark2185 commented on #1974
You're right, I must've misremembered.

Could you explain upon what is the use case of stashing _untracked_ changes? The only thing I can think of is that you have files of the same name on a different branch and then checking out that branch might cause conflicts, otherwise the _untracked_ files shouldn't clash with anything.

[2022-06-02 14:12] mark2185 commented on #1974
Alright, fair enough.

Would you like to take a shot at implementing it?

The rest of the subcommands were added in #1870 which you can use as a reference point, stashing untracked changes would require:
- adding a new mapping in `pkg/gui/controllers/files_controller.go`
- adding a callback function in `pkg/commands/git_commands/stash.go`.

If it isn't your cup of tea, feel free to let us know and

[2022-06-02 17:01] ajhynes7 commented on #1974
Sure I can give it a shot!

[2022-06-04 13:54] alarbada opened #1981 "errors errorString gio unhandled panic"
I'm just following orders from lazygit.

[code]

lazygit --version
commit=, build date=, build source=unknown, version=unversioned, os=linux, arch=amd64

Feel free to close this if it was already solved.

Thanks for the utility!

[2022-06-05 19:26] skossan opened #1982 "Lazygit asking for username/password every time I push/pull"
**Topic**
Lazygit is asking me for my username and password every time I wanna push/pull a branch.

**Your thoughts**
I installed LG on my Linux Mint by downloading the tar.gz file and extracted the executable and moved it to */usr/bin*.
It seems like my username/password isn't stored somewhere hence why it's asking me every time.

Any tips on how to avoid this?

[2022-06-05 19:36] mark2185 commented on #1982
It's not a `lazygit` issue, it's due to `git` itself, I presume. Have you tried using RSA keys or increasing the cache timeout?

[2022-06-05 19:38] skossan commented on #1982
I installed git the other day using *sudo apt install git* and haven't used it until now. I've never had this problem before using git.

[2022-06-05 19:44] mark2185 commented on #1982
Does `git` ask you to type in your username and password when pushing and pulling? If it does, then _it_ isn't stashing your credentials.

[2022-06-05 19:45] skossan commented on #1982
It does yes. However. I've only ever used git on windows and mac before and there, it never asks for username/password. Perhaps itäs different on Linux?

[2022-06-05 19:57] mark2185 commented on #1982
Don't know about `windows`, and `MacOS` probably uses the system's keychain, as for linux, either setup [caching](https://stackoverflow.com/questions/5343068/is-there-a-way-to-cache-https-credentials-for-pushing-commits) or use RSA keys.

In any case, it isn't a `lazygit` issue.

[2022-06-05 19:58] skossan commented on #1982
Thank for the tip. I'm glad to hear it's not lazygit. Have used LG before on both windows and mac and it's always been great!
I guess this can be closed!

[2022-06-05 19:59] mark2185 commented on #1982
Feel free to close it then, tack! :)

[2022-06-05 20:01] #1982 closed

[2022-06-06 09:29] David-Else commented on #1971
I contacted Tim and he has kindly added EL9 and CentOS Stream 9 builds.

[2022-06-06 09:29] #1971 closed

[2022-06-06 12:15] KhizerRehan opened #1984 "How to ignore pre commit/push hooks for commit"
**Topic**
The project i am working has some Husky hooks are installed like
- pre-commit
- pre-push

How i can commit without running such hooks on every commit.

**Menu:**

<img width="882" alt="f8f7bf2108f956029181a71eaca66b14" src="https://user-images.githubusercontent.com/17727069/172158624-c2126d8a-ff1b-4f8c-8e79-266afacf3066.png">

**Even after running an option does run pre-commit hooks defi

[2022-06-06 12:18] mark2185 commented on #1984
Just to clarify, it happens even if you're running the mapping under `w - commit changes without pre-commit hook`?

[2022-06-06 12:56] mark2185 opened #1985 "Allow reset to custom branch"
This is just for bookkeeping.

Currently we can reset to `branch` from the `branches` panel, reset to `origin/branch` from the `files` panel, but there is no reset to custom destination.

[2022-06-06 16:01] lukaspiatkowski commented on #1967
I forgot to mention it here, but I've created an issue: https://github.com/jesseduffield/go-git/pull/1

[2022-06-10 12:02] raphaklaus opened #1989 "Shouldn't `fetch` action be under `Local branches - Remote - Tags`?"
**Topic**
The `fetch` command can only be found when inside `Files` tab.

**Your thoughts**
Shouldn't `fetch` command be inside the `Local branches - Remote - Tags`? Or perhaps available globally? For me it doesn't make much sense to be inside Files, where I am supposed to be staging, stashing, committing, and pushing... I think that belongs to a whole different family of actions.

[2022-06-10 12:23] willparsons commented on #1895
You're right, it does. Not sure what was happening to me when I was made the issue 😆

[2022-06-10 12:23] #1895 closed

[2022-06-10 16:30] willparsons commented on #1404
I'm having this issue in 0.34.

[2022-06-10 18:03] willparsons commented on #1404
I just tested and my cursor disappears on both v0.29 and v0.34

[2022-06-10 18:03] willparsons commented on #1404
If it helps it's the mintty terminal.

[2022-06-10 19:10] aosterhage opened #1990 "git clang-format"
**Is your feature request related to a problem? Please describe.**
Before committing I often run `git clang-format` on changed files. I do not _always_ do this so I do not use any git hook to run it.

**Describe the solution you'd like**
Single key-press that runs `git clang-format` on:
- Staged changes (against HEAD)
- A selected commit (against its parent) and automatically amends the commit wit

[2022-06-10 19:27] aosterhage commented on #1990
I should have also mentioned: `git clang-format` requires that you have `git-clang-format` in your path and executable (as well as clang-format). I'm not sure exactly how this intersects with lazygit's implementation: is it okay to rely on external tools? If not then it would require a change to go-git to add clang-format support which is probably out of scope.

[2022-06-11 06:53] mark2185 commented on #1990
Have you tried using [custom commands](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md) for that? I.e. run `git clang-format` on the selected file/all staged files?

[2022-06-11 10:41] jeot opened #1994 "Duplicate keyboard shortcut R in Local Branches pane"
**Describe the bug**
The keyboard shortcut `R` has a duplicate function in the **Local Branches** pane window.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Local Branches**
2. Press `x` to see the menu.
3. There are two menus for `R`: **rename branch** and **refresh**

**Expected behavior**
Because in all other windows, pressing `R` is defined as **refresh**, it is better to keep

[2022-06-11 17:16] jeot commented on #1994
I also noticed a duplicate `R` key shortcut in the **Commit** window too.

[2022-06-11 21:14] carjuan opened #1995 "On mac, runnning lazygit in a tmux popup pane fails"
**Describe the bug**
On Mac, when using tmux popup pane feature: `tmux popup -E "lazygit"`, I get `*exec.ExitError status 1` as seen in screenshot below.
If not running Lazygit in a tmux popup pane, that is in a regular tmux session, it works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. On Mac, run tmux
2. type command `tmux popup -EE "lazygit"
3. floating window shows "An er

[2022-06-12 02:27] tg0h commented on #1995
![Screenshot 2022-06-12 at 10 21 02 - kitty@2x](https://user-images.githubusercontent.com/7954426/173211715-965cfcae-b0a9-45e8-8949-f5fd5263c8a3.jpg)

strange, it works for me ...

[2022-06-12 06:20] shinhs0506 opened #1996 "open file and open link returns error in WSL"
**Describe the bug**
opening file and opening PR returns error since xdg-open does not exist in WSL

**To Reproduce**
Steps to reproduce the behavior:
1. Select any branch
2. Click 'o' to open a PR
3. See error

**Expected behavior**
Opens a file / a browser with PR link

**Desktop (please complete the following information):**
 - OS: Debian WSL
 - commit: 8fd9dea6414a9b35af5b173854f90275229a460a

[2022-06-12 11:04] echasnovski commented on #1865
For anyone with same problem: I seem to have managed to overcome this with `lazygit --git-dir=$(git rev-parse --git-dir)`. Made an alias and works fine at the moment.

[2022-06-12 22:28] RyannDaGreat commented on #1384
I think this is more of a feature than a bug...I would love to see line wrapping, or horizontal scrolling capability here! My current solution is just to zoom my terminal way out, and even that doesn't work for super duper long lines...

[2022-06-13 02:44] #1759 closed

[2022-06-13 05:25] whoop-t opened #1999 "Esc wont close commit message window/Takes me out of insert mode"
**Describe the bug**
Using Astronvim (This may actually just be an Astronvim issue, if believed so I will close issue and open there)
When in commit message prompt, esc just takes me out of insert mode. Cant exit any prompt in lazygit

**To Reproduce**
Steps to reproduce the behavior:
1. Clone Astronvim
2. brew install lazygit (tap)
3. make change to file, open lazygit (leader + gg)
4. Open commit

[2022-06-13 11:01] LenglBoy opened #2000 "BranchColor value on config behaves not consistant"
**Describe the bug**
Adjusting the branch colors on the UI needs to take RGB values while some other places can take RGB values or named colors like 'blue'. A consistent behavior that allows both (color and RGB) would be nice.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the config file
2. Edit the branch coloring settings (ui:branchColors:<some pattern>)
3. Put down a color name ins

[2022-06-13 14:54] bennypowers opened #2001 "lazygit does not run on fedora 36"
**Describe the bug**
lazygit quits with `stat ~/.config/lazygit/config.yml: no such file or directory`. This is a 2-day old fedora 36 installation.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. copy above to ~/.config/lazygit/config.yml
2. install lazygit per instructions
3. run `lazygit`

**Expected behavior**
lazygit launches with given config

**Desktop (please complete the foll

[2022-06-13 16:33] mark2185 commented on #2001
Does it work without the config?

[2022-06-13 16:48] bennypowers commented on #2001
[code]

[2022-06-13 20:17] mark2185 commented on #2000
Does that mean you've built from sources or?

Because if it doesn't, could you try building `master`? I cannot reproduce the issue there, while I can on `v0.34`.

[2022-06-13 20:20] mark2185 commented on #1999
I didn't quite get this part, do you open `lazygit` from _within_ `astronvim`, in the internal `terminal` or? Does it happen with regular `nvim`?

Does that mean you've built from sources or?

Because if it doesn't, could you try building current `master` to see if it helps?

[2022-06-13 20:24] mark2185 commented on #1995
@carjuan have you had any luck narrowing it down, maybe? I can't reproduce it locally, and it seems to work for @tg0h as well.

Trying a different `terminal emulator`, building current `master`?

[2022-06-13 20:31] bennypowers commented on #2001
[code]

:confused:

[2022-06-13 20:34] mark2185 commented on #2001
I think the default path for `go install` is `$HOME/go/bin`, could you try running `go build && ./lazygit` ?

[2022-06-13 21:33] #1935 closed

[2022-06-13 21:36] mark2185 commented on #1928
Could you try building `master` to see if it helps? If it's even reproducible now

[2022-06-13 21:38] mark2185 commented on #1898
Could you clarify when does this happen?

Does `lazygit` actively edit the `.gitignore` somehow or does it just not register the trailing `\n` or is it something else?

[2022-06-13 21:40] mark2185 commented on #1896
@sobotkami as Jesse suggested, have you tried building `master`? If it's solved, feel free to close the issue :)

[2022-06-13 21:53] matejcik commented on #1898
There is an option "ignore this file" in the file tab.
When you press it (i think it's bound to `i`?), lazygit will edit the
.gitignore file and add an entry for the selected file.
While doing this, it does not add a newline at end.

On Mon, 13 Jun 2022 at 23:39, Luka Markušić ***@***.***>
wrote:

[2022-06-13 22:08] MuhammadSawalhy commented on #1782
With my poor connection, it seems that I am cloning tons of files 😅

![image](https://user-images.githubusercontent.com/42011920/173453325-f47d8d6e-b95a-41a3-bb09-8298b141d141.png)

[2022-06-13 22:24] MuhammadSawalhy commented on #1782
Discarding staged changes only is working 🎉, but there is no option to discard only staged changes of a specific file:

![image](https://user-images.githubusercontent.com/42011920/173457248-824d1c75-2669-4b20-b9c6-e9a1564bd029.png)

[2022-06-13 23:36] #1999 closed

[2022-06-14 08:45] sobotkami commented on #1896
I can confirm this - just tried the master: "(upstream gone)". Btw is there any key binding to prune the remote branches?

[2022-06-14 08:59] mark2185 commented on #1896
If you mean to prune the local branches that have been tracking a remote branch that is deleted, there isn't a mapping for that.

You could add a custom command, that's what I do, e.g.

[code]

More info can be found here - [the docs.](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md)

[2022-06-14 09:57] sobotkami commented on #1896
Aha, cool, good to know! Thanks!

[2022-06-14 09:57] #1896 closed

[2022-06-14 10:08] sobotkami commented on #2001
I've also Fedora 36 (upgraded from Fedora 35) and lazygit `0.34` works for me. Even if I remove the config files or the whole config directory, it still works.

Maybe permission to the directory/files?

[code]

[2022-06-14 12:21] mark2185 commented on #1782
You're right, if a file is partially staged we currently offer to discard either _everything_ or _just the unstaged changes_.

I'll take a look into that and get back to you.

[2022-06-14 13:06] mark2185 commented on #2000
It is not the `master` version, though, it's about two months old.

I'd suggest you try building it yourself or installing [lazygit-git](https://aur.archlinux.org/packages/lazygit-git) from the AUR.

[2022-06-14 13:08] craigmac commented on #1973
@mark2185 confirmed fixed on master build, thank you!

[2022-06-14 13:08] #1973 closed

[2022-06-14 16:46] serhez commented on #1995
I'm having the same issue! I am running on alacritty, zsh, Intel Mac.

[2022-06-14 16:52] mark2185 commented on #1995
@serhez current `master` or `v0.34`? If it's the latter, try the former.

[2022-06-14 16:52] serhez commented on #1995
Just tested it on an M1 Pro Mac, and it also fails the same way.

[2022-06-14 16:54] mark2185 commented on #1995
I presume it's the latest release (3 months old), not `master`.

[2022-06-14 17:07] serhez commented on #1995
👆🏻 It works on master (I built from source using `go install`). Ideally, I'd like to have lazygit through brew so that I don't have to manually build for updates, can this fix be released any time soon?

Thanks btw :)

[2022-06-14 17:11] mark2185 commented on #1995
For that we'll have to summon @jesseduffield .

In other news, does `brew` support some sort of `-git` packages like the AUR does? I'm not very experienced with homebrew, but if anyone would like to contribute _something_ that would allow people to install current `master`, that'd be swell!

[2022-06-15 00:57] jesseduffield commented on #1995
I have been holding off on a release for a while but it really is time for one. I'll try to get one out today (will take a while to write up the release notes though given the time since the last release haha)

[2022-06-15 02:14] lei4519 commented on #1951
close https://github.com/jesseduffield/lazygit/pull/1972

[2022-06-15 02:14] #1951 closed

[2022-06-15 23:36] carjuan commented on #1995
This!

[2022-06-15 23:37] carjuan commented on #1995
This!

[2022-06-15 23:39] carjuan commented on #1995
I built it from source and it now works. Just as @serhez described.

[2022-06-16 23:27] alexn-s commented on #1550
+1

Are there any updates?
I would prefer to use powershell instead of cmd.exe

[2022-06-17 00:04] alexn-s opened #2003 "Custom Command Keybindings - PlaceHolderValues: SelectedFile exists -> add SelectedDir"
## **Is your feature request related to a problem? Please describe.**
I am using a pnpm monorepo and have some automatic pipelines with conventional commit (eg. using the name from the project in the git repo in the commit). In order for that to work I must automatically navigate/ cd into the project and run the pipeline from there. Currently it only works with SelectedFile.name to get the path an

[2022-06-18 01:50] aosterhage commented on #1990
Thanks for the suggestion. I had not considered custom commands and it does seem like an appropriate application. I attempted to get it working but was not quite successful. Regardless, I’ll close this request since I think custom commands is the right solution here given `git clang-format`’s external requirements. My suggestion to anyone who finds this in the future is to utilize custom commands

[2022-06-18 01:50] #1990 closed

[2022-06-18 02:33] jesseduffield commented on #2003
would a SelectedPath option suffice? Or do you want something specifically for the selected directory of the current file?

[2022-06-18 03:42] jesseduffield commented on #1265
great investigation @Aziks0. Some things I've noted while taking a look at the code just now:
1) The start of the process is typically to call gui.newPtyTask, which will itself only call gui.newCmdTask if there's no custom pager being used OR if we're on windows because that gui.newPtyTask function is called is overridden for windows in `pkg/gui/pty_windows.go` (this is because the pty library doe

[2022-06-18 07:12] 505384662 opened #2007 "Why does the nvim window not refresh?"
https://user-images.githubusercontent.com/31720616/174427115-b76b4f3e-8ecd-4ff3-beb6-fca4ed73867a.mp4

[2022-06-18 07:18] 505384662 commented on #2007
Why does the nvim window not refresh？
step：
1. Press ,gg to open lazgit
2. Press d to clear modification record
3. press q to close lazgit
4. view nvim Windows
5. But not cleared

[2022-06-18 07:19] 505384662 commented on #2007
If MP4 video cannot be played, please download and watch it~~

[2022-06-18 07:34] mark2185 commented on #2007
Does `nvim` have something like `:redraw!`?

[2022-06-18 07:44] 505384662 commented on #2007
![image](https://user-images.githubusercontent.com/31720616/174428111-6e091a72-2e80-452a-93c2-95a03b0db78d.png)
Here it is, but not implemented~

[2022-06-18 07:46] mark2185 commented on #2007
What do you mean it's not implemented? What happens if you type `:redraw!`? Or `:mode`?

[2022-06-18 07:52] 505384662 commented on #2007
I mean, I wrote redraw! command
But I didn't execute this command by
![image](https://user-images.githubusercontent.com/31720616/174428492-4365aec6-8c96-436f-a96b-21210a72bc2a.png)

[2022-06-18 07:58] mark2185 commented on #2007
That command is irrelevant, it's not one of `nvim`.

In any case, this isn't a `lazygit` issue, this is due to redrawing of `vim/nvim`.

Look into `:h redraw` and/or `:h lazyredraw`.

[2022-06-18 08:11] 505384662 commented on #2007
I just read this help
but
I don't quite understand what you mean
You mean to let me set this command `set lazyredraw` in `vim/nvim`

[2022-06-18 08:43] Aziks0 commented on #1265
1. I've tried with and without a pager a few months ago, it didn't change anything to not have one. I've retried today, no difference.
2. The issue persist, unfortunately :(. It is not better or worst, just the same as before.

[2022-06-18 09:02] mark2185 commented on #2007
Try that, but redrawing manually (however that's done in `nvim`) should help as well

[2022-06-18 09:45] Aziks0 commented on #1265
Btw, if I hold down <kbd>↓</kbd> instantly after executing lazygit, the issue appears instantly. If I wait a few seconds before holding down <kbd>↓</kbd>/<kbd>↑</kbd>, the issue appears more randomly.

https://user-images.githubusercontent.com/36425380/174432026-88c1d836-33be-42fe-978c-782f2ea7af49.mp4

[2022-06-18 10:06] 505384662 commented on #2007
I tried, but I still can't. It's so tangled。。

[2022-06-18 12:16] mark2185 commented on #2007
Alright, what is `,gg` mapped to? Just so I can try to reproduce it.

Which `nvim` version are you using? Have you tried with a minimal `vimrc`?

[2022-06-18 13:56] 505384662 commented on #2007
Just wait a while~
![image](https://user-images.githubusercontent.com/31720616/174441602-35231ece-a3bd-429a-b1e5-9968d2c73876.png)
nnoremap <silent><leader>gg <Cmd>lua _LAZYGIT_TOGGLE()<CR>
![image](https://user-images.githubusercontent.com/31720616/174441626-3f8716c8-663b-4136-819f-581e456613f3.png)
NVIM v0.7.0
If you need all configuration
This is my GitHub nvim configuration
https://github.com/

[2022-06-18 14:44] alexn-s commented on #2003
selected path would be awesome.

currently i convert the SelectedFile.Name path to a directory path again anyway,
because cd obviously only works for a dir path

love your work on lazygit. really appreciate it 💖

[2022-06-18 19:14] mark2185 commented on #2007
I just now watched the video, it's not due to rendering, but due to `nvim` not reloading the file.

For some reason it doesn't register that the file has been changed, even though you have `autoread` set. I'll look into it, in the meantime you can just `:e` after closing `lazygit`.

[2022-06-18 20:25] lalitsharmaking commented on #1921
I am not sure if this is valid but can someone help me please - " I can't understand the meaning of cd in the project repo & run bootstrap " I am new to coding so please help me - I tried to run the project without doing this and it is not running so I need help

[2022-06-19 00:23] jesseduffield commented on #1921
@lalitsharmaking for how-to questions you should create a new discussion in the discussions tab (https://github.com/jesseduffield/lazygit/discussions)

[2022-06-19 01:26] 505384662 commented on #2007
I tried this command :e before
This is my previous video
https://user-images.githubusercontent.com/31720616/174461985-ea71c964-b212-41a7-8467-66686216c628.mp4
But I hope to refresh the `nvim` Windows when I press `q` to close `lazygit`
I hope you can let me know after adding it~
Thanks for answering questions~~

[2022-06-19 04:56] bennypowers commented on #2001
for reference:
[code]

[2022-06-19 06:24] lalitsharmaking commented on #1921
@jesseduffield thank you brother I am new in this so didn't knew it

[2022-06-19 08:45] AndrewSav opened #2009 "Make the force push confirmation button configurable"
**Is your feature request related to a problem? Please describe.**
Force pushing is a destructive operation. Currently the `enter` is used to confirm it. I've force pushed with lazygit on accident before, when I was going to fast or was clumsy.

**Describe the solution you'd like**
The consequences of mistakenly force pushing (e.g. if the user did not carefully read the dialog) could be dire, whil

[2022-06-20 08:21] victor-falcon opened #2010 "Light theme is unusable"
**Describe the bug**
I think that were using white color whiteout any background for light text. Maybe we should use bright black or similar.

**Screenshots**
![image](https://user-images.githubusercontent.com/238766/174557517-5edec873-ad74-4637-8bdb-f72924de5035.png)

[2022-06-20 08:26] mark2185 commented on #2010
Are you using the `lightTheme` config option? Could you paste your config, please?

[2022-06-20 08:28] victor-falcon commented on #2010
I though yes, but I had it set to false. My fault, sorry.

[2022-06-20 10:44] Tej12345 commented on #1114
Also if you get **status -1** when trying to copy commit hash via **ssh**.
use **-X** flag when connecting to your server.
[code]

[2022-06-21 06:52] aur3l14no commented on #1933
I got "??" too. It seems it's not due to missing fonts. Was it is intentional? What was it supposed to mean?

[2022-06-21 07:57] mark2185 commented on #1933
The `??` is inherent to `git`, it represents **untracked** files. You'll get the same if you run `git status --short`.

[2022-06-21 08:02] mark2185 commented on #1928
I think it's the same issue as #1788, the errors/warnings aren't ignored and that mucks up the file view, at least that's my suspicion, hadn't confirmed it yet.

[2022-06-21 11:24] #1544 closed

[2022-06-21 13:44] mark2185 commented on #2001
Have you tried this in the meantime?

[2022-06-21 15:32] bennypowers commented on #2001
Big oof :see_no_evil:

[code]

I also tried this just in case, but it made no difference:

[code]

[2022-06-21 17:08] joshmedeski commented on #1933
I'm working on #1934 to add more Nerd font support for the files section. I have some more work to do but I'm making progress.

[2022-06-21 18:43] tgmpje commented on #1453
Adding a snooze so we get a ping once the PR has been merged.

@SnoozeThis https://github.com/creack/pty/pull/109

[2022-06-21 23:51] Mo8it commented on #2001
I am on Fedora 36 Silverblue and everything works fine with the binary from the Github releases page. Can you please try to uninstall lazygit from copr and put the binary from the releases page in ~/bin?

[2022-06-22 07:54] la-magra commented on #1984
Not OP, but I have probably the same setup.

- Repo with git hooks set via husky https://github.com/typicode/husky
- Run lazygit
- Stage some changes
- Press `w` and commit
- Hooks still run (`git commit` is missing `-n|--no-verify`?)

This is what appears in the log(`@`)
[code]

**Desktop:**
$ lazygit --version
commit=v0.34, build date=2022-04-27T13:28:28Z, build source=binaryRelease, version=0.3

[2022-06-22 16:29] la-magra commented on #1984
@mark2185 My config file in `~/.config/lazygit/config.yml` is completely empty.

I did a quick test putting the default config into it:
[code]
And now if I prefix my commits with "WIP" now the skipHooks command works as intended.

Replacing `skipHookPrefix: WIP` by `skipHookPrefix: ""` unfortunately does not allow the command to work since it displays the message `You have not configured a commit

[2022-06-22 17:29] mark2185 commented on #1984
Great! Now we know what's the cause and we can treat it!

In the meantime, please prefix your commit messages with `WIP` for when you want to skip the pre-commit hooks.

[2022-06-22 17:39] Noxdor opened #2012 "Is there a Cancel Button? If not, why not?"
**Describe the bug**
I am often running into a situation, where my fingers were faster than than my brain and I started some action like rebasing. First of all, it is great that lazygit asks me to confirm actions like that! But I can't find a button to cancel the action. In a case like that, I have to completely close my nvim to "cancel" the action. I couldn't find anything about cancelling in the

[2022-06-22 18:45] Noxdor commented on #2012
I just realized, this is not an issue of this project, but of AstroNvim, which is the configuration I am using. They are displaying it in a floating terminal I guess and that causes problems with the escape button. I will just go over there and report this then :)

[2022-06-22 18:45] #2012 closed

[2022-06-23 11:29] GMkonan commented on #1552
I can create a PR for this later since I already have made the commit on my `fork`, people interested can check the changes here:
- https://github.com/jesseduffield/lazygit/compare/master...GMkonan:commit-message-length-warning

[2022-06-24 03:38] la-magra commented on #1984
As a minor addendum until this issue is solved.

The following custom command does exactly what's required:

[code]

lazygit is just that beautiful.

[2022-06-24 06:01] bennypowers commented on #2001
[code]

[2022-06-24 09:07] gozes opened #2014 "[Question/Discussion] using .git/info/exclude to exclude local file instead of .gitignore"
**should there be an option to use .git/info/exclude in the File window?**
A bit of context from the git docs as to what .git/info/exclude  is

 FYI this file has the same format as `.gitignore`

**Your thoughts**
I really think it will be quite useful to have let say `I` in the File window to add files to the exclude file along side the `i` command we already have.

I use this quite a bit to put

[2022-06-24 09:38] mark2185 commented on #2014
Is this just a `.gitignore` that isn't committed, if I'm reading into this right?

[2022-06-24 10:42] gozes commented on #2014
@mark2185 yup it just goes inside of `.git/info/` instead of the root of your project and I believe it has to be called `exclude`

[2022-06-24 10:45] mark2185 commented on #2014
Sounds like a neat addition, didn't even know about it.

Would you be interested in opening a PR? The logic should be the same as with adding to `.gitignore`, only the destination differs.

[2022-06-24 13:35] Mo8it commented on #2001
I can kind of reproduce your error this way:
[code]

It seems like lazygit does not expand "~" to home.

Do you set this varialbe anywhere?

Please post the output of the following commands:
[code]

For reference:
I did try to debug by reading this file: https://github.com/jesseduffield/lazygit/blob/master/pkg/config/app_config.go
That is how I found about the environment variables.

[2022-06-24 13:58] #2001 closed

[2022-06-24 15:43] Mo8it commented on #2001
Happy to know that it worked ^^

The problem with not expanding `~` should be addressed. I will open a new issue for that.

[2022-06-24 16:17] gozes commented on #2014
@mark2185 I will love too, can you point me ate where the logic for this is. I was looking but was having a hard time finding it :)

[2022-06-24 17:25] mark2185 commented on #2014
Off the top of my head - look into the files changed in PR #2004, that should be a start.

Let me know if you need additional pointers and I'll take a closer look next time I'm at my laptop.

[2022-06-24 20:06] gozes commented on #2014
So having another look at this it seams like there is a few references to gitignore in `git_commands` package in `working_tree.go` and in `file_controller.go` I'm still looking at the code trying to find the best place to add this. I have yet to find how this things relate to the file window in the GUI.

[2022-06-24 20:57] mark2185 commented on #2014
The one you're looking for is in [files_controller.go](https://github.com/jesseduffield/lazygit/blob/41071c37035a5944f77b4f0da5f07ec3b52fef0e/pkg/gui/controllers/files_controller.go#L90), this sets the function [ignore](https://github.com/jesseduffield/lazygit/blob/41071c37035a5944f77b4f0da5f07ec3b52fef0e/pkg/gui/controllers/files_controller.go#L305) as the handler for when someone presses `Ignore

[2022-06-24 21:19] gozes commented on #2014
ok so just did my first try on it and send you a draft [PR](https://github.com/jesseduffield/lazygit/pull/2016) for it. It probably needs some more work. One question I still have is how to actually add `I` binding. Happy to keep working with you on this as I'm still finding my feet in the codebase so any guidance/support you can offer is greatly appreciated

[2022-06-24 21:23] gozes commented on #2014
Just saw this after making the draft PR. will have look again at this over the weekend and amend my PR with your comments :)

[2022-06-25 21:16] m-mead commented on #1858
Hi, I took a shot at implementing this issue and submitted a PR. I tried my best to follow the contributing guide; this is my first time contributing to the project (and writing Go code for that matter), so please let me know what I can improve. 🙂

PR link: https://github.com/jesseduffield/lazygit/pull/2017

[2022-06-25 21:26] gozes commented on #2014
@mark2185 looking at this at the moment. I don't think your suggestion will work because it calls to `WorkingTree.Ignore` so I have refactored `WorkingTree.Ignore` into a more general `Omit` function in `WorkingTree` so I can use it for both ignoring and excluding. I'm trying to refactor `ignore` in  `file_controller` so I can have a clear separation between ignoring and excluding.  :)

[2022-06-25 21:56] mark2185 commented on #2014
That's perfectly reasonable, it _could/should_ take a parameter as the destination file.

_That_, as well as the rest of the steps down to the bottom, such as `WorkingTree.Ignore`, as you've noted :)

[2022-06-25 22:27] gozes commented on #2014
@mark2185 ok so the Refactoring was successful and ignore is back to working order. However, I can get exclude (a.k.a `I`) to show up in the menu and I'm not sure why. Have I missed something?

[2022-06-25 22:31] gozes commented on #2014
BTW @jesseduffield  your [video](https://www.youtube.com/watch?v=kNavnhzZHtk) on adding a feature was really helpful in getting to grips with the bits of the codebase I have to touch. Thank you for making it. I hope you will make more like it in the future

[2022-06-26 21:33] piegamesde commented on #1942
At the moment, this is my only true pain point with lazygit, because it forces me to switch to tig when I want to browser longer commit diffs.

[2022-06-26 23:31] jesseduffield commented on #2014
No worries @gozes ! I'm in the process of trying to free up more time to make more videos / guides so hopefully there'll be more in the near future

[2022-06-28 19:38] qubidt opened #2018 "Request: avoid writing to `LAZYGIT_NEW_DIR_FILE` if not changing directory"
**Is your feature request related to a problem? Please describe.**

Currently, lazygit writes to the file specified by `` whether it is designated to change directories or stay in the current one. In the latter case lazygit writes the CWD to the file. The problem is that the wrapper function suggested in the README always executes `cd` if `$LAZYGIT_NEW_DIR_FILE` exists and this is problematic beca

[2022-06-29 19:54] mark2185 commented on #1995
@lougreenwood not yet, `v0.34` is still the latest version. I'll let you know here when it gets updated, in the meantime I'd suggest you to keep using the manually built one.

[2022-06-30 01:28] Holi0317 commented on #1267
As a user, I think I will change the sort criteria often. Sometimes I would want to checkout a release branch (where sort by name makes the most sense) while other time I may want to check other's PR (where sort by last modified makes sense).

I think the sort option should have an key-binding to it instead of being a config option.

[2022-06-30 06:42] victor-falcon opened #2019 "It's possible to open lazygit in a desire view and panel?"
I found that commit panel maximized, it's super  useful to see the project log, files changes and even do some quick actions.

I want to create a log alias to open lazygit directly in this view. It's this possible right now?

![image](https://user-images.githubusercontent.com/238766/176609950-b68260d3-89c3-44b1-aa5d-66fcd9d1da34.png)

[2022-06-30 08:06] mark2185 commented on #2019
[code]

I believe you're looking for `lazygit log`?

[2022-07-01 07:15] #1724 closed

[2022-07-01 22:53] emma-campbell commented on #2001
I ran into this issue on my M1 Mac as well and this did the trick! Many thanks!

[2022-07-04 08:13] #1996 closed

[2022-07-04 22:26] #1858 closed

[2022-07-05 06:05] AustinWp opened #2025 "i need page turning with keyboard on info panel , example Logs panel or Patchs panel"
Like this area ...  support page turning

![image](https://user-images.githubusercontent.com/11920137/177260464-a11e488d-a086-4e3a-b5fa-0e11c600fbf7.png)
![image](https://user-images.githubusercontent.com/11920137/177260538-64870462-45be-48cf-8a60-f2262881adce.png)

[2022-07-05 06:24] nagylzs opened #2026 "conflict resolver, pick all from branch/stash"
**Is your feature request related to a problem? Please describe.**

Sometimes when I merge two branches (or a branch and a stash), there are a few files that have lots of conflicts. A good example would be a package-lock.json file. If the two branches are diverged a long time ago, then there can be hundreds of conflicts within that file. Currently, the only available commands are "b: pick all hunk

[2022-07-05 07:30] jesseduffield commented on #2025
closing because you did not use the provided template. Happy to reopen if you change the description to match the template

[2022-07-05 07:30] #2025 closed

[2022-07-05 07:50] nagylzs commented on #2026
I think the command is:

[code]

[2022-07-05 08:27] nagylzs commented on #2026
Yes, a keybinding on the file would be great.

[2022-07-05 12:38] mark2185 commented on #2014
I believe this can be closed now :)

Great work! @gozes

[2022-07-05 16:12] mark2185 opened #2028 "Merge squash"
### Discussed in https://github.com/jesseduffield/lazygit/discussions/1296

<div type='discussions-op-text'>

<sup>Originally posted by **mestihudson** April 26, 2021</sup>
Is there a way to get a `git merge <branch> --squash`?
I know that is possible to use a custom command, but I'd like to follow the lazygit way.

Thanks for this awesome tool.</div>

[2022-07-07 17:05] William9923 commented on #1801
hi @day1118 , im not trying to implement the feature, but i use lazygit a lot and want to know how your scripts work for worktree. Could you share it? Thankss 🙏

[2022-07-09 09:36] oblitzitate opened #2029 "Can't remap openStatusFilter"
It stays as `<c-b>` even if I remap it.

**Desktop:**
 - Arch Linux
 - Lazygit v0.34

[2022-07-09 11:16] mark2185 commented on #2029
Could you please post your config?

[2022-07-09 16:02] oblitzitate commented on #2029
Pre-remap:

[code]

[2022-07-11 00:02] oblitzitate commented on #2029
I tried the development version and it's fixed there so I'll close this.

[2022-07-11 00:02] #2029 closed

[2022-07-11 06:48] mmahmoudian opened #2030 "Bad config in `.gitconfig` causes wrong error in lazygit"
**Describe the bug**
Bad config in `.gitconfig` would cause wrong error generation by lazygit

**To Reproduce**
Steps to reproduce the behavior:
1. mess up with your `~/.gitconfig` (in my case I had a typo in `editor`) and save it
2. go to a git folder
3. run `lazygit` which throws this error:

4. in the same folder try `git status` and see this error:

**Expected behavior**
I expected that lazygi

[2022-07-11 07:05] mark2185 commented on #2030
Yeah, currently we throw the same error for whatever `git` errors out with:
[code]

@jesseduffield should we just print out `git`'s error here actually? And the version validation could be done in the same pass, we'd just need to match `git version \d.\d+.\d+`?

[2022-07-11 08:38] jesseduffield commented on #2030
Yep if we get an actual error back from git we should just surface that. If we don't get an error back, then I'd parse the output for the version

[2022-07-11 13:57] otavioschwanck opened #2032 "Use C-d and C-u to scroll half page up / down"
**Is your feature request related to a problem? Please describe.**
Some keyboards doesn't have pagup and pagdown

**Describe the solution you'd like**
C-d and C-u to go half page up / down

[2022-07-11 15:46] mark2185 commented on #2032
Do these alternatives not work?
[code]

[2022-07-11 16:52] otavioschwanck commented on #2032
C-d, C-u and J/K only scrolls one line currently.  On vim, C-d and C-u scroll half a page.

[2022-07-11 20:36] mark2185 commented on #2029
Great!

Just out of curiosity - why do you have so many config entries since most of them are set to the default value?

[2022-07-12 11:48] Tej12345 opened #2033 "Add option to turn off prompt on commit reword in editor"
I would like to have an option to disable prompt:
"**Are you sure you want to reword this commit in your editor**"
It's really annoying when you reword like 50 commits.
**Code hints:**
RewordInEditorPrompt
[code]

[2022-07-12 12:05] Tej12345 opened #2034 "Add ability to edit several commit messages at once"
subj

[2022-07-12 19:31] mark2185 commented on #2019
@victor-falcon does that answer your question?

[2022-07-12 19:39] mark2185 commented on #2033
@jesseduffield what if we put the rewords behind a menu? `r` for ordinary reword, `R` for rewording through an editor, and then we wouldn't need the confirmation?

That would be bit of a breaking change, but anyone really mind?

[2022-07-13 01:55] pr-313 commented on #2026
Could we possibly use `git checkout --theirs path/to/file/under/cursor` as a keybind during merge conflicts? If so how can we access the aforementioned path to "file under cursor"

[2022-07-13 02:46] oblitzitate commented on #2029
I copy-pasted from `lazygit -c` so I don't have to go looking for a reference for the keys and default values when editing.

[2022-07-13 05:28] mark2185 commented on #2026
@pr-313 I believe [this](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md#placeholder-values) should help.

So it's `{{.SelectedFile.Name}}`?

[2022-07-13 06:57] Nikola-Milovic opened #2035 "Crash when I scroll to an unstaged file in the staging menu"
**Describe the bug**
I've merged a branch into my current working branch, I got a ton of files, there were some GraphQL generated schema issues and I reran the generator. So I ended up with 100+ stages files and 2 unstaged newly generated schemas. When I scroll to the schemas to actually check them out and verify everything is okay as soon as I get to the unstaged files I immediately crash.

**To

[2022-07-13 07:14] mark2185 commented on #2035
That version is quite dated, could you please try building current `master`?

[2022-07-13 07:21] mark2185 commented on #2030
@mmahmoudian would you be interested in fixing this issue? It's okay to say no, don't worry :)

[2022-07-13 07:23] #2014 closed

[2022-07-13 08:05] mmahmoudian commented on #2030
I've never done anything in Go. Unless you are really ready to deal with and accept a PR from an absolute Go n00b.

[2022-07-13 12:40] mmahmoudian commented on #2030
I appreciate the leap of faith you are willing to take 🍻  . Then please assign it to me and I'll do my best.

[2022-07-14 06:24] Nauxscript opened #2036 "push after pull another branch, push a wrong branch"
**Describe the bug**
push after pull another branch, push a wrong branch

**To Reproduce**
Steps to reproduce the behavior:
for example: i got two branches, master and child, child is base on master
1. checkout child, change something and commit
2. pull remote master on child branch
3. i am still on branch child, and press `P` try to push child
4. command log window say:

[code]

5. child branch h

[2022-07-14 06:35] mark2185 commented on #2036
Please fill out the provided template.

[2022-07-14 06:40] Nauxscript commented on #2036
ok now

[2022-07-14 07:28] Nauxscript commented on #2036
I found its not a bug just because I change the upstream....

[2022-07-14 07:28] #2036 closed

[2022-07-14 07:31] Nauxscript commented on #2036
if I want to pull the master branch (I am on child branch and child branch is a new branch, haven't set upstream), how can i do?

[2022-07-14 09:20] mark2185 commented on #2036
The latest version (`v0.34`) doesn't support setting the upstream, but if you can build the current `master`, you can set the upstream by pressing `u` in the branches panel.

Also I think this was actually a bug that was fixed, but not yet released.

[2022-07-14 09:25] Nauxscript commented on #2036
ok, I see .
lets wait the next version.

[2022-07-14 09:45] mario-amazing opened #2037 "Unstaged changes window jumped into a previously edited file"
**Describe the bug**
When I want to stage changes inside the file, the focus jumped to the previous edited file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to
2. Click `<enter> `on the **first** file -> Unstaged changes focused with Staged window near
3. Press 2 (goto Files section)
4. Click <enter> on the **second** file -> Unstaged changes focused without Staged window
5. Press `<j>

[2022-07-14 10:06] mark2185 commented on #2037
Could you try building the current `master` to see if it was fixed after `v0.34`?

[2022-07-14 10:56] mario-amazing commented on #2037
@mark2185, I've run this on the latest master, but still, have this issue.
commands that have been run from Readme:
[code]

[2022-07-14 12:23] mark2185 commented on #2037
Alright, someone will take a look. Thanks for reporting!

[2022-07-15 00:22] raphaklaus opened #2038 "Can't push due to message: Are you sure you want to continue connecting?"
**Topic**
When connecting with GitHub for the first time, the host is unknown and ask if we should proceed connecting. The UI seems to not understand that as a expected input from the user.

**Your thoughts**
As in other situations, there is a pop-up to insert an input to proceed. I think in this situation it should behave the same. Are we able to capture this message and treat accordingly?

[2022-07-15 04:54] mark2185 commented on #2038
Just to clarify, is this when you're using `ssh`?

How often does this happen, once _per device_?

[2022-07-15 07:58] jesseduffield commented on #2033
@mark2185 I'm inclined to wrap it in a menu, however, that won't solve this issue which is related to the number of keypresses, because the keypress count remains the same.

[2022-07-15 08:03] mark2185 commented on #2033
Got me there.

How is this usually done through the CLI? I seem to recall something like all of the commit messages are opened in the editor, maybe we could introduce a `reword` option for the visual selection of commits?

[2022-07-15 08:05] jesseduffield commented on #2033
I guess if you want to reword a heap of commits in quick succession you'd use a rebase with each line having an 'edit' action (that's just off the top of my head).

[2022-07-16 19:49] ryand67 commented on #1985
I'd like to take a shot at this if it's still available!

[2022-07-16 20:17] mark2185 commented on #1985
Sure is, go right ahead! Feel free to ask any questions you might have, either here or on slack.

[2022-07-16 20:20] ryand67 commented on #1985
Perfect, really cool project and would love to get involved with it. I’ll let you know if I have any, I’m sure I’ll find a few on the way haha!

[2022-07-19 08:45] dpeter99 opened #2040 "Can't type certain characters in modal text box"
**Describe the bug**
When I try to type a commit message, I can't type in `[ ]`, or when adding a new remote I can't copy in `@`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to remoters
2. Click on add new
3. give it any name
4. Try to copy in a SSH URL for the remote

**Expected behavior**
I would expect to be able to use any character in these input fields.

**Desktop (please comple

[2022-07-19 08:51] mark2185 commented on #2040
Are you using a US layout?

Could you try building current `master` to see if that helps?

[2022-07-19 08:55] dpeter99 commented on #2040
My keyboard is Hungarian layout. I will check out the `master` after work.

[2022-07-19 09:04] mark2185 commented on #2040
My guess is that the combination of `altGr + <something>` is the underlying issue here.

This cropped up [once before](https://github.com/jesseduffield/lazygit/issues/1955), actually.

@jesseduffield would you happen to have any insight whether this is an issue of a dependency such as `gocui` or?

[2022-07-19 10:38] jesseduffield commented on #2040
yeah it sounds like a gocui issue: quite possibly the same issue that https://github.com/jesseduffield/lazygit/issues/1516 talks about (there's a PR up to address that but it's stale)

[2022-07-20 08:21] briandipalma commented on #1801
worktrees and bare repos are two different issues. I use worktrees but with a standard clone of a repo. I don't see what value a developer gets from a bare clone.

[2022-07-20 10:51] mark2185 commented on #1995
@lougreenwood `v0.35` is out, feel free to take it for a spin!

[2022-07-20 17:05] joshmedeski opened #2042 "Release v0.35 Notes Typo"
Just a heads up, there is a typo in the release notes.

[code]

The config for git graph commits should be `git` (not `gui`). If you look at the sample config in the docs it's correct.

[2022-07-20 21:04] chenrui333 opened #2043 "lazygit 0.35 regression test failure"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. download lazygit 0.35
2. run the test
[code]

You can see

[code]

**Expected behavior**
pass

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: macOS
 - Lazygit Version 0.35
 - The last commit id if you built proj

[2022-07-20 22:38] jesseduffield commented on #2042
Good pickup, fixed :)

[2022-07-20 22:38] #2042 closed

[2022-07-20 22:47] jesseduffield commented on #2043
instead of `LAZYGIT_CLIENT_COMMAND` we now use `LAZYGIT_DAEMON_KIND`. The following works fine:
[code]

Is this a test that lives in that homebrew repo?

[2022-07-20 23:10] natematykiewicz commented on #2043
Yup. Sounds like the problem is this line: https://github.com/Homebrew/homebrew-core/blob/master/Formula/lazygit.rb#L27

[2022-07-20 23:32] pojiro opened #2044 "cannot install lazygit v0.34 and v0.35 by go install"
**Describe the bug**

cannot install lazygit v0.34 and v0.35 by go install,.
I'm not familiar with golang, this might be relates to tag name.

tag name should be v0.35.0 ?

refs) https://go.dev/doc/modules/version-numbers

**To Reproduce**

[code]

**Expected behavior**

It would be nice to install v0.35, happy new release!!

[2022-07-21 00:35] jesseduffield commented on #2043
I've pushed a fix now

[2022-07-21 01:02] jesseduffield commented on #2044
Ah good pickup. I've just pushed tag v0.35.0 (and cancelled the CI build just because v0.35 seems to work fine for everywhere else). You should now be able to install as expected (but might need to use GOPROXY=direct while the proxy servers update)

I'll be sure to include the patch number in all future releases.

[2022-07-21 01:13] pojiro commented on #2044
Thanks for your quick reply!!

Now it works!!
[code]

[2022-07-21 01:13] #2044 closed

[2022-07-21 01:19] jesseduffield commented on #2044
no worries :)

[2022-07-21 02:30] smartding commented on #1787
v0.35 can now be installed with go install, while v0.33 and v0.34 still can't.

[2022-07-21 02:30] #1787 closed

[2022-07-21 09:37] mark2185 commented on #1995
@serhez how about now?

[2022-07-21 12:23] serhez commented on #1995
@mark2185 still getting v0.34 😞 I am guessing it's on `homebrew`'s side to update the tap?

[2022-07-21 13:11] mark2185 commented on #1995
No idea, [homebrew says it's at](https://formulae.brew.sh/formula/lazygit) `v0.35`.

[2022-07-21 13:43] vigoux opened #2045 ""Commit changes using git editor" does not respect "os.editCommand""
**Describe the bug**

The `Commit changes using git editor` functionnality does not respect what the user specified in the configuration file under `os.editCommand` (or `os.openCommand`)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a configuration file where `os.editCmd` is different that `git config core.editor`
2. Open `lazygit`
3. Hit `C`
4. Observe

**Expected behavior**

Lazyg

[2022-07-21 13:52] vigoux commented on #2045
From here it looks like it is need to change [this function](https://github.com/jesseduffield/lazygit/blob/c087dca60a5d1ba807c01713710d383f10868696/pkg/commands/git_commands/commit.go#L64) to prepare the `COMMIT_MSG` off the line, and tell that to git using `git commit --file=<path to file>`.

[2022-07-22 06:31] Smalldy opened #2048 "The mouse click response area does not match the text position on CHINESE language version"
**Describe the bug**
The mouse click response area does not match the text position.

Specifically, they are
- 分支页面
- 远程页面
- 标签页面

if you click the '标' of '标签页面', the '远程页面' will be clicked!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main page
2. Click on '标签页面'
3. See error

**Screenshots**
![图片](https://user-images.githubusercontent.com/14820063/180377092-ada930e6-3e29-41f0-b125

[2022-07-22 11:16] Ryooooooga commented on #2048
https://github.com/jesseduffield/gocui/pull/20

[2022-07-22 17:39] gentzeng opened #2049 "`:` won't open custom command context immediately"
**Describe the bug**
When starting lazygit, I cannot use the `:` key to open the custom command context.
However, when I change the repo with `ctrl-r, enter` and then swich immediately back to the first repo, again by typing `ctrl-r, enter`, the `:` key suddenly works.

**To Reproduce**
1. type `lazygit` into console.
1. type `:` -> does not work
1. type `ctrl-r` to open repo change context
1. typ

[2022-07-22 17:44] Dich0tomy opened #2050 "fatal: Unable to create `../index.lock`: File exists."
For some time now lazygit seems to bug all the time. I'm 100% sure that there are no other programs running in the background that could do some git operations.

I try to open lazygit from the terminal, but everytime I try to do any operation after that I get the error about the git lock. So I remove it by hand `rm -rf .git/index.lock` and get back to lazygit, same thing.

It doesn't matter if I d

[2022-07-22 19:53] mark2185 commented on #2050
Do you by any chance have the automatic fetch enabled? (that's the default)
Maybe it hangs and causes said issues.

[2022-07-22 20:05] mark2185 commented on #2049
Could you try a different terminal emulator?

I tried reproducing it within `ubuntu:22.10` docker, but couldn't, does it happen for you there as well?

[2022-07-22 20:06] #2043 closed

[2022-07-22 20:11] gentzeng commented on #2049
The issue occurs in gnome-terminal, xterm, guake.

[2022-07-22 20:22] mark2185 commented on #2028
I recommend creating a menu under `M` in which we'd have two options:
- `m` would merge as usual
- `s` would merge with `--squash`
- `n` for `--no-commit`,
- `e` for `--edit`

I don't know, surely people will think of something.

@jesseduffield what do you say about moving this to the `m` key, and having the current `m` (`Rebase options`) appear only when in a `rebase/merge` context? Is that easil

[2022-07-23 02:16] carjuan commented on #1995
can confirm, 0.35 is up, running and working as expected now! Thank you guys @jesseduffield @mark2185

[2022-07-23 02:16] #1995 closed

[2022-07-23 11:35] B4mbus commented on #2050
@mark2185 I didn't change any settings, so yes, that's probable that I have it enabled. I'll try to disable it and I'll come back with the results.

[2022-07-23 15:50] B4mbus commented on #2050
@mark2185 I tried. It doesn't help same issue.

[2022-07-24 14:05] mark2185 commented on #2003
How would `SelectedPath` differ from the `SelectedFile`, would it be absolute instead of relative, or?

The `SelectedDir` might come in handy for accepting all hunks from a certain source for the selected directory, as mentioned [here](https://github.com/jesseduffield/lazygit/discussions/2052).

[2022-07-24 22:52] jesseduffield commented on #2003
SelectedFile contains an actual File struct so you can access public fields on it, but if you've selected a directory then SelectedFile will be nil. I'd make the SelectedPath use the same form of path as whatever SelectedFile currently uses (I assume relative). If we need an absolute form we can introduce `SelectedAbsPath`.

Does introducing `SelectedDir` actually give us anything beyond the path

[2022-07-25 01:22] Smalldy opened #2053 "For portrait ?"
**Topic**
Are you interested in adding the portrait mode ? Simply change the ui layout.

[2022-07-25 06:35] mark2185 commented on #2049
Does this happen with the US keyboard layout?

[2022-07-25 06:41] mark2185 commented on #2034
I'm not aware of a way to do this even through the CLI, but the closest I can think of is interactive rebase where each commit has the `reword` action.

@jesseduffield I know that you mentioned in the `15 lazygit features in under 15 minutes` that ["you can't do a reword [...] we haven't got that feature yet"](https://youtu.be/CPLdltN7wgE?t=220), was there a technical reason blocking it, or was it

[2022-07-25 07:25] mark2185 commented on #2003
Yeah, no, `SelectedPath` would offer more than enough, I didn't have a clear enough picture of what would `SelectedPath` encompass, but now it's cleared up!

[2022-07-25 08:43] jesseduffield commented on #2034
@mark2185 there's a good chance it's much easier to implement now than it was back then (thanks to being able to suspend the application more easily and switch to a subprocess)

[2022-07-25 09:25] mark2185 commented on #1959
I'd put this behind a menu, like we do for copying attributes for `commits`.

[Here's the relevant PR](https://github.com/jesseduffield/lazygit/pull/1833) to aid whoever decides to pick this up :)

[2022-07-25 15:30] mosqu1t0 opened #2054 "ignoreFile keyblinding doesn't work"
**Describe the bug**
A clear and concise description of what the bug is.
ignoreFile keyblinding doesn't work.
After upgrading lazygit to 0.35, i found that `ignoreFile` keyblinding is conflicted with `nextBlock-alt`.

**To Reproduce**
Steps to reproduce the behavior:
1. map ignoreFile keyblinding to `u`
2. map nextBlock-alt keyblinding to `i`
3. scroll to files block
4. press `i`
5. then it start

[2022-07-25 22:45] jesseduffield commented on #2054
The solution here is that we should make those in-menu keybindings configurable too, would you agree?

[2022-07-26 02:17] mosqu1t0 commented on #2054
That will be nice, thanks a lot

[2022-07-26 10:32] ofavre opened #2055 "Copr builds fail on some distro probably lacking go 1.18 generics support"
A clear and concise description of what the bug is.
In Copr some builds fail: [latest 4685323 build](https://copr.fedorainfracloud.org/coprs/atim/lazygit/build/4685323/)

* epel-7-x86_64
* epel-8-x86_64
* epel-9-aarch64
* epel-9-x86_64
* fedora-35-aarch64
* fedora-35-x86_64

Here are the logs for the last one: https://download.copr.fedorainfracloud.org/results/atim/lazygit/fedora-35-x86_64/0468532

[2022-07-26 12:20] Wulfheart opened #2056 "Files in folder starting with an dot not shown in files for staging"
**Describe the bug**
Files in folders that start with an `.` are not displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Add a named `.azuredevops` on the root level of your project
2. Add a file in this folder
3. Open lazygit

**Expected behavior**
I expect the files in that folder to be shown in the staging panel.

**Desktop (please complete the following information):**
 - OS: Windo

[2022-07-26 12:23] mark2185 commented on #2056
Does the file appear when you use `git` through the `CLI`, namely `git status` ?

[2022-07-26 12:38] Wulfheart commented on #2056
@mark2185 Yes.

[2022-07-26 12:52] mark2185 commented on #2056
Could you try installing `lazygit` with `go install github.com/jesseduffield/lazygit@latest`, just to rule out a possible outdated version? It should be `v0.35`.

[2022-07-26 12:57] Wulfheart commented on #2056
That's what I did last Friday. Is there any way to obtain the version number?

[2022-07-26 13:01] mark2185 commented on #2056
Alright, let's see what's next.

Could you add a file (not folder) with a leading `.`?
Does it appear in `lazygit` if you stage it manually through the `CLI`, i.e. are only `unstaged` folders affected?

[2022-07-26 13:08] Wulfheart commented on #2056
I have just a `.gitignore` file.
It is not shown when I add a file manually with git add .test (this file even has some content).
It works fine for other files which don't start with a dot.

It also affects file in the folder with a dot after this folder has been committed and new files (with content) are added within that folder.

[2022-07-26 13:14] mattmiller-daxko commented on #2050
I'm getting the same issue and I would love a fix or a workaround

[2022-07-26 13:16] mark2185 commented on #2050
@mattmiller-daxko could you specify your environment? E.g. OS, lazygit version?

[2022-07-26 19:13] mattmiller-daxko commented on #2050
I'm not using WSL. I'm on Windows 11 21H2 using Windows Terminal with [cmder mini](https://github.com/cmderdev/cmder) as my shell. Lazygit commit=367b0d331836c90c015bf0c45f88612f3d94d08a, build date=2022-07-20T09:27:56Z, build source=binaryRelease, version=0.35, os=windows, arch=amd64

[2022-07-26 19:53] mark2185 commented on #2050
Does the same happen with `v0.34`?

[2022-07-26 19:54] ryand67 commented on #1959
I'll take this one if it's still wanted and available :)

[2022-07-26 21:22] mattmiller-daxko commented on #2050
Not that I ever noticed. It only started happening after upgrading to 0.35

[2022-07-26 21:40] mark2185 commented on #2050
Then it might be a regression. @mattmiller-daxko  would you be willing to downgrade to `v0.34` to see if it keeps happening? Same goes for @B4mbus

I seem to recall something about subprocesses being changed, but can't put my finger on it.

cc @jesseduffield for visibility and ideas

[2022-07-26 21:54] mattmiller-daxko commented on #2050
I have downgraded to `v0.34` and I don't seem to have this problem anymore. I used `v0.34` for several weeks before upgrading without any issues so I think it probably is a regression but I will leave another comment if I run into this issue again.

[2022-07-27 07:30] magnusrodseth opened #2057 "Fuzzy search for branches, both local branches and remote branches"
**Is your feature request related to a problem? Please describe.**

I find myself using quite a lot of time step-by-step iterating through all living remote branches when working in a larger team.

**Describe the solution you'd like**

I would like to search for branches using fuzzy search. Personally, this is most useful for me regarding remote branches, but I imagine the implementation for local

[2022-07-27 07:36] mark2185 commented on #2057
Was this marked as `completed` by accident or?

[2022-07-27 10:17] Wulfheart commented on #2056
I figured it out. It had something to do with the `statusLines` in https://github.com/jesseduffield/lazygit/blob/367b0d331836c90c015bf0c45f88612f3d94d08a/pkg/commands/loaders/files.go#L104. I had a warning at the top of the status output which caused the output of status lines to start with `warning` which didn't allow a proper parsing. Therefore it is not an issue of folders starting with a dot.

[2022-07-27 10:23] mark2185 commented on #2056
Great, thanks for narrowing it down!

That's actually what I was aiming at with:

- Do you have a .gitattributes file?
- Is that the only file that should appear in the files tab? Could you add **more**?

It's a replicate of #1788 and #1928, thanks for reporting! Will mark it as somewhat higher priority! Would you be interested in taking a shot?

[2022-07-27 10:25] Wulfheart commented on #2056
No. I don't have one. I had an issue with a submodule.

[2022-07-27 11:52] zoer commented on #2035
@mark2185 do you have any extra options for git paging in your `config.yml`?
If yes try to disable them.

[2022-07-27 12:19] mark2185 commented on #2035
I assume that was intended for @Nikola-Milovic ?

[2022-07-27 12:27] zoer commented on #2035
@mark2185 yes, sorry :)

[2022-07-27 16:56] nullishamy opened #2058 "When rewording a merge commit with the editor, lazygit calls git incorrectly"
**Describe the bug**
When rewording a merge commit using the editor, lazy git calls git with an incorrect set of arguments. This results in the operation failing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a merge commit
2. Reword it with the editor
3. Observe failed editor launch

**Expected behavior**
The editor should open without issue, allowing a reword.

**Screenshots**
![i

[2022-07-27 16:57] nullishamy commented on #2058
Note: it works fine using the builtin editor.

[2022-07-28 11:46] aaronmcadam commented on #925
I've tried to apply the above config, but I still get the default pull command. The docs don't include this command either, has it been removed?

[2022-07-28 11:52] mark2185 commented on #925
What does the log say, which command is run in the background when you try pulling?

You can open it by pressing `@` and then choosing `Focus command log`

[2022-07-28 11:57] aaronmcadam commented on #925
With the following config:
[code]

The command log says:
[code]

[2022-07-28 12:03] mark2185 commented on #925
Yeah, I can't find the option in the `configuration.md` anymore, I guess it's gone?

You could go to the `Remotes` tab (in the branches panel press `]`) and choose the branch you wish to rebase onto.

Or you could configure it through your `gitconfig`:
[code]

[2022-07-28 12:23] aaronmcadam commented on #925
Thanks a lot for looking into it @mark2185. I've updated my `gitconfig` instead, which works well for now. Thanks!

[2022-07-28 16:22] jslmorrison opened #2060 "rewording commit"
**Describe the bug**
Characters stripped from front of commit message

**To Reproduce**
Steps to reproduce the behavior:
1. Pick a commit in reflog
2. Press 'r' on keyboard
3. Dialog box appears in order to edit commit
4. Original commit has (10) chars stripped from start

**Expected behavior**
Original commit should be presented unchanged before rewording.

**Desktop (please complete the followin

[2022-07-28 16:24] jslmorrison commented on #2060
Same occurs when pushing branch to remote for first time, branch name has chars stripped from front.

[2022-07-28 18:35] B4mbus commented on #2050
@mark2185 I was running lazygit 0.34 all along, so the version is probably not a problem for me.

[2022-07-28 18:44] mark2185 commented on #2060
Just a note: the message isn't actually changed, it's just the view that's shifted. Try holding `Left` and you'll see that everything is there.

It's only a visual bug and I encounter it daily, it is annoying, but nothing worrisome.

[2022-07-28 18:46] mark2185 commented on #2050
Uhhh, well then... try updating? 😅

[2022-07-28 18:46] B4mbus commented on #2050
@mark2185 Yeah I just upgraded it, nothing wrong so far, I'll report in a day or two.

[2022-07-28 18:56] timsofteng opened #2061 "yadm repo failed"
**Describe the bug**
When I try to open lazygit in `yadm` repo directory in fails.

Here is the log

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install `yadm`.
2. Do `yadm init`
3. Go to `/home/user/.local/share/yadm/repo.git/`
4. Try to invoke `lazygit`

**Expected behavior**
Lazygit should work as in ordinary git repo.

**Desktop (please complete the following information):**

[2022-07-28 19:00] mark2185 commented on #2061
Please update to `v0.35` and try again.

[2022-07-28 21:43] c02y commented on #1311
delta makes larygit crash, it is not easy to reproduce it, but it happens 100% when I'm navigating the list in the `Files` panel when there are staged/unstaged windows at the same time on some cases (I think it depends on the content in staged/unstaged windows, since I tried another staged/unstaged windows, it doesn't crash), my config is from https://github.com/jesseduffield/lazygit/blob/master/d

[2022-07-28 21:44] c02y commented on #1688
Related: https://github.com/jesseduffield/lazygit/issues/1311#issuecomment-1198662097

[2022-07-28 23:14] nullishamy opened #2063 "The ability to view an entire commit's patch without going through each file."
**Is your feature request related to a problem? Please describe.**
It's quite annoying having to go through each file in a commit when attempting to view its changes, especially with commits that change a non trivial amount of files.

**Describe the solution you'd like**
It would be nice to have a bind to switch into the patch menu when in the Commits pane.

**Describe alternatives you've consider

[2022-07-29 04:37] mark2185 commented on #2063
Could you post your `.gitconfig` and your `lazygit/config.yml`?

Selecting a commit in the `Commits` (just highlighting it, not pressing `Enter`) should enable you to scroll through the entire diff with `J/K`, at least that's what it does for me.

[2022-07-29 06:00] mark2185 commented on #2058
For the time being, does the `merge commit` you're trying to reword happen to be the same as `HEAD`?

If so, could you give #2065 a spin to see if it helps?

[2022-07-29 06:22] sportshead commented on #199
@jesseduffield currently <kbd>Up</kbd> jumps to the start of the commit message, while <kbd>Down</kbd> does nothing. Since <kbd>Home</kbd> already jumps to the start, what do you think about <kbd>Up</kbd>/<kbd>Down</kbd> for navigating through commit messages?

[2022-07-29 06:42] mark2185 commented on #2035
@Nikola-Milovic do you use the `delta` pager by any change? [Related](https://github.com/jesseduffield/lazygit/issues/1688)

[2022-07-29 07:03] Nikola-Milovic commented on #2035
@mark2185 yeah

[code]

[2022-07-29 14:30] #470 closed

[2022-07-29 14:39] TamasBarta commented on #508
Is there a way to use only the 16 colours my terminal has? That way, it's enough to set my terminal up to follow system settings. I don't know if it would mean usability issues with Lazygit, but I'd definitely prefer that (with every single terminal app).

[2022-07-29 20:56] nullishamy commented on #2058
Yeah, it was the HEAD commit. I'll try that PR now, do you have instructions on how to grab it? Will i just clone & compile or is there another process?

[2022-07-29 20:58] nullishamy commented on #2063
Ah, perfect, that works fine. Im not sure if I missed something in the docs or what, but I could not find out how to do that lol.

[2022-07-29 20:58] #2063 closed

[2022-07-29 21:04] nullishamy opened #2066 "Unexpected error when opening lazygit in the home directory"
**Describe the bug**
When opening lazygit in the home directory (which has no git repo), lazygit throws an error instead of using the regular "no repo" dialog.

**To Reproduce**
Steps to reproduce the behavior:
1. Cd to `~`
2. Launch lazygit
3. Observe

**Expected behavior**
The "Not in a git repository. Create a new git repository? (y/n): " prompt should appear

**Desktop:**
 - OS: Arch
 - Lazygi

[2022-07-29 21:06] mark2185 commented on #2058
Just clone it, be sure to check out the branch, and run it with `go run main.go`.

[2022-07-29 21:11] mark2185 commented on #2063
Great!

By pressing `x` in any panel a pop-up with all of the keymaps will appear.

By searching for `scroll` with `/scroll<ENTER>` you will find:
- `pgup scroll up main panel`
- `pgdown scroll down main panel`

The `J` and `K` are just alternative mappings.

[2022-07-29 21:11] nullishamy commented on #2058
Got it, also in my testing today I am realising that the merge could not have been HEAD, because when it is actually HEAD, lazygit just runs `git commit --amend` instead of the previously posted `git rebase`.

[2022-07-29 21:13] nullishamy commented on #2058
That branch did not fix the issue.

[2022-07-29 21:14] nullishamy commented on #2058
Strangely, it now complains that rewording is not available for GPG users, which was not the case when i last tested. I did testing in `/tmp` the last time and have since rebooted, so i'm not sure if that's the issue?

[2022-07-29 21:19] mark2185 commented on #2058
When using editor to reword it _always_ starts an interactive rebase. It shouldn't be so, _but hey_.

I've had issues using my editor in `/tmp` for some reason, never got to the bottom of it, though. I'd advise cloning the repo somewhere else in your `$HOME`.

Uhhh... now it literally runs `git commit --allow-empty --amend --only`, does that work when invoked from the CLI?

[2022-07-29 21:21] mark2185 commented on #2066
Could you please post your `~/.config/lazygit/state.yml`?

Does it occur in other directories that are not `git` repositories?

[2022-07-29 21:24] nullishamy commented on #2066
In other non-git dirs, it just runs the regular prompt. ```yml
lastupdatecheck: 0
recentrepos:
- /tmp/git-test
- /tmp/lazygit
- /home/amy/.config/nvim
- /home/amy/Projects/projects-bot
startuppopupversion: 5
customcommandshistory:
- q
hidecommandlog: false
[code]

[2022-07-29 21:25] nullishamy commented on #2058
I can try moving the repo, just to rule it out.

The command mentioned does work from the CLI, though of course it just redoes HEAD, which worked anyways.

[2022-07-29 21:26] nullishamy commented on #2058
Very strange behaviour indeed.

[2022-07-29 21:26] mark2185 commented on #2058
Not with the editor it didn't :)

[2022-07-29 21:30] nullishamy commented on #2058
That was an error in my part:

The amend command works, including with the editor, its the rebase thats failing.

[2022-07-29 21:37] nullishamy commented on #2058
To summarise:

Reword HEAD (builtin): Works (uses --amend)
Reword HEAD (editor): Works (uses --amend)

Reword not HEAD (builtin): Does not work, complains about GPG (uses rebase)
Reword not HEAD (editor): Does not work, git errors (uses rebase)

[2022-07-29 21:41] mark2185 commented on #2058
On `master` it didn't work, on the `PR` it _should_ work.

Alright, then we need a bit deeper rework. Thanks for the report!

If you'd be willing to take a dive, please let us know and feel free to visit us on slack if you need any pointers or have questions!

[2022-07-29 21:44] nullishamy commented on #2058
Ah, right, yeah. The reword on HEAD works fine on the PR branch. I can take a look now, I don't have much go knowledge but it should be enough to make this work. Should I just PR / push onto the existing fix branch?

As for slack, I'll need to grab an account, and I'll see you there.

[2022-07-29 21:46] mark2185 commented on #2066
Your `$HOME` wouldn't happen to be a _bare_ `git` repo, would it? That's not currently supported.
I'm not sure what minimal set of folders/files is necessary for a bare `git` repo, but the usual suspects are `HEAD`, `config`, `description` and a handful of directories.

Would you be willing to build `lazygit` manually in order to get a more informative stacktrace?

[2022-07-29 21:48] nullishamy commented on #2066
Ah yeah, it had a repo from some stuff I did ages ago, works now. Would it be possible to add more info to the error? Seems like that would benefit people.

[2022-07-29 21:48] mark2185 commented on #2058
I believe you don't have the permission to do that, but you can create a fork.

I don't think knowledge of `go` (or lack thereof) will be a problem here, `git` intricacies might be, though.

[2022-07-29 21:50] mark2185 commented on #2066
It sure could, all one needs to invoke is `git rev-parse --is-bare-repository` to see if we need to try and load the current directory.

Would you like to contribute, maybe? This seems like a trivial task, compared to the `git rebase` thingy.

[2022-07-29 22:09] nullishamy commented on #2066
Sure, I can open a PR.

[2022-07-29 22:57] nullishamy commented on #2066
Done.

[2022-07-30 03:02] kkHAIKE commented on #1942
maybe fixed in 0.35

[2022-07-30 06:15] mark2185 commented on #2000
@LenglBoy version `v0.35` was released in the meantime, does the issue still occur?

[2022-07-30 06:17] mark2185 commented on #2066
Thanks!

Just for future reference - it's better to leave it to `github` to close up the issue when the PR merges because technically this issue wasn't solved yet since it didn't hit `master`. I doubt anyone will stumble upon this issue in the meantime, but still.

[2022-07-30 06:24] mark2185 commented on #2003
Uhhh... we already have `SelectedPath`, it's just not documented? [Lookie here](https://github.com/jesseduffield/lazygit/blob/367b0d331836c90c015bf0c45f88612f3d94d08a/pkg/gui/services/custom_commands/session_state_loader.go#L29)
[code]

I'll add it to the `README`.

[2022-07-30 06:30] mark2185 commented on #1939
It seems there are issues with the `delta` pager.

If this is still a problem, please consider switching until it gets fixed.

[2022-07-30 06:50] mark2185 commented on #1854
@jaredyam does the issue still occur? The fix should be included in `v0.35` which landed last week.

[2022-07-30 09:45] jesseduffield commented on #2003
Oh my god that's embarrassing!

[2022-07-31 06:20] #1163 closed

[2022-07-31 06:24] jesseduffield commented on #1271
I'm gonna close this off because in 0.35 we by default use a blue background on the selected line. Lemme know if I've missed anything

[2022-07-31 06:24] #1271 closed

[2022-07-31 06:34] jesseduffield commented on #2048
closing as fixed on master

[2022-07-31 06:34] #2048 closed

[2022-07-31 09:19] strboul opened #2074 "Invalid gitconfig throws an unhandled error"
**Describe the bug**

Here's a broken `~/.gitconfig` file:

[code]

Then start `lazygit`:

[code]

**Expected behavior**

An message from `lazygit`, saying something like `invalid gitconfig: bad boolean config value ''foo'' for 'core.autocrlf'`, would be better.

**Desktop (please complete the following information):**
 - OS: Arch Linux
 - Lazygit Version: `commit=v0.35, build date=2022-07-20T10:2

[2022-07-31 09:30] #1949 closed

[2022-08-01 06:43] peppy commented on #1917
This one's pretty frustrating, have had it happen a few times a week.

[2022-08-01 07:11] mark2185 commented on #2056
Do you by any chance know _how_ did that warning appear, i.e. what caused it?

Because where I'm looking, it should have been filtered out if it started with `warning` - [click](https://github.com/mark2185/lazygit/blob/a1e713f383f3361b33828f49790686489f7507cf/pkg/commands/loaders/files.go#L53)

[2022-08-01 07:12] lawrence-laz commented on #1758
I have a kind of related issue. I am actively using two keyboard layouts, which have different characters mapped to the top number row:
 - English: <kbd>1</kbd><kbd>2</kbd><kbd>3</kbd><kbd>4</kbd><kbd>5</kbd>
 - Lithuanian: <kbd>ą</kbd><kbd>č</kbd><kbd>ę</kbd><kbd>ė</kbd><kbd>į</kbd>

These keys are used to jump to blocks/panels as per default config:
[code]

The problem is that when I am in Lithu

[2022-08-01 10:25] jesseduffield commented on #1439
This is fixed in https://github.com/jesseduffield/lazygit/pull/2076

While I have the chance @jbrains I wanna say I've come across your blog posts on testing and they are phenomenal. Thanks for writing them!

[2022-08-01 10:26] #1439 closed

[2022-08-01 10:26] jesseduffield commented on #1162
This is fixed in https://github.com/jesseduffield/lazygit/pull/2076

[2022-08-01 10:26] #1162 closed

[2022-08-01 10:49] somera opened #2078 "New install script: install_update_linux.sh"
**New install script**
There is a nice install possibility for Lazydocker install procedure: https://github.com/jesseduffield/lazydocker/blob/master/scripts/install_update_linux.sh

Could this be added for lazygit too?

[2022-08-01 12:19] jesseduffield commented on #1917
Sorry for neglecting this one @peppy . Fixed by https://github.com/jesseduffield/lazygit/pull/2079

[2022-08-01 12:48] batusai513 opened #2080 "Bad file descriptor error after updating to v0.35"
**Describe the bug**
when navigating though the changed files with j/k, the application closes and shows this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. open lazygit on a repository with changes
2. Try to navigate the changed files in the Files window with j/k (scroll down or up really fast or keep the key pressed)
4. See error

* I cannot reproduce this error on all repo

[2022-08-01 13:15] karlovsek commented on #1353
Hi, I get the same error.
To reproduce it, run lazygit, then press 1 (**Status** is selected) or 5 (**Stash** is selected) and then 'x' (the Menu opens), and then '[' or ']' -> crash.
OS: Linux, RHEL 7.4
Lazygit Version 0.35

`lazygit --version
commit=367b0d331836c90c015bf0c45f88612f3d94d08a, build date=2022-07-20T09:27:56Z, build source=binaryRelease, version=0.35, os=linux, arch=amd64`

[code]

[2022-08-01 13:27] mark2185 commented on #2080
Do you use the `delta` pager by any chance?

[2022-08-01 13:32] mark2185 commented on #1353
@karlovsek do you by any chance use a non-US keyboard layout?

[2022-08-01 13:44] jbrains commented on #1439
I have the fix! Thank you.

[2022-08-01 14:40] kentrosi commented on #1615
Could this include self-hosted gitea as well? Some kind of `gitea.domain.tld`

https://github.com/jesseduffield/lazygit/blob/990dc8c4ea1133a58d5c863abd543ee5cde1e700/pkg/commands/pull_request.go#L28-L43

[2022-08-01 20:40] mattmiller-daxko commented on #2050
I'm still having this issue with `v0.35`. However, downgrading to `v0.34` seems to solve it for me. I even tried disabling automatic refresh as suggested above but that did not solve the problem.

[2022-08-01 20:50] Ramilito commented on #1052
A little late to the party but setting 'showUntrackedFiles no' worked for me
[code]

[2022-08-01 23:05] jesseduffield commented on #2050
I'm getting this issue too on v0.35. Quite annoying!

[2022-08-01 23:10] Ryooooooga commented on #2056
I have successfully reproduced the issue on a mac.

[code]

[2022-08-01 23:21] #1917 closed

[2022-08-02 00:15] B4mbus commented on #2050
I have 0.35 on both windows and linux and the issue doesn't occur... I don't know.

[2022-08-02 09:41] batusai513 commented on #2080
@mark2185 I use `delta` pager, yes

[2022-08-02 10:14] mark2185 commented on #2080
There are issues with it currently, if you could use another pager, it would probably solve your problems. We are working on fixing it.

[2022-08-02 10:28] fschoenfeldt commented on #1924
I totally agree, it makes lazygit look chunkier and busier.

I'd like to deactivate the scrollbars aswell / or maybe just make em not so thick.

[2022-08-02 11:17] pindab0ter opened #2083 "Unable to rebind quit key"
**Describe the bug**
When I rebind the 'quit' key to something else, the default 'quit' key (<kbd>q</kbd>) still quits the program.

**To Reproduce**
Steps to reproduce the behavior:

1. Add the following to `config.yaml`:
[code]

2. Start `lazygit`
3. Press <kbd>q</kbd>
4. Application quits even though I rebound it to not be <kbd>q</kbd>.

**Expected behavior**
The program should respect the key

[2022-08-02 22:52] Ryooooooga commented on #2083
[code]

[2022-08-03 05:45] mark2185 commented on #2050
_Welp, fun while it lasted_

![image](https://user-images.githubusercontent.com/8365241/182532903-a02893e3-f7b5-4289-86bb-6d8fb7974724.png)

[2022-08-03 07:39] B4mbus commented on #2050
So it seems the issue is not version related and is somewhere else in the deepest corners of `lazygit`.
Again - I'm using `lazygit 0.35` on windows, and sometimes `lazygit 0.35` on WSL2 and so far so good, no errors no more. For others, they appear.

[2022-08-03 07:45] #2083 closed

[2022-08-03 08:28] mark2185 commented on #2074
Would you be willing to take a shot at this, maybe? Seems like a great first issue.

Feel free to say no if it's not your cup of tea.

[2022-08-03 13:40] Ryooooooga commented on #2050
It happened in my environment (macOS) even with v0.34.

The cause seemed to be tmux's `pane-border-format` (with git status) that was updating every second.

[2022-08-04 05:52] jmfayard opened #2084 "Command palette + safer learning mode asking for confirmation"
**Is your feature request related to a problem? Please describe.**

I have written about lazygit in [ 15 Command Line Tools which Spark Joy in Your Terminal ](https://dev.to/jmfayard/15-command-line-tools-which-spark-joy-in-your-terminal-45ln) but I'm still a bit afraid to use it.

It takes time to learn the shortcuts with confidence, and in the meantime I could be git messing stuff by not using t

[2022-08-04 06:45] mark2185 commented on #2084
Well it sorta kinda is like that, it's just not fuzzily searchable. You can search for a pattern with `/<pattern>` and press `<Enter>` on a command/mapping you want to execute.

[2022-08-04 07:01] jmfayard commented on #2084
I removed this part

~~I would like the `x : help` command to be executable so that it can work as a command palette like in Visual Studio Code or IntelliJ~~

For some reason I thought it doesn't work, but it does, thanks Mark

[2022-08-04 07:08] mark2185 commented on #2084
As for the learning mode, we try to have all of the "destructive" operations behind a menu or a confirmation panel so one cannot just force push to `master`.

The actions that are easily revertible (adding files, switching branches, creating new branches) are not guarded in that sense because they are somewhat "safe".

Did you by any chance encounter a mapping that you think _should_ ask for confi

[2022-08-04 08:53] jmfayard commented on #2084
I will try to use it further and come up with specifics.

[2022-08-04 09:46] pvonmoradi opened #2085 "Provide an `--unshallow` option for fetch or pull"
**Is your feature request related to a problem? Please describe.**

1- `git clone --depth=1 some-heavy-repo`
2- Now, we can't pull the repo completely from lazygit. We should `git pull|fetch --unshallow` from command-line.

**Describe the solution you'd like**

Provide an option to do an `--unshallow` fetch or pull

[2022-08-04 09:52] mark2185 commented on #2085
How often is this done? Once per a clone, only if it's a shallow one in the first place?

I advise to `execute custom command` with `:` and run `git fetch --unshallow`.

[2022-08-05 06:55] strboul commented on #2074
@mark2185 Good idea! I'll send a PR soon :coffee:

[2022-08-05 08:09] c02y commented on #1939
Not really, I tried `diff-so-fancy` (use config from https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Pagers.md） , it doesn't show colors of diffs as well when I switch focus into `Unstaged/Staged Changes` windows, and more importantly, lazygit crashed like 100% when I exit from this focus using `Escape`

[code]

I tried `ydiff`  (use config from https://github.com/jesseduffield/la

[2022-08-07 02:49] #1898 closed

[2022-08-07 03:01] #1890 closed

[2022-08-07 06:54] BenGH28 opened #2090 "SSH key passphrase area isn't empty on startup"
**Describe the bug**
When I go to push a commit to my repo the passphrase area has `*`'s the length of the passphrase area but I can still input my password just fine.  To be clear this is just visual, the password box takes my password just fine, I just can't see it.

**To Reproduce**
Steps to reproduce the behavior:

1. Commit to a repo
2. Push to the repo using ssh
3. See error

**Expected beha

[2022-08-07 07:13] strboul commented on #1609
A similar bug occurs when providing a path that's not a git directory:

[code]

[2022-08-07 07:47] mark2185 opened #2091 "Crash when given path is not a git directory"
A similar bug occurs when providing a path that's not a git directory:

[code]

_Originally posted by @strboul in https://github.com/jesseduffield/lazygit/issues/1609#issuecomment-1207346441_

[2022-08-07 07:48] mark2185 commented on #1609
@strboul I opened up a new issue #2091 with your report, the original issue is solved in `v0.35`.

[2022-08-07 07:48] #1609 closed

[2022-08-07 08:54] mark2185 commented on #2090
I think this is intended, for privacy purposes. Just like `sudo` doesn't echo back `*` for each character you input.

[2022-08-07 11:19] Hrle97 opened #2095 "Automatically push root git repository on submodule push"
**Is your feature request related to a problem? Please describe.**
I have a repository that has a submodule and a lot of the time I'm just commiting and pushing the submodule which is okay but then I have to commit and push the changes to the root repository manually. It would be nice if I could somehow do this without manual intervention. I don't know if this is already supported or if `lazygit`

[2022-08-07 12:04] mark2185 commented on #2095
Well you can enter the submodule by pressing `Enter` on it and exit by pressing `Escape`, does that help?

Have you tried running it from within `lazygit` by pressing `:`?

[2022-08-07 15:13] mark2185 commented on #862
@caasi-dev could you try this on `v0.35`? I can't reproduce it, `lazygit` does load up the `/data/dev/dotfiles/gitconfigwork` if I'm in `/data/dev/WORK/`, everything seems to work as expected.

[2022-08-07 15:24] mark2185 commented on #815
Could we add a filter for this? Just like we have for `staged`/`unstaged` files, we could add something like `show only current directory` which can than be provided to the following command:
[code]

[2022-08-07 16:44] mark2185 commented on #880
This should be solved in `v0.35`? The underlying error about not being able to find a `.git` directory, not the plumbing approach.

@facundo-cachan could you give the latest release (or `master`) a spin?

[2022-08-07 16:49] mark2185 commented on #943
We have this, I think? The second column in the menus?

[2022-08-07 20:37] mark2185 commented on #1314
Resolved by #2020 .

[2022-08-07 20:37] #1314 closed

[2022-08-07 20:37] mark2185 commented on #1060
Does this still occur on `v0.35`?

[2022-08-07 20:38] mark2185 commented on #1062
Resolved by #2020 .

[2022-08-07 20:40] mark2185 commented on #1055
It requires `xsel` or something of sorts and that the `ssh` connection forwards `X`, which means one needs to connect with `ssh -X <server>`, as mentioned [here](https://github.com/jesseduffield/lazygit/issues/1114#issuecomment-1160290124). I guess this doesn't have to be a hard crash, but a helpful message?

[2022-08-07 20:41] mark2185 commented on #1009
Is this still an issue?

[2022-08-07 20:46] mark2185 commented on #996
The bugs encountered are most likely due to `floaterm`, and not `lazygit` itself.

I haven't had many issues using it for a better part of a year just by invoking it in a new `terminal`:
[code]

Note: this is **_vim_**.

[2022-08-07 23:46] Ryooooooga commented on #1062
@mark2185 This issue and #2020 are unrelated.

[2022-08-07 23:55] jesseduffield commented on #943
ah yes this is now implemented with the Tooltip option. Closing

[2022-08-07 23:55] #943 closed

[2022-08-07 23:57] jesseduffield commented on #1060
Also, sorry for losing track of this issue. To produce logs you just need to pass the -debug flag to lazygit and you can view the logs by running `lazygit --logs` in a separate terminal window

[2022-08-07 23:59] jesseduffield commented on #1062
Yep, this issue is about colouring commits based on whether they're included in the main branch, whether that's master or main. This is a harder problem to solve (efficiently) without adding a per-repo config option, given that git has no way to tell us what the main branch is.

[2022-08-08 00:01] BenGH28 commented on #2090
Oh I see.  Makes sense. Thanks for the info!

[2022-08-08 00:01] #2090 closed

[2022-08-08 05:44] mark2185 commented on #1062
Ah, my bad, I only checked the coloring of the branch in the `branches` panel. Sorry for the noise!

[2022-08-08 07:19] caasi-dev commented on #862
yes seems to be working fine, thank you.

[2022-08-08 07:19] #862 closed

[2022-08-08 07:32] mark2185 commented on #1145
Could you test this out with `v0.35` to see if it still happens?

[2022-08-08 08:34] mark2185 opened #2099 "Add git version to lazygit's --version"
It would be helpful to have the `git` version in the `--version` output to shorten debugging when resolving github issues.

This seems like a somewhat trivial task.

[2022-08-08 08:34] jesseduffield commented on #2095
This could also be a good candidate for a pre-set custom command. See https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium

It's much easier to implement features if a user has created a custom command for it first, because it's clearer what the expected behaviour is

[2022-08-08 08:35] jesseduffield commented on #2085
This could also be a good candidate for a pre-set custom command. See https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium

It's much easier to implement features if a user has created a custom command for it first, because it's clearer what the expected behaviour is

[2022-08-08 09:53] ray-x opened #2100 "Random crash when move cursor inside Files box"
**Describe the bug**
When move cursor inside Files box, see random crash

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Files' box
2. Click on a file
3. Scroll up and down
4. See error

**Expected behavior**
no crash

**Crash log**
Crash log
2022/08/08 19:08:53 An error occurred! Please create an issue at: https://github.com/jesseduffield/lazygit/issues

syscall.Errno bad file descr

[2022-08-08 09:54] mark2185 commented on #2100
Do you by any chance use a non-default pager, e.g. `delta`?

[2022-08-08 09:56] ray-x commented on #2100
my lazygit was configured to use `delta`.

[2022-08-08 09:57] mark2185 commented on #1257
@jesseduffield this might be an option in the `Status` pane that brings up a prompt for the link and destination path?

Seems like a good first issue.

[2022-08-08 10:02] mark2185 commented on #2100
Pagers have some issues currently, could you please trying using the default pager?

[2022-08-08 10:16] ray-x commented on #2100
sure. I can use a default pager and check if the issue still existed.

[2022-08-08 11:10] mark2185 commented on #1317
Does `lazygit log` help?

Or would you specifically want the `Commits` pane to be selected?

[2022-08-08 11:23] mark2185 commented on #1321
This doesn't seem like a `lazygit` issue in and of itself, even `ls` or `pwd` would fail here. How are we supposed to recover?

[2022-08-08 11:28] mark2185 commented on #1371
Just for that reason I have this:
[code]

But you could have a mapping for a `git checkout --recurse-submodules {{.SelectedLocalCommit}}` which should do what you wanted, could you please try it out?

[2022-08-08 11:31] jesseduffield commented on #1257
Agreed

[2022-08-08 11:34] jesseduffield commented on #2100
I actually think I know what causes this problem, and I'm pretty sure it's fixed on master. Could you try this out on the master branch @ray-x ?

[2022-08-08 11:37] jesseduffield commented on #1311
@c02y I came across that same error myself recently and fixed it. Could you see if the issue is resolved on master?

[2022-08-08 13:08] bastianpedersen opened #2101 "Branch renaming does not auto-apply dashes when renaming a newly created branch"
**Describe the bug**
When creating a new branch with spaces in the name, lazygit automatically applies dashes for the whitespaces. When renaming a newly creating branch with whitespaces in it, lazygit says that the branch name is not supported.

**To Reproduce**
- Create a new branch with whitespaces in its name.
- Rename the newly created branch with whitespaces in its name.

**Expected behavior*

[2022-08-08 13:18] mark2185 commented on #2101
Would you be interested in taking a shot at this?

I take it we just need to replace `' '` with `'-'` [here](https://github.com/mark2185/lazygit/blob/ac6b33ebc30a60dff44cac7c1c343debc1383baa/pkg/commands/git_commands/branch.go#L145).

[2022-08-08 13:18] MikaelElkiaer commented on #1311
I had a quick try, could not produce an error so far. :)

[2022-08-08 14:12] mark2185 commented on #1425
Is this still relevant on current `master`?

We can even set the upstream for each branch by pressing `u` in the `Branches` pane, and #1821 is marked as `closed`.

[2022-08-08 14:13] mark2185 commented on #1455
This is solved by #1515 , if I'm not mistaken?

[2022-08-08 14:14] mckellygit commented on #1145
I tested the latest -
commit=3ec0c589d054ef64d7782a074b457445afe71a3e, build date=2022-08-08T12:54:03Z, build source=unknown, version=3ec0c589, os=linux, arch=amd64
and it works correctly on a long commit message.
Thank you!
Do you want me to close this ?
-m

[2022-08-08 14:16] mark2185 commented on #1145
Great! Feel free to reopen it if it pops up again.

That's okay, it's already closed! :)

[2022-08-08 14:16] #1145 closed

[2022-08-08 14:19] mark2185 commented on #1508
I think this would be better as a `custom command`.

This could also be a good candidate for a pre-set custom command. See https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium

It's much easier to implement features if a user has created a custom command for it first, because it's clearer what the expected behaviour is

[2022-08-08 14:20] mark2185 commented on #1502
Does this still occur in `v0.35` or `master`?

[2022-08-08 14:21] mark2185 commented on #1486
I believe this is solved by #1969 and it should be in current `master` and `v0.35`.

Could you give the latest version a try?

[2022-08-08 14:22] mark2185 commented on #1605
Could you test current `master`? I do believe #2072 should help with this exact use case.

[2022-08-08 14:26] mark2185 commented on #1596
@LiamKearn could you test `v0.35` to see if it still happens? #1931 should have fixed it.

[2022-08-08 14:29] mark2185 commented on #1657
Please try out `v0.35` to see if it still happens.

If it does, please reopen the issue _and fill out the issue template_.

[2022-08-08 14:29] #1657 closed

[2022-08-08 14:30] mark2185 commented on #1642
Related: #2096

[2022-08-08 16:11] nitinmewar commented on #2099
can I start working on it?

[2022-08-08 16:19] mark2185 commented on #2099
Definitely! Let us know if you need any pointers.

[2022-08-08 16:34] Hrle97 commented on #2095
@mark2185 those features sound cool, but it like something really automatic like @jesseduffield is proposing i think

ill keep you updated here whether i manage to do what i need to with custom commands

PS forgive my ignorance - im still new to `lazygit`

[2022-08-08 16:37] mark2185 commented on #2095
@Hrle97 we're talking about the same thing 😅

When you do manage to create a custom command, we'll add it to the compendium for other users to use.

[2022-08-08 18:32] Hrle97 commented on #2095
Seems like it is working:
[code]

[2022-08-08 18:40] mark2185 commented on #2095
@jesseduffield should we maybe make `command` to be an array? So we can make a list of commands to be executed?

[2022-08-08 19:06] Hrle97 commented on #2095
Is this better? Fixed a possible issue as well.
[code]

[2022-08-08 19:14] amine2233 opened #2102 "{{index .PromptResponses 0 }} on second prompt doesn't work"
**Describe the bug**
A clear and concise description of what the bug is.

I added this custom command
[code]

but I have noting in `{{index .PromptResponses 0 }}` on the second prompt command I see only this

<img width="503" alt="Capture d’écran 2022-08-08 à 21 07 29" src="https://user-images.githubusercontent.com/404449/183494969-158fd747-3de2-416f-9ad8-5707a11df9c8.png">

**To Reproduce**
Ste

[2022-08-08 19:27] mark2185 commented on #2095
Definitely more readable.

You can get the superproject path (I'm guessing that's what `$sup` is) by running `--show-superproject-working-tree` from the submodule.

Also note that your command requires the user to have `realpath`. Do you really need to be at the root of the superproject?

[2022-08-08 19:30] mark2185 commented on #2102
Just a quick question to help me understand this, this command should just checkout a remote branch?

[2022-08-08 19:34] Hrle97 commented on #2095
`realpath` is just for getting the relative path of the module (maybe there's a way through `git`?). I don't need to be in the root, but it's a good starting commit message. I'll edit it some more later.

[2022-08-08 19:38] mark2185 commented on #2095
I know, but not every system has `realpath`.

Well I think `"update module $wd"` is just as well, you most likely have only one submodule named `test-data` or `3rd-party/usblib` or something, you'll see in the `git diff` where exactly is it located.

[2022-08-08 21:11] ray-x commented on #2100
I had switched to master and enable debug by default. Will check if it is still reproduceable.

[2022-08-08 21:31] jesseduffield commented on #1257
we really need to introduce a form panel

[2022-08-08 21:32] jesseduffield commented on #1311
Sweet. Though that's a different error to what's in the OP of this issue

[2022-08-08 21:33] jesseduffield commented on #1455
@mark2185 indeed, closing

[2022-08-08 21:33] #1455 closed

[2022-08-08 21:38] jesseduffield commented on #2095
I reckon it's up to the user to handle long commands themselves, as we've seen here. Another option is to have a bash script somewhere that you call passing in lazygit-based arguments.

[2022-08-08 22:11] jesseduffield opened #2103 "Better custom commands interface"
**Is your feature request related to a problem? Please describe.**
If you go to the [custom commands compendium](https://github.com/jesseduffield/lazygit/wiki/Custom-Commands-Compendium) you'll see examples like this:

[code]

Referring to prompt responses by index isn't great for a few reasons:
* it's not obvious what prompts are referred to until you read them
* it introduces an order dependence

[2022-08-09 02:06] Tim-Cao commented on #1425
You're right @mark2185, press u in Branches panel is a really nice feature. Thanks for sharing.

[2022-08-09 02:06] #1425 closed

[2022-08-09 04:15] ray-x commented on #2100
I think it looks good so far on master.
The error was 1/10 when I use lazygit. But it did not reproduce so far, will close it for now.

[2022-08-09 04:15] #2100 closed

[2022-08-09 06:02] amine2233 commented on #2102
yes this command `"git fetch {{ index .PromptResponses 0 }} {{ index .PromptResponses 1 }} && git switch {{ index .PromptResponses 1 }}"` is for checkout the remote branch,

and the command `"git branch  -r --list {{index .PromptResponses 0 }}/*"` is for list all available branch on remote.

but I have this issue on other command I used every day, actually other command I hard coded the `origin` r

[2022-08-09 06:19] mark2185 commented on #2102
Alright, that's an issue that will be looked at. Thanks for reporting!

As a potential workaround, have you tried going to the `Local Branches` pane, pressing `]` to reach the `Remotes` tab? After picking a remote you can checkout a branch by pressing `space`.

[2022-08-09 07:53] LiamKearn commented on #1596
Thanks for that @mark2185. Looks like it's working like butter over here.

Was already on the brew --HEAD.

Behaviour now:
1. I purposely bunk the first path in state.yml (`/recentrepos[0]`)
2. Lazygit moves onto the next valid path in the state file and removes the bunked entry
3. If remove all the paths and lazygit exits with the expected message (`Must open lazygit in a git repository. No valid

[2022-08-09 07:53] #1596 closed

[2022-08-09 08:37] amine2233 commented on #2102
yes I know this feature, I used sometimes, but I prefer to have a prompt alert with all remote branch, thanks @mark2185

[2022-08-09 09:51] Mihai22125 commented on #2103
Hello @jesseduffield, can I help on this?

[2022-08-09 12:33] jesseduffield commented on #2103
@Mihai22125 you certainly can. Let me know if you need any guidance. The only file that needs to change (as far as I can tell) is `pkg/gui/services/custom_commands/handler_creator.go` so I'd have a look at that.

[2022-08-09 12:38] nitinmewar commented on #2099
it is my first open source pull request. I just did 2 commits for this issue. please let me know if there is anything more to do.

[2022-08-09 12:55] mark2185 commented on #2102
In other news, isn't this exact feature supposed to be behind the mapping `c`, i.e. `checkout by name`?

It brings up a prompt to find any branch by name :thinking:

[2022-08-09 13:26] Mihai22125 commented on #2103
Sure, I'll ping you if I get stuck on something. Thanks!

[2022-08-09 13:29] mark2185 commented on #1954
@froody does the issue still appear on `v0.35`?

[2022-08-10 03:47] jesseduffield opened #2107 "Flickering in main panel on master"
**Describe the bug**
I recently merged a PR that makes contexts (the things that render to view) and views 1:1: https://github.com/jesseduffield/lazygit/pull/2023

This has had the unfortunate effect of causing a flicker when switching from, say, a directory, to a file, back to a directory, because different views are used to render the contents, so when the views are switched it briefly renders t

[2022-08-11 01:40] Ryooooooga commented on #1981
solved in https://github.com/jesseduffield/lazygit/commit/cd31a762b97c071fbd33ea9b82f679890e68eaa7

[2022-08-11 14:53] mmahmoudian commented on #2030
I think I have to back out of this task as I cannot deliver in timely manner due to lack of enough Go knowledge and also busy schedule. I just add some info here for whoever wants to move forward:

## How to reproduce the issue:

There might be many ways to corrupt your `~/.gitconfig`, but the one I found the easiest is to open it in [n]vim, navigate to the middle of the name of an item (e.g `edit

[2022-08-12 00:31] paulhmurray opened #2112 "Esc and Quit conflicting"
**Describe the bug**
Loading LazyGit with NeoVim plugin there is conflict when using Esc and then trying to exit LazyGit with 'q' command for quit

**To Reproduce**
Steps to reproduce the behavior:

1. Load LazyGit
2. Press Esc
3. Then try and leave LazyGit by pressing 'q' for quit won't work
4. Only way to exit is to use Vim's ":q"

**Expected behavior**
That exiting the floating LazyGit screen w

[2022-08-12 06:05] mark2185 commented on #2112
Wouldn't this be an issue for the plugin, then?

[2022-08-12 07:54] MikaelElkiaer commented on #1311
@jesseduffield

It happened again:
[code]

[code]

[2022-08-12 11:06] bin101 commented on #1942
yes seems to be fixed. I will close this now.

[2022-08-12 11:06] #1942 closed

[2022-08-13 03:10] OlaoluwaM commented on #1853
Any status on this?

[2022-08-13 16:45] bastianpedersen commented on #2101
Sure, here is a video of the problem:

https://user-images.githubusercontent.com/58905488/184503238-7d039c0a-6063-4208-92b4-62341b50b03e.mp4

[2022-08-13 16:52] mark2185 commented on #2101
Oh, I meant "taking a shot" in the sense of "would you like to try and fix this"?

[2022-08-13 19:28] bastianpedersen commented on #2101
Oh sorry, my bad 😆 Yeah, I can give it a shot tomorrow 👍🏼

[2022-08-15 18:16] nullishamy commented on #1685
This was never closed but the PR was.

[2022-08-15 18:41] nullishamy commented on #1550
After digging around a bit, it would seem we need to change the way the runners (commands/osscommands/*runner.go) operate, though it seems to be an issue with the lib that we use, pty. We should watch [this](https://github.com/creack/pty/pull/155>)?

[2022-08-15 19:18] #1685 closed

[2022-08-15 19:23] mark2185 commented on #1550
The link returns 404.

The thing is that these are currently hardcoded, e.g. `bash` for unix and `cmd` for windows (I'm guessing), we should make that configurable. Something like that is underway in #2096 .

[2022-08-15 19:51] nullishamy commented on #1550
Fixed the link. Does that affect the runners? I couldn't see a relation, though I'm not very familiar with the codebase.

[2022-08-16 01:04] hdbalyozsht opened #2117 "How to enable pager while interactive staging"
**Topic**
When I enable pager as delta or diff-so-fancy as described, syntax highlighting enables only when staging a file. When I want to stage line by line, pager doesnt affects stage and unstage area. How can I enable pager for both file and line staging?

[2022-08-16 01:07] hdbalyozsht commented on #2117
![Screenshot from 2022-08-16 04-06-19](https://user-images.githubusercontent.com/13886544/184771192-532e9fa8-fb86-48a1-8792-04df037b1ae0.png)

![Screenshot from 2022-08-16 04-06-27](https://user-images.githubusercontent.com/13886544/184771279-37b946d3-dfdf-40b2-897c-4d9840cb9bf4.png)

[2022-08-16 06:50] peppy opened #2118 "Regular crashes while lazygit is in the background"
I'm not sure what triggers this, but it happens when I'm off in my IDE working away.

Occurring on ef82f394312e6f1c100f5153187d5537d701384f. Started maybe a day or three ago.

[code]

Also of note, the error output is quite broken. In a `tmux` session if that means anything

![JetBrains Rider 2022-08-16 at 06 50 04](https://user-images.githubusercontent.com/191335/184815518-eee7e1b1-ace0-483c-919d

[2022-08-16 11:20] Calieston opened #2119 "How can I pull a different remote branch into my local branch?"
**Topic**
I'm working locally on branch _feature/project-123_ and want to prepare a PR. Before doing that, I pull remote branch main/master into my branch locally by doing a git pull origin main/master.

In lazygit I only find a "pull" option when checking menu with "x".
Is there another way which I missed?
Thanks.

[2022-08-16 12:00] PrayagS commented on #2117
Facing the same issue.

@jesseduffield Is the below given function causing this behavior? Not sure if this kind of interactive staging is even possible using delta.

https://github.com/jesseduffield/lazygit/blob/ef82f394312e6f1c100f5153187d5537d701384f/pkg/commands/git_commands/working_tree.go#L295-L314

[2022-08-16 12:31] PrayagS opened #2120 "Allow fzf or similar interface for custom commands"
**Is your feature request related to a problem? Please describe.**

Custom commands allow us to execute arbitrary commands, filter their output, and present them in a list for the user. The user then chooses one option out of the list. An example command can be seen below,

[code]

The above command lists all remote branches and allows me to pull from the branch I choose.

Such a list of options c

[2022-08-17 03:52] LiamKearn commented on #1617
Fixed this on my part by providing a binary for the ext-package that resolves clipboard.

I just used [clipper](https://github.com/wincent/clipper) to forward it locally.

[2022-08-17 03:52] #1617 closed

[2022-08-17 12:07] Calieston commented on #2119
Alright, sounds good. Thanks for your answer.

[2022-08-17 12:07] #2119 closed

[2022-08-17 12:12] mark2185 commented on #2119
Which one? Rebase or (re)setting upstream?

[2022-08-17 13:17] rafaelderolez opened #2122 "Branch name cut off when pushing upstream"
**Describe the bug**
When pushing a branch upstream, an input field + suggestions box show up. However, the input field, already containing the current branch name, is 'scrolled' all the way to the end. This can be annoying if the input field has enough room to display the complete branch name.

**To Reproduce**
Steps to reproduce the behavior:

1. Push branch upstream

<img width="913" alt="image

[2022-08-17 22:42] jesseduffield commented on #2122
I saw this in an integration test the other day. Very annoying. But a git bisect should get us to the cause pretty quick. I'll chuck a good-first-issue label on this and anybody who wants to pick it up and doesn't know what git bisect is, reach out!

[2022-08-18 05:54] Calieston commented on #2119
The (re)setting upstream. Would still prefer a second pull option where you can define a default branch like "main" or you can enter another branch to make it easier.
Thanks.

[2022-08-18 05:56] mark2185 commented on #2119
We have options both for merging and for rebasing, you could use them directly, so you don't depend on your `pull`'s default configuration.

[2022-08-18 08:15] MadeByJay commented on #2117
Facing a similar issue when trying to scroll the diffs of a file with the 'j' and 'k' keys. When I'm just using the files section to browse I can see the delta diff view as expected. Yet when I hit enter the delta pager view is replaced with the default giff pager view.

Also when I just git diff on the command line I can scroll up and down the delta pager view as expected.

I'm wondering if this

[2022-08-18 08:26] jesseduffield commented on #2117
There's two things to discuss here. The first is that we do not support using arbitrary pagers in our staging mode. The second is that we don't allow focusing the main panel for a file without switching to staging mode.

If we added the ability to focus the main panel for a file without switching the staging mode, that would allow you to easily scroll through the delta diff. This would be a much e

[2022-08-18 15:28] mark2185 commented on #1871
@canadaduane could you check if #1893 solved your issue?

It's available in `v0.35`.

[2022-08-18 19:32] yofreee opened #2125 "Lazygit install with deprecated PPA (Ubuntu 22.04)"
**Description**
PPA doesn't work as lazygit installer on Ubuntu 22.04LTS, says deprecated

[2022-08-18 22:36] #2125 closed

[2022-08-19 04:13] lyctw opened #2127 "Show latest few commits first"
Hi,

I wonder if lazygit can render the latest few commits when it is used with a huge git commit history so it can be more responsive.

Thanks in advance.
yc

[2022-08-19 05:54] WhiteBlackGoose commented on #1339
Hi. Thanks for this great program. I found this issue as I was trying to find a way to change the color of the font. I think having a setting for it would solve all problems for me: I'd just set it to `gray` and it will work regardless of the terminal theme. Is there an option for this?

[2022-08-19 06:02] WhiteBlackGoose commented on #1639
This should help users who hop between dark/light themes all the time (like me)

[2022-08-19 07:29] mark2185 commented on #2127
That's what it currently does, but the number is `300`. I guess we could make that configurable until we improve the performance...

In the meantime, could you try changing [this](https://github.com/mark2185/lazygit/blob/5253226a6a8ed1952eaaadbfaacf78ab9ef5fe1a/pkg/commands/loaders/commits.go#L420) to e.g. `" -50"`? If you just want to build and run, I've made said change [here](https://github.com

[2022-08-19 18:19] otavioschwanck opened #2128 "Add tree-sitter support"
Would be awesome to have tree-sitter to have highlight on the diffs

[2022-08-20 03:51] lyctw commented on #2127
Thanks @mark2185

I've built your change but still not improved to print the commits in that window.

[2022-08-20 04:32] mark2185 commented on #2127
How long does it take for the initial load? What if you set the limit to `15`?

[2022-08-22 14:09] ricnewton opened #2129 "Incorrect UI state when bring up help within certain sub commands"
**Describe the bug**
When brining up the help menu from a few sub commands like the custom command history window or the rename branch window the UI gets into an incorrect state, leaving the sub window up over the help menu, and after escaping from help menu the sub window stays open and lazygit behaves incorrectly.

**To Reproduce**
Steps to reproduce the behavior:

1. Bring up the execute custom

[2022-08-22 14:13] mark2185 commented on #2129
Thanks for reporting!

It's a known issue and there are some things already underway (#1648), as well as some work already done (#2079)

[2022-08-23 20:09] jtraub opened #2131 "Open in browser doesn't work for some gitlab repos"
**Describe the bug**
Open in browser doesn't work for some gitlab repos

**To Reproduce**
1. Clone [this repo](https://gitlab.com/gitlab-com/alliances/aws/public-tracker) with https: `git clone https://gitlab.com/gitlab-com/alliances/aws/public-tracker.git`
2. Launch lazygit
3. Pick any commit and press `o` to open it in the browser
4. Observe 404 page

**Expected behavior**
I expect to see commit

[2022-08-23 20:18] jtraub commented on #2131
Oh, I see now why this happens

Gitlab service definition uses default regexp
https://github.com/jesseduffield/lazygit/blob/master/pkg/commands/hosting_service/definitions.go#L5

which assumes that URL structure would be `gitlab.com/owner/repo.git`

However, this is not the case for gitlab. A repo in gitlab belong to a group. Group itself can be member of another group (in this case they call such

[2022-08-23 20:26] mark2185 commented on #2131
That would be great, thanks!

[2022-08-24 13:31] mrjones2014 opened #2133 "3-way merge conflict editor"
**Is your feature request related to a problem? Please describe.**

Merge conflicts suck. Resolving them can get really confusing. Sometimes you're not sure what you're looking at when the changes are stacked on top of each other like that, and sometimes you want some parts of both changes.

**Describe the solution you'd like**

A 3-way merge conflict editor UI. Basically, it shows the local file

[2022-08-24 13:36] mark2185 commented on #2133
Well, until we support such a feature _within_ `lazygit` itself, at least launching a merge tool isn't far (`M` opens an external merge tool)

Would you be interested in adding support for 3 way merging?

[2022-08-24 13:37] mrjones2014 commented on #2133
I might need some help but I can give it a shot!

[2022-08-24 13:45] mark2185 commented on #2133
Well I'm guessing it would require planning and a discussion of what it should look like for which we need Jesse.

But if I were to guess of what we should discuss beforehand:
- similar to the partial staging panel, but having 3 splits instead of 2 ( maybe the third one could be below )
- all should be editable, which we don't currently have anywhere except for the commit message textbox
- we'd ne

[2022-08-24 14:01] hsheikhali1 commented on #2133
I got a few questions since I've been using LazyGit for months and the one thing I dislike is how it handles merge conflicts.

1. What is the partial staging panel ?
2. You mentioned mappings for accepting changes from one or the other or both panels - i feel like functionality is already there just needs to be implemented to support this behaviour ?
3. Would lazygit ever support the option to sho

[2022-08-24 14:16] mark2185 commented on #2133
1. You can partially stage files by pressing `Enter` on a file and staging/unstaging lines with `Scape`.
2. Well since this is a specific scenario, where one would have 3 panels, so it _is_ mostly familiar, but not completely.
3. Jesse would know

[2022-08-24 19:17] canadaduane commented on #1871
Looks good to me! Thanks.

[2022-08-24 20:34] grimerssy opened #2134 "White non-bold text is displayed as black in neovim terminal"
I use Alacritty terminal and when I start lazygit normally everything displays fine, but when I'm inside neovim and use toggleterm or native nvim terminal, some of the text blends in with the background. However, when I do the same thing and call lazygit from neovim, but in another terminal (in this case - Warp), everythings displays just fine. Also, when "invisible" text is hovered, it turns bold

[2022-08-24 20:35] #1871 closed

[2022-08-25 08:07] BossElijah opened #2135 "Broken documentation links"
**Describe the bug**
The config and keybindings documentation links lead to Github's 404 pages. See screenshot.

**To Reproduce**
Steps to reproduce the behavior:

1. Open lazygit
2. Go to the status section
3. Click the two Github documentation links
4. See that they don't work

**Expected behavior**
I expect to see documentation, not broken links.

**Screenshots**
![lazygit](https://user-images.

[2022-08-25 08:11] mark2185 commented on #2135
Both links are perfectly valid, though.

https://github.com/jesseduffield/lazygit/blob/master/docs/keybindings
https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md

What link does your browser try to open?

[2022-08-25 08:14] BossElijah commented on #2135
After digging a bit more into this, I suddenly notice that because of the line breaks, it adds a pipe where the line break occured. So these are the links it is trying to open:

- https://github.com/jesseduffield/lazygit/blob/master/docs/keybind%E2%94%82ings
- https://github.com/jesseduffield/lazygit/blob/master/docs/Conf%E2%94%82ig.md

[2022-08-25 08:16] mark2185 commented on #2135
That seems like a problem of the terminal emulator itself (since clicking the link is the functionality of it), the `|` is the right border of that pane.

[2022-08-25 08:19] BossElijah commented on #2135
So the problem is that when the window isn't wide enough for the links to be displayed in one line, it adds a pipe ('|').
And you think that my terminal is the problem? I'm on iTerm.

If I understand you correctly, you're saying that this has nothing to do with lazygit?

[2022-08-25 08:23] BossElijah commented on #2135
I will close this issue, if it is only a problem with my terminal.

And btw, thank you for the fast support.

[2022-08-25 08:23] mark2185 commented on #2135
And you think that my terminal is the problem? I'm on iTerm.

I'm guessing the terminal thinks that `|` is a part of the link. By checking the same functionality on `kitty`, look at what _it_ thinks is the whole URL (it includes the pipes, when I click it):
![image](https://user-images.githubusercontent.com/8365241/186614093-73c8ab5d-c751-48b0-b74a-ee0db15d2c29.png)

Correct. `lazygit` only displa

[2022-08-25 08:23] #2135 closed

[2022-08-25 08:24] BossElijah commented on #2135
Okay, thank you very much!

[2022-08-25 08:35] mark2185 commented on #2133
Do note that if we would implement separate editable buffers, 0.01s after its merge to `master`, there would be a request for it to support {vim,emacs,kakoune,somethingelse}-bindings. I'm not sure we want to open that particular door.

[2022-08-25 10:50] mrjones2014 commented on #2133
Is there maybe a way we could just embed a TUI editor within the TUI? Idk if that’s possible, haven’t worked much with TUI, but I know Neovim at least is designed to be embeddable.

[2022-08-25 10:54] mark2185 commented on #2133
Is there a point in doing that when the user could just run the TUI editor externally?

[2022-08-25 11:07] mrjones2014 commented on #2133
Hm, I suppose not actually.

[2022-08-25 11:19] mark2185 commented on #2133
So, what would we gain by adding a 3-way merge conflict editor that has the most basic editing capabilities, namely moving around using arrow keys and typing and deleting?

On the other hand, one could just use the desired merge tool one is used to, e.g. `emerge`, `vimdiff`, `kdiff3`, `meld` etc.

[2022-08-25 12:04] mrjones2014 commented on #2133
Good point. After a little more tinkering I've found that installing the `vim-fugitive` Vim plugin, then setting my mergetool like so:

[code]

works well enough for me. Being able to launch this directly from `lazygit` too is nice.

I'm good to close this issue. I'll use vim with the `vim-fugitive` 3 way merge conflict editor and launch it from `lazygit` when needed.

[2022-08-25 12:22] mark2185 commented on #2133
If you really so desire, I guess it's possible to use `IntelliJ` as a mergetool as well (that's what you listed as an example in the original issue)

[Someone tried it](https://gist.github.com/ffittschen/6d9be1720f30eb8dc0142cc0ed91c7d9).

[2022-08-25 19:08] pixels-bytes opened #2136 "Lazygit will not run inside tmux"
**Describe the bug**
Lazygit runs perfectly unless I am in a tmux session and then it will not run at all

**To Reproduce**
Steps to reproduce the behavior:

1. Open tmux
2. Navigate to a folder that has a git repository
3. Open lazygit
4. See error

**Expected behavior**
I expected lazygit to function normally as it does outside a tmux session

**Screenshots**
Error given:

[code]

**Version info

[2022-08-25 19:22] mark2185 commented on #2136
Could you try building latest `master`?

And if that doesn't work, you wouldn't happen to be willing to try running it under a debugger, would you? :)

[2022-08-25 19:40] pixels-bytes commented on #2136
Hmmm. Built from master but lazygit was still using the homebrew version. Uninstalled homebrew version, rebuilt from src, but lazygit command not recognised. Where does it get installed?

[2022-08-25 19:46] mark2185 commented on #2136
In `GOPATH`, wherever that points to, by default it's `~/go`, I guess.

You can just run `go run main.go` and it'll run.

[2022-08-25 20:01] pixels-bytes commented on #2136
`go run main.go` runs lazygit finel but inside tmux it is still crashing.

logs after running `go run main.go —debug`
[code]

[2022-08-26 06:43] pixels-bytes commented on #2136
Running `lldb -- ~/go/bin/lazygit` gives be the output:

[code]

[2022-08-26 06:47] mark2185 commented on #2136
What about `delve`? It's intended for `go` debugging - [click](https://github.com/go-delve/delve).

[2022-08-26 07:22] pixels-bytes commented on #2136
Thanks for the headsup @mark2185. I’ve never used go before.

` ~/go/bin/dlv debug main.go` followed by `continue` gives the exact same `ExitError exit status 1` output as above

[2022-08-26 07:31] mark2185 commented on #2136
Thanks for being willing to do that since I can't reproduce it.

Fun! There should be some sort of `backtrace` or something to dump the callstack.

Does it crash even if you run it in a non-git repo?
Have you tried clearing your config and cache?
It works A-okay outside of tmux?

[2022-08-26 11:13] pixels-bytes commented on #2136
Yes. It asks if I want to create a repo, and either option leads to the same crash

Impeccably 😂

I’m not sure how to. These are my first (somewhat disastrous) fumblings with tmux and now go

I will have a fiddle around and see if I can find a way to dump the callstack

Thanks for your help.

[2022-08-26 11:17] mark2185 commented on #2136
I was referring to `lazygit`'s `config.yml` and `cache.yml` - [default user config path](https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#user-config).

That means it'll probably go upwards :)

Btw what version of `tmux` is it?

[2022-08-26 11:43] pixels-bytes commented on #2136
Ah right… they’re deleted

tmux 3.3a

[2022-08-26 12:27] jtraub commented on #2136
@pixels-bytes What shell and terminal emulator do you use? Do you use programs that modify shell prompt like `starship`?

[2022-08-26 12:59] Ryooooooga commented on #2136
https://github.com/pixels-bytes/dotfiles/blob/6acb5803b6f3d4431019075cd51d800f6eea9a15/tmux/tmux.conf#L21

your `default-terminal` looks weird. try to set `xterm-256color`.

[2022-08-26 13:04] pixels-bytes commented on #2136
Thanks @Ryooooooga @jtraub. Just reporting back in case anyone else hits the same roadblock.

The `terminals database is inaccessible` output was the clue: It’s a TERM problem not a lazygit problem.
In tmux if I change the TERM temporarily `set -lx TERM screen-256color` then lazygit runs as it should.
Guess I better dig through anywhere that TERM is set.

[2022-08-26 13:17] #2136 closed

[2022-08-26 13:17] pixels-bytes commented on #2136
Thanks for all your help guys

[2022-08-26 16:44] bartgol commented on #30
Is there any update on this? I can confirm this is still an issue with lazygit 0.35.

[2022-08-26 21:08] louwers commented on #2061
In case of `yadm` it will be a `bare` repo. I hit the same issue.

[2022-08-27 10:40] louwers commented on #1339
This does not work.

The color of a lot of text is still white even when setting `darkTheme: false`.

[2022-08-27 12:28] n12o commented on #2050
I had the same issue on the past versions and now have it again on v0.35

I've found that removing index file and reinstalling lazygit with scoop fixes the issue for me.

[2022-08-27 16:07] derteta commented on #1963
I've had the same wish and made a [prototype](https://github.com/derteta/lazygit/tree/pull-patch-reword-commit). It simply re-uses the "reword commit" prompt (meaning it also suffers from [this issue](https://github.com/jesseduffield/lazygit/issues/2060)). Would that work for you?

[2022-08-27 16:12] mark2185 commented on #2060
This should actually be solved by #2123.

[2022-08-27 16:47] mark2185 commented on #1963
Actually yes, that's exactly what I had in mind!

Except that I always get `error: <changed file>: does not exist in index` :)

Feel free to open a PR to continue the discussion there.

[2022-08-27 17:41] derteta commented on #1963
:facepalm: You're right! It was working at some point, must have messed up somewhere.
Will fix it, set up a PR and ping you in it!

[2022-08-27 20:52] strboul opened #2138 "Create option to hide command log header"
**Is your feature request related to a problem? Please describe.**
I'd like to keep the command log visible in the panes but I don't need to see the header text all the time as I know how to hide/focus the panel.

[code]

**Describe the solution you'd like**
It'd be nice to have a config option to hide the header text.

Proposed option name:

[code]

**Describe alternatives you've considered**

`g

[2022-08-28 06:57] amir-teymuri opened #2139 "Problem finding different panels"
I just started looking at lazygit and am already starting to love it!
From reading the documentations under https://github.com/jesseduffield/lazygit/blob/master/docs/keybindings/Keybindings_en.md I have the problem of switching to the panels not shown on the main page, for instance Remote Branches, Remotes etc.

Since there is the option `1-5: jump to panel` at the bottom of the main page, I'm not

[2022-08-28 07:02] mark2185 commented on #2139
By pressing `x` at any point, a popup help menu will appear.

In it, you can find the options for `]` and `[`, `next` and `previous` tab, respectively.

[2022-08-29 08:20] laurentS commented on #1502
With `0.34`, I still see the problem. After wake up the CPU is around 10-15%, so it's better than before, but still there.
With `0.35`, it's a bit better. I left several sessions open before putting my machine to sleep. After waking up, `htop` shows CPU loads of ~9/4/3% for the top 3 ones. Cumulated it's still over 10% CPU. As before, if I close the various sessions and restart the app, CPU usage

[2022-08-29 08:40] #2139 closed

[2022-08-29 11:44] abiriadev commented on #2117
it looks like there is a similar or related issue: #1939

[2022-08-29 13:21] all500234765 opened #2141 "Filter by path doesn't show diff for moved files"
**Describe the bug**
Filter by path doesn't show diff for moved files in quick view (Patch) window.

**To Reproduce**
Steps to reproduce the behavior:

1. Make a folder A with some file named B.txt inside
2. Commit both of them
3. Rename folder 'A' to 'Folder A'
4. Commit all changes
5. Go to 'Commits' section
6. Press Ctrl + S, then Enter
7. Type B.txt, press Tab, then Enter
8. Select first commi

[2022-08-30 02:09] Ryooooooga commented on #2141
You need to enter a path relative to the Git root directory in `filter by path`. If nothing is displayed, it is because `<root>/B.txt` does not exist.

[2022-08-30 18:06] all500234765 commented on #2141
Yes, that happens because `<root>/Folder A/B.txt` was previously in `<root>/A/B.txt`. In

p.s. Fixed description a little, since I forgot to fill expected behavior

[2022-08-30 18:07] all500234765 commented on #2141
Sorry for the commotion, not used to github's issue commenting system

[2022-08-31 08:33] grimerssy opened #2144 "Lazygit panicked on commit command"
I tried to commit changes after staging renamed files and got runtime error instead.

panic message:
[code]

[2022-08-31 18:50] daletman commented on #1801
What value do you get from a standard clone if you use worktrees? All added worktrees are shown as changes in the local repo which doesn't make sense to me.

[2022-09-01 05:42] #2131 closed

[2022-09-01 05:43] #2122 closed

[2022-09-01 09:04] mark2185 commented on #2060
@jslmorrison would you be willing to build current `master` to see if the issue persists? #2123 was merged.

[2022-09-01 09:04] briandipalma commented on #1801
I've often used it to quickly spin up our master codebase without having to create/teardown a worktree.

They're not for me, are you sure about that?

[2022-09-01 09:12] mark2185 commented on #2144
Please fill out the `bug report template` that's provided when you open up a new issue.

Is it easily reproducible?

[2022-09-01 09:28] mark2185 commented on #1502
Actually I encountered this as well.

The only thing we could do is profile it and try to reproduce it.

[2022-09-02 11:23] hdbalyozsht opened #2148 "Unable to access submodule config file error"
When I enter a submodule I get the following error 14 times at the top of right area for one submodule which I could not enter

![Screenshot from 2022-09-02 14-20-03](https://user-images.githubusercontent.com/13886544/188128796-4a64d825-ba5e-418c-95fd-f8edc036a049.png)
![Screenshot from 2022-09-02 14-20-30](https://user-images.githubusercontent.com/13886544/188128814-42fd73d9-9acc-441e-981d-2c3589

[2022-09-02 11:30] mark2185 commented on #2148
Please fill out the `bug report template`.

Are you able to enter the submodule through the `cli`, do you have sufficient permissions?

[2022-09-02 12:44] nullishamy opened #2149 "showBottomLine config option does nothing"
**Describe the bug**
The `showBottomLine` does not change the behaviour of lazygit. When set to `false`, the line persists.

**To Reproduce**
1. Set showBottomLine to false in the config file
2. Launch lazygit
3. Observe the bottom line

**Expected behavior**
The bottom line should disappear

**Screenshots**
N/A

**Version info:**
commit=, build date=, build source=nix, version=0.34, os=linux, arc

[2022-09-02 12:57] mark2185 commented on #2149
Please fill out the `bug report template` in its entirety, namely this:

[code]

That specific feature was added on `Apr 18th`, whilst the `v0.34` was tagged on `Mar 17th`, so `v0.35` is the first one that should have it.

[2022-09-02 16:05] mark2185 commented on #2148
Please note the _note_ at the bottom of the report:
[code]

Your version (`0.27.4`) is `1 year and 5 months` old. It's likely the bug was solved in the meantime.

[2022-09-02 18:38] hdbalyozsht commented on #2148
`commit=367b0d331836c90c015bf0c45f88612f3d94d08a, build date=2022-07-20T09:27:56Z, build source=binaryRelease, version=0.35, os=linux, arch=amd64`

Still getting the error

[2022-09-02 18:50] mark2185 commented on #2148
Alright, can you run `git status` in the submodule without problems?

Do the permissions match to the parent repo? (`ls -l` will list the permissions)

Does it work if you clone the repository once again, somewhere else? Just a `git clone --recursive <link> some-other-name` should suffice.

[2022-09-02 18:56] hdbalyozsht commented on #2148
- There is no problem at git status
- Permissions are the same as other submodules
- I get the same error in my another project repository that includes submodules

[2022-09-02 19:03] mark2185 opened #2151 "Redesign the `git log` half-screen view"
**Is your feature request related to a problem? Please describe.**
Instead of just having the `git log graph` to the left and the `diff` to the right, I would also want to see a `diff files` panel.

**Describe the solution you'd like**
The left panel could be split into an upper and lower half, where the upper one could show the `git log graph`, and the lower could show the `diff files`.

**Descri

[2022-09-03 04:40] kadaan commented on #2151
Looks great!  Man, it would be nice if we could resize the panels.

[2022-09-03 06:37] mark2185 commented on #2151
Statically? Shouldn't be a problem, we already have that for the width of the left column, I think.

Dynamically? Well, uhh... _it sure would be nice_

[2022-09-03 06:42] mark2185 commented on #2148
Do you by any chance use an old `ssh` key? [Something similar on SO](https://stackoverflow.com/questions/25957125/git-submodule-permission-denied)

[2022-09-03 09:58] daletman commented on #1801
Steps I do:

1. `git clone <git-repo>`
2. `cd <git-repo-name>`
3. `git worktree add develop`
4. `git status`

[code]

[2022-09-03 14:52] jslmorrison commented on #2060
@mark2185 That seems to have fixed it now. Thanks

[2022-09-04 16:22] mark2185 opened #2152 "Is there any way to disable a keybinding?"
Is there any way to disable a keybinding?
I wanted to disable most of them and enable them as I discover my own needs,
also to avoid pressing some key by accident and have a blank slate not having to worry about key clashes.

I tried the snippet below to see if empty string would do the trick, but the app crashes.

[code]

_Originally posted by @claudiofreitas in https://github.com/jesseduffield/l

[2022-09-04 21:12] briandipalma commented on #1801
Ah, right, I don't do that.

My steps:

1. `git clone <git-repo>`
2. `cd <git-repo-name>`
3. `git worktree add ../develop`

Our company monorepo is the only place I use worktrees and I've checked it out into a directory called `~/dev/m/mono` so my worktree directories are sort of like `~/dev/m/JIRA_ID-short-description` next to the monorepo directory.

[2022-09-05 11:23] derteta opened #2153 ""Move patch into new commit" sometimes fails"
**Describe the bug**
Sometimes when using "Move patch into new commit", I get `error: <changed file>: does not exist in index`.

**To Reproduce**
This was hard to pinpoint, but the following steps reproduce the behavior for me consistently:

1. In an empty directory, run the following commands
[code]
2. In lazygit, ry to move the empty line between "one" and "two" from the last commit into a new c

[2022-09-06 12:07] nullishamy commented on #2149
That explains it, thanks.

[2022-09-06 12:07] #2149 closed

[2022-09-06 12:23] hdbalyozsht commented on #2148
`git submodule update --init --recursive` works well for me. I can also push and fetch without any problem. Any ssh issue would couse such problems. I also check specified config file owner and read permissions. It seems ok

`-rw-rw-r--   1 prihex prihex  765 Eyl  6 14:18 config`

[2022-09-07 07:32] FacePalmDev commented on #1280
For those of you who are desperate for this feature... Check this out:

![image](https://user-images.githubusercontent.com/4026553/188816683-157f6ae7-4aee-4fae-8e90-30aa4ccea971.png)

How? Simple... go to File, Preferences, Custom Commands and add it there:

![image](https://user-images.githubusercontent.com/4026553/188816884-ff0d7744-04aa-4640-a2fa-3e12cf2d00c4.png)

I hope this helps you ;-)

[2022-09-07 07:39] mark2185 commented on #1280
I'm sorry, but is that a _GUI_ for `lazygit` or...?

[2022-09-07 08:25] FacePalmDev commented on #1280
I got a little too excited and confused there!
Nope it was for gitfork! Sorry!

Best wishes,
Kiran

On Wed, 7 Sept 2022 at 08:39, Luka Markušić ***@***.***>
wrote:

[2022-09-07 08:55] res1st opened #2156 "lazygit with HTTPS git repository url"
**Topic**
I can't use SSH to contact a git(lab) repository, but are forced to a https url as remote.
In Lazygit i'm unable to fetch or push data, because of authentication problem.
`Permission denied (public key)`

**Your thoughts**
I would expect that at least I'm prompted to enter my passphare for my private key.
That isn't happening, so I assume that this is the reason why it fails.
How does la

[2022-09-07 09:29] mark2185 commented on #2156
I'm not sure I understand, if you use `https`, why are there `RSA` keys involved?

The `permission denied (public key)` sounds like an error message from `git`, as if it is using the wrong key,  but let's try to solve the previoue question first.

[2022-09-07 11:49] res1st commented on #2156
Sorry, you're right. We also use SSH by default.

I can enter "git fetch" in my windows command line, then I have to enter my passphrase and then the fetch is done.
If I press "f" ind lazygit to fetch data, I still get the error: permission denied (public key)

How should that work in lazygit?
I didn't configure sshCommand in my .gitconfig file, but I think it is working by default on the command

[2022-09-07 12:17] mark2185 commented on #2156
Do you have any other keys except the default one, `id_rsa` ? Do you have any entries for that key in `~/.ssh/config`?

It should prompt you for the passphrase without any special configuration from your side. You should be able to use this feature without a config at all.
I know that in my experience, the very first `git fetch` through `lazygit` after a reboot results in a `Enter your passphrase`

[2022-09-07 12:56] res1st commented on #2156
My version is very outdated.

[code]

I updated to 0.35 now.
But the error remains.

I have an ~/.ssh/config file.
It contains another authentication for another host.

But in my case now, I want to access gitlab.cas.de.
I removed temporary the other authentication, now my .config file looks like this
[code]

[2022-09-07 13:07] mark2185 commented on #2156
That _is_ odd.

`Command log` (toggled in the menu under `@`) should show that pressing `f` results in `git pull --no-edit --ff-only` or something similar. Does running the same command that appears in the `Command log` work from the cli?

[2022-09-07 13:41] res1st commented on #2156
For fetch it looks like this
![grafik](https://user-images.githubusercontent.com/8224219/188893178-523377fc-46e3-4697-baec-142464cb4ccb.png)

git fetch on my command line works.

[2022-09-07 14:27] res1st commented on #2156
If i press f on the branches tab, the executed command is
`git pull --no-edit --ff-only "origin" "master"`

It works also on the command line, but not in lazygit.

[2022-09-07 17:13] mark2185 commented on #2156
Would you be willing to try and reproduce that in a `docker` container?

Take an ubuntu image, install `git` and `lazygit`, clone the repo and try fetching through `lazygit`. Don't forget to enter the `container` as your user, and not `root`, for which you'll need to mount `/etc/passwd` and use `-u$(id -u):$(id -g)` when launching it.

[2022-09-07 19:02] hdbalyozsht commented on #2148
I tried cloning a public widespread github repo. Same result

[code]

- Then go to submodules.
- Select `modules/uavcan` which is the first
- Go to local branches `main`

![image](https://user-images.githubusercontent.com/13886544/188956718-18768956-bb1d-4df4-b869-ae632d9b7c9d.png)

[2022-09-07 20:16] mark2185 commented on #2148
Are the submodules also cloned over `https`?

Check the `.gitmodules` file in the root of the repo, it should start with this:
[code]

[2022-09-07 20:54] kadaan opened #2157 "Add option to delete remote branch when deleting local branch"
**Is your feature request related to a problem? Please describe.**
Add option to delete remote branch when deleting local branch

**Describe the solution you'd like**
After confirming the deletion of a local branch, off the user the ability to delete the remote branch

**Describe alternatives you've considered**
Manually deleting both the local and remote branch

**Additional context**
Add any oth

[2022-09-07 20:56] Rizhiy commented on #823
Any updates on this? Considering that GitHub uses `main` by default, it would be nice if default branch was configurable.

[2022-09-07 21:00] jesseduffield commented on #823
Agreed: this should be configurable on a per-repo basis. Happy to accept a PR for this and can give pointers if needed.

[2022-09-08 06:41] mark2185 commented on #2157
To quote Jesse:

You could have something like this to delete the remote branch, and then delete the local one as usual:
[code]

It is a few keystrokes extra, but hey.

[2022-09-08 07:15] res1st commented on #2156
I'm here on a Windows 10 machine and have to solve it here.

I have an Ubuntu 20.04 in WSL2 on that machine.
The Linux in WSL2 uses the same home dir with the same .ssh/ files.

I've checked out the repositry there, installed lazygit and it works as expected.
I was asked for the passphrase.

But I have to get it work with the Windows command line/power shell.

[2022-09-08 07:20] mark2185 commented on #2156
Ah, yes, since this isn't a bug report, there wasn't a template for you to fill out so I didn't know it was _windows_ in question.

Windows do seem to have a bit more problems with `lazygit`. Thanks for letting us know, we'll get back to you with further ideas and/or solutions!

[2022-09-08 09:19] TheHappyAkita opened #2158 "possibility to paste a string previously copied with <c-o>"
**Is your feature request related to a problem? Please describe.**
I am working on projects that are highly modularized and each module has its own git entry.
Sometimes for fix/feature I  need to have the same branch name across such modules and therefore I can copy the branch name, that I created for one module, with \<c-o\>.
It would be nice to be able to paste the copied name for the next modul

[2022-09-08 09:22] mark2185 commented on #2158
Have you tried using `ctrl+v` to paste? Works as one would expect.

[2022-09-08 09:52] hdbalyozsht commented on #2148
Yes. All protocols are https.

[code]

[2022-09-08 12:40] res1st commented on #2156
Please let me know if I can support you and provide further details.

[2022-09-08 17:52] claudiofreitas opened #2159 "Feature Request: A way to disable a keybinding"
### Discussed in https://github.com/jesseduffield/lazygit/discussions/2150

<div type='discussions-op-text'>

<sup>Originally posted by **claudiofreitas** September  3, 2022</sup>
Is there any way to disable a keybinding?
I wanted to disable most of them and enable them as I discover my own needs,
also to avoid pressing some key by accident and have a blank slate not having to worry about key clas

[2022-09-08 18:37] OliverJAsh opened #2160 "Amending merge commit results in merge conflicts"
**Describe the bug**
Amending merge commit results in merge conflicts.

**To Reproduce**
Try to amend a merge commit by making changes then selecting merge commit in the commits panel and using the keyboard shortcut `A`

**Expected behavior**
The amend is successful without merge conflicts, seeing as the merge conflicts were already handled when the original merge commit was made.

**Screenshots**

[2022-09-08 20:32] mark2185 commented on #2159
Oh, I already opened an issue 😅

Look at #2152 .

[2022-09-08 20:32] #2159 closed

[2022-09-08 23:34] fildenisov commented on #2159
Hi everyone, I made a small feature you requested. Feel free to comment if I made something wrong and I ll fix it =)
https://github.com/jesseduffield/lazygit/pull/2161
Usage:
`keybinding:
  universal:
    quit: '<nop>'`

[2022-09-09 07:03] claudiofreitas commented on #2159
Oh thank you!!

Oh so quick, nice! Thank you!

[2022-09-09 09:41] aruediger commented on #1853
So the difference to other tools is that difftastic is an alternative diff tool while e.g. diff-so-fancy is implemented as a pager?

Would be nice if `git config --global diff.external difft` would be sufficient to convince lazygit to pick it up. Might be that some heuristic or an additional switch is needed to support `diff.external` as well as `core.pager`.

It looks like lazygit currently preve

[2022-09-10 07:23] leucos commented on #1791
Thanks for the change @jesseduffield !
However I have another question regarding versioning.

The latest version is "v0.35" (e.g. "major.minor" scheme) while there was a v0.32.2 ("major.minor.patch" scheme) in January this year.

Do you plan to stick to "major.minor" scheme from now on ?

[2022-09-11 14:40] liaohui5 commented on #1924
I support this proposal with both hands, it looks ugly, and too wide

[2022-09-12 10:16] mark2185 commented on #1964
Another thing that solving this issue would solve - when discarding an entire directory, each file in the directory is checked out individually, it would be much faster just to checkout the entire directory (i.e. discarding exactly what's under the cursor), especially for big `git-lfs` directories.

[2022-09-12 10:40] bluz71 commented on #1698
A switch to opt-out of bright colors would be very useful for those of us running unusual terminal themes.

This is +1 on my wanted list.

[2022-09-12 13:29] sozoalvin opened #2165 "Creating PR using editor while respecting the pull_requuest_template.md or yml file etc"
**Topic**
Creating PR using editor while respecting the pull_requuest_template.md or yml file etc
**Your thoughts**
I think what we have here is a genius piece of work while every effort has been made to ensure we have a great experience; im getting lazy opening PRs.

So i thought layzgit could get `lazier`

Im thinking we should have an option of opening a PR through our editor as well.

like; we

[2022-09-12 13:32] mark2185 commented on #2165
Have you tried using `o` to `create pull request`? Press `x` in the `Local Branches` panel for more info.

[2022-09-12 13:36] mark2185 commented on #2165
Well yes, that opens up the prompt to open up a new pull request.

Did I understand correctly, that's what you wanted?

[2022-09-12 13:39] sozoalvin commented on #2165
oh; let me edit my thoughts real quick. i was hoping opening a pull request via our chosen editor. In this case; i would prefer nvim

[2022-09-12 13:41] mark2185 commented on #2165
Okay, but what does "opening a pull request" actually mean? Just writing the initial PR description?

[2022-09-12 13:43] sozoalvin commented on #2165
yes! that' is correct! should i word it differently?

[2022-09-12 13:46] mark2185 commented on #2165
That's okay, I renamed it. Someone will pick up the discussion sooner or later.

[2022-09-12 13:50] sozoalvin commented on #2165
thank you so much! i appreciate all that you do!

[2022-09-12 23:44] austinliuigi opened #2166 "Add Ability to Map Alt/Opt Modifier"
**Is your feature request related to a problem? Please describe.**

There is currently no support for binding the alt/meta/opt modifier.
I found this out just now when I tried binding it `<a-l>` and `<a-h>` to move through tabs.

**Additional context**

`Unrecognized key <a-l> for keybinding`

Currently supported [keymaps](https://github.com/jesseduffield/lazygit/blob/master/docs/keybindings/Custo

[2022-09-13 18:10] fredcallaway commented on #190
Oddly, I find that the diff highlighting is slightly different in lazygit. Specifically, it highlights everything after the change in a line instead of just the section that was changed. See comparison of lg and diff-so-fancy below:

<img width="940" alt="image" src="https://user-images.githubusercontent.com/7883156/189978111-5f449d41-8b4b-42f5-888c-625076cadb95.png">

[2022-09-14 17:00] LeaveNhA commented on #831
I still can't get my highlights. I tried somethings, but, didn't work. What are my options?

[2022-09-15 06:36] mark2185 commented on #831
@LeaveNhA Could you try `v0.35` or latest `master`?

[2022-09-15 08:01] cgebbe opened #2170 "fatal: it seems that there is already a rebase-merge directory"
**Describe the bug**
I'd like to edit an old commit, but get the error message mentioned in the title.

**To Reproduce**
Steps to reproduce the behavior:

- GIVEN a commit I'd like to edit,
- WHEN pressing "e" to edit commit
- and changing a file
- and staging that file in lazygit
- and pressing "A" to amend the commit which I originally selected with "e" (the `<-- you are here` commit)
- and conf

[2022-09-15 08:13] mark2185 commented on #2170
Try running it outside of `vscode` to see if it changes.

[2022-09-15 15:12] jesseduffield commented on #2170
That error is appearing because in order to amend a commit other than the HEAD commit, we need to rebase. But we're already in rebase mode due to pressing 'e' on a commit.

If you're trying to amend the HEAD commit, we should be able to do that with a `git commit --amend --no-edit --allow-empty`. I think we were doing that previously but removed that functionality for the sake of consistency (i.e.

[2022-09-15 15:14] jesseduffield commented on #2170
`AmendHeadCmdObj` (pkg/commands/git_commands/commit.go) has the code for amending the most recent commit, and `amendTo` (pkg/gui/controllers/local_commits_controller.go) is where we'd need to add logic to use `AmendHeadCmdObj` if we're dealing with the most recent commit.

[2022-09-15 15:26] mark2185 commented on #2170
Actually you can do that in less steps, without errors:
- change file
- stage it
- go to the `Commits` panel (`4`)
- find the commit you want to amend
- press `A`

There's no need to edit the commit first.

[2022-09-15 15:37] jesseduffield commented on #2170
@mark2185 although that's true, given that lazygit does allow you to take the more long-winded approach, we ought to ensure it's a good UX experience either way

[2022-09-15 15:38] mark2185 commented on #2170
Of course, I just don't want @cgebbe to be stuck while this is fixed, since there is a way to do what they want :sweat_smile:

[2022-09-15 15:39] jesseduffield commented on #2170
Yep as soon as I commented I saw your PR go up haha

[2022-09-15 21:59] AntonioJCosta opened #2173 "Error when trying to use git diff menu"
**Describe the bug**

Hello. I tried to use git diff, and then the application crashed after some commands.

**To Reproduce**
Steps to reproduce the behavior:

1. Open lazygit
1. Go to Commits
1. Select a commit
1. Select any part of the code
1. Press x
1. Select open diff menu ...
1. Select diff

After that, the application closes, and the following message appears on the terminal

[code]

**Vers

[2022-09-16 08:06] cgebbe commented on #2170
Doesn't the "long-winded" approach have the benefit of checking out the to-be-edited commit? That can be necessary if later commits change similar lines.

[2022-09-16 08:10] mark2185 commented on #2170
I'm not sure what you're asking, but if you just amend to a commit that's `5` commits in the past, it'll run a rebase from that point, and stop if there are conflicts.

[2022-09-16 16:18] ZacharyRizer opened #2175 "git pull --rebase option?"
**Topic**
Default keybinding for `git pull --rebase`

**Your thoughts**
Sorry if this is obvious. After searching the docs and playing around, I don't see a built in option for a `git pull --rebase` option, or a way to set `git pull` to behave this way. I know I could make a custom command, but I wanted to make sure it isn't hiding somewhere already before I do.

[2022-09-16 16:19] mark2185 commented on #2175
You could add this to your `.gitconfig`:
[code]

[2022-09-16 16:22] ZacharyRizer commented on #2175
Totally, and I was thinking of doing this. But I don't really want every pull to be a rebase. I was hoping I could pick one or the other on the fly through Lazygit.

[2022-09-16 18:37] fredcallaway opened #2176 "Misrendered highlighting with diff-so-fancy"
When using diff-so-fancy as the pager, lazygit incorrectly renders the highlighted change in a line. Specifically, it highlights everything after the change in a line instead of just the section that was changed. See comparison of lg and diff-so-fancy below:

<img width="940" alt="image" src="https://user-images.githubusercontent.com/7883156/189978111-5f449d41-8b4b-42f5-888c-625076cadb95.png">

My

[2022-09-16 18:44] mark2185 commented on #2175
Just out of curiosity, when would you not want a rebase?

I usually use `f` instead of pulling, which stands for `fast-forward this branch from its upstream`.

As for `git pull --rebase`, I guess we could add a functionality to `rebase @{upstream}` for branches, that has been something I had needed a handful of times, _and_ it would solve this issue by sheer coincidence.

[2022-09-16 18:46] ZacharyRizer commented on #2175
I had looked into the fast-forward option as well. To be honest I wasn't really sure of the difference between that and git pull --rebase in the use cases I have been investigating. I usually just did pulls, but on a recent team they prefer to keep the main branch free of the merge commit that would come along with pull origin main into local main.

[2022-09-16 19:01] mark2185 commented on #2175
Sounds to me like you'll _always_ be fast forwarding.

That's only if you happen to commit on `master` locally and then there are conflicts. If you do not want such `merge` commits, you should `git pull --rebase`.

What I'm trying to say, I'm not sure you'll ever need a _non-rebase_ pull. :sweat_smile:

[2022-09-16 19:31] ZacharyRizer commented on #2175
You are probably correct on that one! But if I'm understanding correctly, fast-forwarding is technically a merge process, not a rebase process right? Sorry for the ignorance.

[2022-09-16 19:41] mark2185 commented on #2175
A _merge process_ in this sense occurs only if there are conflicting sources and they are _merged_.

As for what `man git pull` says:
[code]

In other words, if there are only _new_ commits on the remote, it will be a `fast-forward`.
If there's a divergence, it'll either be a `git merge` (resulting in a merge commit) or `git rebase` (local history will be updated so that your commits are ahead of

[2022-09-16 20:05] ZacharyRizer commented on #2175
Awesome, honestly it sounds like fast-forward is going to accomplish what I need. But if a keybinding or optional one for git pull --rebase gets added to Lazygit, that couldn't hurt either. Thanks again!

[2022-09-16 20:05] #2175 closed

[2022-09-16 21:21] zacgodinez commented on #1984
thank you, added prompt for message also.

`
customCommands:
  - key: "W"
    prompts:
      - type: "input"
        title: "Commit"
        initialValue: ""
    command: git commit -m "{{index .PromptResponses 0}}" --no-verify
    context: "global"
    subprocess: true
`

[2022-09-16 21:22] zacgodinez commented on #1984
Thank you, added commit message prompt also.

[code]

[2022-09-17 09:44] lougreenwood commented on #1984
How do people handle commits when amending a previously skipped commit (which was skipped with the `skipHookPrefix`)?

[2022-09-17 18:09] jesseduffield opened #2177 "Upload failing integration tests to asciinema"
**Is your feature request related to a problem? Please describe.**
When an integration test fails, it can be hard to see what went wrong. Although the output will tell at exactly which step the test failed, you still can't really know the cause of failure. Running the same test locally works fine most of the time, but if CI fails and local doesn't, you'll have to do a lot of guesswork.

[Asciinema

[2022-09-17 22:06] #2103 closed

[2022-09-18 05:40] mark2185 commented on #2091
Solved by #2092.

[2022-09-18 05:40] #2091 closed

[2022-09-18 13:54] bastianpedersen commented on #2101
Sorry for the inactivity. Kinda forgot about this issue. @mark2185 Is this issue still relevant?

[2022-09-18 14:14] mark2185 commented on #2101
Nobody fixed it in the meantime, as far as I'm aware :)

[2022-09-19 07:10] svdo commented on #607
Just adding my 2 cents: I'd love this feature. My so-far-favorite-git-client does this as well, and it feels so much smoother. I understand that not always this would be desirable; maybe it could be a separate command ("stage and select next" or something) that you could then re-bind to <space> using config? That way you can keep the current behaviour working as-as. Your concern about staging part

[2022-09-19 08:42] mark2185 commented on #607
@jesseduffield are there any plans about creating macros, i.e. a list of key inputs that could be invoked, but _within_ `lazygit`, instead of being in a subshell, like `commands` currently do?

[2022-09-19 15:13] jesseduffield commented on #607
I don't have any plans for macros right now, but potentially down the line we could do it. For this issue, I'll make a couple more observations:
* in most git UI's, staged changes are displayed separately to unstaged changes, so it makes more sense to jump to the next file upon staging/unstaging. In lazygit you might need to hit space twice on a file to get it to the desired state e.g. going from

[2022-09-19 15:35] mark2185 commented on #2056
@Wulfheart could you check if the issue still occurs with the latest `master`? #2081 should have fixed it.

[2022-09-19 15:36] mark2185 commented on #1788
@dmun could you check if the issue still occurs with the latest master? https://github.com/jesseduffield/lazygit/pull/2081 should have fixed it.

[2022-09-19 18:55] svdo commented on #607
Understood @jesseduffield, thanks for the explanation. I agree that the ability to select multiple lines in a list would be valuable and might mitigate this issue as well, or at least a good part of it.

[2022-09-21 08:43] aureq opened #2179 "Degraded performance when running lazygit from fish shell"
**Describe the bug**
When running `lazygit` from the `fish` shell, lazygit takes longer than usual to load, display the commit history and operations are sluggish as well. The problem doesn't manifest when I run lazygit from bash.

**To Reproduce**
Steps to reproduce the behavior:

1. open a terminal and run fish shell `fish --login`
2. Go to a clone git repository
3. run `lazygit`
4. `lazygit` st

[2022-09-21 08:46] mark2185 commented on #2179
Could you try with a clean `fishrc` or whats it called? Tried it just now and works okay.

The resizing issue seems in no way connected to the underlying shell.

[2022-09-21 08:58] aureq commented on #2179
@mark2185 Thank you for the really helpful pointer. As it turn out, performances are degraded when `TERM=vte-direct`. (I'll update the issue at the top)

[2022-09-21 09:08] mark2185 commented on #2179
Welp, at least you know how to work around it until it's fixed.

[2022-09-21 09:20] aureq commented on #2179
As a workaround, it appears the following settings work fine:

* `TERM=xterm-256color` (instead of `vte-direct`)
* `COLORTERM=truecolor` (if not automatically set by your terminal)

[2022-09-22 08:03] artfulrobot opened #2180 "Minor bug when launching from a dir with deleted files"
lazygit crashes like so:

[code]

**Version info:**

`commit=367b0d331836c90c015bf0c45f88612f3d94d08a, build date=2022-07-20T09:27:56Z, build source=binaryRelease, version=0.35, os=linux, arch=amd64`

`git version 2.30.2`

[2022-09-22 08:06] mark2185 commented on #2180
Reproducible on `v0.35`, but not on latest `master`. Please try building from source.

[2022-09-22 09:55] benbfortis opened #2181 "discard/reset on folder can cause errors"
**Describe the bug**

This only seems to apply to YAML files (extensions .unity, .asset) created in Unity3D. To make sure there are no handles to those files, every related program was closed first.

Using a hard reset on a folder from the Files panel (i.e. D > h) causes a list of errors in the form:
[code]

Using a hard reset on the same folder via the Local Branches panel (g > h) or directly fro

[2022-09-22 14:28] mark2185 commented on #2181
I'm sorry, but I think you've been accidentally tagging `mjarkk` instead of `mark2185` for the past couple of months.

[2022-09-22 14:33] benbfortis commented on #2181
I should clarify that using discard changes (git checkout) has a similar problem, and throw the same error after the first file with multiple changed files

For instance if there are three changed YAML files the the same folder, using discard on the folder will correctly reset the first file, but the second and third files will have the error. Running discard again will then reset the second file

[2022-09-22 14:35] mark2185 commented on #2181
Yeah, that's what Jesse was referring to.

The current implementation walks the tree and discards each node individually, recently I proposed we just invoke `git checkout --` on the entire directory for performance reasons, but now it turns out it also fixes this bug.

[2022-09-22 14:40] benbfortis commented on #2181
Ahh, I see. Makes sense now. If there's any early/preview build and you'd like it tested in this specific context, let me know

[2022-09-22 14:46] mark2185 commented on #2181
Well, if you're happy to build from source, you can try building the branch `develop` from [my fork](https://github.com/mark2185/lazygit/tree/develop).

[2022-09-22 15:25] jesseduffield commented on #2181
Oh my goodness, apologies to both of you! (and hi @mjarkk I hope you're doing well if you're reading this)

[2022-09-22 15:27] hdbalyozsht commented on #2148
Any progress?

[2022-09-22 15:29] mark2185 commented on #2148
Sadly no, since it's unfortunately not reproducible. At least I can't reproduce it.

Unless you're willing to debug, I'm afraid we can't do much at this point :confused:

[2022-09-23 09:02] benbfortis commented on #2181
@mark2185 I tried using discard changes on a folder from your fork, but I got the same error for all the changed files. Funny thing is that it will discard changes to .cs files

[2022-09-23 09:03] mark2185 commented on #2181
Are you using `git-lfs` by any chance?

[2022-09-23 09:06] benbfortis commented on #2181
Not generally for file types in this project. Only one attibutes file tracking a very specific file in a third party module.

[2022-09-23 09:08] mark2185 commented on #2181
Just to clarify, you used `d` to discard a changes, not `g` for a reset? Did the log in the lower right corner say it tried executing `git checkout -- <dir>`?

[2022-09-23 09:13] benbfortis commented on #2181
Yes, I used discard, and the logs did show the checkout command in the form `git checkout --\"dir\"`

Another odd thing was I then tried using discard on single files, but it was erratic if it discard or not. For example, there were three files A,B,C. If I tried to discard A it would error repeatedly. I then went to C and it discarded. Then I went to B and it discarded. Then back to A and it too a

[2022-09-23 09:16] mark2185 commented on #2181
_Huh_

And invoking the same thing directly from the `cli` works whichever order you try to `checkout --` the `A`, `B` and `C` files?

Sorry for pestering you with so many questions, I'm just trying to narrow it down.

[2022-09-23 09:24] benbfortis commented on #2181
Yeah, cli checkouts work for both the folder and individual files.

However, at first I forgot to close lazygit, and the cli checkout failed with `Unlink of file 'path/to/file' failed`. Guess it's got a handle on the file, but maybe thats a clue to what's going wrong?

[2022-09-23 09:27] mark2185 commented on #2181
I presume you wouldn't be willing to try and reproduce this on a `unix` machine?

`git` has always been funny on `windows`, with spurious `locks` and whatnot.

[2022-09-23 09:32] benbfortis commented on #2181
Unfortunately I don't have access to a unix machine without setting up and entire new system for it

[2022-09-23 09:32] mark2185 commented on #2181
Is the repo in question public so we might try to reproduce it?

[2022-09-23 10:16] benbfortis commented on #2181
I'm afraid not. I'll try with a fresh git project and see if it happens there

[2022-09-24 02:26] #1783 closed

[2022-09-24 17:10] jesseduffield commented on #2176
Looks like we have an ANSI escape code that we're not properly honouring in vendor/github.com/jesseduffield/gocui/escape.go

[2022-09-24 17:15] #1629 closed

[2022-09-24 20:06] dmun commented on #1788
@mark2185 Seems to be working, nice!

[2022-09-24 20:41] mark2185 commented on #1788
Great!

Feel free to reopen if it happens again (but it shouldn't)

[2022-09-24 20:41] #1788 closed

[2022-09-25 06:59] #2160 closed

[2022-09-25 19:07] mark2185 commented on #2177
It does seem useful.

Going a step further, could we maybe pack it up into a `docker` snapshot and give that to the devs as some sort of core dump?

I mean, this is not for the end user so we _can_ go a little bit _the Evil Scientist route_ here.

[2022-09-26 17:03] jerviscui commented on #1383
The same question.

[2022-09-26 18:22] mark2185 commented on #2101
Uhhh... I meant that it is still not fixed, so it should remain open :sweat_smile:

[2022-09-27 02:00] fredcallaway commented on #2176
I unfortunately don't have the go chops to make a pull request myself. But I can tell you that the relevant escape code is 27, which means "not reverse". For example, here is the output of `git diff | diff-so-fancy | less` (after switching back to "second" back to "first".

[code]

[2022-09-27 08:28] lauccode opened #2187 "Open files of commit with lazy git"
I'm looking to open automatically files of commit.
From that I can see it is only possible to open one file at a time.

It should be very nice to open all files of commit (or do selection) with lazygit in the editor ?
It could help for all editor which have not yet project management ... (I think it should be a must have feature that I can not manage with git or tools when I search on the web)
Rat

[2022-09-27 08:31] mark2185 commented on #2187
Can't you use the editor to open whatever you want after you open a file?

E.g. `:edit .` from `neovim`?

Or open `lazygit` from within `neovim`? Or in a separate terminal?

[2022-09-27 09:35] Ryooooooga commented on #2187
@lauccode You can do with [custom commands](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Command_Keybindings.md).

[code]

[2022-09-27 09:45] mark2185 commented on #2181
Adding a note for future implementers: test out discarding folders when there are conflicting files in a rebase scenario

[2022-09-27 09:51] #2066 closed

[2022-09-27 09:57] mark2185 opened #2188 "Interactive rebase shows faulty `<-- YOU ARE HERE ---`"
**Describe the bug**
I think that after continuing a rebase and stumbling upon conflicts, the `<-- YOU ARE HERE ---` points to the commit _before_ the one conflicted (which is fine), but we're not _really_ there, are we?

We're in limbo where we need to resolve the conflicts and decide what to do next, so the `<-- YOU ARE HERE ---` is kinda misleading.

Also, after resolving conflicts, and not con

[2022-09-27 17:31] jesseduffield commented on #2188
I think that's actually okay: so long as the YOU ARE HERE commit is the HEAD commit, then it's not lying

[2022-09-27 18:41] lauccode commented on #2187
Thanks a lot. This is working well with lunarvim and helix.
From my point a view it should be nice to have it by default.

[2022-09-27 18:41] #2187 closed

[2022-09-27 21:04] mark2185 commented on #2188
Well it isn't, but I thought it had dropped the commit I was currently resolving conflicts for.

[2022-09-28 09:05] benbfortis commented on #2181
I've added a test project here, which is a stripped down copy of what is causing issues. It's a Unity project, but I've added the local changed files so you don't have to go through the pain of installing it. https://github.com/benbfortis/TestProject

[2022-09-28 09:15] mark2185 commented on #2181
Tried it in a windows VM, no luck. Maybe @jesseduffield will have more luck in reproducing it.

[2022-09-28 09:29] benbfortis commented on #2181
I have another Windows PC, but with Windows 11 on it. I'll try it on that and at least see if it's machine/windows version related

[2022-09-28 20:12] benbfortis commented on #2181
I've tried it on my other Windows 11 PC, and I'm not getting the issue. I'll try and figure out if there are other differences beside OS version.

[2022-09-28 20:22] mark2185 commented on #2181
The original OS was `Windows 10`?

[2022-09-29 03:51] MSDimos commented on #1853
Any status update on this, pls?

[2022-09-29 03:53] jesseduffield commented on #1853
@aruediger we can make that --no-ext-diff thing configurable. Would that suffice? Happy to accept a PR for this

[2022-09-29 07:54] strboul opened #2189 "Rename stash messages"
**Is your feature request related to a problem? Please describe.**
Stashes cannot be renamed after they are created. I sometimes want to re-organize my stashes and I cannot rename the existing ones that are stored unnamed.

**Describe the solution you'd like**
Use `r` command to select the stash to rename and rename it (Maybe, it conflicts with the current stash `R (refresh)`.)

**Additional conte

[2022-09-29 09:00] Ryooooooga commented on #2189
[code]

[2022-09-29 09:56] benbfortis commented on #2181
Yes, Windows 10. There is no difference in global or project gitconfig between them, or anything else obvious I can see.

I've not idea if this means anything, but I had the Process Explorer utility open and noticed that git had handles to the problem files when the Files panel is selected in lazygit. Could it be an issue with these not being freed up when discard is selected? Google searches of t

[2022-09-29 11:34] jerviscui opened #2190 "Merge error by arg `-e`"
**Describe the bug**

When I was using args `-e` for git merge, the program died.

**To Reproduce**

1. Setting `config.yml`:

[code]

2. Then merge by lazygit,
3. lazygit will hang by this
![image](https://user-images.githubusercontent.com/6396748/193020933-9a7c3c9b-591e-4e46-81ad-088c20f971fa.png)

**Expected behavior**

I'm just trying. I don't have a good plan.

**Version info:**

commit=367b0

[2022-09-29 11:36] mark2185 commented on #2190
Could you please fill out the entire template?

[2022-09-29 19:19] doantranthanh opened #2191 "Commit message add ^ automatically you use |"
**Describe the bug**
Commit message add ^ automatically you use |

**To Reproduce**
Steps to reproduce the behavior:

1. Change a file
2. Add to stage
3. Add commit with | sign
4. ^ automatically added to the commit message

**Expected behavior**
^ is not added

**Screenshots**
![image](https://user-images.githubusercontent.com/9557564/193122920-4fb99de2-8d7e-440b-bd45-552479b2daae.png)

**Version

[2022-09-30 06:54] jerviscui commented on #2190
I have updated the report.

[2022-09-30 06:58] mark2185 commented on #2190
Ah, that hangs because it tries invoking `$EDITOR`.

Could you try setting the flags to `--no-commit` and then commit from within `lazygit`? If you wish to open the editor to do that, go to the `Files` panel `(2)` and press `C` (uppercase). That should do the same as you are trying to do now.

[2022-09-30 10:43] Ryooooooga commented on #2190
One solution is to override a merge action with a custom command.

[code]

[2022-09-30 15:01] chmouel opened #2194 "ErrorBox: Feature not available for users using GPG cannot be discarded"
**Describe the bug**

Trying to apply a patch onto a new commit and getting the :

```Feature not available for users using GPG```

messagebox, which is fair enough I guess but the message box cannot be discarded and stick into the middle of the screen doing nothing much but feeling me guilty of using GPG (altho it's acutally ssh signed key but that's another story) 😺.

**To Reproduce**
Steps to r